Repository JabRef/jabref, pull requests merged in 2018-03, with the labels that each got.

#3789 Add telemetry to track every action
  src/main/java/org/jabref/gui/actions/JabRefAction.java
Labels: ready-for-review

#3778 Fix delete action and convert confirmation dialog to JavaFX
  src/main/java/org/jabref/gui/BasePanel.java
  src/main/java/org/jabref/gui/DialogService.java
  src/main/java/org/jabref/gui/FXDialog.java
  src/main/java/org/jabref/gui/FXDialogService.java
  src/main/java/org/jabref/gui/JabRefFrame.java
  src/main/resources/l10n/JabRef_en.properties
Labels: ready-for-review

#3767 Extend toolbar with more icons and add tool tips
  src/main/java/org/jabref/gui/JabRefFrame.java
  src/main/java/org/jabref/gui/actions/ActionFactory.java
Labels: maintable, ready-for-review

#3800 Change open last edited dialgo to javafx
  src/main/java/org/jabref/JabRefGUI.java
  src/main/java/org/jabref/gui/FXDialogService.java
  src/main/java/org/jabref/gui/dialogs/BackupUIManager.java
  src/main/java/org/jabref/gui/importer/actions/OpenDatabaseAction.java
  src/main/resources/l10n/JabRef_en.properties
Labels: ready-for-review

#3804 Enable travis build for maintable-beta
  .travis.yml
Labels: ready-for-review

#3769 Add group coloring in maintable as replacement for marked entries
  src/main/java/org/jabref/gui/BasePanel.java
  src/main/java/org/jabref/gui/EntryMarker.java
  src/main/java/org/jabref/gui/IconTheme.java
  src/main/java/org/jabref/gui/InternalMaterialDesignIcon.java
  src/main/java/org/jabref/gui/JabRefFrame.java
  src/main/java/org/jabref/gui/JabRefIcon.java
  src/main/java/org/jabref/gui/actions/Actions.java
  src/main/java/org/jabref/gui/groups/GroupMatcher.java
  src/main/java/org/jabref/gui/groups/GroupNodeViewModel.java
  src/main/java/org/jabref/gui/importer/ImportInspectionDialog.java
  src/main/java/org/jabref/gui/importer/ImportMenuItem.java
  src/main/java/org/jabref/gui/keyboard/KeyBinding.java
  src/main/java/org/jabref/gui/maintable/BibEntryTableViewModel.java
  src/main/java/org/jabref/gui/maintable/MainTable.java
  src/main/java/org/jabref/gui/maintable/MainTableColumnFactory.java
  src/main/java/org/jabref/gui/plaintextimport/TextInputDialog.java
  src/main/java/org/jabref/gui/preftabs/GeneralTab.java
  src/main/java/org/jabref/gui/preftabs/TablePrefsTab.java
  src/main/java/org/jabref/gui/util/comparator/IsMarkedComparator.java
  src/main/java/org/jabref/gui/worker/MarkEntriesAction.java
  src/main/java/org/jabref/logic/importer/OpenDatabase.java
  src/main/java/org/jabref/migrations/ConvertMarkingToGroups.java
  src/main/java/org/jabref/model/groups/GroupEntryChanger.java
  src/main/java/org/jabref/model/groups/GroupTreeNode.java
  src/main/java/org/jabref/model/groups/WordKeywordGroup.java
  src/main/java/org/jabref/preferences/JabRefPreferences.java
  src/main/resources/l10n/JabRef_en.properties
  src/test/java/org/jabref/gui/keyboard/KeyBindingsDialogViewModelTest.java
  src/test/java/org/jabref/migrations/ConvertMarkingToGroupsTest.java
  src/test/resources/testbib/complex.bib
Labels: ready-for-review

#3806 Update applicationinsights from 1.0.9 -> 2.0.1
  build.gradle
  src/main/java/org/jabref/logic/xmp/DublinCoreExtractor.java
Labels: build-system, ready-for-review

#3801 Dialogstojavafx
  src/main/java/org/jabref/JabRefGUI.java
  src/main/java/org/jabref/gui/BasePanel.java
  src/main/java/org/jabref/gui/DialogService.java
  src/main/java/org/jabref/gui/EntryTypeDialog.java
  src/main/java/org/jabref/gui/FXDialogService.java
  src/main/java/org/jabref/gui/JabRefFrame.java
  src/main/java/org/jabref/gui/actions/ActionFactory.java
  src/main/java/org/jabref/gui/actions/CleanupAction.java
  src/main/java/org/jabref/gui/actions/JabRefAction.java
  src/main/java/org/jabref/gui/actions/MassSetFieldAction.java
  src/main/java/org/jabref/gui/collab/ChangeScanner.java
  src/main/java/org/jabref/gui/customentrytypes/EntryCustomizationDialog.java
  src/main/java/org/jabref/gui/customentrytypes/EntryTypeList.java
  src/main/java/org/jabref/gui/exporter/ExportCommand.java
  src/main/java/org/jabref/gui/exporter/SaveDatabaseAction.java
  src/main/java/org/jabref/gui/externalfiles/DownloadExternalFile.java
  src/main/java/org/jabref/gui/externalfiles/FindFullTextAction.java
  src/main/java/org/jabref/gui/fieldeditors/contextmenu/ProtectedTermsMenu.java
  src/main/java/org/jabref/gui/importer/ImportCommand.java
  src/main/java/org/jabref/gui/importer/ImportInspectionDialog.java
  src/main/java/org/jabref/gui/importer/actions/OpenDatabaseAction.java
  src/main/java/org/jabref/gui/mergeentries/MergeWithFetchedEntryAction.java
  src/main/java/org/jabref/gui/openoffice/DetectOpenOfficeInstallation.java
  src/main/java/org/jabref/gui/openoffice/OpenOfficePanel.java
  src/main/java/org/jabref/gui/openoffice/StyleSelectDialog.java
  src/main/java/org/jabref/gui/preftabs/AdvancedTab.java
  src/main/java/org/jabref/gui/preftabs/AppearancePrefsTab.java
  src/main/java/org/jabref/gui/preftabs/ExternalTab.java
  src/main/java/org/jabref/gui/preftabs/FileTab.java
  src/main/java/org/jabref/gui/preftabs/GeneralTab.java
  src/main/java/org/jabref/gui/preftabs/NetworkTab.java
  src/main/java/org/jabref/gui/preftabs/PreferencesDialog.java
  src/main/java/org/jabref/gui/preftabs/PreviewPrefsTab.java
  src/main/java/org/jabref/gui/preftabs/TableColumnsTab.java
  src/main/java/org/jabref/gui/protectedterms/NewProtectedTermsFileDialog.java
  src/main/java/org/jabref/gui/protectedterms/ProtectedTermsDialog.java
  src/main/java/org/jabref/gui/push/AbstractPushToApplication.java
  src/main/java/org/jabref/gui/push/PushToApplicationAction.java
  src/main/java/org/jabref/gui/push/PushToApplications.java
  src/main/java/org/jabref/gui/push/PushToEmacs.java
  src/main/java/org/jabref/gui/push/PushToLyx.java
  src/main/java/org/jabref/gui/push/PushToTeXstudio.java
  src/main/java/org/jabref/gui/push/PushToTexmaker.java
  src/main/java/org/jabref/gui/push/PushToVim.java
  src/main/java/org/jabref/gui/push/PushToWinEdt.java
  src/main/java/org/jabref/gui/shared/ConnectToSharedDatabaseDialog.java
  src/main/java/org/jabref/logic/l10n/Encodings.java
  src/main/resources/l10n/JabRef_en.properties
Labels: ready-for-review

#3753 Fix Codacy Unused Params, Fields
  src/main/java/org/jabref/gui/BasePanel.java
  src/main/java/org/jabref/gui/IconTheme.java
  src/main/java/org/jabref/gui/collab/ChangeScanner.java
  src/main/java/org/jabref/gui/collab/MetaDataChangeViewModel.java
  src/main/java/org/jabref/gui/fieldeditors/JournalEditor.java
  src/main/java/org/jabref/gui/filelist/FileListEntryEditor.java
  src/main/java/org/jabref/gui/groups/GroupTreeViewModel.java
  src/main/java/org/jabref/gui/groups/UndoableModifyGroup.java
  src/main/java/org/jabref/gui/importer/fetcher/OAI2Fetcher.java
  src/main/java/org/jabref/gui/openoffice/StyleSelectDialog.java
  src/main/java/org/jabref/logic/journals/JournalAbbreviationRepository.java
  src/main/java/org/jabref/migrations/PreferencesMigrations.java
  src/main/resources/l10n/JabRef_en.properties
  src/test/java/org/jabref/gui/search/GrammarBasedSearchRuleDescriberTest.java
  src/test/java/org/jabref/logic/exporter/ModsExportFormatTest.java
  src/test/java/org/jabref/logic/formatter/bibtexfields/RegexFormatterTest.java
Labels: after-migration-to-javafx, code-quality, ready-for-review

#3807 Update test order -> Execute checkstyle first
  .travis.yml
Labels: ready-for-review

#3821 Fix Copy linked files dialog showing NPE when no linked files
  CHANGELOG.md
  src/main/java/org/jabref/gui/copyfiles/CopyFilesAction.java
  src/main/java/org/jabref/gui/copyfiles/CopyFilesTask.java
Labels: ready-for-review

#3743 [WIP] Fix syncLangPy script
  scripts/syncLang.py
Labels: PE1718, devcall

#3820 Fixes #3796: Pretend that we have every translation for every key
  src/main/java/org/jabref/logic/l10n/Localization.java
Labels: ready-for-review

#3734 Add parser for German months (#3536)
  CHANGELOG.md
  src/main/java/org/jabref/model/entry/Month.java
  src/test/java/org/jabref/model/entry/MonthTest.java
Labels: PE1718

#3779 Remove customjfx
  lib/customjfx-1.0.0.jar
  src/main/java/org/jabref/gui/BasePanel.java
  src/main/java/org/jabref/gui/JabRefFrame.java
  src/main/java/org/jabref/gui/PreambleEditor.java
  src/main/java/org/jabref/gui/collab/PreambleChangeViewModel.java
  src/main/java/org/jabref/gui/customjfx/CustomJFXPanel.java
  src/main/java/org/jabref/gui/fieldeditors/TextArea.java
  src/main/java/org/jabref/gui/openoffice/StyleSelectDialog.java
  src/main/java/org/jabref/gui/undo/UndoablePreambleChange.java
Labels: linux, ready-for-review

#3834 Partial revert of #3715 since double click on group should expand/collapse it
  CHANGELOG.md
  src/main/java/org/jabref/gui/groups/GroupTreeController.java
Labels: ready-for-review

#3827 Update Eclipse style to intellij style
  config/Eclipse Code Style.epf
  config/README.md
  config/eclipseJabRef.xml
  eclipse.gradle
Labels: build-system, ready-for-review

#3760 Pressing ESC while searching clears searchfield and selects first available entry
  src/main/java/org/jabref/gui/search/GlobalSearchBar.java
Labels: ready-for-review

#3847 Watch main css file for change and reapply automatically
  src/main/java/org/jabref/Globals.java
  src/main/java/org/jabref/JabRefGUI.java
  src/main/java/org/jabref/gui/AbstractView.java
  src/main/java/org/jabref/gui/customjfx/CustomJFXPanel.java
  src/main/java/org/jabref/gui/util/ControlHelper.java
  src/main/java/org/jabref/gui/util/ThemeLoader.java
Labels: ready-for-review

#3863 Fix tests in maintable beta except L10n
  src/main/java/org/jabref/gui/BasePanel.java
  src/main/java/org/jabref/gui/externalfiletype/ExternalFileType.java
  src/main/java/org/jabref/gui/keyboard/KeyBinding.java
  src/main/java/org/jabref/gui/util/ControlHelper.java
  src/test/java/org/jabref/gui/BasePanelTest.java
  src/test/java/org/jabref/gui/externalfiletype/ExternalFileTypeTest.java
Labels: devcall, ready-for-review

#3865 Do no longer log InvalidFieldValueExceptions during autosave
  CHANGELOG.md
  src/main/java/org/jabref/logic/autosaveandbackup/BackupManager.java
  src/main/java/org/jabref/logic/bibtex/BibEntryWriter.java
Labels: ready-for-review

#3875 Update to MADR 2.0.3
  docs/adr/0000-use-markdown-architectural-decision-records.md
  docs/adr/0001-use-crowdin-for-translations.md
  docs/adr/0002-use-slf4j-for-logging.md
  docs/adr/index.md
  docs/adr/template.md
Labels: ready-for-review

#3880 Make it easier to create FXML dialogs
  build.gradle
  javafx/scene/control/annotations.xml
  lib/afterburner.fx.jar
  src/main/java/org/jabref/gui/AbstractController.java
  src/main/java/org/jabref/gui/AbstractDialogView.java
  src/main/java/org/jabref/gui/AbstractView.java
  src/main/java/org/jabref/gui/DefaultInjector.java
  src/main/java/org/jabref/gui/actions/CleanupAction.java
  src/main/java/org/jabref/gui/actions/CopyFilesAction.java
  src/main/java/org/jabref/gui/actions/ShowPreferencesAction.java
  src/main/java/org/jabref/gui/cleanup/CleanupDialog.java
  src/main/java/org/jabref/gui/copyfiles/CopyFilesDialog.fxml
  src/main/java/org/jabref/gui/copyfiles/CopyFilesDialogController.java
  src/main/java/org/jabref/gui/copyfiles/CopyFilesDialogView.java
  src/main/java/org/jabref/gui/documentviewer/DocumentViewer.fxml
  src/main/java/org/jabref/gui/documentviewer/DocumentViewerController.java
  src/main/java/org/jabref/gui/documentviewer/DocumentViewerView.java
  src/main/java/org/jabref/gui/entryeditor/fileannotationtab/FileAnnotationTab.fxml
  src/main/java/org/jabref/gui/entryeditor/fileannotationtab/FileAnnotationTab.java
  src/main/java/org/jabref/gui/entryeditor/fileannotationtab/FileAnnotationTabController.java
  src/main/java/org/jabref/gui/entryeditor/fileannotationtab/FileAnnotationTabView.java
  src/main/java/org/jabref/gui/errorconsole/ErrorConsole.css
  src/main/java/org/jabref/gui/errorconsole/ErrorConsole.fxml
  src/main/java/org/jabref/gui/errorconsole/ErrorConsoleController.java
  src/main/java/org/jabref/gui/errorconsole/ErrorConsoleView.java
  src/main/java/org/jabref/gui/groups/GroupSidePane.java
  src/main/java/org/jabref/gui/groups/GroupTree.fxml
  src/main/java/org/jabref/gui/groups/GroupTreeController.java
  src/main/java/org/jabref/gui/groups/GroupTreeView.java
  src/main/java/org/jabref/gui/help/AboutDialog.css
  src/main/java/org/jabref/gui/help/AboutDialog.fxml
  src/main/java/org/jabref/gui/help/AboutDialogController.java
  src/main/java/org/jabref/gui/help/AboutDialogView.java
  src/main/java/org/jabref/gui/journals/ManageJournalAbbreviations.css
  src/main/java/org/jabref/gui/journals/ManageJournalAbbreviations.fxml
  src/main/java/org/jabref/gui/journals/ManageJournalAbbreviationsController.java
  src/main/java/org/jabref/gui/journals/ManageJournalAbbreviationsView.java
  src/main/java/org/jabref/gui/keyboard/KeyBindingsDialog.css
  src/main/java/org/jabref/gui/keyboard/KeyBindingsDialog.fxml
  src/main/java/org/jabref/gui/keyboard/KeyBindingsDialogController.java
  src/main/java/org/jabref/gui/keyboard/KeyBindingsDialogView.java
  src/main/java/org/jabref/gui/preftabs/ExternalTab.java
  src/main/java/org/jabref/gui/preftabs/PreferencesDialog.java
  src/main/java/org/jabref/gui/util/BaseDialog.java
  src/main/java/org/jabref/gui/util/ControlHelper.java
  src/main/java/org/jabref/gui/util/ThemeLoader.java
  src/main/java/org/jabref/logic/l10n/Localization.java
  src/main/java/org/jabref/logic/l10n/LocalizationLocator.java
  src/main/resources/META-INF/services/com.airhacks.afterburner.views.ResourceLocator
  src/main/resources/org/jabref/gui/help/AboutDialog.fxml
  src/main/resources/org/jabref/gui/keyboard/KeyBindingsDialog.fxml
  src/test/java/org/jabref/gui/GUITest.java
Labels: ready-for-review

#3872 Fix freezing by replacing codeArea with TextArea
  src/main/java/org/jabref/gui/BasePanel.java
  src/main/java/org/jabref/gui/entryeditor/EntryEditor.css
  src/main/java/org/jabref/gui/entryeditor/SourceTab.java
Labels: ready-for-review

#3883 Reenable closing of entry preview by pressing Esc
  src/main/java/org/jabref/gui/EntryTypeDialog.java
  src/main/java/org/jabref/gui/FXDialog.java
  src/main/java/org/jabref/gui/GenFieldsCustomizer.java
  src/main/java/org/jabref/gui/MergeDialog.java
  src/main/java/org/jabref/gui/PreviewPanel.java
  src/main/java/org/jabref/gui/ReplaceStringDialog.java
  src/main/java/org/jabref/gui/StringDialog.java
  src/main/java/org/jabref/gui/actions/ManageKeywordsAction.java
  src/main/java/org/jabref/gui/actions/MassSetFieldAction.java
  src/main/java/org/jabref/gui/auximport/FromAuxDialog.java
  src/main/java/org/jabref/gui/bibtexkeypattern/ResolveDuplicateLabelDialog.java
  src/main/java/org/jabref/gui/customentrytypes/EntryCustomizationDialog.java
  src/main/java/org/jabref/gui/dbproperties/DatabasePropertiesDialog.java
  src/main/java/org/jabref/gui/entryeditor/EntryEditor.java
  src/main/java/org/jabref/gui/exporter/CustomExportDialog.java
  src/main/java/org/jabref/gui/exporter/ExportCustomizationDialog.java
  src/main/java/org/jabref/gui/externalfiles/WriteXMPActionWorker.java
  src/main/java/org/jabref/gui/externalfiletype/ExternalFileTypeEditor.java
  src/main/java/org/jabref/gui/filelist/FileListEntryEditor.java
  src/main/java/org/jabref/gui/groups/GroupAddRemoveDialog.java
  src/main/java/org/jabref/gui/groups/GroupDialog.java
  src/main/java/org/jabref/gui/importer/FetcherPreviewDialog.java
  src/main/java/org/jabref/gui/importer/ImportCustomizationDialog.java
  src/main/java/org/jabref/gui/importer/ImportInspectionDialog.java
  src/main/java/org/jabref/gui/keyboard/KeyBinder.java
  src/main/java/org/jabref/gui/keyboard/KeyBinding.java
  src/main/java/org/jabref/gui/openoffice/AdvancedCiteDialog.java
  src/main/java/org/jabref/gui/openoffice/CitationManager.java
  src/main/java/org/jabref/gui/openoffice/StyleSelectDialog.java
  src/main/java/org/jabref/gui/plaintextimport/TextInputDialog.java
  src/main/java/org/jabref/gui/protectedterms/NewProtectedTermsFileDialog.java
  src/main/java/org/jabref/gui/protectedterms/ProtectedTermsDialog.java
  src/main/java/org/jabref/gui/push/PushToApplicationSettingsDialog.java
  src/main/java/org/jabref/gui/search/GlobalSearchBar.java
  src/main/java/org/jabref/gui/search/SearchResultFrame.java
  src/main/java/org/jabref/gui/util/BaseDialog.java
  src/test/java/org/jabref/gui/keyboard/KeyBindingsDialogViewModelTest.java
Labels: ready-for-review

#3005 javafx replacement for file dialog
  CHANGELOG.md
  src/main/java/org/jabref/gui/BasePanel.java
  src/main/java/org/jabref/gui/actions/CopyFilesAction.java
  src/main/java/org/jabref/gui/actions/StandardActions.java
  src/main/java/org/jabref/gui/copyfiles/CopyFilesDialog.fxml
  src/main/java/org/jabref/gui/copyfiles/CopyFilesDialogView.java
  src/main/java/org/jabref/gui/desktop/JabRefDesktop.java
  src/main/java/org/jabref/gui/externalfiletype/ExternalFileMenuItem.java
  src/main/java/org/jabref/gui/fieldeditors/LinkedFileViewModel.java
  src/main/java/org/jabref/gui/filelist/AttachFileAction.java
  src/main/java/org/jabref/gui/filelist/FileListEntryEditor.java
  src/main/java/org/jabref/gui/filelist/LinkedFileEditDialog.fxml
  src/main/java/org/jabref/gui/filelist/LinkedFileEditDialogView.java
  src/main/java/org/jabref/gui/filelist/LinkedFilesEditDialogViewModel.java
  src/main/java/org/jabref/gui/help/AboutDialogView.java
  src/main/java/org/jabref/gui/importer/ImportInspectionDialog.java
  src/main/java/org/jabref/gui/maintable/MainTable.java
  src/main/java/org/jabref/gui/maintable/RightClickMenu.java
  src/main/java/org/jabref/gui/openoffice/StyleSelectDialog.java
  src/main/java/org/jabref/gui/preftabs/PreferencesDialog.java
  src/main/java/org/jabref/gui/protectedterms/ProtectedTermsDialog.java
  src/main/java/org/jabref/gui/search/SearchResultFrame.java
  src/main/java/org/jabref/preferences/JabRefPreferences.java
  src/main/java/org/jabref/preferences/PreferencesService.java
Labels: ready-for-review, ui

#3839 Consistent FX color scheme for JabRef
  src/main/java/org/jabref/gui/JabRefMaterialDesignIcon.java
  src/main/java/org/jabref/gui/Main.css
  src/main/java/org/jabref/gui/SidePaneComponent.java
  src/main/java/org/jabref/gui/entryeditor/EntryEditor.css
  src/main/java/org/jabref/gui/groups/GroupTree.css
  src/main/java/org/jabref/gui/icon/IconTheme.java
  src/main/java/org/jabref/gui/icon/InternalMaterialDesignIcon.java
  src/main/java/org/jabref/gui/maintable/MainTable.css
  src/main/resources/fonts/JabRefMaterialDesign.ttf
Labels: ready-for-review

#3878 Improve DOI resolution fetcher
  src/main/java/org/jabref/gui/externalfiles/DownloadExternalFile.java
  src/main/java/org/jabref/gui/fieldeditors/LinkedFileViewModel.java
  src/main/java/org/jabref/logic/importer/fetcher/DoiResolution.java
  src/main/java/org/jabref/logic/net/URLDownload.java
Labels: ready-for-review

#3882 Priority fetcher
  src/main/java/org/jabref/JabRefExecutorService.java
  src/main/java/org/jabref/gui/externalfiles/DownloadExternalFile.java
  src/main/java/org/jabref/gui/externalfiles/FindFullTextAction.java
  src/main/java/org/jabref/gui/fieldeditors/LinkedFileViewModel.java
  src/main/java/org/jabref/logic/importer/FetcherResult.java
  src/main/java/org/jabref/logic/importer/FulltextFetcher.java
  src/main/java/org/jabref/logic/importer/FulltextFetchers.java
  src/main/java/org/jabref/logic/importer/WebFetchers.java
  src/main/java/org/jabref/logic/importer/fetcher/ACS.java
  src/main/java/org/jabref/logic/importer/fetcher/ArXiv.java
  src/main/java/org/jabref/logic/importer/fetcher/DoiResolution.java
  src/main/java/org/jabref/logic/importer/fetcher/GoogleScholar.java
  src/main/java/org/jabref/logic/importer/fetcher/IEEE.java
  src/main/java/org/jabref/logic/importer/fetcher/OpenAccessDoi.java
  src/main/java/org/jabref/logic/importer/fetcher/ScienceDirect.java
  src/main/java/org/jabref/logic/importer/fetcher/SpringerLink.java
  src/main/java/org/jabref/logic/importer/fetcher/TrustLevel.java
  src/test/java/org/jabref/logic/importer/FulltextFetchersTest.java
  src/test/java/org/jabref/logic/importer/WebFetchersTest.java
Labels: ready-for-review

#3900 Monthfiled in patent should be treated same as month (IEEETRAN)
  src/main/java/org/jabref/logic/integrity/FieldCheckers.java
  src/main/java/org/jabref/model/entry/BibtexSingleField.java
  src/main/java/org/jabref/model/entry/InternalBibtexFields.java
Labels: ready-for-review
