Repository JabRef/jabref, pull requests merged in 2018-10, with the labels that each got.

#4268 Convert Part of the Issue#3861 Quality->Cleanup entries
  src/main/java/org/jabref/gui/cleanup/CleanupDialog.java
  src/main/java/org/jabref/gui/cleanup/CleanupPresetPanel.java
  src/main/java/org/jabref/gui/cleanup/FieldFormatterCleanupsPanel.java
  src/main/java/org/jabref/gui/dbproperties/DatabasePropertiesDialog.java
  src/main/java/org/jabref/gui/util/ControlHelper.java
Labels: ready-for-review

#4264 Fix issue 3861 : XMP Dialog, Add new Groups dialog, Append Library dialog to javafx
  src/main/java/org/jabref/gui/BasePanel.java
  src/main/java/org/jabref/gui/JabRefFrame.java
  src/main/java/org/jabref/gui/MergeDialog.java
  src/main/java/org/jabref/gui/actions/MassSetFieldAction.java
  src/main/java/org/jabref/gui/actions/WriteXMPAction.java
  src/main/java/org/jabref/gui/edit/MassSetFieldsAction.java
  src/main/java/org/jabref/gui/edit/MassSetFieldsDialog.java
  src/main/java/org/jabref/gui/edit/ReplaceString.fxml
  src/main/java/org/jabref/gui/edit/ReplaceStringAction.java
  src/main/java/org/jabref/gui/edit/ReplaceStringView.java
  src/main/java/org/jabref/gui/edit/ReplaceStringViewModel.java
  src/main/java/org/jabref/gui/groups/GroupDialog.java
  src/main/java/org/jabref/gui/groups/GroupTreeViewModel.java
  src/main/java/org/jabref/gui/importer/AppendDatabaseDialog.java
  src/main/java/org/jabref/gui/importer/actions/AppendDatabaseAction.java
  src/main/java/org/jabref/gui/util/BaseDialog.java
  src/main/java/org/jabref/model/util/OptionalUtil.java
  src/main/resources/l10n/JabRef_en.properties
Labels: ready-for-review

#4366 Update Libraries
  build.gradle
Labels: build-system, ready-for-review

#4374 Update junit-pioneer from 0.2.1 -> 0.2.2
  build.gradle
Labels: build-system

#4376 Extend list of journal abbreviations by a few math journals
  src/main/resources/journals/journalList.txt
Labels: ready-for-review

#4377 Color special column icons in lighter gray on mouse hover
  src/main/java/org/jabref/gui/maintable/MainTable.css
Labels: ready-for-review

#4372 4130 provide dark theme
  CHANGELOG.md
  src/main/java/org/jabref/Globals.java
  src/main/java/org/jabref/gui/preferences/AppearancePrefsTab.java
  src/main/java/org/jabref/gui/util/ThemeLoader.java
  src/main/java/org/jabref/preferences/JabRefPreferences.java
  src/main/java/org/jabref/styletester/StyleTesterMain.java
Labels: ready-for-review

#4375 Convert find unlinked files dialog to JavaFX
  src/main/java/org/jabref/gui/FindUnlinkedFilesDialog.java
  src/main/java/org/jabref/gui/JabRefFrame.java
  src/main/java/org/jabref/gui/externalfiles/FindUnlinkedFilesAction.java
  src/main/java/org/jabref/gui/externalfiles/FindUnlinkedFilesDialog.java
  src/main/java/org/jabref/gui/importer/EntryFromFileCreatorManager.java
  src/main/java/org/jabref/gui/importer/UnlinkedFilesCrawler.java
  src/main/java/org/jabref/gui/util/BackgroundTask.java
  src/main/java/org/jabref/gui/util/DefaultTaskExecutor.java
  src/main/java/org/jabref/gui/util/ViewModelListCellFactory.java
  src/main/java/org/jabref/gui/util/ViewModelTreeCellFactory.java
  src/main/java/org/jabref/preferences/JabRefPreferences.java
  src/main/resources/l10n/JabRef_en.properties
  src/test/java/org/jabref/gui/importer/EntryFromFileCreatorManagerTest.java
  src/test/java/org/jabref/gui/importer/EntryFromPDFCreatorTest.java
  src/test/java/org/jabref/logic/importer/DatabaseFileLookupTest.java
  src/test/java/org/jabref/logic/importer/ImportDataTest.java
Labels: ready-for-review

#4381 Do not execute checkstyle tasks in main test suite on travis
  .travis.yml
Labels: ready-for-review

#4390 Fix EntryType dialog not closed after generate button
  src/main/java/org/jabref/gui/EntryTypeView.java
  src/main/java/org/jabref/gui/EntryTypeViewModel.java
Labels: ready-for-review

#4412 Add a few journal abbreviations
  src/main/resources/journals/journalList.txt
Labels: ready-for-review

#4413 Fix group hit counter when adding entries
  CHANGELOG.md
  src/main/java/org/jabref/gui/groups/GroupNodeViewModel.java
Labels: ready-for-review

#4418 Fix generate bibtex key overwrite warning dialog
  src/main/java/org/jabref/gui/actions/GenerateBibtexKeyAction.java
Labels: ready-for-review

#4421 Add JabRef icon to installer and change watermark to JabRef
  .circleci/config.yml
  jabref.install4j
  scripts/download-install4j-and-jres.sh
  scripts/extract-install4j.sh
  src/main/java/org/jabref/preferences/PreferencesService.java.orig
  src/main/resources/icons/JabRef-icon-64.png
Labels: ready-for-review

#4400 Fix Violations of Always Use Braces
  src/main/java/org/jabref/gui/edit/ReplaceStringViewModel.java
  src/main/java/org/jabref/gui/preferences/AppearancePrefsTab.java
  src/main/java/org/jabref/logic/integrity/IntegrityMessage.java
  src/main/java/org/jabref/model/entry/BibtexString.java
  src/main/java/org/jabref/model/entry/identifier/MathSciNetId.java
  src/main/java/org/jabref/model/groups/AutomaticKeywordGroup.java
  src/main/java/org/jabref/model/groups/AutomaticPersonsGroup.java
  src/main/java/org/jabref/model/groups/TexGroup.java
  src/main/java/org/jabref/model/metadata/ContentSelectors.java
  src/test/java/org/jabref/gui/search/TextFlowEqualityHelper.java
Labels: code-quality, ready-for-review

#4420 Fix highlight color of selected text and progress bar
  src/main/java/org/jabref/JabRefGUI.java
  src/main/java/org/jabref/gui/Base.css
  src/main/java/org/jabref/gui/customjfx/CustomJFXPanel.java
  src/main/java/org/jabref/gui/preferences/AppearancePrefsTab.java
  src/main/java/org/jabref/gui/util/BaseDialog.java
  src/main/java/org/jabref/gui/util/ThemeLoader.java
  src/main/java/org/jabref/preferences/JabRefPreferences.java
  src/main/java/org/jabref/styletester/StyleTesterMain.java
Labels: ready-for-review

#4426 Fix ArrayIndexOutOfBoundsException on second pdf import
  CHANGELOG.md
  src/main/java/org/jabref/logic/importer/fileformat/PdfContentImporter.java
  src/test/java/org/jabref/logic/importer/fileformat/PdfContentImporterTest.java
Labels: ready-for-review

#4410 Convert merge entries dialog to JavaFX
  src/main/java/org/jabref/gui/BasePanel.java
  src/main/java/org/jabref/gui/DuplicateResolverDialog.java
  src/main/java/org/jabref/gui/JabRefFrame.java
  src/main/java/org/jabref/gui/actions/MergeEntriesAction.java
  src/main/java/org/jabref/gui/mergeentries/DiffHighlighting.java
  src/main/java/org/jabref/gui/mergeentries/FetchAndMergeEntry.java
  src/main/java/org/jabref/gui/mergeentries/MergeEntries.css
  src/main/java/org/jabref/gui/mergeentries/MergeEntries.java
  src/main/java/org/jabref/gui/mergeentries/MergeEntriesAction.java
  src/main/java/org/jabref/gui/mergeentries/MergeEntriesDialog.java
  src/main/java/org/jabref/gui/mergeentries/MergeFetchedEntryDialog.java
  src/main/java/org/jabref/gui/shared/MergeSharedEntryDialog.java
  src/main/java/org/jabref/gui/util/component/DiffHighlightingTextPane.java
  src/main/java/org/jabref/logic/importer/fetcher/DoiFetcher.java
  src/main/java/org/jabref/logic/util/strings/DiffHighlighting.java
  src/main/java/org/jabref/preferences/JabRefPreferences.java
  src/main/resources/l10n/JabRef_en.properties
  src/test/java/org/jabref/gui/mergeentries/DiffHighlightingTest.java
  src/test/java/org/jabref/logic/util/strings/DiffHighlightingTest.java
Labels: ready-for-review
