Repository JabRef/jabref, pull requests merged in 2018-08, with the labels that each got.

#4255 Fix for issue koppor 254 (Auto cleanup url)
  CHANGELOG.md
  src/main/java/org/jabref/gui/fieldeditors/EditorTextArea.java
  src/main/java/org/jabref/gui/fieldeditors/UrlEditor.java
  src/main/java/org/jabref/gui/fieldeditors/contextmenu/EditorMenus.java
  src/main/java/org/jabref/logic/formatter/Formatters.java
  src/main/java/org/jabref/logic/formatter/bibtexfields/CleanupURLFormatter.java
  src/main/resources/l10n/JabRef_en.properties
  src/test/java/org/jabref/logic/formatter/bibtexfields/CleanupUrlFormatterTest.java
Labels: ready-for-review

#4252 Fix attach file does not relativize file path
  CHANGELOG.md
  src/main/java/org/jabref/gui/filelist/LinkedFilesEditDialogViewModel.java
Labels: ready-for-review

#4245 Fix style issues in about dialog
  src/main/java/org/jabref/JabRefGUI.java
  src/main/java/org/jabref/gui/Base.css
  src/main/java/org/jabref/gui/GUIGlobals.java
  src/main/java/org/jabref/gui/actions/ActionFactory.java
  src/main/java/org/jabref/gui/customjfx/CustomJFXPanel.java
  src/main/java/org/jabref/gui/documentviewer/DocumentViewer.fxml
  src/main/java/org/jabref/gui/entryeditor/EntryEditor.css
  src/main/java/org/jabref/gui/entryeditor/EntryEditor.fxml
  src/main/java/org/jabref/gui/entryeditor/fileannotationtab/FileAnnotationTab.fxml
  src/main/java/org/jabref/gui/fieldeditors/BibtexKeyEditor.fxml
  src/main/java/org/jabref/gui/fieldeditors/IdentifierEditor.fxml
  src/main/java/org/jabref/gui/fieldeditors/JournalEditor.fxml
  src/main/java/org/jabref/gui/fieldeditors/LinkedFilesEditor.fxml
  src/main/java/org/jabref/gui/fieldeditors/LinkedFilesEditor.java
  src/main/java/org/jabref/gui/fieldeditors/OwnerEditor.fxml
  src/main/java/org/jabref/gui/fieldeditors/UrlEditor.fxml
  src/main/java/org/jabref/gui/groups/GroupTree.fxml
  src/main/java/org/jabref/gui/help/AboutDialog.css
  src/main/java/org/jabref/gui/help/AboutDialog.fxml
  src/main/java/org/jabref/gui/help/AboutDialogView.java
  src/main/java/org/jabref/gui/icon/IconTheme.java
  src/main/java/org/jabref/gui/util/BaseDialog.java
  src/main/java/org/jabref/gui/util/DefaultFileUpdateMonitor.java
  src/main/java/org/jabref/gui/util/ThemeLoader.java
  src/main/java/org/jabref/gui/util/component/Tag.fxml
  src/main/java/org/jabref/styletester/StyleTester.fxml
  src/main/java/org/jabref/styletester/StyleTesterMain.java
  src/main/java/org/jabref/styletester/StyleTesterView.java
Labels: ready-for-review

#4259 Remove Spin comments
  external-libraries.txt
  src/main/java/org/jabref/gui/exporter/SaveDatabaseAction.java
  src/main/java/org/jabref/gui/importer/actions/GUIPostOpenAction.java
Labels: ready-for-review

#4261 Fix display of checkboxes
  src/main/java/org/jabref/gui/Base.css
  src/main/java/org/jabref/styletester/StyleTester.fxml
  src/main/java/org/jabref/styletester/StyleTesterMain.java
Labels: ready-for-review

#4278 Fix NPE with bibdatabasecontext in preview style dialog
  src/main/java/org/jabref/gui/BasePanel.java
  src/main/java/org/jabref/gui/PreviewPanel.java
  src/main/java/org/jabref/gui/openoffice/StyleSelectDialog.java
  src/main/java/org/jabref/gui/preftabs/PreviewPrefsTab.java
Labels: ready-for-review

#4275 Changed the behavior of the field formatting dialog
  CHANGELOG.md
  src/main/java/org/jabref/model/cleanup/FieldFormatterCleanup.java
  src/test/java/org/jabref/logic/cleanup/FieldFormatterCleanupTest.java
Labels: waiting-for-feedback

#4277 convert bibtexkeypatterndlg to javafx as well
  src/main/java/org/jabref/gui/actions/BibtexKeyPatternAction.java
  src/main/java/org/jabref/gui/bibtexkeypattern/BibtexKeyPatternDialog.java
  src/main/java/org/jabref/gui/copyfiles/CopyFilesDialogView.java
  src/main/java/org/jabref/gui/documentviewer/DocumentViewerView.java
  src/main/java/org/jabref/gui/errorconsole/ErrorConsoleView.java
  src/main/java/org/jabref/gui/externalfiletype/ExternalFileTypeEditor.java
  src/main/java/org/jabref/gui/help/AboutDialogView.java
  src/main/java/org/jabref/gui/journals/ManageJournalAbbreviationsView.java
  src/main/java/org/jabref/gui/keyboard/KeyBindingsDialogView.java
  src/main/java/org/jabref/gui/util/BaseDialog.java
Labels: ready-for-review

#4280 Improve preferences
  src/main/java/org/jabref/gui/Base.css
  src/main/java/org/jabref/gui/SidePane.java
  src/main/java/org/jabref/gui/actions/ShowPreferencesAction.java
  src/main/java/org/jabref/gui/bibtexkeypattern/BibtexKeyPatternPanel.java
  src/main/java/org/jabref/gui/preferences/AdvancedTab.java
  src/main/java/org/jabref/gui/preferences/AppearancePrefsTab.java
  src/main/java/org/jabref/gui/preferences/BibtexKeyPatternPrefTab.java
  src/main/java/org/jabref/gui/preferences/EntryEditorPrefsTab.java
  src/main/java/org/jabref/gui/preferences/ExportSortingPrefsTab.java
  src/main/java/org/jabref/gui/preferences/ExternalTab.java
  src/main/java/org/jabref/gui/preferences/FileTab.java
  src/main/java/org/jabref/gui/preferences/GeneralTab.java
  src/main/java/org/jabref/gui/preferences/GroupsPrefsTab.java
  src/main/java/org/jabref/gui/preferences/ImportSettingsTab.java
  src/main/java/org/jabref/gui/preferences/NameFormatterTab.java
  src/main/java/org/jabref/gui/preferences/NetworkTab.java
  src/main/java/org/jabref/gui/preferences/PreferencesDialog.css
  src/main/java/org/jabref/gui/preferences/PreferencesDialog.java
  src/main/java/org/jabref/gui/preferences/PreferencesFilterDialog.java
  src/main/java/org/jabref/gui/preferences/PrefsTab.java
  src/main/java/org/jabref/gui/preferences/PreviewPrefsTab.java
  src/main/java/org/jabref/gui/preferences/TableColumnsTab.java
  src/main/java/org/jabref/gui/preferences/TablePrefsTab.java
  src/main/java/org/jabref/gui/preferences/XmpPrefsTab.java
  src/main/java/org/jabref/gui/preftabs/FontSize.java
  src/main/java/org/jabref/gui/preftabs/PreferencesDialog.java
  src/main/java/org/jabref/gui/util/ViewModelListCellFactory.java
  src/main/java/org/jabref/preferences/JabRefPreferences.java
Labels: ready-for-review

#4284 Fix exceptions when trying to change settings
  src/main/java/org/jabref/gui/preferences/FileTab.java
  src/main/java/org/jabref/gui/preferences/GeneralTab.java
  src/main/java/org/jabref/logic/l10n/Language.java
  src/main/java/org/jabref/logic/l10n/Languages.java
  src/main/java/org/jabref/logic/l10n/Localization.java
  src/main/java/org/jabref/preferences/JabRefPreferences.java
  src/test/java/org/jabref/logic/l10n/LanguageTest.java
  src/test/java/org/jabref/logic/l10n/LanguagesTest.java
  src/test/java/org/jabref/logic/l10n/LocalizationConsistencyTest.java
  src/test/java/org/jabref/logic/l10n/LocalizationTest.java
  src/test/java/org/jabref/logic/l10n/PropertiesLocaleCompletenessTest.java
Labels: ready-for-review

#4283 Add minimal height for entry editor
  CHANGELOG.md
  src/main/java/org/jabref/gui/entryeditor/EntryEditor.fxml
Labels: ready-for-review

#4299 Fix freeze on import into current library
  src/main/java/org/jabref/gui/importer/ImportAction.java
Labels: ready-for-review

#4290 Fix error prone warnings
  src/test/java/org/jabref/logic/importer/fileformat/BibtexParserTest.java
  src/test/java/org/jabref/logic/l10n/LocalizationConsistencyTest.java
  src/test/java/org/jabref/logic/l10n/LocalizationParser.java
  src/test/java/org/jabref/logic/l10n/PropertiesLocaleCompletenessTest.java
  src/test/java/org/jabref/model/strings/StringUtilTest.java
Labels: ready-for-review

#4291 fix loading and storing of XMP Field Exclusions
  CHANGELOG.md
  src/main/java/org/jabref/gui/preferences/XmpPrefsTab.java
  src/main/java/org/jabref/gui/util/ValueTableCellFactory.java
  src/main/resources/l10n/JabRef_en.properties
  src/test/java/org/jabref/logic/exporter/XmpExporterTest.java
Labels: ready-for-review

#4302 Convert to circle CI 2.0
  .circleci/config.yml
  circle.yml
  scripts/download-install4j-and-jres.sh
  scripts/extract-install4j.sh
  scripts/upload-to-builds.jabref.org.sh
Labels: build-system, ready-for-review

#4040 Convert SharedDatabaseConnect Dialog to Javafx
  src/main/java/org/jabref/gui/actions/ConnectToSharedDatabaseCommand.java
  src/main/java/org/jabref/gui/shared/ConnectToSharedDatabaseDialog.java
  src/main/java/org/jabref/gui/shared/MigrationHelpDialog.java
  src/main/java/org/jabref/gui/shared/SharedDatabaseLoginDialog.fxml
  src/main/java/org/jabref/gui/shared/SharedDatabaseLoginDialogView.java
  src/main/java/org/jabref/gui/shared/SharedDatabaseLoginDialogViewModel.java
  src/main/java/org/jabref/gui/shared/SharedDatabaseUIManager.java
  src/main/java/org/jabref/logic/shared/DBMSConnection.java
  src/main/java/org/jabref/logic/shared/DBMSConnectionProperties.java
  src/main/java/org/jabref/logic/shared/DBMSSynchronizer.java
  src/main/java/org/jabref/logic/shared/PostgreSQLProcessor.java
  src/main/java/org/jabref/logic/shared/listener/PostgresSQLNotificationListener.java
  src/main/java/org/jabref/logic/shared/prefs/SharedDatabasePreferences.java
  src/main/java/org/jabref/logic/shared/security/Password.java
  src/main/java/org/jabref/logic/util/StandardFileType.java
  src/main/java/org/jabref/model/database/BibDatabaseContext.java
  src/main/java/org/jabref/model/database/shared/DatabaseConnectionProperties.java
  src/main/resources/l10n/JabRef_en.properties
  src/test/java/org/jabref/logic/shared/DBMSConnectionTest.java
  src/test/java/org/jabref/logic/shared/TestConnector.java
Labels: shared-database
