Repository JabRef/jabref, pull requests merged in 2018-02, with the labels that each got.

#3715 Group interface: Usability tweaks
  CHANGELOG.md
  src/main/java/org/jabref/gui/groups/GroupDialog.java
  src/main/java/org/jabref/gui/groups/GroupTreeController.java
  src/main/resources/l10n/JabRef_en.properties
Labels: ready-for-review

#3717 Code cleanup AbbreviateAction.java
  src/main/java/org/jabref/gui/journals/AbbreviateAction.java
Labels: ready-for-review

#3708 Try to change color of magnifier icon
  src/main/java/org/jabref/gui/IconTheme.java
  src/main/java/org/jabref/gui/search/GlobalSearchBar.java
  src/main/java/org/jabref/gui/search/SearchTextField.java
Labels: ready-for-review

#3714 Update entry editor when entry type changes
  CHANGELOG.md
  src/main/java/org/jabref/gui/entryeditor/EntryEditor.java
  src/main/java/org/jabref/gui/entryeditor/EntryEditorTab.java
  src/main/java/org/jabref/model/entry/BibEntry.java
Labels: ready-for-review

#3720 Refactor deprecated part of ProtectedTermsFormatter
  src/main/java/org/jabref/JabRefMain.java
  src/main/java/org/jabref/gui/JabRefFrame.java
  src/main/java/org/jabref/gui/cleanup/FieldFormatterCleanupsPanel.java
  src/main/java/org/jabref/gui/fieldeditors/contextmenu/CaseChangeMenu.java
  src/main/java/org/jabref/gui/fieldeditors/contextmenu/ConversionMenu.java
  src/main/java/org/jabref/gui/fieldeditors/contextmenu/ProtectedTermsMenu.java
  src/main/java/org/jabref/gui/importer/fetcher/ACMPortalFetcher.java
  src/main/java/org/jabref/gui/importer/fetcher/IEEEXploreFetcher.java
  src/main/java/org/jabref/gui/protectedterms/ProtectedTermsDialog.java
  src/main/java/org/jabref/logic/cleanup/Cleanups.java
  src/main/java/org/jabref/logic/formatter/Formatters.java
  src/main/java/org/jabref/logic/formatter/casechanger/ProtectTermsFormatter.java
  src/main/java/org/jabref/logic/protectedterms/ProtectedTermsLoader.java
  src/test/java/org/jabref/logic/formatter/FormatterTest.java
  src/test/java/org/jabref/logic/formatter/casechanger/ProtectTermsFormatterTest.java
Labels: code-quality, ready-for-review

#3724 Fix Some Codacy Issues
  src/main/java/org/jabref/gui/PreviewPanel.java
  src/main/java/org/jabref/gui/fieldeditors/EditorTextArea.java
  src/main/java/org/jabref/gui/fieldeditors/FieldEditors.java
  src/main/java/org/jabref/gui/fieldeditors/OptionEditor.java
  src/main/java/org/jabref/gui/fieldeditors/TextArea.java
  src/main/java/org/jabref/gui/groups/GroupTreeNodeViewModel.java
  src/main/java/org/jabref/gui/search/SearchResultFrame.java
  src/main/java/org/jabref/logic/exporter/GroupSerializer.java
  src/test/java/org/jabref/logic/bibtex/FieldContentParserTest.java
Labels: code-quality, ready-for-review

#3721 [WIP] Fix for issue 2831
  CHANGELOG.md
  scripts/bib-file-generator.py
  src/main/java/org/jabref/JabRefExecutorService.java
  src/main/java/org/jabref/gui/journals/AbbreviateAction.java
Labels: PE1718

#3729 Improve performance for managing journal abbreviations
  CHANGELOG.md
  src/main/java/org/jabref/gui/journals/ManageJournalAbbreviationsViewModel.java
  src/main/java/org/jabref/logic/journals/JournalAbbreviationRepository.java
Labels: ready-for-review

#3713 Add EndNote XML importer
  CHANGELOG.md
  src/main/java/org/jabref/logic/importer/ImportFormatReader.java
  src/main/java/org/jabref/logic/importer/fileformat/EndnoteXmlImporter.java
  src/main/java/org/jabref/logic/importer/fileformat/MedlineImporter.java
  src/main/java/org/jabref/logic/util/FileType.java
  src/main/resources/xjc/endnote/RSXML.dtd
  src/test/java/org/jabref/logic/importer/fileformat/BibTeXMLImporterTestFiles.java
  src/test/java/org/jabref/logic/importer/fileformat/BiblioscapeImporterTestFiles.java
  src/test/java/org/jabref/logic/importer/fileformat/CopacImporterTestFiles.java
  src/test/java/org/jabref/logic/importer/fileformat/EndnoteXmlImporterTestFiles.java
  src/test/java/org/jabref/logic/importer/fileformat/ImporterTestEngine.java
  src/test/java/org/jabref/logic/importer/fileformat/MedlineImporterTestFiles.java
  src/test/java/org/jabref/logic/importer/fileformat/PdfContentImporterTestFiles.java
  src/test/java/org/jabref/logic/importer/fileformat/RISImporterTestFiles.java
  src/test/java/org/jabref/logic/importer/fileformat/SilverPlatterImporterTest.java
  src/test/resources/org/jabref/logic/importer/fileformat/EndnoteXmlImporterTestArticle.bib
  src/test/resources/org/jabref/logic/importer/fileformat/EndnoteXmlImporterTestArticle.xml
  src/test/resources/org/jabref/logic/importer/fileformat/EndnoteXmlImporterTestArticle2.bib
  src/test/resources/org/jabref/logic/importer/fileformat/EndnoteXmlImporterTestArticle2.xml
  xjc.gradle
Labels: ready-for-review

#3658 Rename the Review Tab into Comments Tab
  CHANGELOG.md
  src/main/java/org/jabref/JabRefGUI.java
  src/main/java/org/jabref/gui/JabRefFrame.java
  src/main/java/org/jabref/gui/PreviewPanel.java
  src/main/java/org/jabref/gui/dialogs/AutosaveUIManager.java
  src/main/java/org/jabref/gui/dialogs/BackupUIManager.java
  src/main/java/org/jabref/gui/dialogs/MergeReviewIntoCommentUIManager.java
  src/main/java/org/jabref/gui/exporter/SaveDatabaseAction.java
  src/main/java/org/jabref/gui/importer/actions/OpenDatabaseAction.java
  src/main/java/org/jabref/logic/importer/OpenDatabase.java
  src/main/java/org/jabref/logic/importer/ParserResult.java
  src/main/java/org/jabref/logic/importer/util/PostOpenAction.java
  src/main/java/org/jabref/migrations/ConvertLegacyExplicitGroups.java
  src/main/java/org/jabref/migrations/MergeReviewIntoComment.java
  src/main/java/org/jabref/migrations/PostOpenMigration.java
  src/main/java/org/jabref/model/entry/InternalBibtexFields.java
  src/main/java/org/jabref/preferences/JabRefPreferences.java
  src/main/resources/l10n/JabRef_en.properties
  src/test/java/org/jabref/migrations/ConvertLegacyExplicitGroupsTest.java
  src/test/java/org/jabref/migrations/MergeReviewIntoCommentTest.java
Labels: enhancement, entry-editor, ready-for-review

#3732 New Crowdin translations
  src/main/resources/l10n/JabRef_da.properties
  src/main/resources/l10n/JabRef_de.properties
  src/main/resources/l10n/JabRef_el.properties
  src/main/resources/l10n/JabRef_es.properties
  src/main/resources/l10n/JabRef_fa.properties
  src/main/resources/l10n/JabRef_fr.properties
  src/main/resources/l10n/JabRef_in.properties
  src/main/resources/l10n/JabRef_it.properties
  src/main/resources/l10n/JabRef_ja.properties
  src/main/resources/l10n/JabRef_nl.properties
  src/main/resources/l10n/JabRef_no.properties
  src/main/resources/l10n/JabRef_pt_BR.properties
  src/main/resources/l10n/JabRef_ru.properties
  src/main/resources/l10n/JabRef_sv.properties
  src/main/resources/l10n/JabRef_tr.properties
  src/main/resources/l10n/JabRef_vi.properties
  src/main/resources/l10n/JabRef_zh.properties
Labels: ready-for-review

#3740 Inline loc.org xsds
  src/main/resources/xjc/mods/mods-3-7.xsd
  src/main/resources/xjc/mods/mods-binding.xjb
  src/main/resources/xjc/mods/xlink.xsd
  src/main/resources/xjc/mods/xml.xsd
  xjc.gradle
Labels: ready-for-review

#3747 Pressing escape during search clears search field & selects first entry
  CHANGELOG.md
  src/main/java/org/jabref/gui/search/GlobalSearchBar.java
Labels: PE1718

#3751 Add the Menubar to the Titlebar in MacOS
  src/main/java/org/jabref/JabRefGUI.java
  src/main/java/org/jabref/gui/JabRefFrame.java
Labels: ready-for-review

#3733 Refactor BibDatabase Migrations
  src/main/java/org/jabref/gui/importer/actions/CheckForNewEntryTypesAction.java
  src/main/java/org/jabref/gui/importer/actions/MergeReviewIntoCommentAction.java
  src/main/java/org/jabref/gui/importer/actions/MergeReviewIntoCommentConfirmationDialog.java
  src/main/java/org/jabref/gui/importer/actions/OpenDatabaseAction.java
  src/main/java/org/jabref/logic/importer/OpenDatabase.java
  src/main/java/org/jabref/logic/migrations/MergeReviewIntoCommentMigration.java
  src/main/java/org/jabref/migrations/FileLinksUpgradeWarning.java
  src/main/java/org/jabref/migrations/MergeReviewIntoComment.java
  src/test/java/org/jabref/logic/importer/migrations/MergeReviewIntoCommentActionMigrationTest.java
Labels: import, ready-for-review

#3710 [WIP] Dublin Core
  build.gradle
  src/main/java/org/jabref/cli/XMPUtilMain.java
  src/main/java/org/jabref/gui/documentviewer/PdfDocumentPageViewModel.java
  src/main/java/org/jabref/gui/documentviewer/PdfDocumentViewModel.java
  src/main/java/org/jabref/gui/externalfiles/DroppedFileHandler.java
  src/main/java/org/jabref/gui/externalfiles/WriteXMPAction.java
  src/main/java/org/jabref/gui/fieldeditors/LinkedFileViewModel.java
  src/main/java/org/jabref/gui/importer/EntryFromPDFCreator.java
  src/main/java/org/jabref/logic/importer/ImportFormatReader.java
  src/main/java/org/jabref/logic/importer/fileformat/PdfContentImporter.java
  src/main/java/org/jabref/logic/importer/fileformat/PdfXmpImporter.java
  src/main/java/org/jabref/logic/pdf/PdfAnnotationImporter.java
  src/main/java/org/jabref/logic/pdf/TextExtractor.java
  src/main/java/org/jabref/logic/xmp/DocumentInformationExtractor.java
  src/main/java/org/jabref/logic/xmp/DublinCoreExtractor.java
  src/main/java/org/jabref/logic/xmp/XMPSchemaBibtex.java
  src/main/java/org/jabref/logic/xmp/XMPUtil.java
  src/main/java/org/jabref/logic/xmp/XmpPreferences.java
  src/main/java/org/jabref/logic/xmp/XmpUtilReader.java
  src/main/java/org/jabref/logic/xmp/XmpUtilShared.java
  src/main/java/org/jabref/logic/xmp/XmpUtilWriter.java
  src/main/java/org/jabref/model/pdf/FileAnnotation.java
  src/main/java/org/jabref/pdfimport/ImportDialog.java
  src/main/java/org/jabref/pdfimport/PdfImporter.java
  src/main/java/org/jabref/preferences/JabRefPreferences.java
  src/test/java/org/jabref/logic/importer/ImportFormatReaderIntegrationTest.java
  src/test/java/org/jabref/logic/importer/ImportFormatReaderTestParameterless.java
  src/test/java/org/jabref/logic/importer/ImporterTest.java
  src/test/java/org/jabref/logic/importer/fileformat/PdfXmpImporterTest.java
  src/test/java/org/jabref/logic/xmp/XMPSchemaBibtexTest.java
  src/test/java/org/jabref/logic/xmp/XMPUtilTest.java
  src/test/java/org/jabref/logic/xmp/XmpUtilReaderTest.java
  src/test/java/org/jabref/logic/xmp/XmpUtilWriterTest.java
  src/test/resources/org/jabref/logic/xmp/JabRef_multipleMetaEntries.pdf
  src/test/resources/org/jabref/logic/xmp/PD_metadata.bib
  src/test/resources/org/jabref/logic/xmp/PD_metadata.pdf
  src/test/resources/org/jabref/logic/xmp/article_dublinCore.bib
  src/test/resources/org/jabref/logic/xmp/article_dublinCore.pdf
  src/test/resources/org/jabref/logic/xmp/empty_metadata.pdf
Labels: ready-for-review

#3761 Don't trim when migrating review field
  src/main/java/org/jabref/logic/bibtex/FieldContentParser.java
  src/test/java/org/jabref/logic/importer/migrations/MergeReviewIntoCommentActionMigrationTest.java
  src/test/java/org/jabref/testutils/TestUtils.java
Labels: bug, ready-for-review

#3766 Update Architecture Tests to catch static imports
  src/test/java/org/jabref/architecture/MainArchitectureTests.java
Labels: code-quality, ready-for-review

#3762 Meaningful button review field migration
  src/main/java/org/jabref/gui/importer/actions/MergeReviewIntoCommentAction.java
  src/main/java/org/jabref/gui/importer/actions/MergeReviewIntoCommentConfirmationDialog.java
  src/main/resources/l10n/JabRef_en.properties
Labels: bug, ready-for-review, ui

#3764 Added <any file type> to the Import File Filter Dialog.
  CHANGELOG.md
  src/main/java/org/jabref/gui/importer/ImportFormats.java
Labels: PE1718

#3756 Refactor dublin core utility
  CHANGELOG.md
  src/main/java/org/jabref/cli/ArgumentProcessor.java
  src/main/java/org/jabref/cli/JabRefCLI.java
  src/main/java/org/jabref/cli/XMPUtilMain.java
  src/main/java/org/jabref/cli/XmpUtilMain.java
Labels: ready-for-review

#3688 Reenable drag'n'drop support for tabs / libraries
  build.gradle
  external-libraries.txt
  src/main/java/org/jabref/gui/JabRefFrame.java
Labels: ready-for-review

#3785 Show empty group pane if no database is open
  src/main/java/org/jabref/gui/JabRefFrame.java
  src/main/java/org/jabref/gui/groups/GroupTreeViewModel.java
Labels: ready-for-review

#3784 Allow side pane to be completely hidden
  src/main/java/org/jabref/gui/JabRefFrame.java
Labels: ready-for-review

#3783 Save order of columns across sessions
  src/main/java/org/jabref/gui/BasePanelPreferences.java
  src/main/java/org/jabref/gui/maintable/ColumnPreferences.java
  src/main/java/org/jabref/gui/maintable/MainTable.java
  src/main/java/org/jabref/gui/maintable/MainTableColumnFactory.java
  src/main/java/org/jabref/gui/maintable/MainTablePreferences.java
  src/main/java/org/jabref/gui/maintable/NormalTableColumn.java
  src/main/java/org/jabref/gui/maintable/PersistenceTableColumnListener.java
  src/main/java/org/jabref/gui/maintable/PersistenceVisualStateTable.java
  src/main/java/org/jabref/gui/preftabs/TableColumnsTab.java
  src/main/java/org/jabref/model/entry/FieldName.java
  src/main/java/org/jabref/model/entry/InternalBibtexFields.java
  src/main/java/org/jabref/preferences/JabRefPreferences.java
Labels: ready-for-review
