Repository JabRef/jabref, pull requests merged in 2018-06, with the labels that each got.

#4058 CPU leak
  CHANGELOG.md
  build.gradle
Labels: devcall, ready-for-review

#4094 Remove menu* from crowdin.yml
  crowdin.yml
Labels: ready-for-review

#4095 Set minimum java to 171
  CHANGELOG.md
  build.gradle
Labels: ready-for-review

#4091 Add gradle task downloadDependencies and use it at CircleCI
  build.gradle
  circle.yml
Labels: ready-for-review

#4105 Fix that sometimes an empty side pane is shown
  src/main/java/org/jabref/gui/SidePaneManager.java
Labels: ready-for-review

#4074 Mac graphics
  CHANGELOG.md
  jabref.install4j
Labels: ready-for-review

#4121 Show Citation style also in entry preview in preferences
  CHANGELOG.md
  src/main/java/org/jabref/gui/preftabs/PreviewPrefsTab.java
  src/main/java/org/jabref/preferences/PreviewPreferences.java
Labels: ready-for-review

#4124 Saves and reloads window state on close and on open
  CHANGELOG.md
  src/main/java/org/jabref/JabRefGUI.java
  src/main/java/org/jabref/preferences/JabRefPreferences.java
Labels: ready-for-review

#4061 Groups right click
  src/main/java/org/jabref/gui/groups/GroupTreeView.java
Labels: ready-for-review

#4107 Fix a few things in entry editor
  CHANGELOG.md
  src/main/java/org/jabref/JabRefMain.java
  src/main/java/org/jabref/gui/BasePanel.java
  src/main/java/org/jabref/gui/entryeditor/EntryEditor.java
  src/main/java/org/jabref/gui/entryeditor/EntryEditorTab.java
  src/main/java/org/jabref/gui/entryeditor/FieldsEditorTab.java
  src/main/java/org/jabref/gui/fieldeditors/FieldEditorFX.java
  src/main/java/org/jabref/gui/keyboard/KeyBinding.java
  src/main/java/org/jabref/gui/util/ControlHelper.java
Labels: ready-for-review

#4109 Smooth shutdown
  src/main/java/org/jabref/Globals.java
  src/main/java/org/jabref/JabRefGUI.java
  src/main/java/org/jabref/JabRefMain.java
  src/main/java/org/jabref/gui/BasePanel.java
  src/main/java/org/jabref/gui/ClipBoardManager.java
  src/main/java/org/jabref/gui/GUIGlobals.java
  src/main/java/org/jabref/gui/JabRefFrame.java
  src/main/java/org/jabref/gui/PreviewPanel.java
  src/main/java/org/jabref/gui/actions/CopyBibTeXKeyAndLinkAction.java
  src/main/java/org/jabref/gui/actions/CopyDoiUrlAction.java
  src/main/java/org/jabref/gui/actions/CopyVersionToClipboardAction.java
  src/main/java/org/jabref/gui/desktop/JabRefDesktop.java
  src/main/java/org/jabref/gui/entryeditor/fileannotationtab/FileAnnotationTabViewModel.java
  src/main/java/org/jabref/gui/errorconsole/ErrorConsoleViewModel.java
  src/main/java/org/jabref/gui/exporter/ExportToClipboardAction.java
  src/main/java/org/jabref/gui/exporter/RtfTransferable.java
  src/main/java/org/jabref/gui/fieldeditors/HtmlTransferable.java
  src/main/java/org/jabref/gui/fieldeditors/LinkedFilesEditor.java
  src/main/java/org/jabref/gui/fieldeditors/XmlTransferable.java
  src/main/java/org/jabref/gui/groups/GroupTreeView.java
  src/main/java/org/jabref/gui/help/AboutDialogViewModel.java
  src/main/java/org/jabref/gui/icon/IconTheme.java
  src/main/java/org/jabref/gui/icon/InternalMaterialDesignIcon.java
  src/main/java/org/jabref/gui/importer/ImportInspectionDialog.java
  src/main/java/org/jabref/gui/importer/fetcher/GeneralFetcher.java
  src/main/java/org/jabref/gui/maintable/MainTable.java
  src/main/java/org/jabref/gui/plaintextimport/TextInputDialog.java
  src/main/java/org/jabref/gui/preftabs/AppearancePrefsTab.java
  src/main/java/org/jabref/gui/search/GlobalSearchBar.java
  src/main/java/org/jabref/gui/search/SearchResultFrame.java
  src/main/java/org/jabref/gui/worker/CitationStyleToClipboardWorker.java
  src/main/java/org/jabref/preferences/JabRefPreferences.java
  src/test/java/org/jabref/gui/ClipBoardManagerTest.java
  src/test/java/org/jabref/gui/fieldeditors/HtmlTransferableTest.java
  src/test/java/org/jabref/gui/worker/CitationStyleToClipboardWorkerTest.java
Labels: ready-for-review

#4116 Don't report journal name as abbreviated when full name = abbreviated name
  CHANGELOG.md
  src/main/java/org/jabref/logic/journals/JournalAbbreviationRepository.java
  src/test/java/org/jabref/logic/integrity/AbbreviationCheckerTest.java
Labels: ready-for-review

#4100 Migrate Review field in entry preview to comment
  CHANGELOG.md
  src/main/java/org/jabref/migrations/PreferencesMigrations.java
  src/main/java/org/jabref/preferences/JabRefPreferences.java
  src/main/resources/resource/layout/listrefs/listrefs.begin.layout
  src/main/resources/resource/layout/listrefs/listrefs.layout
  src/main/resources/resource/layout/listrefs/listrefs.misc.layout
  src/main/resources/resource/layout/tablerefs/tablerefs.begin.layout
  src/main/resources/resource/layout/tablerefsabsbib/tablerefsabsbib.begin.layout
  src/main/resources/resource/layout/tablerefsabsbib/tablerefsabsbib.layout
  src/test/java/org/jabref/migrations/PreferencesMigrationsTest.java
Labels: ready-for-review

#4131 Update dependency checker version and update deps
  build.gradle
Labels: build-system, ready-for-review

#4133 Fix SNAPSHOT releases marked as outdated
  build.gradle
Labels: build-system, ready-for-review

#4141 Convert Springer fetcher to new interface
  src/main/java/org/jabref/gui/importer/fetcher/EntryFetchers.java
  src/main/java/org/jabref/gui/importer/fetcher/SpringerFetcher.java
  src/main/java/org/jabref/logic/importer/WebFetchers.java
  src/main/java/org/jabref/logic/importer/fetcher/SpringerFetcher.java
  src/main/java/org/jabref/logic/importer/util/JSONEntryParser.java
  src/test/java/org/jabref/logic/importer/fetcher/SpringerFetcherTest.java
Labels: ready-for-review

#4136 add exception for junit-pioneer in version rejection of snapshots
  build.gradle
Labels: build-system, ready-for-review

#4147 Change version to 5.0 dev
  build.gradle
Labels: ready-for-review

#4151 update grade to 4.8.1 and other dependencies
  build.gradle
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
Labels: ready-for-review

#4150 Refine links
  CONTRIBUTING.md
Labels: ready-for-review

#4137 Fix #3805: dash correctly terminates commands in layout files
  CHANGELOG.md
  src/main/java/org/jabref/logic/layout/Layout.java
  src/main/java/org/jabref/logic/layout/LayoutEntry.java
  src/main/java/org/jabref/logic/layout/LayoutHelper.java
  src/main/java/org/jabref/model/entry/BibEntry.java
  src/test/java/org/jabref/logic/layout/LayoutTest.java
Labels: ready-for-review
