Repository JabRef/jabref, pull requests merged in 2019-11, with the labels that each got.

#5554 Make entry editor DND behave as specified in settings
  src/main/java/org/jabref/gui/entryeditor/EntryEditor.java
  src/main/java/org/jabref/gui/entryeditor/FileDragDropPreferenceType.java
Labels: ready-for-review

#5556 Select newly added jstyle in table to prevent exception
  src/main/java/org/jabref/gui/openoffice/StyleSelectDialogViewModel.java
Labels: ready-for-review

#5560 Fix 5555 status popups
  CHANGELOG.md
  src/main/java/org/jabref/gui/BasePanel.java
  src/main/java/org/jabref/gui/JabRefFrame.java
  src/main/java/org/jabref/gui/auximport/FromAuxDialog.java
  src/main/java/org/jabref/gui/dialogs/AutosaveUIManager.java
  src/main/java/org/jabref/gui/exporter/SaveDatabaseAction.java
  src/main/java/org/jabref/gui/importer/NewDatabaseAction.java
  src/main/java/org/jabref/gui/importer/actions/OpenDatabaseAction.java
  src/main/java/org/jabref/gui/maintable/MainTable.java
  src/main/java/org/jabref/gui/shared/SharedDatabaseUIManager.java
  src/main/java/org/jabref/logic/shared/DBMSSynchronizer.java
  src/main/resources/l10n/JabRef_en.properties
Labels: ready-for-review

#5573 Add gradle caching for github actions
  .github/workflows/deployment.yml
Labels: ready-for-review

#5581 Remove FreeCiteImporter
  src/main/java/org/jabref/logic/importer/ImportFormatReader.java
  src/main/java/org/jabref/logic/importer/fileformat/FreeCiteImporter.java
  src/main/java/org/jabref/logic/util/StandardFileType.java
  src/main/resources/l10n/JabRef_en.properties
  src/test/java/org/jabref/logic/importer/ImporterTest.java
  src/test/java/org/jabref/logic/importer/fileformat/FreeCiteImporterTest.java
Labels: ready-for-review

#5582 Fix DBLPFetcherTest -- dblp changed the format
  src/main/java/org/jabref/gui/fieldeditors/UrlEditor.java
  src/main/java/org/jabref/gui/fieldeditors/contextmenu/EditorMenus.java
  src/main/java/org/jabref/logic/formatter/Formatters.java
  src/main/java/org/jabref/logic/formatter/bibtexfields/CleanupUrlFormatter.java
  src/main/java/org/jabref/logic/formatter/bibtexfields/LatexCleanupFormatter.java
  src/main/java/org/jabref/logic/formatter/bibtexfields/ShortenDOIFormatter.java
  src/main/java/org/jabref/logic/importer/fetcher/DBLPFetcher.java
  src/main/java/org/jabref/logic/layout/Layout.java
  src/main/java/org/jabref/logic/layout/LayoutFormatter.java
  src/main/java/org/jabref/logic/layout/LayoutFormatterBasedFormatter.java
  src/main/java/org/jabref/logic/layout/LayoutHelper.java
  src/main/java/org/jabref/logic/layout/format/RemoveLatexCommandsFormatter.java
  src/main/java/org/jabref/model/cleanup/FieldFormatterCleanups.java
  src/main/java/org/jabref/model/cleanup/Formatter.java
  src/test/java/org/jabref/logic/formatter/bibtexfields/CleanupUrlFormatterTest.java
  src/test/java/org/jabref/logic/formatter/bibtexfields/ShortenDOIFormatterTest.java
  src/test/java/org/jabref/logic/layout/format/RemoveBracketsTest.java
  src/test/java/org/jabref/logic/layout/format/RemoveLatexCommandsFormatterTest.java
Labels: ready-for-review

#5544 Reorderable columns in maintable for groups, URI, file and eprint
  CHANGELOG.md
  src/main/java/org/jabref/gui/GUIGlobals.java
  src/main/java/org/jabref/gui/maintable/BibEntryTableViewModel.java
  src/main/java/org/jabref/gui/maintable/ColumnPreferences.java
  src/main/java/org/jabref/gui/maintable/FieldColumn.java
  src/main/java/org/jabref/gui/maintable/MainTableColumn.java
  src/main/java/org/jabref/gui/maintable/MainTableColumnFactory.java
  src/main/java/org/jabref/gui/maintable/MainTableColumnModel.java
  src/main/java/org/jabref/gui/maintable/PersistenceVisualStateTable.java
  src/main/java/org/jabref/gui/preferences/TableColumnsItemModel.java
  src/main/java/org/jabref/gui/preferences/TableColumnsTab.fxml
  src/main/java/org/jabref/gui/preferences/TableColumnsTabView.java
  src/main/java/org/jabref/gui/preferences/TableColumnsTabViewModel.java
  src/main/java/org/jabref/gui/specialfields/SpecialFieldsPreferences.java
  src/main/java/org/jabref/gui/util/FieldsUtil.java
  src/main/java/org/jabref/migrations/PreferencesMigrations.java
  src/main/java/org/jabref/preferences/JabRefPreferences.java
  src/main/resources/l10n/JabRef_en.properties
  src/test/java/org/jabref/gui/maintable/MainTableColumnModelTest.java
  src/test/java/org/jabref/migrations/PreferencesMigrationsTest.java
Labels: ready-for-review

#5427 Upgrade to JDK 13
  .github/workflows/deployment.yml
  .travis.yml
  build.gradle
Labels: build-system, ready-for-review

#5608 Fix jpackage build
  build.gradle
Labels: ready-for-review

#5612 Fix expected result
  src/test/java/org/jabref/logic/importer/fetcher/IsbnFetcherTest.java
Labels: ready-for-review

#5613 Remove Manas Tungare's isbn-to-bibtex fetcher in the queue
  CHANGELOG.md
  src/main/java/org/jabref/logic/importer/fetcher/IsbnFetcher.java
  src/main/java/org/jabref/logic/importer/fetcher/IsbnViaChimboriFetcher.java
  src/test/java/org/jabref/logic/importer/WebFetchersTest.java
  src/test/java/org/jabref/logic/importer/fetcher/IsbnFetcherTest.java
  src/test/java/org/jabref/logic/importer/fetcher/IsbnViaChimboriFetcherTest.java
  src/test/java/org/jabref/logic/importer/fetcher/IsbnViaOttoBibFetcherTest.java
Labels: ready-for-review

#5624 Reenable installation path chooser
  build.gradle
  buildres/windows/JabRef-post-image.wsf
  buildres/windows/JabRef.wxs
  buildres/windows/jabref-chrome.json
  jabref.install4j
Labels: ready-for-review

#5627 Remove output of wrong abstract
  src/main/java/org/jabref/logic/importer/fetcher/AstrophysicsDataSystem.java
  src/test/java/org/jabref/logic/importer/fetcher/AstrophysicsDataSystemTest.java
Labels: ready-for-review

#5629 Fix #5615 side pane not remembering position
  CHANGELOG.md
  src/main/java/org/jabref/gui/JabRefFrame.java
Labels: ready-for-review

#5625 Readd file associations
  build.gradle
  buildres/linux/JabRef.desktop
  buildres/linux/bibtexAssociations.properties
  buildres/mac/bibtexAssociations.properties
  buildres/windows/bibtexAssociations.properties
Labels: linux, ready-for-review

#5652 Update readme
  README.md
Labels: ready-for-review

#5668 Remove dnd option
  CHANGELOG.md
  src/main/java/org/jabref/gui/entryeditor/EntryEditor.java
  src/main/java/org/jabref/gui/entryeditor/FileDragDropPreferenceType.java
  src/main/java/org/jabref/gui/preferences/EntryEditorTab.fxml
  src/main/java/org/jabref/gui/preferences/EntryEditorTabView.java
  src/main/java/org/jabref/gui/preferences/EntryEditorTabViewModel.java
  src/main/java/org/jabref/preferences/JabRefPreferences.java
  src/main/java/org/jabref/preferences/PreferencesService.java
  src/main/resources/l10n/JabRef_en.properties
Labels: ready-for-review

#5671 Fix copy drag and drop action
  CHANGELOG.md
  src/main/java/org/jabref/gui/externalfiles/ExternalFilesEntryLinker.java
Labels: ready-for-review

#5646 Dark Theme Visibility Fixes
  CHANGELOG.md
  src/main/java/org/jabref/gui/Base.css
  src/main/java/org/jabref/gui/Dark.css
  src/main/java/org/jabref/gui/groups/GroupTree.css
  src/main/java/org/jabref/gui/openoffice/StyleSelectDialogView.java
  src/main/java/org/jabref/preferences/JabRefPreferences.java
  src/main/java/org/jabref/preferences/PreferencesService.java
Labels: ready-for-review

#5667 Rename "lookup fulltext" to "download fulltext"
  src/main/java/org/jabref/gui/BasePanel.java
  src/main/java/org/jabref/gui/externalfiles/DownloadFullTextAction.java
  src/main/java/org/jabref/gui/keyboard/KeyBinding.java
  src/main/resources/l10n/JabRef_en.properties
Labels: ready-for-review

#5663 Write customized types in alphabetical order
  CHANGELOG.md
  src/main/java/org/jabref/logic/exporter/BibDatabaseWriter.java
  src/test/java/org/jabref/logic/exporter/BibtexDatabaseWriterTest.java
Labels: ready-for-review

#5670 Improve column preference migration
  src/main/java/org/jabref/gui/maintable/MainTableColumnModel.java
  src/main/java/org/jabref/migrations/PreferencesMigrations.java
  src/main/java/org/jabref/preferences/JabRefPreferences.java
  src/test/java/org/jabref/migrations/PreferencesMigrationsTest.java
Labels: ready-for-review

#5666 Auto file finder follows symbolic links
  CHANGELOG.md
  src/main/java/org/jabref/logic/util/io/CiteKeyBasedFileFinder.java
  src/main/java/org/jabref/logic/util/io/RegExpBasedFileFinder.java
Labels: ready-for-review

#5640 Add tests for "changed" flag
  .gitattributes
  src/main/java/org/jabref/gui/dialogs/AutosaveUIManager.java
  src/main/java/org/jabref/gui/exporter/SaveDatabaseAction.java
  src/main/java/org/jabref/gui/util/DefaultFileUpdateMonitor.java
  src/main/java/org/jabref/logic/exporter/BibDatabaseWriter.java
  src/main/java/org/jabref/model/database/BibDatabaseContext.java
  src/main/java/org/jabref/model/entry/BibEntry.java
  src/test/java/org/jabref/gui/exporter/SaveDatabaseActionTest.java
  src/test/java/org/jabref/logic/exporter/BibtexDatabaseWriterTest.java
  src/test/java/org/jabref/model/entry/BibEntryTest.java
Labels: ready-for-review

#5665 Improve change scanner
  src/main/java/org/jabref/gui/collab/ChangeScanner.java
  src/main/java/org/jabref/gui/collab/DatabaseChangeMonitor.java
  src/main/java/org/jabref/gui/collab/EntryChangeViewModel.java
  src/main/java/org/jabref/gui/collab/EntryDeleteChangeViewModel.java
  src/main/java/org/jabref/gui/collab/StringChangeViewModel.java
  src/main/java/org/jabref/gui/collab/StringNameChangeViewModel.java
  src/main/java/org/jabref/gui/collab/StringRemoveChangeViewModel.java
  src/main/java/org/jabref/gui/importer/actions/AppendDatabaseAction.java
  src/main/java/org/jabref/logic/importer/OpenDatabase.java
  src/main/java/org/jabref/model/database/BibDatabase.java
  src/main/resources/l10n/JabRef_en.properties
  src/test/java/org/jabref/logic/bibtex/comparator/BibDatabaseDiffTest.java
  src/test/java/org/jabref/model/database/BibDatabaseTest.java
Labels: ready-for-review

#5676 Fix database tests and enable running using GitHub workflows
  .github/outdatedDependencies.md
  .github/workflows/check-outdated-dependencies.yml
  .github/workflows/deployment.yml
  .github/workflows/tests.yml
  .travis.yml
  build.gradle
  buildres/gui-tests.sh
  docs/testing.md
  gradle/wrapper/gradle-wrapper.properties
  scripts/after-failure.sh
  src/main/java/org/jabref/gui/shared/SharedDatabaseLoginDialogViewModel.java
  src/main/java/org/jabref/logic/shared/DBMSConnectionProperties.java
  src/main/java/org/jabref/logic/shared/DBMSConnectionPropertiesBuilder.java
  src/main/java/org/jabref/logic/shared/DBMSProcessor.java
  src/main/java/org/jabref/logic/shared/DBMSSynchronizer.java
  src/main/java/org/jabref/model/database/shared/DBMSType.java
  src/main/java/org/jabref/model/database/shared/DatabaseConnectionProperties.java
  src/main/java/org/jabref/model/entry/CanonicalBibEntry.java
  src/main/java/org/jabref/model/entry/SharedBibEntryData.java
  src/test/java/org/jabref/logic/shared/DBMSConnectionPropertiesTest.java
  src/test/java/org/jabref/logic/shared/DBMSConnectionTest.java
  src/test/java/org/jabref/logic/shared/DBMSProcessorTest.java
  src/test/java/org/jabref/logic/shared/DBMSSynchronizerTest.java
  src/test/java/org/jabref/logic/shared/DBMSTypeTest.java
  src/test/java/org/jabref/logic/shared/SynchronizationTestSimulator.java
  src/test/java/org/jabref/logic/shared/TestConnector.java
  src/test/java/org/jabref/logic/shared/TestManager.java
  src/test/java/org/jabref/model/entry/CanonicalBibEntryTest.java
Labels: devcall
