Repository JabRef/jabref, pull requests merged in 2019-08, with the labels that each got.

#5168 Fix fail on testPerformExportForSingleEntry from DocBook5ExporterTest
  src/main/java/org/jabref/logic/exporter/TemplateExporter.java
  src/test/java/org/jabref/logic/exporter/DocBook5ExporterTest.java
Labels: bug, export / save, ready-for-review

#5155 Add a "LaTeX Citations" tab to the entry editor
  CHANGELOG.md
  src/main/java/org/jabref/gui/BasePanel.java
  src/main/java/org/jabref/gui/actions/StandardActions.java
  src/main/java/org/jabref/gui/entryeditor/EntryEditor.java
  src/main/java/org/jabref/gui/entryeditor/EntryEditorPreferences.java
  src/main/java/org/jabref/gui/entryeditor/LatexCitationsTab.java
  src/main/java/org/jabref/gui/entryeditor/LatexCitationsTabViewModel.java
  src/main/java/org/jabref/gui/icon/IconTheme.java
  src/main/java/org/jabref/gui/preferences/EntryEditorPrefsTab.java
  src/main/java/org/jabref/gui/texparser/CitationsDisplay.java
  src/main/java/org/jabref/gui/texparser/FileNodeViewModel.java
  src/main/java/org/jabref/gui/texparser/ParseTexAction.java
  src/main/java/org/jabref/gui/texparser/ParseTexDialogView.java
  src/main/java/org/jabref/gui/texparser/ParseTexDialogViewModel.java
  src/main/java/org/jabref/gui/texparser/ParseTexResult.css
  src/main/java/org/jabref/gui/texparser/ParseTexResult.fxml
  src/main/java/org/jabref/gui/texparser/ParseTexResultView.java
  src/main/java/org/jabref/gui/texparser/ParseTexResultViewModel.java
  src/main/java/org/jabref/gui/texparser/ReferenceViewModel.java
  src/main/java/org/jabref/logic/texparser/DefaultTexParser.java
  src/main/java/org/jabref/logic/texparser/TexBibEntriesResolver.java
  src/main/java/org/jabref/model/texparser/Citation.java
  src/main/java/org/jabref/model/texparser/TexBibEntriesResolverResult.java
  src/main/java/org/jabref/model/texparser/TexParser.java
  src/main/java/org/jabref/model/texparser/TexParserResult.java
  src/main/java/org/jabref/preferences/JabRefPreferences.java
  src/main/java/org/jabref/preferences/PreferencesService.java
  src/main/resources/l10n/JabRef_en.properties
  src/test/java/org/jabref/logic/texparser/DefaultTexParserTest.java
Labels: GSoC, entry-editor, ready-for-review, ui

#5142 Fix substring exception in find unlinked files
  CHANGELOG.md
  src/main/java/org/jabref/logic/importer/fileformat/PdfContentImporter.java
  src/test/java/org/jabref/logic/importer/fileformat/PdfContentImporterTest.java
Labels: ready-for-review

#5184 Fix enum class cast error in TreeSet by specifying an explicit comparator
  src/main/java/org/jabref/gui/collab/EntryChangeViewModel.java
  src/main/java/org/jabref/gui/mergeentries/FetchAndMergeEntry.java
  src/main/java/org/jabref/gui/mergeentries/MergeEntries.java
  src/main/java/org/jabref/model/database/BibDatabase.java
Labels: ready-for-review

#5188 Fix tooltips in CitationsDisplay
  src/main/java/org/jabref/gui/cleanup/FieldFormatterCleanupsPanel.java
  src/main/java/org/jabref/gui/fieldeditors/LinkedFilesEditor.java
  src/main/java/org/jabref/gui/texparser/CitationsDisplay.java
  src/main/java/org/jabref/gui/util/ViewModelListCellFactory.java
  src/main/java/org/jabref/model/texparser/Citation.java
Labels: GSoC, ready-for-review, ui

#5191 Fix issue 5152, tooltip and icon added to group cell
  src/main/java/org/jabref/gui/maintable/MainTableColumnFactory.java
  src/main/resources/l10n/JabRef_en.properties
Labels: ready-for-review

#5134 Fix Permissions of LaTeXintegration
  src/main/java/org/jabref/gui/texparser/ParseTexDialogViewModel.java
  src/main/resources/l10n/JabRef_en.properties
Labels: GSoC, ready-for-review, ui

#5141 Conversion of preferencesDialog/advancedTab, networkTab and groupsTab to mvvm
  src/main/java/org/jabref/gui/Base.css
  src/main/java/org/jabref/gui/icon/IconTheme.java
  src/main/java/org/jabref/gui/preferences/AbstractPreferenceTabView.java
  src/main/java/org/jabref/gui/preferences/AdvancedTab.fxml
  src/main/java/org/jabref/gui/preferences/AdvancedTab.java
  src/main/java/org/jabref/gui/preferences/AdvancedTabView.java
  src/main/java/org/jabref/gui/preferences/AdvancedTabViewModel.java
  src/main/java/org/jabref/gui/preferences/AppearancePrefsTab.java
  src/main/java/org/jabref/gui/preferences/BibtexKeyPatternPrefTab.java
  src/main/java/org/jabref/gui/preferences/EntryEditorPrefsTab.java
  src/main/java/org/jabref/gui/preferences/ExportSortingPrefsTab.java
  src/main/java/org/jabref/gui/preferences/ExternalTab.fxml
  src/main/java/org/jabref/gui/preferences/ExternalTabView.java
  src/main/java/org/jabref/gui/preferences/ExternalTabViewModel.java
  src/main/java/org/jabref/gui/preferences/FileTab.fxml
  src/main/java/org/jabref/gui/preferences/FileTabView.java
  src/main/java/org/jabref/gui/preferences/FileTabViewModel.java
  src/main/java/org/jabref/gui/preferences/GeneralTab.fxml
  src/main/java/org/jabref/gui/preferences/GeneralTabView.java
  src/main/java/org/jabref/gui/preferences/GeneralTabViewModel.java
  src/main/java/org/jabref/gui/preferences/GroupsPrefsTab.java
  src/main/java/org/jabref/gui/preferences/GroupsTab.fxml
  src/main/java/org/jabref/gui/preferences/GroupsTabView.java
  src/main/java/org/jabref/gui/preferences/GroupsTabViewModel.java
  src/main/java/org/jabref/gui/preferences/ImportSettingsTab.java
  src/main/java/org/jabref/gui/preferences/NameFormatterTab.java
  src/main/java/org/jabref/gui/preferences/NetworkTab.java
  src/main/java/org/jabref/gui/preferences/PreferenceTabViewModel.java
  src/main/java/org/jabref/gui/preferences/PreferencesDialogView.java
  src/main/java/org/jabref/gui/preferences/PreferencesDialogViewModel.java
  src/main/java/org/jabref/gui/preferences/PreferencesSearchHandler.java
  src/main/java/org/jabref/gui/preferences/PreferencesTab.java
  src/main/java/org/jabref/gui/preferences/PrefsTab.java
  src/main/java/org/jabref/gui/preferences/PreviewTabView.java
  src/main/java/org/jabref/gui/preferences/PreviewTabViewModel.java
  src/main/java/org/jabref/gui/preferences/TableColumnsTab.java
  src/main/java/org/jabref/gui/preferences/TablePrefsTab.java
  src/main/java/org/jabref/gui/preferences/XmpPrefsTab.java
  src/main/java/org/jabref/gui/push/PushToApplicationSettings.java
  src/main/java/org/jabref/logic/net/ProxyRegisterer.java
  src/main/resources/l10n/JabRef_en.properties
Labels: ready-for-review

#5086 Bugfix/5045 : Modified the existing logic to comply crossref resolution with biblatex specification
  src/main/java/org/jabref/model/entry/BibEntry.java
Labels: ready-for-review

#5200 Add encoding checker for parsing LaTeX files
  build.gradle
  src/main/java/org/jabref/logic/texparser/DefaultTexParser.java
  src/test/java/org/jabref/logic/texparser/DefaultTexParserTest.java
  src/test/resources/org/jabref/logic/texparser/iso-8859-1.tex
  src/test/resources/org/jabref/logic/texparser/iso-8859-15.tex
  src/test/resources/org/jabref/logic/texparser/utf-8.tex
Labels: GSoC, latexParser

#5204 Separate New Article and New Entry Action in the Toolbar
  src/main/java/org/jabref/gui/JabRefFrame.java
  src/main/java/org/jabref/gui/actions/StandardActions.java
  src/main/java/org/jabref/gui/icon/IconTheme.java
Labels: enhancement, jabcon, ready-for-review, ui, usability5

#5202 Add ADR-0004
  docs/adr/0000-use-markdown-architectural-decision-records.md
  docs/adr/0004-use-mariadb-connector.md
  docs/adr/index.md
  docs/adr/template.md
  external-libraries.txt
Labels: ready-for-review

#5138 Allow negation (`!`, NOT operator) in \\begin{...} conditionals
  CHANGELOG.md
  src/main/java/org/jabref/logic/layout/LayoutEntry.java
  src/test/java/org/jabref/logic/layout/LayoutTest.java
Labels: jabcon, ready-for-review

#5210 Fix Double Paste on Different OS
  src/main/java/org/jabref/gui/JabRefFrame.java
Labels: bug, macOS, ready-for-review

#5209 Fix lookup entry types in enums
  src/main/java/org/jabref/model/entry/types/EntryType.java
  src/main/java/org/jabref/model/entry/types/EntryTypeFactory.java
  src/main/java/org/jabref/model/entry/types/StandardEntryType.java
  src/main/java/org/jabref/model/entry/types/UnknownEntryType.java
  src/test/java/org/jabref/model/entry/EntryTypeFactoryTest.java
Labels: ready-for-review

#5212 Minor improvements to TexParser
  src/main/java/org/jabref/gui/entryeditor/LatexCitationsTabViewModel.java
  src/main/java/org/jabref/logic/texparser/DefaultTexParser.java
  src/main/java/org/jabref/model/texparser/TexParserResult.java
  src/test/java/org/jabref/logic/texparser/DefaultTexParserTest.java
  src/test/resources/org/jabref/logic/texparser/iso-8859-1.tex
  src/test/resources/org/jabref/logic/texparser/iso-8859-15.tex
  src/test/resources/org/jabref/logic/texparser/utf-8.tex
Labels: GSoC, ready-for-review

#5213 Use UTF-8 as default encoding for files
  src/main/java/org/jabref/logic/journals/AbbreviationParser.java
  src/main/java/org/jabref/logic/journals/JournalAbbreviationLoader.java
Labels: ready-for-review

#5215 fix bug where main file directory is not set correctly
  src/main/java/org/jabref/gui/preferences/FileTabViewModel.java
  src/main/java/org/jabref/preferences/JabRefPreferences.java
Labels: ready-for-review

#5150 Fix for issue 4629
  src/main/java/org/jabref/gui/JabRefFrame.java
  src/main/java/org/jabref/gui/actions/ActionFactory.java
  src/main/java/org/jabref/gui/actions/JabRefAction.java
  src/main/java/org/jabref/gui/actions/OldCommandWrapper.java
  src/main/java/org/jabref/gui/actions/OldDatabaseCommandWrapper.java
  src/main/java/org/jabref/gui/actions/Sources.java
Labels: ready-for-review

#5217 Switch from tika-parsers to tika-core
  build.gradle
  docs/adr/0005-fully-support-utf8-only-for-latex-files.md
  docs/adr/index.md
  src/main/java/org/jabref/logic/texparser/DefaultTexParser.java
  src/test/java/org/jabref/logic/texparser/DefaultTexParserTest.java
Labels: ready-for-review

#5218 Preview in Entryeditor
  src/main/java/org/jabref/gui/BasePanel.java
  src/main/java/org/jabref/gui/BasePanelMode.java
  src/main/java/org/jabref/gui/JabRefFrame.java
  src/main/java/org/jabref/gui/actions/Actions.java
  src/main/java/org/jabref/gui/actions/StandardActions.java
  src/main/java/org/jabref/gui/entryeditor/EntryEditor.java
  src/main/java/org/jabref/gui/entryeditor/FieldsEditorTab.java
  src/main/java/org/jabref/gui/keyboard/KeyBinding.java
  src/main/java/org/jabref/gui/preview/PreviewPanel.java
  src/main/resources/l10n/JabRef_en.properties
  src/test/resources/testbib/complex.bib
Labels: build-system, jabcon, ready-for-review

#5120 Solve formatting in test bib files
  src/test/resources/org/jabref/logic/importer/fileformat/RisImporterTest1.bib
  src/test/resources/org/jabref/logic/importer/fileformat/RisImporterTest8_date.bib
Labels: waiting-for-customer-feedback

#5224 Fix exception when adding field formatter in 'Cleanup entries' dialog
  src/main/java/org/jabref/gui/cleanup/FieldFormatterCleanupsPanel.java
Labels: ready-for-review

#5192 Add import feature to LaTeX Citations Search
  src/main/java/org/jabref/gui/importer/ImportEntriesDialog.java
  src/main/java/org/jabref/gui/texparser/ParseTexDialogView.java
  src/main/java/org/jabref/gui/texparser/ParseTexDialogViewModel.java
  src/main/java/org/jabref/gui/texparser/ParseTexResult.fxml
  src/main/java/org/jabref/gui/texparser/ParseTexResultView.java
  src/main/java/org/jabref/gui/texparser/ParseTexResultViewModel.java
  src/main/java/org/jabref/gui/texparser/ReferenceViewModel.java
  src/main/java/org/jabref/logic/texparser/DefaultTexParser.java
  src/main/java/org/jabref/logic/texparser/TexBibEntriesResolver.java
  src/main/java/org/jabref/model/texparser/TexBibEntriesResolverResult.java
  src/main/java/org/jabref/model/texparser/TexParserResult.java
  src/main/resources/l10n/JabRef_en.properties
  src/test/java/org/jabref/logic/texparser/DefaultTexParserTest.java
  src/test/java/org/jabref/logic/texparser/TexBibEntriesResolverTest.java
  src/test/java/org/jabref/logic/texparser/TexParserTest.java
  src/test/resources/org/jabref/logic/texparser/origin.bib
Labels: GSoC, import, latexParser, ready-for-review, ui

#5229 Add DOI, URL, Eprint field to general tab layout
  src/main/java/org/jabref/model/entry/field/FieldFactory.java
Labels: ready-for-review

#5230 Treat unknown fields as multi-line fields
  src/main/java/org/jabref/gui/fieldeditors/FieldEditors.java
  src/main/java/org/jabref/gui/fieldeditors/MultilineEditor.java
  src/main/java/org/jabref/model/entry/field/FieldFactory.java
  src/main/java/org/jabref/model/entry/field/FieldProperty.java
  src/main/java/org/jabref/model/entry/field/StandardField.java
Labels: ready-for-review

#5231 Let dependabot update git submodules
  .dependabot/config.yml
Labels: ready-for-review

#5234 Remove testing on OracleJDK - we stick to OpenJDK only
  .travis.yml
Labels: ready-for-review

#5247 Switch to Jakarta libraries
  build.gradle
  src/main/java/module-info.java
  src/main/java/org/jabref/logic/l10n/Localization.java
Labels: ready-for-review

#5249 Make it easier to compile with intellj
  .gitignore
  .idea/runConfigurations/JabRef_Main.xml
  build.gradle
Labels: ready-for-review
