Repository JabRef/jabref, pull requests merged in 2019-04, with the labels that each got.

#4822 Convert AutoLinkFilesAction to JavaFX
  src/main/java/org/jabref/JabRefMain.java
  src/main/java/org/jabref/cli/ArgumentProcessor.java
  src/main/java/org/jabref/gui/JabRefFrame.java
  src/main/java/org/jabref/gui/actions/AutoLinkFilesAction.java
  src/main/java/org/jabref/gui/externalfiles/AutoLinkFilesAction.java
  src/main/java/org/jabref/gui/externalfiles/AutoSetFileLinksUtil.java
  src/main/java/org/jabref/gui/externalfiles/AutoSetLinks.java
  src/main/java/org/jabref/gui/importer/ParserResultWarningDialog.java
  src/main/java/org/jabref/gui/importer/actions/MergeReviewIntoCommentAction.java
  src/main/java/org/jabref/gui/importer/actions/MergeReviewIntoCommentConfirmationDialog.java
  src/main/java/org/jabref/gui/mergeentries/FetchAndMergeEntry.java
Labels: ready-for-review

#4835 All buttons in custom dialogs react on enter
  src/main/java/org/jabref/gui/util/BaseDialog.java
Labels: ready-for-review

#4838 Adds a delay to the group expansion
  src/main/java/org/jabref/gui/groups/GroupTreeView.java
Labels: ready-for-review

#4694 Remove global search feature
  CHANGELOG.md
  src/main/java/org/jabref/gui/JabRefFrame.java
  src/main/java/org/jabref/gui/icon/IconTheme.java
  src/main/java/org/jabref/gui/keyboard/KeyBinding.java
  src/main/java/org/jabref/gui/search/GlobalSearchBar.java
  src/main/java/org/jabref/gui/search/GlobalSearchWorker.java
  src/main/java/org/jabref/gui/search/SearchResultFrame.java
  src/main/java/org/jabref/preferences/SearchPreferences.java
  src/main/resources/l10n/JabRef_en.properties
Labels: ready-for-review

#4839 Fix parser exception when loading tex-groups with non-existing file
  CHANGELOG.md
  src/main/java/org/jabref/gui/groups/GroupDialog.java
  src/main/java/org/jabref/logic/auxparser/DefaultAuxParser.java
  src/main/java/org/jabref/logic/importer/util/GroupsParser.java
  src/main/java/org/jabref/model/groups/TexGroup.java
  src/test/java/org/jabref/logic/exporter/GroupSerializerTest.java
  src/test/java/org/jabref/logic/importer/util/GroupsParserTest.java
Labels: ready-for-review

#4848 Fix custom name formatters
  CHANGELOG.md
  src/main/java/org/jabref/logic/layout/LayoutEntry.java
  src/main/java/org/jabref/logic/layout/format/NameFormatter.java
  src/main/java/org/jabref/logic/layout/format/NotFoundFormatter.java
  src/test/java/org/jabref/logic/layout/LayoutTest.java
Labels: ready-for-review

#4801 Fixed group creation with default settings
  src/main/java/org/jabref/gui/groups/GroupDialog.java
Labels: ready-for-review

#4863 Add author normalizer for medline import
  CHANGELOG.md
  src/main/java/org/jabref/logic/importer/fetcher/MedlineFetcher.java
  src/test/java/org/jabref/logic/importer/fetcher/MedlineFetcherTest.java
Labels: ready-for-review

#4860 Remove deprecated awt apple extension
  lib/AppleJavaExtensions.jar
  src/main/java/org/jabref/gui/JabRefFrame.java
  src/main/java/org/jabref/gui/OSXCompatibleToolbar.java
  src/main/java/osx/macadapter/MacAdapter.java
Labels: macOS

#4828 #4795 disable menu item if database not connected
  src/main/java/org/jabref/gui/JabRefFrame.java
  src/main/java/org/jabref/gui/actions/OldDatabaseCommandWrapper.java
  src/main/java/org/jabref/gui/push/PushToApplicationAction.java
  src/main/java/org/jabref/gui/push/PushToApplicationButton.java
Labels: ready-for-review

#4797 Fix right clicking on any entry and selecting "Open folder" results in the NullPointer exception
  .mailmap
  CHANGELOG.md
  src/main/java/org/jabref/gui/desktop/JabRefDesktop.java
  src/main/java/org/jabref/gui/desktop/os/Linux.java
  src/main/java/org/jabref/gui/preferences/ExternalTab.java
  src/main/java/org/jabref/preferences/JabRefPreferences.java
  src/main/resources/l10n/JabRef_en.properties
Labels: ready-for-review

#4871 Post change notifications on JavaFX
  src/main/java/org/jabref/gui/BasePanel.java
  src/main/java/org/jabref/gui/actions/CleanupAction.java
  src/main/java/org/jabref/gui/maintable/MainTable.java
  src/main/java/org/jabref/gui/util/BindingsHelper.java
  src/main/java/org/jabref/gui/util/UiThreadList.java
Labels: ready-for-review

#4876 Fix saving of Strings
  src/main/java/org/jabref/gui/metadata/BibtexStringEditorDialogView.java
  src/main/java/org/jabref/gui/metadata/BibtexStringEditorDialogViewModel.java
  src/main/java/org/jabref/model/database/BibDatabase.java
  src/main/resources/l10n/JabRef_en.properties
  src/test/java/org/jabref/model/database/BibDatabaseTest.java
Labels: ready-for-review

#4885 Convert ExternalFileTypeEntryEditor to javafx
  src/main/java/org/jabref/gui/externalfiletype/CustomizeExternalFileTypesViewModel.java
  src/main/java/org/jabref/gui/externalfiletype/EditExternalFileTypeDialog.fxml
  src/main/java/org/jabref/gui/externalfiletype/EditExternalFileTypeEntryDialog.java
  src/main/java/org/jabref/gui/externalfiletype/EditExternalFileTypeViewModel.java
  src/main/java/org/jabref/gui/externalfiletype/ExternalFileTypeEntryEditor.java
Labels: ready-for-review

#4884 Improve Snackbar Dialogs for Copy to Clipboard Menu
  src/main/java/org/jabref/gui/BasePanel.java
  src/main/java/org/jabref/gui/JabRefDialogService.java
  src/main/java/org/jabref/gui/JabRefFrame.java
  src/main/java/org/jabref/gui/actions/CopyBibTeXKeyAndLinkAction.java
  src/main/java/org/jabref/gui/worker/CitationStyleToClipboardWorker.java
  src/main/java/org/jabref/preferences/JabRefPreferences.java
  src/main/resources/l10n/JabRef_en.properties
Labels: ready-for-review

#4891 Convert PushToApp Settings to javafx
  src/main/java/org/jabref/gui/preferences/ExternalTab.java
  src/main/java/org/jabref/gui/push/PushToApplication.java
  src/main/java/org/jabref/gui/push/PushToApplicationAction.java
  src/main/java/org/jabref/gui/push/PushToApplicationSettings.java
  src/main/java/org/jabref/gui/push/PushToApplicationSettingsDialog.java
  src/main/java/org/jabref/gui/push/PushToEmacsSettings.java
  src/main/java/org/jabref/gui/push/PushToLyx.java
  src/main/java/org/jabref/gui/push/PushToLyxSettings.java
  src/main/java/org/jabref/gui/push/PushToVimSettings.java
  src/main/resources/l10n/JabRef_en.properties
Labels: ready-for-review

#4895 Remove JGoodies
  build.gradle
  licenses/com.jgoodies_jgoodies-common.txt
  licenses/com.jgoodies_jgoodies-forms.txt
  licenses/com.jgoodies_jgoodies-looks.txt
Labels: ready-for-review

#4855 Improve full text search for several files
  src/main/java/org/jabref/gui/externalfiles/FindFullTextAction.java
  src/main/java/org/jabref/gui/fieldeditors/LinkedFileViewModel.java
Labels: ready-for-review

#4896 Store column widths as integer
  src/main/java/org/jabref/gui/maintable/PersistenceVisualStateTable.java
  src/main/java/org/jabref/gui/preferences/TableColumnsTab.java
Labels: ready-for-review

#4904 Fix Some Codacy Code Convention Issues
  src/main/java/org/jabref/gui/libraryproperties/LibraryPropertiesDialogView.java
  src/main/java/org/jabref/gui/libraryproperties/LibraryPropertiesDialogViewModel.java
  src/main/java/org/jabref/logic/auxparser/DefaultAuxParser.java
Labels: code-quality, ready-for-review

#4910 Make Group dialog resizable
  src/main/java/org/jabref/gui/groups/GroupDialog.java
Labels: ready-for-review

#4916 Fix for the issue #4912
  src/main/java/org/jabref/logic/bibtexkeypattern/BibtexKeyGenerator.java
  src/test/java/org/jabref/logic/bibtexkeypattern/BibtexKeyGeneratorTest.java
Labels: ready-for-review

#4898 Rework PosteOpenActions to javafx (custom entry type import)
  src/main/java/org/jabref/gui/customentrytypes/CustomEntryTypesManager.java
  src/main/java/org/jabref/gui/importer/ImportCustomEntryTypesDialog.fxml
  src/main/java/org/jabref/gui/importer/ImportCustomEntryTypesDialog.java
  src/main/java/org/jabref/gui/importer/ImportCustomEntryTypesDialogViewModel.java
  src/main/java/org/jabref/gui/importer/actions/CheckForNewEntryTypesAction.java
  src/main/java/org/jabref/gui/importer/actions/OpenDatabaseAction.java
  src/main/java/org/jabref/migrations/CustomEntryTypePreferenceMigration.java
  src/main/java/org/jabref/model/entry/BiblatexEntryType.java
  src/main/java/org/jabref/model/entry/BibtexEntryType.java
  src/main/java/org/jabref/model/entry/CustomEntryType.java
  src/main/java/org/jabref/model/entry/EntryType.java
  src/main/java/org/jabref/preferences/JabRefPreferences.java
  src/main/java/org/jabref/preferences/PreferencesService.java
  src/main/resources/l10n/JabRef_en.properties
Labels: ready-for-review

#4931 Improve author parsing
  CHANGELOG.md
  src/main/java/org/jabref/model/entry/Author.java
  src/main/java/org/jabref/model/entry/AuthorListParser.java
  src/test/java/org/jabref/model/entry/AuthorListParameterTest.java
  src/test/java/org/jabref/model/entry/AuthorTest.java
Labels: ready-for-review
