Repository JabRef/jabref, pull requests merged in 2019-07, with the labels that each got.

#5068 Add copy linked files action to contextmneu in general tab
  src/main/java/org/jabref/gui/copyfiles/CopyFilesAction.java
  src/main/java/org/jabref/gui/copyfiles/CopyFilesDialogView.java
  src/main/java/org/jabref/gui/copyfiles/CopySingleFileAction.java
  src/main/java/org/jabref/gui/externalfiles/FindFullTextAction.java
  src/main/java/org/jabref/gui/fieldeditors/LinkedFileViewModel.java
  src/main/java/org/jabref/gui/fieldeditors/LinkedFilesEditor.java
  src/main/java/org/jabref/gui/fieldeditors/LinkedFilesEditorViewModel.java
  src/main/java/org/jabref/gui/maintable/MainTableColumnFactory.java
  src/main/java/org/jabref/preferences/JabRefPreferences.java
  src/main/java/org/jabref/preferences/PreferencesService.java
  src/main/resources/l10n/JabRef_en.properties
  src/test/java/org/jabref/gui/fieldeditors/LinkedFileViewModelTest.java
Labels: ready-for-review

#4596 Mr DLib Label, Error Handling, Display Confirmations
  CHANGELOG.md
  src/main/java/org/jabref/gui/entryeditor/EntryEditor.css
  src/main/java/org/jabref/gui/entryeditor/EntryEditor.java
  src/main/java/org/jabref/gui/entryeditor/RelatedArticlesTab.java
  src/main/java/org/jabref/logic/importer/fetcher/MrDLibFetcher.java
  src/main/java/org/jabref/logic/importer/fileformat/MrDLibImporter.java
  src/main/resources/l10n/JabRef_en.properties
  src/test/java/org/jabref/logic/importer/fileformat/MrDLibImporterTest.java
Labels: ready-for-review

#5101 Fixes RIS' data field
  src/main/java/org/jabref/logic/importer/fileformat/RisImporter.java
  src/test/resources/org/jabref/logic/importer/fileformat/RisImporterTest3.bib
  src/test/resources/org/jabref/logic/importer/fileformat/RisImporterTestDate1.1.bib
  src/test/resources/org/jabref/logic/importer/fileformat/RisImporterTestDate1.1.ris
  src/test/resources/org/jabref/logic/importer/fileformat/RisImporterTestDate1.2.bib
  src/test/resources/org/jabref/logic/importer/fileformat/RisImporterTestDate1.2.ris
Labels: ready-for-review

#5103 Add user interface for the TEX parser tool
  CHANGELOG.md
  src/main/java/org/jabref/gui/JabRefFrame.java
  src/main/java/org/jabref/gui/actions/StandardActions.java
  src/main/java/org/jabref/gui/texparser/FileNodeViewModel.java
  src/main/java/org/jabref/gui/texparser/ParseTexAction.java
  src/main/java/org/jabref/gui/texparser/ParseTexDialog.fxml
  src/main/java/org/jabref/gui/texparser/ParseTexDialogView.java
  src/main/java/org/jabref/gui/texparser/ParseTexDialogViewModel.java
  src/main/java/org/jabref/gui/texparser/ParseTexResult.css
  src/main/java/org/jabref/gui/texparser/ParseTexResult.fxml
  src/main/java/org/jabref/gui/texparser/ParseTexResultView.java
  src/main/java/org/jabref/gui/texparser/ParseTexResultViewModel.java
  src/main/java/org/jabref/gui/texparser/ReferenceViewModel.java
  src/main/java/org/jabref/gui/util/RecursiveTreeItem.java
  src/main/java/org/jabref/logic/util/StandardFileType.java
  src/main/java/org/jabref/model/texparser/Citation.java
  src/main/java/org/jabref/model/texparser/TexBibEntriesResolverResult.java
  src/main/java/org/jabref/model/texparser/TexParserResult.java
  src/main/resources/l10n/JabRef_en.properties
Labels: ready-for-review

#5121 Add option to allow for integers in field "edition" when running database in bibtex mode
  CHANGELOG.md
  src/main/java/org/jabref/gui/fieldeditors/FieldEditors.java
  src/main/java/org/jabref/gui/integrity/IntegrityCheckAction.java
  src/main/java/org/jabref/gui/preferences/GeneralTab.fxml
  src/main/java/org/jabref/gui/preferences/GeneralTabView.java
  src/main/java/org/jabref/gui/preferences/GeneralTabViewModel.java
  src/main/java/org/jabref/logic/integrity/EditionChecker.java
  src/main/java/org/jabref/logic/integrity/FieldCheckers.java
  src/main/java/org/jabref/logic/integrity/IntegrityCheck.java
  src/main/java/org/jabref/preferences/JabRefPreferences.java
  src/main/java/org/jabref/preferences/PreferencesService.java
  src/main/resources/l10n/JabRef_en.properties
  src/test/java/org/jabref/logic/integrity/IntegrityCheckTest.java
Labels: ready-for-review

#5135 Rename "LaTeX references search"
  src/main/java/org/jabref/gui/actions/StandardActions.java
  src/main/java/org/jabref/gui/texparser/ParseTexDialogView.java
  src/main/java/org/jabref/gui/texparser/ParseTexResultView.java
  src/main/resources/l10n/JabRef_en.properties
Labels: GSoC, ready-for-review

#5137 Add LaTeX citations tab to the entry editor
  CHANGELOG.md
  src/main/java/org/jabref/gui/BasePanel.java
  src/main/java/org/jabref/gui/actions/StandardActions.java
  src/main/java/org/jabref/gui/entryeditor/EntryEditor.java
  src/main/java/org/jabref/gui/entryeditor/EntryEditorPreferences.java
  src/main/java/org/jabref/gui/entryeditor/LatexCitationsTab.java
  src/main/java/org/jabref/gui/entryeditor/LatexCitationsTabViewModel.java
  src/main/java/org/jabref/gui/icon/IconTheme.java
  src/main/java/org/jabref/gui/preferences/EntryEditorPrefsTab.java
  src/main/java/org/jabref/gui/texparser/CitationViewModel.java
  src/main/java/org/jabref/gui/texparser/FileNodeViewModel.java
  src/main/java/org/jabref/gui/texparser/ParseTexAction.java
  src/main/java/org/jabref/gui/texparser/ParseTexDialogView.java
  src/main/java/org/jabref/gui/texparser/ParseTexDialogViewModel.java
  src/main/java/org/jabref/gui/texparser/ParseTexResult.css
  src/main/java/org/jabref/gui/texparser/ParseTexResultView.java
  src/main/java/org/jabref/gui/texparser/ParseTexResultViewModel.java
  src/main/java/org/jabref/gui/texparser/ReferenceViewModel.java
  src/main/java/org/jabref/gui/util/DefaultTaskExecutor.java
  src/main/java/org/jabref/logic/texparser/DefaultTexParser.java
  src/main/java/org/jabref/logic/texparser/TexBibEntriesResolver.java
  src/main/java/org/jabref/model/texparser/Citation.java
  src/main/java/org/jabref/model/texparser/TexBibEntriesResolverResult.java
  src/main/java/org/jabref/model/texparser/TexParser.java
  src/main/java/org/jabref/model/texparser/TexParserResult.java
  src/main/java/org/jabref/preferences/JabRefPreferences.java
  src/main/java/org/jabref/preferences/PreferencesService.java
  src/main/resources/l10n/JabRef_en.properties
  src/test/java/org/jabref/logic/texparser/DefaultTexParserTest.java
Labels: GSoC, entry-editor, ready-for-review, ui
