Repository JabRef/jabref, pull requests merged in 2020-05, with the labels that each got.

#6290 Fix selecting custom export for copy to clipboard with uppercase file ext
  CHANGELOG.md
  src/main/java/org/jabref/gui/JabRefFrame.java
  src/main/java/org/jabref/gui/exporter/ExportToClipboardAction.java
  src/main/java/org/jabref/gui/maintable/RightClickMenu.java
  src/main/java/org/jabref/gui/preview/CopyCitationAction.java
  src/main/java/org/jabref/logic/exporter/TemplateExporter.java
  src/main/java/org/jabref/logic/util/StandardFileType.java
  src/main/java/org/jabref/logic/util/UnknownFileType.java
Labels: status: ready-for-review

#6386 Fix jstyle was invalid with default section at the start
  CHANGELOG.md
  eclipse.gradle
  src/main/java/org/jabref/gui/openoffice/StyleSelectDialogViewModel.java
  src/main/java/org/jabref/logic/openoffice/OOBibStyle.java
  src/main/resources/l10n/JabRef_en.properties
  src/test/java/org/jabref/logic/openoffice/OOBibStyleTest.java
  src/test/resources/org/jabref/logic/openoffice/testWithDefaultAtFirstLIne.jstyle
Labels: status: ready-for-review

#6122 Fix action helper
  CHANGELOG.md
  src/main/java/org/jabref/gui/actions/ActionHelper.java
  src/main/java/org/jabref/gui/maintable/OpenFolderAction.java
Labels: status: ready-for-review

#6381 Added a download checkbox to the import dialog
  CHANGELOG.md
  src/main/java/org/jabref/gui/fieldeditors/LinkedFileViewModel.java
  src/main/java/org/jabref/gui/importer/ImportEntriesDialog.fxml
  src/main/java/org/jabref/gui/importer/ImportEntriesDialog.java
  src/main/java/org/jabref/gui/importer/ImportEntriesViewModel.java
  src/main/java/org/jabref/gui/preferences/ImportTab.fxml
  src/main/java/org/jabref/gui/preferences/ImportTabView.java
  src/main/java/org/jabref/gui/preferences/ImportTabViewModel.java
  src/main/java/org/jabref/model/entry/BibEntry.java
  src/main/java/org/jabref/model/metadata/FilePreferences.java
  src/main/java/org/jabref/preferences/JabRefPreferences.java
  src/main/resources/l10n/JabRef_en.properties
Labels: status: ready-for-review

#6300 Remove dash from illegal characters.
  CHANGELOG.md
  src/main/java/org/jabref/gui/customizefields/CustomizeGeneralFieldsDialogViewModel.java
  src/main/java/org/jabref/gui/fieldeditors/FieldEditors.java
  src/main/java/org/jabref/gui/integrity/IntegrityCheckAction.java
  src/main/java/org/jabref/gui/preferences/BibtexKeyPatternTab.fxml
  src/main/java/org/jabref/gui/preferences/BibtexKeyPatternTabView.java
  src/main/java/org/jabref/gui/preferences/BibtexKeyPatternTabViewModel.java
  src/main/java/org/jabref/gui/preferences/GeneralTab.fxml
  src/main/java/org/jabref/gui/preferences/GeneralTabView.java
  src/main/java/org/jabref/gui/preferences/GeneralTabViewModel.java
  src/main/java/org/jabref/logic/bibtexkeypattern/BibtexKeyGenerator.java
  src/main/java/org/jabref/logic/bibtexkeypattern/BibtexKeyPatternPreferences.java
  src/main/java/org/jabref/logic/bibtexkeypattern/BracketedPattern.java
  src/main/java/org/jabref/logic/importer/fileformat/EndnoteImporter.java
  src/main/java/org/jabref/logic/integrity/FieldCheckers.java
  src/main/java/org/jabref/logic/integrity/IntegrityCheck.java
  src/main/java/org/jabref/logic/integrity/ValidBibtexKeyChecker.java
  src/main/java/org/jabref/preferences/GeneralPreferences.java
  src/main/java/org/jabref/preferences/JabRefPreferences.java
  src/main/java/org/jabref/preferences/PreferencesService.java
  src/main/resources/l10n/JabRef_en.properties
  src/test/java/org/jabref/logic/bibtexkeypattern/BibtexKeyGeneratorTest.java
  src/test/java/org/jabref/logic/bibtexkeypattern/MakeLabelWithDatabaseTest.java
  src/test/java/org/jabref/logic/integrity/IntegrityCheckTest.java
Labels: status: ready-for-review

#6444 add concise message when SaveException happen
  src/main/java/org/jabref/gui/exporter/SaveDatabaseAction.java
Labels: status: ready-for-review

#6287 UI consistency - BibTexStringEditorDialog rework
  src/main/java/org/jabref/gui/Base.css
  src/main/java/org/jabref/gui/entryeditor/EntryEditor.css
  src/main/java/org/jabref/gui/metadata/BibtexStringEditorDialog.fxml
  src/main/java/org/jabref/gui/metadata/BibtexStringEditorDialogView.java
  src/main/java/org/jabref/gui/metadata/BibtexStringEditorDialogViewModel.java
  src/main/java/org/jabref/gui/metadata/BibtexStringEditorItemModel.java
  src/main/java/org/jabref/gui/util/ViewModelListCellFactory.java
  src/main/java/org/jabref/gui/util/ViewModelTextFieldTableCellVisualizationFactory.java
  src/main/resources/l10n/JabRef_en.properties
Labels: status: ready-for-review

#6426 Sorting custom entry fields that contain numerical values
  CHANGELOG.md
  src/main/java/org/jabref/gui/maintable/MainTableColumnFactory.java
  src/main/java/org/jabref/gui/util/comparator/NumericFieldComparator.java
  src/test/java/org/jabref/gui/util/comparator/NumericFieldComparatorTest.java
Labels: status: ready-for-review

#6402 Fix action helper when no library is open
  src/main/java/org/jabref/gui/actions/ActionHelper.java
  src/main/java/org/jabref/gui/documentviewer/ShowDocumentViewerAction.java
Labels: status: changes required

#6440 Add support for jumping in ordered author list by typing letters
  CHANGELOG.md
  src/main/java/org/jabref/gui/maintable/MainTable.java
Labels: status: ready-for-review

#6379 Fix library sort order get lost
  src/main/java/org/jabref/model/metadata/SaveOrderConfig.java
Labels: status: ready-for-review

#6455 Fix autocomplete thread
  CHANGELOG.md
  build.gradle
  src/main/java/org/jabref/gui/autocompleter/AutoCompletionTextInputBinding.java
  src/main/java/org/jabref/gui/fieldeditors/SimpleEditor.java
Labels: status: ready-for-review

#6443 Implement task progress indicator (and dialog) in the toolbar
  CHANGELOG.md
  src/main/java/org/jabref/Globals.java
  src/main/java/org/jabref/gui/Base.css
  src/main/java/org/jabref/gui/DialogService.java
  src/main/java/org/jabref/gui/JabRefDialogService.java
  src/main/java/org/jabref/gui/JabRefFrame.java
  src/main/java/org/jabref/gui/StateManager.java
  src/main/java/org/jabref/gui/externalfiles/DownloadFullTextAction.java
  src/main/java/org/jabref/gui/fieldeditors/LinkedFileViewModel.java
  src/main/java/org/jabref/gui/util/BackgroundTask.java
  src/main/java/org/jabref/gui/util/DefaultTaskExecutor.java
  src/main/resources/l10n/JabRef_en.properties
Labels: status: ready-for-review

#6469 Fix bracket collisions
  CHANGELOG.md
  src/main/java/org/jabref/logic/bibtexkeypattern/BracketedPattern.java
  src/test/java/org/jabref/logic/util/BracketedPatternTest.java
Labels: status: ready-for-review

#6427 Add truncate as a BibTex key modifier
  CHANGELOG.md
  src/main/java/org/jabref/logic/formatter/Formatters.java
  src/main/java/org/jabref/logic/formatter/minifier/TruncateFormatter.java
  src/main/java/org/jabref/logic/util/io/FileUtil.java
  src/main/resources/l10n/JabRef_en.properties
  src/test/java/org/jabref/logic/bibtexkeypattern/BracketedPatternTest.java
  src/test/java/org/jabref/logic/formatter/FormatterTest.java
  src/test/java/org/jabref/logic/formatter/minifier/TruncateFormatterTest.java
Labels: status: ready-for-review

#6478 Fix libre office connection and other progress dialogs
  lib/libreoffice.jar
  src/main/java/org/jabref/gui/DialogService.java
  src/main/java/org/jabref/gui/JabRefDialogService.java
  src/main/java/org/jabref/gui/WaitForSaveFinishedDialog.java
  src/main/java/org/jabref/gui/copyfiles/CopyFilesAction.java
  src/main/java/org/jabref/gui/externalfiles/AutoLinkFilesAction.java
  src/main/java/org/jabref/gui/externalfiles/DownloadFullTextAction.java
  src/main/java/org/jabref/gui/integrity/IntegrityCheckAction.java
  src/main/java/org/jabref/gui/openoffice/OpenOfficePanel.java
Labels: status: ready-for-review

#6480 Change EasyBind dependency
  build.gradle
  src/main/java/module-info.java
  src/main/java/org/jabref/gui/BasePanel.java
  src/main/java/org/jabref/gui/BasePanelPreferences.java
  src/main/java/org/jabref/gui/EntryTypeView.java
  src/main/java/org/jabref/gui/JabRefDialogService.java
  src/main/java/org/jabref/gui/JabRefFrame.java
  src/main/java/org/jabref/gui/actions/ActionFactory.java
  src/main/java/org/jabref/gui/actions/ActionHelper.java
  src/main/java/org/jabref/gui/collab/ChangeDisplayDialog.java
  src/main/java/org/jabref/gui/contentselector/ContentSelectorDialogView.java
  src/main/java/org/jabref/gui/customentrytypes/CustomEntryTypeDialogViewModel.java
  src/main/java/org/jabref/gui/documentviewer/DocumentViewerControl.java
  src/main/java/org/jabref/gui/documentviewer/DocumentViewerViewModel.java
  src/main/java/org/jabref/gui/edit/ManageKeywordsDialog.java
  src/main/java/org/jabref/gui/edit/ManageKeywordsViewModel.java
  src/main/java/org/jabref/gui/entryeditor/EntryEditor.java
  src/main/java/org/jabref/gui/entryeditor/LatexCitationsTab.java
  src/main/java/org/jabref/gui/entryeditor/fileannotationtab/FileAnnotationTabView.java
  src/main/java/org/jabref/gui/errorconsole/ErrorConsoleViewModel.java
  src/main/java/org/jabref/gui/exporter/ExportCustomizationDialogView.java
  src/main/java/org/jabref/gui/externalfiles/FileDownloadTask.java
  src/main/java/org/jabref/gui/fieldeditors/IdentifierEditorViewModel.java
  src/main/java/org/jabref/gui/fieldeditors/UrlEditorViewModel.java
  src/main/java/org/jabref/gui/filelist/LinkedFilesEditDialogViewModel.java
  src/main/java/org/jabref/gui/groups/GroupNodeViewModel.java
  src/main/java/org/jabref/gui/groups/GroupTreeView.java
  src/main/java/org/jabref/gui/groups/GroupTreeViewModel.java
  src/main/java/org/jabref/gui/icon/JabRefIconView.java
  src/main/java/org/jabref/gui/importer/ImportCustomizationDialog.java
  src/main/java/org/jabref/gui/importer/ImportEntriesDialog.java
  src/main/java/org/jabref/gui/importer/fetcher/WebSearchPane.java
  src/main/java/org/jabref/gui/importer/fetcher/WebSearchPaneViewModel.java
  src/main/java/org/jabref/gui/journals/ManageJournalAbbreviationsView.java
  src/main/java/org/jabref/gui/keyboard/KeyBindingsDialogView.java
  src/main/java/org/jabref/gui/keyboard/KeyBindingsDialogViewModel.java
  src/main/java/org/jabref/gui/maintable/BibEntryTableViewModel.java
  src/main/java/org/jabref/gui/maintable/MainTableColumnFactory.java
  src/main/java/org/jabref/gui/mergeentries/MergeEntries.java
  src/main/java/org/jabref/gui/metadata/BibtexStringEditorDialogViewModel.java
  src/main/java/org/jabref/gui/openoffice/StyleSelectDialogView.java
  src/main/java/org/jabref/gui/preferences/PreferencesDialogView.java
  src/main/java/org/jabref/gui/preferences/PreviewTabView.java
  src/main/java/org/jabref/gui/search/GlobalSearchBar.java
  src/main/java/org/jabref/gui/shared/SharedDatabaseLoginDialogView.java
  src/main/java/org/jabref/gui/shared/SharedDatabaseLoginDialogViewModel.java
  src/main/java/org/jabref/gui/texparser/ParseLatexDialogView.java
  src/main/java/org/jabref/gui/texparser/ParseLatexResultView.java
  src/main/java/org/jabref/gui/util/BackgroundTask.java
  src/main/java/org/jabref/gui/util/BindingsHelper.java
  src/main/java/org/jabref/gui/util/OptionalObjectProperty.java
  src/main/java/org/jabref/gui/util/ViewModelListCellFactory.java
  src/main/java/org/jabref/gui/util/ViewModelTextFieldTableCellVisualizationFactory.java
  src/main/java/org/jabref/gui/util/component/Tag.java
  src/main/java/org/jabref/model/entry/BibEntry.java
  src/test/java/org/jabref/gui/keyboard/KeyBindingsDialogViewModelTest.java
Labels: status: ready-for-review

#6483 Fix #6476 missing citation for biblatex-mla
  CHANGELOG.md
  src/main/java/org/jabref/logic/texparser/DefaultLatexParser.java
Labels: status: ready-for-review

#6423 Keep group pane size when resizing window (#6180)
  CHANGELOG.md
  src/main/java/org/jabref/gui/JabRefFrame.java
Labels: status: ready-for-review

#6179 Truncates the link and/or the link description in the column "linked files" in main table, if too long
  CHANGELOG.md
  src/main/java/org/jabref/gui/fieldeditors/LinkedFileViewModel.java
  src/main/java/org/jabref/gui/maintable/MainTableColumnFactory.java
  src/main/java/org/jabref/gui/util/ControlHelper.java
  src/main/java/org/jabref/gui/util/ValueTableCellFactory.java
Labels: status: ready-for-review

#6503 Fix Drag and Drop on empty database
  CHANGELOG.md
  src/main/java/org/jabref/gui/JabRefFrame.java
Labels: status: ready-for-review

#6505 EasyBind revision part two
  src/main/java/org/jabref/gui/BasePanel.java
  src/main/java/org/jabref/gui/JabRefFrame.java
  src/main/java/org/jabref/gui/StateManager.java
  src/main/java/org/jabref/gui/actions/ActionHelper.java
  src/main/java/org/jabref/gui/bibtexkeypattern/GenerateBibtexKeySingleAction.java
  src/main/java/org/jabref/gui/fieldeditors/AbstractEditorViewModel.java
  src/main/java/org/jabref/gui/groups/GroupNodeViewModel.java
  src/main/java/org/jabref/gui/groups/GroupTreeViewModel.java
  src/main/java/org/jabref/gui/maintable/BibEntryTableViewModel.java
  src/main/java/org/jabref/gui/maintable/MainTableDataModel.java
  src/main/java/org/jabref/gui/preferences/PreferencesFilterDialog.java
  src/main/java/org/jabref/gui/util/BindingsHelper.java
  src/main/java/org/jabref/gui/util/MappedList.java
  src/main/java/org/jabref/gui/util/RecursiveTreeItem.java
  src/main/java/org/jabref/model/entry/BibEntry.java
Labels: status: ready-for-review

#6489 Refactor BibtexKeyPatternPreferences
  CHANGELOG.md
  src/main/java/org/jabref/gui/bibtexkeypattern/BibtexKeyPatternDialog.java
  src/main/java/org/jabref/gui/bibtexkeypattern/BibtexKeyPatternPanel.java
  src/main/java/org/jabref/gui/bibtexkeypattern/GenerateBibtexKeySingleAction.java
  src/main/java/org/jabref/gui/preferences/BibtexKeyPatternTabView.java
  src/main/java/org/jabref/gui/preferences/BibtexKeyPatternTabViewModel.java
  src/main/java/org/jabref/gui/preferences/NetworkTab.fxml
  src/main/java/org/jabref/gui/preferences/NetworkTabView.java
  src/main/java/org/jabref/gui/preferences/NetworkTabViewModel.java
  src/main/java/org/jabref/gui/preferences/PreferencesDialogViewModel.java
  src/main/java/org/jabref/gui/preferences/PreviewTabViewModel.java
  src/main/java/org/jabref/gui/shared/SharedDatabaseUIManager.java
  src/main/java/org/jabref/logic/bibtex/comparator/MetaDataDiff.java
  src/main/java/org/jabref/logic/bibtexkeypattern/BibtexKeyGenerator.java
  src/main/java/org/jabref/logic/bibtexkeypattern/BibtexKeyPatternPreferences.java
  src/main/java/org/jabref/logic/exporter/BibDatabaseWriter.java
  src/main/java/org/jabref/logic/exporter/SavePreferences.java
  src/main/java/org/jabref/migrations/PreferencesMigrations.java
  src/main/java/org/jabref/preferences/JabRefPreferences.java
  src/main/java/org/jabref/preferences/PreferencesService.java
  src/main/resources/l10n/JabRef_en.properties
  src/test/java/org/jabref/gui/exporter/SaveDatabaseActionTest.java
  src/test/java/org/jabref/logic/bibtexkeypattern/MakeLabelWithDatabaseTest.java
  src/test/java/org/jabref/logic/integrity/IntegrityCheckTest.java
Labels: status: changes required, status: ready-for-review

#6511 Return true in action helper if file is online link
  src/main/java/org/jabref/gui/actions/ActionHelper.java
Labels: status: ready-for-review

#6509 Refactor externalprefs
  src/main/java/org/jabref/gui/JabRefFrame.java
  src/main/java/org/jabref/gui/preferences/ExternalTab.fxml
  src/main/java/org/jabref/gui/preferences/ExternalTabView.java
  src/main/java/org/jabref/gui/preferences/ExternalTabViewModel.java
  src/main/java/org/jabref/gui/preferences/PreferencesDialogViewModel.java
  src/main/java/org/jabref/gui/push/PushToApplicationAction.java
  src/main/java/org/jabref/gui/push/PushToApplicationSettings.java
  src/main/java/org/jabref/gui/push/PushToApplicationsManager.java
  src/main/java/org/jabref/preferences/ExternalApplicationsPreferences.java
  src/main/java/org/jabref/preferences/JabRefPreferences.java
  src/main/java/org/jabref/preferences/PreferencesService.java
  src/main/resources/l10n/JabRef_en.properties
Labels: status: ready-for-review

#6513 Fix fetcher help links
  src/main/java/org/jabref/logic/help/HelpFile.java
  src/main/java/org/jabref/logic/importer/WebFetchers.java
  src/test/java/org/jabref/logic/help/HelpFileTest.java
  src/test/java/org/jabref/logic/importer/WebFetchersTest.java
Labels: status: ready-for-review

#6514 Extend the bib file for better screenshots
  src/test/resources/testbib/jabref-authors.bib
Labels: status: ready-for-review

#6407 Fixed an issue where a new entry is not shown in the library if a filter/search is active
  CHANGELOG.md
  src/main/java/org/jabref/gui/EntryTypeView.java
Labels: status: ready-for-review

#6516 Add some javadoc and fix the preview update issue
  src/main/java/org/jabref/gui/entryeditor/EntryEditor.java
  src/main/java/org/jabref/gui/preferences/PreviewTabViewModel.java
  src/main/java/org/jabref/gui/preview/PreviewPanel.java
Labels: status: ready-for-review

#6531 Allow entrytype as sorting criterion
  CHANGELOG.md
  src/main/java/org/jabref/gui/libraryproperties/LibraryPropertiesDialogViewModel.java
Labels: status: ready-for-review

#6504 Enable users to simultaneously search all SearchBasedFetchers
  CHANGELOG.md
  src/main/java/org/jabref/logic/importer/WebFetchers.java
  src/main/java/org/jabref/logic/importer/fetcher/CompositeSearchBasedFetcher.java
  src/test/java/org/jabref/logic/importer/fetcher/CompositeSearchBasedFetcherTest.java
  src/test/java/org/jabref/logic/importer/fetcher/IEEETest.java
Labels: status: changes required, status: ready-for-review

#6479 Fixes generated bibtex key and display of institute authors
  CHANGELOG.md
  src/main/java/org/jabref/gui/maintable/BibEntryTableViewModel.java
  src/main/java/org/jabref/gui/maintable/MainTableNameFormatter.java
  src/main/java/org/jabref/logic/bibtexkeypattern/BracketedPattern.java
  src/main/java/org/jabref/model/entry/AuthorList.java
  src/test/java/org/jabref/logic/bibtexkeypattern/BibtexKeyGeneratorTest.java
  src/test/java/org/jabref/model/entry/AuthorListTest.java
Labels: status: changes required, status: ready-for-review

#6451 Removed BIB file directory from search when preferences has option unchecked
  CHANGELOG.md
  src/main/java/org/jabref/gui/preferences/FileTab.fxml
  src/main/java/org/jabref/model/database/BibDatabaseContext.java
  src/main/resources/l10n/JabRef_en.properties
  src/main/resources/l10n/JabRef_ru.properties
  src/test/java/org/jabref/gui/externalfiles/AutoSetFileLinksUtilTest.java
  src/test/java/org/jabref/logic/cleanup/MoveFilesCleanupTest.java
  src/test/java/org/jabref/logic/integrity/IntegrityCheckTest.java
Labels: status: changes required, status: ready-for-review

#6518 Refactor main table preferences
  CHANGELOG.md
  src/main/java/org/jabref/gui/BasePanel.java
  src/main/java/org/jabref/gui/maintable/BibEntryTableViewModel.java
  src/main/java/org/jabref/gui/maintable/MainTableDataModel.java
  src/main/java/org/jabref/gui/maintable/MainTableNameFormatPreferences.java
  src/main/java/org/jabref/gui/maintable/MainTableNameFormatter.java
  src/main/java/org/jabref/gui/maintable/PersistenceVisualStateTable.java
  src/main/java/org/jabref/gui/preferences/PreferencesDialogViewModel.java
  src/main/java/org/jabref/gui/preferences/TableColumnsTab.fxml
  src/main/java/org/jabref/gui/preferences/TableColumnsTabView.java
  src/main/java/org/jabref/gui/preferences/TableColumnsTabViewModel.java
  src/main/java/org/jabref/gui/preferences/TableTab.fxml
  src/main/java/org/jabref/gui/preferences/TableTabView.java
  src/main/java/org/jabref/gui/preferences/TableTabViewModel.java
  src/main/java/org/jabref/preferences/JabRefPreferences.java
  src/main/java/org/jabref/preferences/PreferencesService.java
  src/main/resources/l10n/JabRef_en.properties
Labels: status: ready-for-review

#6553 FIx NPE in loading save order when starting jabref
  docs/teaching.md
  src/main/java/org/jabref/preferences/JabRefPreferences.java
Labels: status: ready-for-review

#6475 Fixed #6472 that multiple background task popups stacked over each other
  CHANGELOG.md
  src/main/java/org/jabref/gui/JabRefFrame.java
Labels: status: ready-for-review
