Repository JabRef/jabref, pull requests merged in 2020-08, with the labels that each got.

#6419 Fix pasting on mac and linux
  CHANGELOG.md
  src/main/java/org/jabref/gui/edit/EditAction.java
  src/main/java/org/jabref/gui/maintable/MainTable.java
Labels: os: macOS, status: ready-for-review

#6723 Delete link after download
  src/main/java/org/jabref/gui/fieldeditors/LinkedFileViewModel.java
Labels: status: ready-for-review

#6731 Add instructions how to work with fetchers
  docs/advanced-reading/fetchers.md
  src/main/java/org/jabref/logic/util/BuildInfo.java
Labels: status: ready-for-review

#6740 Fix copy pasting and delete via menu or key
  src/main/java/org/jabref/gui/edit/EditAction.java
  src/main/java/org/jabref/gui/maintable/MainTable.java
Labels: status: ready-for-review

#6749 Improve handling of annotation processor in eclipse
  build.gradle
  docs/getting-into-the-code/guidelines-for-setting-up-a-local-workspace.md
Labels: status: ready-for-review

#6760 Fix HTML chars formatter for percent sign
  CHANGELOG.md
  src/main/java/org/jabref/logic/layout/format/HTMLChars.java
  src/test/java/org/jabref/logic/layout/format/HTMLCharsTest.java
Labels: status: changes required, status: ready-for-review

#6746 Fix entry gets deleted after aux import
  CHANGELOG.md
  src/main/java/org/jabref/gui/JabRefFrame.java
  src/main/java/org/jabref/gui/auximport/FromAuxDialog.java
  src/main/java/org/jabref/logic/auxparser/DefaultAuxParser.java
  src/main/java/org/jabref/model/entry/BibEntry.java
  src/test/java/org/jabref/logic/auxparser/AuxParserTest.java
  src/test/java/org/jabref/logic/auxparser/DefaultAuxParserTest.java
  src/test/java/org/jabref/logic/cleanup/BibtexBiblatexRoundtripTest.java
  src/test/java/org/jabref/model/entry/BibEntryTest.java
Labels: status: ready-for-review

#6761 Remember last choice of download files in import dialog
  src/main/java/org/jabref/gui/importer/ImportEntriesDialog.java
  src/main/java/org/jabref/gui/importer/ImportEntriesViewModel.java
  src/main/java/org/jabref/gui/preferences/ImportTab.fxml
  src/main/java/org/jabref/gui/preferences/ImportTabView.java
  src/main/java/org/jabref/gui/preferences/ImportTabViewModel.java
  src/main/java/org/jabref/model/metadata/FilePreferences.java
  src/main/java/org/jabref/preferences/JabRefPreferences.java
  src/main/java/org/jabref/preferences/PreferencesService.java
Labels: status: ready-for-review

#6750 Fix order of fields in bib file
  src/main/java/org/jabref/logic/bibtex/BibEntryWriter.java
  src/test/java/org/jabref/logic/bibtex/BibEntryWriterTest.java
  src/test/java/org/jabref/logic/exporter/BibtexDatabaseWriterTest.java
  src/test/resources/testbib/bibWithUserCommentAndEntryChange.bib
Labels: status: ready-for-review

#6769 Add restart warning for autocompletion in preferences
  CHANGELOG.md
  src/main/java/org/jabref/gui/preferences/EntryEditorTabViewModel.java
  src/main/resources/l10n/JabRef_en.properties
Labels: status: ready-for-review

#6768 Merge identical group color indicators
  CHANGELOG.md
  src/main/java/org/jabref/gui/BasePanel.java
  src/main/java/org/jabref/gui/maintable/MainTable.java
  src/main/java/org/jabref/gui/maintable/MainTableColumnFactory.java
  src/main/java/org/jabref/gui/maintable/PersistenceVisualStateTable.java
  src/main/java/org/jabref/gui/maintable/columns/FieldColumn.java
  src/main/java/org/jabref/gui/maintable/columns/FileColumn.java
  src/main/java/org/jabref/gui/maintable/columns/LinkedIdentifierColumn.java
  src/main/java/org/jabref/gui/maintable/columns/MainTableColumn.java
  src/main/java/org/jabref/gui/maintable/columns/SpecialFieldColumn.java
Labels: status: ready-for-review

#6772 Hint message for TextFieldTableCells commit JFX bug
  CHANGELOG.md
  src/main/java/org/jabref/gui/preferences/CitationKeyPatternTab.fxml
  src/main/resources/l10n/JabRef_en.properties
Labels: status: ready-for-review

#6780 Fix biblatex software test
  src/test/java/org/jabref/model/entry/BibEntryTypesManagerTest.java
Labels: status: ready-for-review

#6788 Fix cleanup Field formatters not working when enabled
  src/main/java/org/jabref/gui/commonfxcontrols/FieldFormatterCleanupsPanel.java
Labels: status: ready-for-review

#6797 Upgrade gittools
  .github/workflows/deployment.yml
Labels: status: ready-for-review

#6798 New DOI added by ArXiv
  src/test/java/org/jabref/logic/importer/fetcher/ArXivTest.java
Labels: status: ready-for-review

#6803 Disable CSL refresh on push
  .github/workflows/refresh-csl-subtrees.yml
Labels: status: ready-for-review

#6800 Rename /gen to /generate
  build.gradle
Labels: status: ready-for-review

#6816 Remove checkstyle hack. 8.36 got released
  config/checkstyle/checkstyle.xml
  docs/getting-into-the-code/guidelines-for-setting-up-a-local-workspace.md
  src/main/java/org/jabref/gui/EntryTypeView.java
Labels: status: ready-for-review

#6725 Add CSS Customisation
  CHANGELOG.md
  src/main/java/org/jabref/Globals.java
  src/main/java/org/jabref/JabRefGUI.java
  src/main/java/org/jabref/gui/JabRefDialogService.java
  src/main/java/org/jabref/gui/JabRefFrame.java
  src/main/java/org/jabref/gui/preferences/AppearanceTab.fxml
  src/main/java/org/jabref/gui/preferences/AppearanceTabView.java
  src/main/java/org/jabref/gui/preferences/AppearanceTabViewModel.java
  src/main/java/org/jabref/gui/preview/PreviewPanel.java
  src/main/java/org/jabref/gui/preview/PreviewViewer.java
  src/main/java/org/jabref/gui/util/BaseDialog.java
  src/main/java/org/jabref/gui/util/Theme.java
  src/main/java/org/jabref/gui/util/ThemeLoader.java
  src/main/java/org/jabref/logic/util/StandardFileType.java
  src/main/java/org/jabref/preferences/AppearancePreferences.java
  src/main/java/org/jabref/preferences/JabRefPreferences.java
  src/main/java/org/jabref/preferences/PreferencesService.java
  src/main/java/org/jabref/styletester/StyleTesterMain.java
  src/main/resources/l10n/JabRef_en.properties
Labels: preferences, status: changes required, status: ready-for-review, ui

#6820 Follow up fix for copy paste
  src/main/java/org/jabref/gui/edit/EditAction.java
Labels: status: ready-for-review

#6823 Snapcraft
  snap/snapcraft.yaml
Labels: os: snap

#6826 Cancel Previous Workflow Runs
  .github/workflows/deployment.yml
  .github/workflows/snap.yml
  .github/workflows/tests.yml
Labels: status: ready-for-review
