Repository JabRef/jabref, pull requests merged in 2020-09, with the labels that each got.

#6828 Apply css files correctly to dialogs
  CHANGELOG.md
  src/main/java/org/jabref/gui/util/BaseDialog.java
Labels: status: ready-for-review

#6809 Fixes #6705 , added icon for multiple identifiers
  CHANGELOG.md
  src/main/java/org/jabref/gui/icon/IconTheme.java
  src/main/java/org/jabref/gui/maintable/columns/LinkedIdentifierColumn.java
Labels: status: ready-for-review

#6689 Enable Merging of BibDatabases
  src/main/java/org/jabref/gui/EntryTypeViewModel.java
  src/main/java/org/jabref/gui/duplicationFinder/DuplicateSearch.java
  src/main/java/org/jabref/gui/importer/ImportAction.java
  src/main/java/org/jabref/gui/importer/ImportEntriesViewModel.java
  src/main/java/org/jabref/logic/bibtex/comparator/BibDatabaseDiff.java
  src/main/java/org/jabref/logic/database/DatabaseMerger.java
  src/main/java/org/jabref/logic/database/DuplicateCheck.java
  src/main/java/org/jabref/model/database/BibDatabase.java
  src/main/java/org/jabref/model/metadata/MetaData.java
  src/test/java/org/jabref/logic/database/DatabaseMergerTest.java
  src/test/java/org/jabref/logic/database/DuplicateCheckTest.java
Labels: status: ready-for-review

#6805 Feature/add ui for query parsing
  docs/adr/0015-support-an-abstract-query-syntax-for-query-conversion.md
  src/main/java/org/jabref/gui/Base.css
  src/main/java/org/jabref/gui/importer/fetcher/WebSearchPane.java
  src/main/java/org/jabref/gui/importer/fetcher/WebSearchPaneViewModel.java
  src/main/java/org/jabref/logic/importer/QueryParser.java
  src/main/java/org/jabref/logic/importer/SearchBasedFetcher.java
  src/main/java/org/jabref/logic/importer/fetcher/ComplexSearchQuery.java
  src/main/resources/l10n/JabRef_en.properties
Labels: status: ready-for-review

#6228 ChipView for crossref and groups
  .idea/runConfigurations/JabRef_Main.xml
  src/main/java/org/jabref/gui/Base.css
  src/main/java/org/jabref/gui/autocompleter/ContentSelectorSuggestionProvider.java
  src/main/java/org/jabref/gui/autocompleter/SuggestionProvider.java
  src/main/java/org/jabref/gui/autocompleter/SuggestionProviders.java
  src/main/java/org/jabref/gui/fieldeditors/FieldEditors.java
  src/main/java/org/jabref/gui/fieldeditors/LinkedEntriesEditor.fxml
  src/main/java/org/jabref/gui/fieldeditors/LinkedEntriesEditor.java
  src/main/java/org/jabref/gui/fieldeditors/LinkedEntriesEditorViewModel.java
  src/main/java/org/jabref/model/entry/ParsedEntryLink.java
  src/test/java/org/jabref/model/entry/EntryLinkListTest.java
Labels: status: ready-for-review

#6835 Fix file update monitor shutdown
  src/main/java/org/jabref/Globals.java
  src/main/java/org/jabref/gui/collab/DatabaseChangeMonitor.java
  src/main/java/org/jabref/gui/util/DefaultFileUpdateMonitor.java
  src/main/java/org/jabref/logic/util/DelayTaskThrottler.java
  src/main/java/org/jabref/model/database/event/CoarseChangeFilter.java
  src/main/java/org/jabref/model/util/DummyFileUpdateMonitor.java
  src/main/java/org/jabref/model/util/FileUpdateMonitor.java
Labels: status: ready-for-review

#6861 Don't show entry editor on startup
  CHANGELOG.md
  src/main/java/org/jabref/gui/BasePanel.java
Labels: status: ready-for-review

#6846 No sync of specialfields to keywords as default
  CHANGELOG.md
  src/main/java/org/jabref/gui/JabRefFrame.java
  src/main/java/org/jabref/gui/edit/ManageKeywordsViewModel.java
  src/main/java/org/jabref/gui/maintable/MainTable.java
  src/main/java/org/jabref/gui/maintable/RightClickMenu.java
  src/main/java/org/jabref/gui/preferences/TableTabViewModel.java
  src/main/java/org/jabref/gui/specialfields/SpecialFieldAction.java
  src/main/java/org/jabref/gui/specialfields/SpecialFieldValueViewModel.java
  src/main/java/org/jabref/gui/specialfields/SpecialFieldViewModel.java
  src/main/java/org/jabref/gui/specialfields/SpecialFieldsPreferences.java
  src/main/java/org/jabref/logic/importer/ParserResult.java
  src/main/java/org/jabref/preferences/JabRefPreferences.java
  src/main/java/org/jabref/preferences/PreferencesService.java
Labels: status: ready-for-review

#6898 Fix sort order in main table not stored
  CHANGELOG.md
  src/main/java/org/jabref/gui/maintable/MainTable.java
  src/main/java/org/jabref/gui/maintable/MainTableColumnModel.java
Labels: status: ready-for-review

#6907 Catch correct exception in LO inserter
  CHANGELOG.md
  src/main/java/org/jabref/logic/openoffice/OOUtil.java
Labels: status: ready-for-review

#6879 Fix pasting in CodeArea under mac
  src/main/java/org/jabref/gui/JabRefFrame.java
  src/main/java/org/jabref/gui/edit/EditAction.java
Labels: status: ready-for-review

#6918 Fixes tests remaining from bibtexkey to citationkey rebranding
  src/main/java/org/jabref/logic/help/HelpFile.java
  src/main/java/org/jabref/migrations/PreferencesMigrations.java
Labels: status: ready-for-review

#6920 Improve parsing of short DOIs
  CHANGELOG.md
  src/main/java/org/jabref/logic/cleanup/DoiCleanup.java
  src/main/java/org/jabref/model/entry/identifier/DOI.java
  src/test/java/org/jabref/model/entry/identifier/DOITest.java
Labels: status: changes required, status: ready-for-review

#6847 Feature/use unkown fields as default fields
  src/main/java/org/jabref/logic/importer/fetcher/ComplexSearchQuery.java
Labels: status: changes required

#6706 Readability for citation key patterns
  src/main/java/org/jabref/logic/citationkeypattern/BracketedPattern.java
  src/main/java/org/jabref/logic/citationkeypattern/CitationKeyGenerator.java
  src/main/java/org/jabref/model/entry/BibEntry.java
  src/test/java/org/jabref/logic/citationkeypattern/BracketedPatternTest.java
  src/test/java/org/jabref/logic/citationkeypattern/CitationKeyGeneratorTest.java
  src/test/java/org/jabref/logic/util/io/RegExpBasedFileFinderTests.java
Labels: status: changes required

#6893 Fixes bugs in the `regex` cite key pattern modifier
  src/main/java/org/jabref/logic/formatter/bibtexfields/RegexFormatter.java
  src/test/java/org/jabref/logic/formatter/bibtexfields/RegexFormatterTest.java
Labels: status: changes required

#6941 Fix: in entry types editor selected field is not removed after first click
  CHANGELOG.md
  src/main/java/org/jabref/gui/customentrytypes/CustomizeEntryTypeDialogView.java
Labels: status: ready-for-review

#6868 Fixes Shared Database: Changes filtering in CoarseChangeFilter to attribute property
  docs/advanced-reading/remote-storage.md
  src/main/java/org/jabref/logic/autosaveandbackup/AutosaveManager.java
  src/main/java/org/jabref/logic/autosaveandbackup/BackupManager.java
  src/main/java/org/jabref/logic/shared/DBMSSynchronizer.java
  src/main/java/org/jabref/logic/util/CoarseChangeFilter.java
  src/main/java/org/jabref/logic/util/DelayTaskThrottler.java
  src/main/java/org/jabref/model/database/event/BibDatabaseContextChangedEvent.java
  src/main/java/org/jabref/model/entry/event/EntriesEvent.java
  src/main/java/org/jabref/model/entry/event/FieldChangedEvent.java
  src/main/java/org/jabref/model/metadata/event/MetaDataChangedEvent.java
Labels: status: changes required

#6945 Fix a fetcher test for the ShortDOIService
  src/main/java/org/jabref/logic/importer/util/ShortDOIService.java
Labels: status: ready-for-review

#6938 Fix for some Unicode characters in citation keys
  src/main/java/org/jabref/model/strings/StringUtil.java
  src/test/java/org/jabref/logic/citationkeypattern/CitationKeyGeneratorTest.java
  src/test/java/org/jabref/model/strings/StringUtilTest.java
Labels: status: ready-for-review

#6899 Rename menus citation style in preview style
  CHANGELOG.md
  src/main/java/org/jabref/gui/actions/StandardActions.java
  src/main/java/org/jabref/logic/layout/TextBasedPreviewLayout.java
  src/main/resources/l10n/JabRef_en.properties
Labels: status: ready-for-review

#6946 Fix Preferences Search
  src/main/java/org/jabref/gui/preferences/AppearanceTab.fxml
  src/main/java/org/jabref/gui/preferences/CitationKeyPatternTab.fxml
  src/main/java/org/jabref/gui/preferences/ExternalTab.fxml
  src/main/java/org/jabref/gui/preferences/FileTab.fxml
  src/main/java/org/jabref/gui/preferences/GeneralTab.fxml
  src/main/java/org/jabref/gui/preferences/GroupsTab.fxml
  src/main/java/org/jabref/gui/preferences/LinkedFilesTab.fxml
  src/main/java/org/jabref/gui/preferences/PreferencesSearchHandler.java
Labels: status: changes required

#6897 DOI matching in duplicate check
  CHANGELOG.md
  src/main/java/org/jabref/logic/database/DuplicateCheck.java
  src/main/java/org/jabref/model/entry/BibEntry.java
  src/main/java/org/jabref/model/entry/identifier/DOI.java
  src/main/java/org/jabref/model/entry/identifier/ISBN.java
  src/test/java/org/jabref/logic/database/DuplicateCheckTest.java
Labels: status: ready-for-review
