Repository JabRef/jabref, pull requests merged in 2020-06, with the labels that each got.

#6551 Add more menu items to library context menu
  src/main/java/org/jabref/gui/JabRefFrame.java
  src/main/java/org/jabref/gui/actions/ActionHelper.java
  src/main/java/org/jabref/gui/actions/StandardActions.java
  src/main/resources/l10n/JabRef_en.properties
Labels: status: ready-for-review

#6558 Use letters to acess recent libraries in menu
  src/main/java/org/jabref/gui/JabRefFrame.java
  src/main/java/org/jabref/gui/menus/FileHistoryMenu.java
Labels: status: ready-for-review

#6554 Fix Group hit counter calculation preferences
  src/main/java/org/jabref/gui/groups/GroupNodeViewModel.java
  src/main/java/org/jabref/gui/groups/GroupTreeViewModel.java
  src/test/java/org/jabref/gui/groups/GroupNodeViewModelTest.java
  src/test/java/org/jabref/gui/groups/GroupTreeViewModelTest.java
Labels: status: ready-for-review

#6603 Fixed an issue where entry preview tab has no name in drop down list.
  CHANGELOG.md
  src/main/java/org/jabref/gui/entryeditor/PreviewTab.java
Labels: status: ready-for-review

#6587 Fix some fetcher tests
  .github/workflows/deployment.yml
  .github/workflows/tests-fetchers.yml
  .github/workflows/tests.yml
  build.gradle
  src/main/java/org/jabref/logic/importer/fetcher/AstrophysicsDataSystem.java
  src/main/java/org/jabref/logic/importer/fetcher/IEEE.java
  src/main/java/org/jabref/logic/importer/util/GrobidService.java
  src/main/java/org/jabref/logic/util/BuildInfo.java
  src/main/resources/build.properties
  src/test/java/org/jabref/logic/importer/fetcher/AbstractIsbnFetcherTest.java
  src/test/java/org/jabref/logic/importer/fetcher/AstrophysicsDataSystemTest.java
  src/test/java/org/jabref/logic/importer/fetcher/DiVATest.java
  src/test/java/org/jabref/logic/importer/fetcher/DoiFetcherTest.java
  src/test/java/org/jabref/logic/importer/fetcher/GrobidCitationFetcherTest.java
  src/test/java/org/jabref/logic/importer/fetcher/GvkFetcherTest.java
  src/test/java/org/jabref/logic/importer/fetcher/INSPIREFetcherTest.java
  src/test/java/org/jabref/logic/importer/fetcher/IsbnFetcherTest.java
  src/test/java/org/jabref/logic/importer/fetcher/IsbnViaEbookDeFetcherTest.java
  src/test/java/org/jabref/logic/importer/fetcher/IsbnViaOttoBibFetcherTest.java
  src/test/java/org/jabref/logic/importer/fetcher/MedlineFetcherTest.java
  src/test/java/org/jabref/logic/importer/fetcher/RfcFetcherTest.java
  src/test/java/org/jabref/logic/importer/fetcher/TitleFetcherTest.java
  src/test/java/org/jabref/logic/importer/util/GrobidServiceTest.java
Labels: status: ready-for-review

#6609 Fix library marked as changed when opening library properties
  CHANGELOG.md
  src/main/java/org/jabref/gui/libraryproperties/LibraryPropertiesDialogViewModel.java
Labels: status: ready-for-review

#6608 Fix downloaded files moved to citation key dir
  CHANGELOG.md
  src/main/java/org/jabref/logic/util/io/FileUtil.java
  src/test/java/org/jabref/logic/cleanup/MoveFilesCleanupTest.java
  src/test/java/org/jabref/logic/util/io/FileUtilTest.java
Labels: status: ready-for-review

#6552 Fix author formatter for unchanged names
  config/checkstyle/checkstyle.xml
  src/main/java/org/jabref/gui/maintable/BibEntryTableViewModel.java
  src/main/java/org/jabref/gui/maintable/MainTableDataModel.java
  src/main/java/org/jabref/gui/maintable/MainTableFieldValueFormatter.java
  src/main/java/org/jabref/gui/maintable/MainTableNameFormatter.java
  src/main/java/org/jabref/model/entry/Author.java
  src/main/java/org/jabref/model/entry/AuthorList.java
  src/main/java/org/jabref/model/entry/AuthorListParser.java
  src/test/java/org/jabref/model/entry/AuthorListParserTest.java
  src/test/java/org/jabref/model/entry/AuthorListTest.java
Labels: status: changes required, status: ready-for-review

#6519 Catch InaccessibleObjectException
  src/main/java/org/jabref/gui/actions/ActionFactory.java
Labels: status: ready-for-review

#6586 Validates the file path of a TexGroup and fixes Texgroup's "Library has been modified by another program"
  CHANGELOG.md
  src/main/java/org/jabref/gui/groups/GroupDialogView.java
  src/main/java/org/jabref/gui/groups/GroupDialogViewModel.java
  src/main/java/org/jabref/logic/importer/util/MetaDataParser.java
  src/main/resources/l10n/JabRef_en.properties
  src/test/java/org/jabref/logic/importer/fileformat/BibtexParserTest.java
Labels: status: changes required
