Repository JabRef/jabref, pull requests merged in 2020-02, with the labels that each got.

#5917 Added update method to typePropertyListeners
  src/main/java/org/jabref/gui/entryeditor/SourceTab.java
Labels: ready-for-review

#5925 Fix maintable not updated when changing entry type
  CHANGELOG.md
  src/main/java/org/jabref/model/entry/BibEntry.java
  src/main/java/org/jabref/model/entry/field/InternalField.java
Labels: ready-for-review

#5923 Disable search when no library is opened
  src/main/java/org/jabref/gui/StateManager.java
  src/main/java/org/jabref/gui/search/GlobalSearchBar.java
Labels: ready-for-review

#5926 Fix invalid filename with curly braces and fix wrong encoding in parser
  CHANGELOG.md
  src/main/java/org/jabref/logic/importer/Parser.java
  src/main/java/org/jabref/logic/util/io/FileNameCleaner.java
  src/test/java/org/jabref/logic/util/io/FileNameCleanerTest.java
Labels: ready-for-review

#5938 Fix not escaping special characters in search pattern
  src/main/java/org/jabref/gui/preview/PreviewViewer.java
  src/main/java/org/jabref/logic/search/SearchQuery.java
  src/test/java/org/jabref/logic/search/SearchQueryTest.java
Labels: ready-for-review

#5799 Reimplement custom entry types dialog
  CHANGELOG.md
  src/main/java/module-info.java
  src/main/java/org/jabref/gui/JabRefFrame.java
  src/main/java/org/jabref/gui/customentrytypes/CustomEntryTypeDialogViewModel.java
  src/main/java/org/jabref/gui/customentrytypes/CustomizeEntryAction.java
  src/main/java/org/jabref/gui/customentrytypes/CustomizeEntryTypeDialog.fxml
  src/main/java/org/jabref/gui/customentrytypes/CustomizeEntryTypeDialogView.java
  src/main/java/org/jabref/gui/customentrytypes/EntryTypeCustomizationDialog.java
  src/main/java/org/jabref/gui/customentrytypes/FieldViewModel.java
  src/main/java/org/jabref/gui/customizefields/CustomizeGeneralFieldsDialog.fxml
  src/main/java/org/jabref/gui/preferences/TableColumnsTabView.java
  src/main/java/org/jabref/gui/util/RadioButtonCell.java
  src/main/java/org/jabref/model/entry/BibEntryTypesManager.java
  src/main/java/org/jabref/preferences/JabRefPreferences.java
  src/main/java/org/jabref/preferences/PreferencesService.java
  src/main/resources/l10n/JabRef_en.properties
Labels: ready-for-review

#5955 Added MenuButtons to IntegrityCheckDialog
  CHANGELOG.md
  src/main/java/org/jabref/gui/integrity/IntegrityCheckDialog.fxml
  src/main/java/org/jabref/gui/integrity/IntegrityCheckDialog.java
  src/main/resources/l10n/JabRef_en.properties
Labels: ready-for-review

#5948 Fixfetcher
  src/main/java/org/jabref/logic/importer/fetcher/DoiResolution.java
  src/test/java/org/jabref/logic/importer/FulltextFetchersTest.java
  src/test/java/org/jabref/logic/importer/fetcher/DBLPFetcherTest.java
  src/test/java/org/jabref/logic/importer/fetcher/GoogleScholarTest.java
Labels: ready-for-review

#5945 Try to fix linux pdf opening again
  src/main/java/org/jabref/gui/desktop/os/Linux.java
  src/main/java/org/jabref/gui/util/StreamGobbler.java
Labels: linux

#5965 Remove background command line window
  CHANGELOG.md
  build.gradle
Labels: ready-for-review

#5614 Add option to parse new references from plain text using GROBID service [solving #4826]
  CHANGELOG.md
  src/main/java/org/jabref/gui/JabRefFrame.java
  src/main/java/org/jabref/gui/actions/StandardActions.java
  src/main/java/org/jabref/gui/bibtexextractor/BibtexExtractorViewModel.java
  src/main/java/org/jabref/gui/bibtexextractor/ExtractBibtexDialog.fxml
  src/main/java/org/jabref/gui/bibtexextractor/ExtractBibtexDialog.java
  src/main/java/org/jabref/gui/icon/IconTheme.java
  src/main/java/org/jabref/gui/keyboard/KeyBinding.java
  src/main/java/org/jabref/logic/importer/WebFetchers.java
  src/main/java/org/jabref/logic/importer/fetcher/GrobidCitationFetcher.java
  src/main/java/org/jabref/logic/importer/util/GrobidService.java
  src/main/resources/l10n/JabRef_en.properties
  src/test/java/org/jabref/logic/importer/fetcher/GrobidCitationFetcherTest.java
  src/test/java/org/jabref/logic/importer/util/GrobidServiceTest.java
Labels: ready-for-review

#5970 Fix communication with JabFox
  buildres/windows/JabRefHost.ps1
Labels: ready-for-review

#5969 Refactored subtile changes to optics of library properties
  CHANGELOG.md
  src/main/java/org/jabref/gui/SaveOrderConfigDisplay.fxml
  src/main/java/org/jabref/gui/cleanup/FieldFormatterCleanupsPanel.java
  src/main/java/org/jabref/gui/libraryproperties/LibraryPropertiesDialog.fxml
  src/main/java/org/jabref/gui/libraryproperties/LibraryPropertiesDialogView.java
Labels: ready-for-review

#5976 Help menu
  src/main/java/org/jabref/gui/JabRefFrame.java
  src/main/java/org/jabref/gui/actions/StandardActions.java
  src/main/java/org/jabref/gui/icon/IconTheme.java
  src/main/resources/l10n/JabRef_en.properties
Labels: ready-for-review, ui

#5979 Rework tools menu
  src/main/java/org/jabref/gui/JabRefFrame.java
  src/main/java/org/jabref/gui/actions/StandardActions.java
  src/main/java/org/jabref/gui/exporter/WriteXMPAction.java
  src/main/java/org/jabref/gui/fieldeditors/LinkedFileViewModel.java
  src/main/java/org/jabref/gui/fieldeditors/LinkedFilesEditor.java
  src/main/java/org/jabref/gui/preferences/XmpPrivacyTabView.java
  src/main/java/org/jabref/gui/preferences/XmpPrivacyTabViewModel.java
  src/main/java/org/jabref/gui/texparser/ParseTexDialogView.java
  src/main/java/org/jabref/logic/xmp/XmpUtilShared.java
  src/main/resources/l10n/JabRef_da.properties
  src/main/resources/l10n/JabRef_de.properties
  src/main/resources/l10n/JabRef_el.properties
  src/main/resources/l10n/JabRef_en.properties
  src/main/resources/l10n/JabRef_es.properties
  src/main/resources/l10n/JabRef_fa.properties
  src/main/resources/l10n/JabRef_fr.properties
  src/main/resources/l10n/JabRef_in.properties
  src/main/resources/l10n/JabRef_it.properties
  src/main/resources/l10n/JabRef_ja.properties
  src/main/resources/l10n/JabRef_nl.properties
  src/main/resources/l10n/JabRef_no.properties
  src/main/resources/l10n/JabRef_pt.properties
  src/main/resources/l10n/JabRef_pt_BR.properties
  src/main/resources/l10n/JabRef_ru.properties
  src/main/resources/l10n/JabRef_sv.properties
  src/main/resources/l10n/JabRef_tl.properties
  src/main/resources/l10n/JabRef_tr.properties
  src/main/resources/l10n/JabRef_vi.properties
  src/main/resources/l10n/JabRef_zh.properties
Labels: ready-for-review, ui

#5984 Add new IntelliJ video tutorial to docs.
  docs/guidelines-for-setting-up-a-local-workspace.md
Labels: ready-for-review

#5991 Add initial section on code quality
  docs/code-quality.md
Labels: ready-for-review

#5975 Dividers
  src/main/java/org/jabref/gui/JabRefFrame.java
Labels: ready-for-review, ui

#5983 Fixed loosing group if the most bottom one in list is dragged on itself
  CHANGELOG.md
  src/main/java/org/jabref/gui/groups/GroupNodeViewModel.java
Labels: ready-for-review

#5985 Fixed display of groups and links column in MainTable
  CHANGELOG.md
  src/main/java/org/jabref/gui/maintable/BibEntryTableViewModel.java
Labels: ready-for-review

#5999 Update module description
  build.gradle
  src/main/java/module-info.java
Labels: ready-for-review

#6008 Fixed group drag-n-drop not working after inserting an article into a group
  CHANGELOG.md
  src/main/java/org/jabref/gui/groups/GroupTreeView.java
Labels: ready-for-review

#6001 Integrate gradle validation in normal test workflow
  .github/workflows/gradle-wrapper-validation.yml
  .github/workflows/tests.yml
Labels: ready-for-review

#5989 New menu "Lookup"
  src/main/java/org/jabref/gui/JabRefFrame.java
  src/main/resources/l10n/JabRef_en.properties
Labels: ready-for-review, ui

#6010 Add graal info to module file
  CHANGELOG.md
  build.gradle
  src/main/java/module-info.java
  src/main/java/org/jabref/logic/citationstyle/CSLAdapter.java
  src/main/java/org/jabref/logic/citationstyle/CitationStyle.java
Labels: ready-for-review

#5974 Group remote database actions in menu
  src/main/java/org/jabref/gui/JabRefFrame.java
  src/main/java/org/jabref/gui/actions/StandardActions.java
  src/main/java/org/jabref/gui/icon/IconTheme.java
  src/main/resources/l10n/JabRef_en.properties
Labels: ui

#5977 Move journal abbreviations to library
  src/main/java/org/jabref/gui/JabRefFrame.java
Labels: ready-for-review, ui

#6033 Fix dependency updates workflow
  build.gradle
Labels: build-system, dependencies, ready-for-review

#6027 Raise codecov threshold
  codecov.yml
Labels: ready-for-review

#6021 Remove "Merge Entries" from Quality Menu
  CHANGELOG.md
  src/main/java/org/jabref/gui/JabRefFrame.java
Labels: ready-for-review, ui
