Repository JabRef/jabref, pull requests merged in 2020-03, with the labels that each got.

#6050 Fix fetcher tests using correct month
  src/test/java/org/jabref/logic/importer/fetcher/AstrophysicsDataSystemTest.java
Labels: ready-for-review

#6019 Code: Tex --> Latex (in the context of ParseLatex)
  src/main/java/org/jabref/gui/JabRefFrame.java
  src/main/java/org/jabref/gui/actions/StandardActions.java
  src/main/java/org/jabref/gui/entryeditor/LatexCitationsTabViewModel.java
  src/main/java/org/jabref/gui/texparser/ParseLatexAction.java
  src/main/java/org/jabref/gui/texparser/ParseLatexDialog.fxml
  src/main/java/org/jabref/gui/texparser/ParseLatexDialogView.java
  src/main/java/org/jabref/gui/texparser/ParseLatexDialogViewModel.java
  src/main/java/org/jabref/gui/texparser/ParseLatexResult.css
  src/main/java/org/jabref/gui/texparser/ParseLatexResult.fxml
  src/main/java/org/jabref/gui/texparser/ParseLatexResultView.java
  src/main/java/org/jabref/gui/texparser/ParseLatexResultViewModel.java
  src/main/java/org/jabref/logic/texparser/DefaultLatexParser.java
  src/main/java/org/jabref/logic/texparser/TexBibEntriesResolver.java
  src/main/java/org/jabref/model/texparser/LatexBibEntriesResolverResult.java
  src/main/java/org/jabref/model/texparser/LatexParser.java
  src/main/java/org/jabref/model/texparser/LatexParserResult.java
  src/main/java/org/jabref/model/texparser/TexParser.java
  src/test/java/org/jabref/logic/texparser/DefaultTexParserTest.java
  src/test/java/org/jabref/logic/texparser/LatexParserTest.java
  src/test/java/org/jabref/logic/texparser/TexBibEntriesResolverTest.java
Labels: ready-for-review

#6022 Add month normalization to AstroPhysicsFetcher
  src/main/java/org/jabref/logic/importer/fetcher/AstrophysicsDataSystem.java
  src/main/java/org/jabref/model/cleanup/FieldFormatterCleanup.java
  src/main/java/org/jabref/model/entry/BibEntry.java
  src/test/java/org/jabref/logic/formatter/bibtexfields/NormalizeMonthFormatterTest.java
Labels: ready-for-review

#6103 Remove gui globals
  src/main/java/org/jabref/Globals.java
  src/main/java/org/jabref/JabRefGUI.java
  src/main/java/org/jabref/gui/BasePanel.java
  src/main/java/org/jabref/gui/GUIGlobals.java
  src/main/java/org/jabref/gui/JabRefFrame.java
  src/main/java/org/jabref/gui/StateManager.java
  src/main/java/org/jabref/gui/entryeditor/EntryEditor.java
  src/main/java/org/jabref/gui/groups/GroupTreeView.java
  src/main/java/org/jabref/gui/icon/IconTheme.java
  src/main/java/org/jabref/gui/keyboard/KeyBinding.java
  src/main/java/org/jabref/gui/maintable/MainTable.java
  src/main/java/org/jabref/gui/preferences/PreferencesDialogViewModel.java
  src/main/java/org/jabref/gui/preferences/PreviewTabView.java
  src/main/java/org/jabref/gui/preferences/PreviewTabViewModel.java
  src/main/java/org/jabref/gui/util/CustomLocalDragboard.java
  src/main/java/org/jabref/preferences/JabRefPreferences.java
  src/main/resources/l10n/JabRef_en.properties
Labels: ready-for-review

#6106 Delete CustomJFXPanel.java
  src/main/java/org/jabref/gui/customjfx/CustomJFXPanel.java
Labels: ready-for-review

#6112 ux: move group filter bar to top
  src/main/java/org/jabref/gui/groups/GroupTree.css
  src/main/java/org/jabref/gui/groups/GroupTree.fxml
  src/main/java/org/jabref/gui/groups/GroupTreeView.java
Labels: groups, ui

#6113 Improve arXiv fetcher
  CHANGELOG.md
  src/main/java/org/jabref/logic/importer/fetcher/ArXiv.java
  src/main/java/org/jabref/model/entry/identifier/ArXivIdentifier.java
  src/test/java/org/jabref/logic/importer/fetcher/ArXivTest.java
  src/test/java/org/jabref/model/entry/identifier/ArXivIdentifierTest.java
Labels: ready-for-review

#6126 Minor fetcher improvements
  src/main/java/org/jabref/logic/importer/fetcher/ACS.java
  src/main/java/org/jabref/logic/importer/fetcher/ArXiv.java
  src/main/java/org/jabref/logic/importer/fetcher/GoogleScholar.java
  src/test/java/org/jabref/logic/importer/fetcher/ACSTest.java
  src/test/java/org/jabref/logic/importer/fetcher/ArXivTest.java
Labels: ready-for-review

#6117 Refactor SaveAction
  src/main/java/org/jabref/cli/ArgumentProcessor.java
  src/main/java/org/jabref/gui/JabRefFrame.java
  src/main/java/org/jabref/gui/dialogs/AutosaveUiManager.java
  src/main/java/org/jabref/gui/exporter/SaveAction.java
  src/main/java/org/jabref/gui/exporter/SaveAllAction.java
  src/main/java/org/jabref/gui/exporter/SaveDatabaseAction.java
  src/main/java/org/jabref/gui/shared/SharedDatabaseUIManager.java
  src/main/java/org/jabref/model/database/BibDatabaseContext.java
  src/test/java/org/jabref/gui/exporter/SaveDatabaseActionTest.java
  src/test/java/org/jabref/logic/cleanup/CleanupWorkerTest.java
  src/test/java/org/jabref/logic/cleanup/MoveFilesCleanupTest.java
  src/test/java/org/jabref/logic/cleanup/RenamePdfCleanupTest.java
  src/test/java/org/jabref/logic/integrity/IntegrityCheckTest.java
  src/test/java/org/jabref/model/database/BibDatabaseContextTest.java
Labels: ready-for-review

#6130 Small improvements in preferences dialog
  CHANGELOG.md
  src/main/java/org/jabref/gui/desktop/os/DefaultDesktop.java
  src/main/java/org/jabref/gui/desktop/os/Linux.java
  src/main/java/org/jabref/gui/desktop/os/NativeDesktop.java
  src/main/java/org/jabref/gui/desktop/os/OSX.java
  src/main/java/org/jabref/gui/desktop/os/Windows.java
  src/main/java/org/jabref/gui/exporter/SaveAction.java
  src/main/java/org/jabref/gui/icon/IconTheme.java
  src/main/java/org/jabref/gui/preferences/AppearanceTab.fxml
  src/main/java/org/jabref/gui/preferences/AppearanceTabView.java
  src/main/java/org/jabref/gui/preferences/AppearanceTabViewModel.java
  src/main/java/org/jabref/gui/preferences/ExternalTab.fxml
  src/main/java/org/jabref/gui/preferences/ExternalTabView.java
  src/main/java/org/jabref/gui/preferences/ExternalTabViewModel.java
  src/main/java/org/jabref/gui/preferences/FileTabView.java
  src/main/java/org/jabref/gui/preferences/GeneralTab.fxml
  src/main/java/org/jabref/gui/preferences/GeneralTabView.java
  src/main/java/org/jabref/gui/preferences/NameFormatterTab.fxml
  src/main/java/org/jabref/gui/preferences/NameFormatterTabView.java
  src/main/java/org/jabref/gui/preferences/NameFormatterTabViewModel.java
  src/main/java/org/jabref/gui/preferences/PreferencesDialog.fxml
  src/main/java/org/jabref/gui/preferences/TableColumnsTabView.java
  src/main/java/org/jabref/gui/preferences/XmpPrivacyTabView.java
  src/main/java/org/jabref/preferences/JabRefPreferences.java
  src/main/java/org/jabref/preferences/NewLineSeparator.java
  src/main/resources/l10n/JabRef_en.properties
Labels: ready-for-review

#6128 Fix fetcher test: CiteSeerTest
  src/test/java/org/jabref/logic/importer/fetcher/CiteSeerTest.java
Labels: ready-for-review

#6137 Move "Manage field names & content" to "Edit"
  CHANGELOG.md
  src/main/java/org/jabref/gui/JabRefFrame.java
Labels: ready-for-review

#6138 Dependency updates
  build.gradle
Labels: build-system

#6143 Add APS Fetcher (refactored)
  CHANGELOG.md
  src/main/java/org/jabref/logic/importer/WebFetchers.java
  src/main/java/org/jabref/logic/importer/fetcher/ApsFetcher.java
  src/test/java/org/jabref/logic/importer/fetcher/ApsFetcherTest.java
Labels: ready-for-review

#6139 Move Springer key to environment
  .github/workflows/deployment.yml
  .github/workflows/tests-fetchers.yml
  .github/workflows/tests-oracle.yml
  .github/workflows/tests.yml
  build.gradle
  src/main/java/org/jabref/Globals.java
  src/main/java/org/jabref/JabRefGUI.java
  src/main/java/org/jabref/JabRefMain.java
  src/main/java/org/jabref/cli/JabRefCLI.java
  src/main/java/org/jabref/gui/entryeditor/RelatedArticlesTab.java
  src/main/java/org/jabref/gui/errorconsole/ErrorConsoleViewModel.java
  src/main/java/org/jabref/gui/help/AboutDialogViewModel.java
  src/main/java/org/jabref/gui/help/SearchForUpdateAction.java
  src/main/java/org/jabref/logic/importer/fetcher/SpringerFetcher.java
  src/main/java/org/jabref/logic/util/BuildInfo.java
  src/main/resources/build.properties
  src/test/java/org/jabref/logic/util/BuildInfoTest.java
Labels: build-system, ready-for-review

#6145 [WIP] Update to JDK 14
  .github/workflows/check-outdated-dependencies.yml
  .github/workflows/deployment.yml
  .github/workflows/tests-fetchers.yml
  .github/workflows/tests-oracle.yml
  .github/workflows/tests.yml
  README.md
  build.gradle
  docs/guidelines-for-setting-up-a-local-workspace.md
  gradle/wrapper/gradle-wrapper.properties
Labels: ready-for-review

#6116 Fix: Only if `.sav` file has changes a recovery dialog is shown
  CHANGELOG.md
  src/main/java/org/jabref/JabRefGUI.java
  src/main/java/org/jabref/gui/JabRefFrame.java
  src/main/java/org/jabref/gui/dialogs/BackupUIManager.java
  src/main/java/org/jabref/gui/importer/actions/OpenDatabaseAction.java
  src/main/java/org/jabref/logic/autosaveandbackup/BackupManager.java
  src/main/java/org/jabref/logic/citationstyle/CSLAdapter.java
  src/test/java/org/jabref/logic/autosaveandbackup/BackupManagerTest.java
  src/test/resources/org/jabref/logic/autosaveandbackup/changes.bib
  src/test/resources/org/jabref/logic/autosaveandbackup/changes.bib.sav
  src/test/resources/org/jabref/logic/autosaveandbackup/no-autosave.bib
  src/test/resources/org/jabref/logic/autosaveandbackup/no-changes.bib
  src/test/resources/org/jabref/logic/autosaveandbackup/no-changes.bib.sav
Labels: ready-for-review

#5973 Check for secrets being present at GitHub workflows
  .github/workflows/check-outdated-dependencies.yml
  .github/workflows/cleanup_pr.yml
  .github/workflows/deployment.yml
  .github/workflows/snap.yml
  .github/workflows/tests-fetchers.yml
  .github/workflows/tests-oracle.yml
  .github/workflows/tests.yml
  codecov.yml
Labels: ready-for-review

#6171 Refactored general preferences
  src/main/java/org/jabref/gui/BasePanel.java
  src/main/java/org/jabref/gui/bibtexextractor/BibtexExtractorViewModel.java
  src/main/java/org/jabref/gui/externalfiles/FindUnlinkedFilesDialog.java
  src/main/java/org/jabref/gui/externalfiles/ImportHandler.java
  src/main/java/org/jabref/gui/importer/ImportAction.java
  src/main/java/org/jabref/gui/importer/ImportEntriesViewModel.java
  src/main/java/org/jabref/gui/importer/actions/AppendDatabaseAction.java
  src/main/java/org/jabref/gui/maintable/MainTable.java
  src/main/java/org/jabref/gui/preferences/GeneralTabViewModel.java
  src/main/java/org/jabref/logic/preferences/OwnerPreferences.java
  src/main/java/org/jabref/logic/preferences/TimestampPreferences.java
  src/main/java/org/jabref/logic/util/UpdateField.java
  src/main/java/org/jabref/logic/util/UpdateFieldPreferences.java
  src/main/java/org/jabref/preferences/GeneralPreferences.java
  src/main/java/org/jabref/preferences/JabRefPreferences.java
  src/main/java/org/jabref/preferences/PreferencesService.java
  src/test/java/org/jabref/JabRefPreferencesTest.java
Labels: ready-for-review

#6200 Remove redundant RegExp character replace
  src/main/java/org/jabref/logic/formatter/bibtexfields/HtmlToUnicodeFormatter.java
  src/main/java/org/jabref/logic/layout/format/HTMLChars.java
  src/main/java/org/jabref/logic/openoffice/OOPreFormatter.java
Labels: code-quality

#6217 Delete tests-oracle.yml
  .github/workflows/tests-oracle.yml
Labels: ready-for-review

#6204 Fix some IntelliJ findings
  src/main/java/org/jabref/JabRefExecutorService.java
  src/main/java/org/jabref/gui/SidePaneManager.java
  src/main/java/org/jabref/gui/copyfiles/CopyFilesTask.java
  src/main/java/org/jabref/gui/duplicationFinder/DuplicateSearch.java
  src/main/java/org/jabref/gui/exporter/ExportToClipboardAction.java
  src/main/java/org/jabref/gui/groups/GroupTreeView.java
  src/main/java/org/jabref/gui/groups/UndoableModifySubtree.java
  src/main/java/org/jabref/gui/util/BackgroundTask.java
  src/main/java/org/jabref/gui/util/CurrentThreadTaskExecutor.java
  src/main/java/org/jabref/gui/util/IconValidationDecorator.java
  src/main/java/org/jabref/gui/util/component/TagBar.java
  src/main/java/org/jabref/logic/bibtex/comparator/FieldComparator.java
  src/main/java/org/jabref/logic/bst/VM.java
  src/main/java/org/jabref/logic/exporter/BibTeXMLExporter.java
  src/main/java/org/jabref/logic/exporter/TemplateExporter.java
  src/main/java/org/jabref/logic/importer/ImportFormatReader.java
  src/main/java/org/jabref/logic/importer/fileformat/MrDLibImporter.java
  src/main/java/org/jabref/logic/layout/format/RTFChars.java
  src/main/java/org/jabref/logic/openoffice/OpenOfficeFileSearch.java
Labels: code-quality

#6110 Groups: Searching for keywords field mandatory value not checked
  src/main/java/org/jabref/gui/groups/GroupDialogView.java
  src/main/java/org/jabref/gui/groups/GroupDialogViewModel.java
  src/main/resources/l10n/JabRef_en.properties
Labels: ready-for-review
