Repository JabRef/jabref, pull requests merged in 2020-11, with the labels that each got.

#7040 Fix Shared Database Tests
  .github/workflows/tests.yml
  src/main/java/org/jabref/logic/util/CoarseChangeFilter.java
  src/main/java/org/jabref/model/entry/event/FieldChangedEvent.java
Labels: status: changes required, status: ready-for-review

#7071 Fix custom theme styles not applied to the entry preview
  CHANGELOG.md
  src/main/java/org/jabref/gui/preview/PreviewViewer.java
Labels: status: ready-for-review

#7077 Fix preview settings not saved due to l10n
  CHANGELOG.md
  src/main/java/org/jabref/gui/preferences/PreviewTabView.java
  src/main/java/org/jabref/gui/preferences/PreviewTabViewModel.java
  src/main/java/org/jabref/gui/preview/PreviewPanel.java
  src/main/java/org/jabref/gui/preview/PreviewViewer.java
  src/main/java/org/jabref/logic/bst/BstPreviewLayout.java
  src/main/java/org/jabref/logic/citationstyle/CitationStylePreviewLayout.java
  src/main/java/org/jabref/logic/layout/TextBasedPreviewLayout.java
  src/main/java/org/jabref/logic/preview/PreviewLayout.java
  src/main/java/org/jabref/preferences/JabRefPreferences.java
Labels: status: ready-for-review

#6037 Implement Emacs key bindings
  CHANGELOG.md
  src/main/java/org/jabref/gui/JabRefGUI.java
  src/main/java/org/jabref/gui/entryeditor/SourceTab.java
  src/main/java/org/jabref/gui/keyboard/CodeAreaKeyBindings.java
  src/main/java/org/jabref/gui/keyboard/KeyBinding.java
  src/main/java/org/jabref/gui/keyboard/KeyBindingCategory.java
  src/main/java/org/jabref/gui/keyboard/KeyBindingViewModel.java
  src/main/java/org/jabref/gui/keyboard/KeyBindingsDialog.fxml
  src/main/java/org/jabref/gui/keyboard/KeyBindingsDialogView.java
  src/main/java/org/jabref/gui/keyboard/KeyBindingsDialogViewModel.java
  src/main/java/org/jabref/gui/keyboard/TextInputKeyBindings.java
  src/main/java/org/jabref/gui/keyboard/presets/BashKeyBindingPreset.java
  src/main/java/org/jabref/gui/keyboard/presets/KeyBindingPreset.java
  src/main/java/org/jabref/logic/util/strings/StringManipulator.java
  src/main/java/org/jabref/model/util/ResultingStringState.java
  src/main/java/org/jabref/preferences/JabRefPreferences.java
  src/main/resources/l10n/JabRef_en.properties
  src/test/java/org/jabref/logic/util/strings/StringManipulatorTest.java
Labels: status: ready-for-review, type: enhancement

#7056 Add support for Microsoft Edge browser in Windows and Linux builds
  CHANGELOG.md
  build.gradle
  buildres/linux/native-messaging-host/chromium/org.jabref.jabref.json
  buildres/linux/postinst
  buildres/linux/postrm
  buildres/mac/native-messaging-host/chromium/org.jabref.jabref.json
  buildres/mac/postinstall
  buildres/windows/JabRef-post-image.wsf
  buildres/windows/jabref-chrome.json
  snap/hooks/connect-plug-etc-opt-edge-native-messaging-jabref
  snap/hooks/disconnect-plug-etc-opt-edge-native-messaging-jabref
  snap/snapcraft.yaml
Labels: status: ready-for-review

#7084 Fix endnote importer when keyword style is null
  CHANGELOG.md
  src/main/java/org/jabref/gui/DefaultInjector.java
  src/main/java/org/jabref/gui/importer/ImportAction.java
  src/main/java/org/jabref/gui/importer/ImportEntriesDialog.java
  src/main/java/org/jabref/gui/importer/ImportEntriesViewModel.java
  src/main/java/org/jabref/logic/importer/fileformat/EndnoteXmlImporter.java
  src/main/resources/l10n/JabRef_en.properties
  src/test/resources/org/jabref/logic/importer/fileformat/EndnoteXmlImporterTest_EmptyKeywordStyle.bib
  src/test/resources/org/jabref/logic/importer/fileformat/EndnoteXmlImporterTest_EmptyKeywordStyle.xml
Labels: status: ready-for-review

#7095 Fixed setting title of saved new library
  src/main/java/org/jabref/gui/exporter/SaveDatabaseAction.java
  src/main/java/org/jabref/gui/shared/SharedDatabaseUIManager.java
Labels: status: ready-for-review

#7097 Update antlr task + gradle
  .github/workflows/deployment.yml
  build.gradle
  buildSrc/src/main/groovy/org/jabref/build/antlr/Antlr3CommandLine.groovy
  buildSrc/src/main/groovy/org/jabref/build/antlr/Antlr4CommandLine.groovy
  buildSrc/src/main/groovy/org/jabref/build/antlr/AntlrCommandLine.groovy
  buildSrc/src/main/groovy/org/jabref/build/antlr/AntlrTask.groovy
  buildSrc/src/main/groovy/org/jabref/build/antlr/JabRefAntlrPlugin.groovy
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
Labels: status: ready-for-review

#7093 Refine default preview
  CHANGELOG.md
  src/main/java/org/jabref/preferences/JabRefPreferences.java
Labels: status: ready-for-review

#7073 Fixes exception in preview using regexp search and regexp search without specified field
  src/main/java/org/jabref/gui/preview/PreviewViewer.java
  src/main/java/org/jabref/logic/search/SearchQuery.java
  src/main/java/org/jabref/model/search/rules/GrammarBasedSearchRule.java
  src/main/java/org/jabref/model/search/rules/SearchRules.java
  src/test/java/org/jabref/model/search/rules/ContainBasedSearchRuleTest.java
  src/test/java/org/jabref/model/search/rules/GrammarBasedSearchRuleTest.java
Labels: status: ready-for-review

#7116 Fix saving in codeArea without leaving the field
  CHANGELOG.md
  src/main/java/org/jabref/gui/entryeditor/SourceTab.java
  src/main/java/org/jabref/gui/keyboard/CodeAreaKeyBindings.java
Labels: status: ready-for-review

#7124 Enable automated cross library search using a cross library query lan…
  CHANGELOG.md
  build.gradle
  src/main/java/module-info.java
  src/main/java/org/jabref/gui/JabRefFrame.java
  src/main/java/org/jabref/gui/StartLiteratureReviewAction.java
  src/main/java/org/jabref/gui/actions/StandardActions.java
  src/main/java/org/jabref/logic/crawler/Crawler.java
  src/main/java/org/jabref/logic/crawler/LibraryEntryToFetcherConverter.java
  src/main/java/org/jabref/logic/crawler/StudyFetcher.java
  src/main/java/org/jabref/logic/crawler/StudyRepository.java
  src/main/java/org/jabref/logic/crawler/git/GitHandler.java
  src/main/java/org/jabref/logic/importer/fetcher/SpringerFetcher.java
  src/main/java/org/jabref/model/entry/types/EntryTypeFactory.java
  src/main/java/org/jabref/model/entry/types/SystematicLiteratureReviewStudyEntryType.java
  src/main/java/org/jabref/model/entry/types/SystematicLiteratureReviewStudyEntryTypeDefinitions.java
  src/main/java/org/jabref/model/study/FetchResult.java
  src/main/java/org/jabref/model/study/QueryResult.java
  src/main/java/org/jabref/model/study/Study.java
  src/main/java/org/jabref/model/study/StudyMetaDataField.java
  src/main/resources/l10n/JabRef_en.properties
  src/test/java/org/jabref/logic/crawler/CrawlerTest.java
  src/test/java/org/jabref/logic/crawler/LibraryEntryToFetcherConverterTest.java
  src/test/java/org/jabref/logic/crawler/StudyRepositoryTest.java
  src/test/java/org/jabref/logic/importer/fetcher/SearchBasedFetcherCapabilityTest.java
  src/test/java/org/jabref/model/study/StudyTest.java
  src/test/resources/org/jabref/logic/crawler/ArXivQuantumMock.bib
  src/test/resources/org/jabref/logic/crawler/SpringerCloud ComputingMock.bib
  src/test/resources/org/jabref/logic/crawler/SpringerQuantumMock.bib
  src/test/resources/org/jabref/logic/crawler/study.bib
Labels: status: changes required

#7131 Fixing glyph icon colors in Search Bar in Dark Mode
  src/main/java/org/jabref/gui/Dark.css
Labels: status: ready-for-review

#7132 Fix document viewer not showing first page
  CHANGELOG.md
  src/main/java/org/jabref/gui/documentviewer/DocumentViewerViewModel.java
  src/main/java/org/jabref/gui/documentviewer/PdfDocumentPageViewModel.java
  src/main/java/org/jabref/gui/documentviewer/PdfDocumentViewModel.java
Labels: status: ready-for-review
