Repository JabRef/jabref, pull requests merged in 2020-04, with the labels that each got.

#6242 Fix storing of custom jstyles
  CHANGELOG.md
  src/main/java/org/jabref/gui/openoffice/StyleSelectDialogViewModel.java
  src/main/java/org/jabref/gui/openoffice/StyleSelectItemViewModel.java
  src/main/java/org/jabref/logic/citationstyle/CitationStyleGenerator.java
  src/main/java/org/jabref/logic/openoffice/OOBibStyle.java
  src/main/java/org/jabref/logic/openoffice/StyleLoader.java
  src/test/java/org/jabref/logic/openoffice/OOBibStyleTest.java
  src/test/java/org/jabref/logic/openoffice/StyleLoaderTest.java
Labels: ready-for-review

#6251 Update PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: ready-for-review

#6239 Entry editor: Add more tooltips and wrap tooltips if necessary
  src/main/java/org/jabref/gui/fieldeditors/FieldNameLabel.java
  src/main/resources/l10n/JabRef_en.properties
Labels: s: ready-for-review

#6265 Fix sort by priority (#6222)
  CHANGELOG.md
  src/main/java/org/jabref/gui/maintable/MainTableColumnFactory.java
  src/main/java/org/jabref/gui/util/comparator/PriorityFieldComparator.java
Labels: s: changes required, s: ready-for-review

#6268 Improve calculation of matched entries upon change
  CHANGELOG.md
  src/main/java/org/jabref/gui/groups/GroupNodeViewModel.java
  src/main/java/org/jabref/model/entry/BibEntry.java
  src/main/java/org/jabref/model/groups/GroupTreeNode.java
  src/test/java/org/jabref/model/groups/GroupTreeNodeTest.java
Labels: s: ready-for-review

#6270 Improve performance
  .idea/runConfigurations/JabRef_Main.xml
  src/main/java/org/jabref/gui/BasePanel.java
  src/main/java/org/jabref/gui/maintable/BibEntryTableViewModel.java
  src/main/java/org/jabref/gui/maintable/FieldColumn.java
  src/main/java/org/jabref/gui/maintable/MainTableNameFormatter.java
  src/main/java/org/jabref/gui/search/GlobalSearchBar.java
  src/main/java/org/jabref/gui/util/ValueTableCellFactory.java
  src/main/java/org/jabref/model/entry/BibEntry.java
  src/test/java/org/jabref/logic/bibtexkeypattern/BibtexKeyGeneratorTest.java
  src/test/java/org/jabref/model/entry/BibEntryTest.java
Labels: s: ready-for-review

#6248 Number of items found in ImportEntriesDialog
  CHANGELOG.md
  src/main/java/org/jabref/gui/importer/ImportEntriesDialog.fxml
  src/main/java/org/jabref/gui/importer/ImportEntriesDialog.java
  src/main/resources/l10n/JabRef_en.properties
Labels: s: ready-for-review

#6282 Create action to automatically close stale issues
  .github/workflows/stale.yml
Labels: s: ready-for-review

#6258 Fix inspire fetcher
  CHANGELOG.md
  src/main/java/org/jabref/logic/importer/SearchBasedParserFetcher.java
  src/main/java/org/jabref/logic/importer/fetcher/INSPIREFetcher.java
  src/test/java/org/jabref/logic/importer/fetcher/INSPIREFetcherTest.java
Labels: s: changes required, s: ready-for-review

#6203 Add tooltips for all entry types for #6074
  src/main/java/org/jabref/gui/EntryTypeView.java
  src/main/java/org/jabref/gui/menus/ChangeEntryTypeMenu.java
  src/main/java/org/jabref/model/entry/types/BiblatexEntryTypeDefinitions.java
  src/main/java/org/jabref/model/entry/types/StandardEntryType.java
  src/main/resources/l10n/JabRef_en.properties
Labels: s: ready-for-review

#6298 Reduce memory footprint
  src/main/java/org/jabref/logic/bibtexkeypattern/BibtexKeyGenerator.java
  src/main/java/org/jabref/logic/integrity/BibtexKeyDuplicationChecker.java
  src/main/java/org/jabref/model/database/BibDatabase.java
  src/main/java/org/jabref/model/database/DuplicationChecker.java
  src/test/java/org/jabref/model/database/BibDatabaseTest.java
  src/test/java/org/jabref/model/database/DuplicationCheckerTest.java
Labels: s: ready-for-review

#6151 ActionHelper to test for present file
  src/main/java/org/jabref/gui/JabRefFrame.java
  src/main/java/org/jabref/gui/actions/ActionHelper.java
  src/main/java/org/jabref/gui/documentviewer/ShowDocumentViewerAction.java
  src/main/java/org/jabref/gui/entryeditor/EntryEditor.css
  src/main/java/org/jabref/gui/fieldeditors/LinkedFileViewModel.java
  src/main/java/org/jabref/gui/fieldeditors/LinkedFilesEditor.java
  src/main/java/org/jabref/gui/maintable/OpenExternalFileAction.java
  src/main/java/org/jabref/gui/maintable/OpenFolderAction.java
  src/main/java/org/jabref/gui/util/ViewModelListCellFactory.java
  src/main/java/org/jabref/model/entry/BibEntry.java
  src/main/resources/l10n/JabRef_en.properties
Labels: s: ready-for-review

#6309 Remove caching in deployment scripts
  .github/workflows/deployment.yml
Labels: s: ready-for-review

#6312 Add JabRef to startmenu on windows
  CHANGELOG.md
  build.gradle
Labels: s: ready-for-review

#6316 Improve performance massively by fixing a stupid binding mistake
  src/main/java/org/jabref/gui/maintable/BibEntryTableViewModel.java
  src/main/java/org/jabref/gui/maintable/FieldColumn.java
  src/main/java/org/jabref/gui/maintable/MainTableColumnFactory.java
  src/main/java/org/jabref/gui/maintable/MainTableDataModel.java
Labels: s: ready-for-review

#6332 Improve performance for loading files
  .idea/runConfigurations/JabRef_Main.xml
  src/main/java/org/jabref/gui/BasePanel.java
  src/main/java/org/jabref/gui/entryeditor/SourceTab.java
  src/main/java/org/jabref/gui/fieldeditors/FieldEditors.java
  src/main/java/org/jabref/gui/fieldeditors/FieldNameLabel.java
  src/main/java/org/jabref/gui/maintable/BibEntryTableViewModel.java
  src/main/java/org/jabref/gui/maintable/MainTableDataModel.java
  src/main/java/org/jabref/gui/preferences/TableColumnsTabViewModel.java
  src/main/java/org/jabref/logic/importer/ParserResult.java
  src/main/java/org/jabref/logic/importer/fetcher/DBLPFetcher.java
  src/main/java/org/jabref/logic/importer/fileformat/BibtexParser.java
  src/main/java/org/jabref/logic/importer/fileformat/MedlineImporter.java
  src/main/java/org/jabref/logic/importer/fileformat/MedlinePlainImporter.java
  src/main/java/org/jabref/logic/util/UpdateField.java
  src/main/java/org/jabref/model/database/BibDatabase.java
  src/main/java/org/jabref/model/database/BibDatabases.java
  src/main/java/org/jabref/model/entry/BibEntry.java
  src/main/java/org/jabref/model/entry/field/FieldFactory.java
  src/main/java/org/jabref/model/entry/field/InternalField.java
  src/main/java/org/jabref/model/entry/field/SpecialField.java
  src/main/java/org/jabref/model/entry/field/StandardField.java
  src/main/java/org/jabref/model/groups/AutomaticKeywordGroup.java
  src/main/java/org/jabref/model/groups/ExplicitGroup.java
  src/main/java/org/jabref/model/groups/WordKeywordGroup.java
  src/main/java/org/jabref/model/search/matchers/OrMatcher.java
  src/main/java/org/jabref/model/util/ListUtil.java
  src/main/java/org/jabref/model/util/MultiKeyMap.java
  src/main/java/org/jabref/preferences/JabRefPreferences.java
  src/test/java/org/jabref/gui/UpdateTimestampListenerTest.java
  src/test/java/org/jabref/gui/groups/GroupNodeViewModelTest.java
  src/test/java/org/jabref/gui/groups/GroupTreeViewModelTest.java
  src/test/java/org/jabref/logic/importer/fetcher/MedlineFetcherTest.java
  src/test/java/org/jabref/logic/importer/fileformat/BibtexParserTest.java
  src/test/java/org/jabref/logic/layout/LayoutEntryTest.java
  src/test/java/org/jabref/logic/xmp/XmpUtilWriterTest.java
  src/test/java/org/jabref/migrations/ConvertLegacyExplicitGroupsTest.java
  src/test/java/org/jabref/model/database/BibDatabaseModeDetectionTest.java
  src/test/java/org/jabref/model/database/BibDatabaseTest.java
  src/test/java/org/jabref/model/groups/ExplicitGroupTest.java
Labels: status: ready-for-review

#6245 Refactor EntryEditorPreferences
  src/main/java/org/jabref/gui/autocompleter/AutoCompletePreferences.java
  src/main/java/org/jabref/gui/autocompleter/PersonNameStringConverter.java
  src/main/java/org/jabref/gui/bibtexkeypattern/GenerateBibtexKeySingleAction.java
  src/main/java/org/jabref/gui/customizefields/CustomizeGeneralFieldsDialogViewModel.java
  src/main/java/org/jabref/gui/entryeditor/EntryEditor.java
  src/main/java/org/jabref/gui/entryeditor/EntryEditorPreferences.java
  src/main/java/org/jabref/gui/entryeditor/EntryEditorTabList.java
  src/main/java/org/jabref/gui/entryeditor/OtherFieldsTab.java
  src/main/java/org/jabref/gui/fieldeditors/BibtexKeyEditor.java
  src/main/java/org/jabref/gui/fieldeditors/BibtexKeyEditorViewModel.java
  src/main/java/org/jabref/gui/preferences/EntryEditorTabViewModel.java
  src/main/java/org/jabref/logic/bibtexkeypattern/BibtexKeyGenerator.java
  src/main/java/org/jabref/logic/bibtexkeypattern/BibtexKeyPatternPreferences.java
  src/main/java/org/jabref/preferences/JabRefPreferences.java
  src/main/java/org/jabref/preferences/PreferencesService.java
  src/main/resources/l10n/JabRef_en.properties
  src/test/java/org/jabref/logic/bibtexkeypattern/MakeLabelWithDatabaseTest.java
  src/test/java/org/jabref/logic/integrity/IntegrityCheckTest.java
Labels: status: ready-for-review

#5986 Add Info plist to mac resources
  buildres/mac/Info-lite.plist.template
  buildres/mac/Runtime-Info.plist
  buildres/mac/Runtime-Info.plist.template
  buildres/mac/info-lite.plist
Labels: build-system, os: macOS

#6371 Disable the generate button if the ID field is empty
  CHANGELOG.md
  src/main/java/org/jabref/gui/EntryTypeView.java
  src/main/java/org/jabref/gui/EntryTypeViewModel.java
Labels: status: ready-for-review
