Repository JabRef/jabref, pull requests merged in 2021-12, with the labels that each got.

#8242 Add doc tests
  src/test/java/org/jabref/model/search/rules/GrammarBasedSearchRuleTest.java
Labels: search

#8289 [Bot] Update CSL styles
  buildres/csl/csl-styles/apa-6th-edition-no-ampersand.csl
  buildres/csl/csl-styles/apa-6th-edition.csl
  buildres/csl/csl-styles/apa-annotated-bibliography.csl
  buildres/csl/csl-styles/apa-cv.csl
  buildres/csl/csl-styles/apa-no-ampersand.csl
  buildres/csl/csl-styles/apa-no-doi-no-issue.csl
  buildres/csl/csl-styles/apa-numeric-superscript-brackets.csl
  buildres/csl/csl-styles/apa-numeric-superscript.csl
  buildres/csl/csl-styles/apa-old-doi-prefix.csl
  buildres/csl/csl-styles/apa-single-spaced.csl
  buildres/csl/csl-styles/apa-with-abstract.csl
  buildres/csl/csl-styles/apa.csl
  buildres/csl/csl-styles/asian-myrmecology.csl
  buildres/csl/csl-styles/bibtex.csl
  buildres/csl/csl-styles/china-national-standard-gb-t-7714-2015-author-date.csl
  buildres/csl/csl-styles/china-national-standard-gb-t-7714-2015-numeric.csl
  buildres/csl/csl-styles/chinese-gb7714-2005-numeric.csl
  buildres/csl/csl-styles/german-journal-of-agricultural-economics.csl
  buildres/csl/csl-styles/harvard-university-of-the-west-of-england.csl
  buildres/csl/csl-styles/infoclio-de-kurzbelege.csl
  buildres/csl/csl-styles/infoclio-de.csl
  buildres/csl/csl-styles/journal-of-health-care-for-the-poor-and-underserved.csl
  buildres/csl/csl-styles/polar-research.csl
  buildres/csl/csl-styles/steel-research-international.csl
  buildres/csl/csl-styles/universite-laval-departement-des-sciences-historiques.csl
Labels: dependencies

#8290 Fix icon picker excpetion in groups dialog
  src/main/java/org/jabref/gui/groups/GroupDialogView.java
Labels: status: ready-for-review

#8293 Fix exception on preview style edit and selection
  CHANGELOG.md
  src/main/java/org/jabref/gui/preferences/preview/PreviewTabViewModel.java
  src/main/java/org/jabref/gui/preview/PreviewViewer.java
Labels: status: ready-for-review

#8294 Apply search string on opening library when keep search string is selected
  src/main/java/org/jabref/gui/JabRefFrame.java
  src/main/java/org/jabref/gui/search/GlobalSearchResultDialog.java
  src/main/resources/l10n/JabRef_en.properties
Labels: status: ready-for-review

#8299 Update Gradle Wrapper from 7.3 to 7.3.1
  gradle/wrapper/gradle-wrapper.properties
  gradlew
Labels: dependencies, gradle-wrapper

#8307 Fix file-filter in XMP Export
  CHANGELOG.md
  src/main/java/org/jabref/gui/actions/StandardActions.java
  src/main/java/org/jabref/gui/exporter/WriteMetadataToPdfAction.java
  src/main/java/org/jabref/gui/keyboard/KeyBinding.java
  src/main/java/org/jabref/logic/exporter/EmbeddedBibFilePdfExporter.java
  src/main/resources/l10n/JabRef_en.properties
Labels: status: ready-for-review

#8311 Fix xmp import
  CHANGELOG.md
  src/main/java/org/jabref/logic/importer/fileformat/PdfEmbeddedBibFileImporter.java
  src/main/java/org/jabref/logic/xmp/XmpUtilReader.java
Labels: status: ready-for-review

#8320 Fix IEEE test
  src/main/java/org/jabref/logic/net/URLDownload.java
  src/test/java/org/jabref/logic/importer/fetcher/CompositeIdFetcherTest.java
Labels: status: ready-for-review

#8319 snap: Remove superfluous files post build
  snap/snapcraft.yaml
Labels: status: ready-for-review, os: snap

#8202 Refactor Sidepane logic
  CHANGELOG.md
  src/main/java/org/jabref/gui/JabRefFrame.java
  src/main/java/org/jabref/gui/StateManager.java
  src/main/java/org/jabref/gui/actions/ActionFactory.java
  src/main/java/org/jabref/gui/groups/GroupSidePane.java
  src/main/java/org/jabref/gui/importer/fetcher/WebSearchPaneView.java
  src/main/java/org/jabref/gui/openoffice/OpenOfficeSidePanel.java
  src/main/java/org/jabref/gui/sidepane/GroupsSidePaneComponent.java
  src/main/java/org/jabref/gui/sidepane/SidePane.java
  src/main/java/org/jabref/gui/sidepane/SidePaneComponent.java
  src/main/java/org/jabref/gui/sidepane/SidePaneContentFactory.java
  src/main/java/org/jabref/gui/sidepane/SidePaneType.java
  src/main/java/org/jabref/gui/sidepane/SidePaneViewModel.java
  src/main/java/org/jabref/gui/sidepane/TogglePaneAction.java
  src/test/java/org/jabref/gui/sidepane/SidePaneViewModelTest.java
Labels: ui, status: ready-for-review, type: code-quality

#8247 Exception shouldn't happen when pasting an entry with a publication date-range of form yyyy-yyyy
  .idea/runConfigurations/JabRef_Main.xml
  CHANGELOG.md
  src/main/java/org/jabref/model/entry/Date.java
  src/test/java/org/jabref/model/entry/DateTest.java
Labels: status: changes required

#8337 [Bot] Update CSL styles
  buildres/csl/csl-styles/annals-of-oncology.csl
  buildres/csl/csl-styles/dependent/chemmedchem.csl
  buildres/csl/csl-styles/dependent/clinical-kidney-journal.csl
  buildres/csl/csl-styles/dependent/organization-studies.csl
  buildres/csl/csl-styles/harvard-newcastle-university.csl
  buildres/csl/csl-styles/historia-scribere.csl
  buildres/csl/csl-styles/kit-karlsruher-institut-fur-technologie-germanistik-ndl-neuere-deutsche-literaturwissenschaft.csl
  buildres/csl/csl-styles/organization-studies.csl
  buildres/csl/csl-styles/research-in-plant-disease.csl
  buildres/csl/csl-styles/science-translational-medicine.csl
  buildres/csl/csl-styles/wikipedia-templates.csl
Labels: dependencies

#8338 Fix ACM fetcher
  src/main/java/org/jabref/logic/importer/fileformat/ACMPortalParser.java
  src/test/java/org/jabref/logic/importer/fetcher/ACMPortalFetcherTest.java
Labels: status: ready-for-review

#8226 Tinylog
  CHANGELOG.md
  build.gradle
  src/main/java/module-info.java
  src/main/java/org/jabref/cli/ArgumentProcessor.java
  src/main/java/org/jabref/gui/errorconsole/ErrorConsoleViewModel.java
  src/main/java/org/jabref/gui/errorconsole/LogEventViewModel.java
  src/main/java/org/jabref/gui/logging/ApplicationInsightsAppender.java
  src/main/java/org/jabref/gui/logging/ApplicationInsightsLogEvent.java
  src/main/java/org/jabref/gui/logging/ApplicationInsightsWriter.java
  src/main/java/org/jabref/gui/logging/GuiAppender.java
  src/main/java/org/jabref/gui/logging/GuiWriter.java
  src/main/java/org/jabref/logic/logging/JabRefLogger.java
  src/main/java/org/jabref/logic/logging/LogMessages.java
  src/main/resources/META-INF/services/org.tinylog.writers.Writer
  src/main/resources/log4j2.xml
  src/main/resources/tinylog.properties
Labels: status: ready-for-review

#8339 add tinylog test config
  src/test/resources/log4j2-test.xml
  src/test/resources/tinylog-test.properties
Labels: status: ready-for-review

#8332 Fix issues with writing metadata to pdfs
  CHANGELOG.md
  src/main/java/org/jabref/logic/exporter/EmbeddedBibFilePdfExporter.java
  src/main/resources/l10n/JabRef_en.properties
Labels: external files

#8343 Update Gradle Wrapper from 7.3.1 to 7.3.2
  gradle/wrapper/gradle-wrapper.properties
Labels: dependencies, gradle-wrapper

#8342 Added missing executable bindings to various commands
  CHANGELOG.md
  src/main/java/org/jabref/gui/JabRefFrame.java
  src/main/java/org/jabref/gui/exporter/ExportCommand.java
  src/main/java/org/jabref/gui/exporter/ExportToClipboardAction.java
  src/main/java/org/jabref/gui/maintable/RightClickMenu.java
  src/test/java/org/jabref/gui/exporter/ExportToClipboardActionTest.java
Labels: ui, status: ready-for-review, type: code-quality

#8351 [Bot] Update CSL styles
  buildres/csl/csl-locales/locales-pt-BR.xml
  buildres/csl/csl-styles/frontiers-medical-journals.csl
  buildres/csl/csl-styles/monographs-of-the-palaeontographical-society.csl
  buildres/csl/csl-styles/natura-croatica.csl
  buildres/csl/csl-styles/norsk-henvisningsstandard-for-rettsvitenskapelige-tekster.csl
  buildres/csl/csl-styles/turabian-fullnote-bibliography-no-ibid.csl
Labels: dependencies

#8341 Integrated CustomizeExternalFileTypesDialog into Preferences
  CHANGELOG.md
  src/main/java/org/jabref/gui/externalfiletype/CustomizeExternalFileTypesDialog.fxml
  src/main/java/org/jabref/gui/externalfiletype/EditExternalFileTypesAction.java
  src/main/java/org/jabref/gui/preferences/PreferencesDialogViewModel.java
  src/main/java/org/jabref/gui/preferences/external/ExternalTab.fxml
  src/main/java/org/jabref/gui/preferences/external/ExternalTab.java
  src/main/java/org/jabref/gui/preferences/external/ExternalTabViewModel.java
  src/main/java/org/jabref/gui/preferences/externalfiletypes/ExternalFileTypesTab.fxml
  src/main/java/org/jabref/gui/preferences/externalfiletypes/ExternalFileTypesTab.java
  src/main/java/org/jabref/gui/preferences/externalfiletypes/ExternalFileTypesTabViewModel.java
  src/main/resources/l10n/JabRef_en.properties
Labels: status: ready-for-review, preferences

#8352 Fix NPE when clicking on preview
  CHANGELOG.md
  src/main/java/org/jabref/gui/preview/PreviewViewer.java
Labels: status: ready-for-review

#8358 Fixes empty metadata in library properties called from right click menu
  CHANGELOG.md
  src/main/java/org/jabref/gui/JabRefFrame.java
  src/main/java/org/jabref/gui/OpenConsoleAction.java
  src/main/java/org/jabref/gui/libraryproperties/LibraryPropertiesAction.java
  src/main/java/org/jabref/gui/libraryproperties/LibraryPropertiesView.java
  src/main/java/org/jabref/gui/libraryproperties/general/GeneralPropertiesViewModel.java
Labels: status: ready-for-review

#8359 Changed encoding used by IntegrityCheck
  CHANGELOG.md
  src/main/java/org/jabref/gui/integrity/IntegrityCheckAction.java
  src/main/java/org/jabref/logic/integrity/IntegrityCheck.java
  src/main/java/org/jabref/logic/integrity/UTF8Checker.java
  src/test/java/org/jabref/logic/integrity/IntegrityCheckTest.java
  src/test/java/org/jabref/logic/integrity/UTF8CheckerTest.java
Labels: status: ready-for-review

#8336 Observable preferences I (Internal [formerly Version], Groups, Xmp, AutoComplete)
  src/main/java/org/jabref/gui/Globals.java
  src/main/java/org/jabref/gui/JabRefFrame.java
  src/main/java/org/jabref/gui/JabRefGUI.java
  src/main/java/org/jabref/gui/autocompleter/AutoCompletePreferences.java
  src/main/java/org/jabref/gui/groups/GroupNodeViewModel.java
  src/main/java/org/jabref/gui/groups/GroupTreeView.java
  src/main/java/org/jabref/gui/groups/GroupsPreferences.java
  src/main/java/org/jabref/gui/help/SearchForUpdateAction.java
  src/main/java/org/jabref/gui/help/VersionWorker.java
  src/main/java/org/jabref/gui/maintable/MainTableDataModel.java
  src/main/java/org/jabref/gui/preferences/entryeditor/EntryEditorTab.java
  src/main/java/org/jabref/gui/preferences/entryeditor/EntryEditorTabViewModel.java
  src/main/java/org/jabref/gui/preferences/groups/GroupsTab.java
  src/main/java/org/jabref/gui/preferences/groups/GroupsTabViewModel.java
  src/main/java/org/jabref/gui/preferences/xmp/XmpPrivacyTab.java
  src/main/java/org/jabref/gui/preferences/xmp/XmpPrivacyTabViewModel.java
  src/main/java/org/jabref/gui/sidepane/GroupsSidePaneComponent.java
  src/main/java/org/jabref/gui/sidepane/SidePaneViewModel.java
  src/main/java/org/jabref/logic/xmp/XmpPreferences.java
  src/main/java/org/jabref/preferences/InternalPreferences.java
  src/main/java/org/jabref/preferences/JabRefPreferences.java
  src/main/java/org/jabref/preferences/PreferencesService.java
  src/main/java/org/jabref/preferences/TelemetryPreferences.java
  src/main/java/org/jabref/preferences/VersionPreferences.java
  src/test/java/org/jabref/gui/autocompleter/FieldValueSuggestionProviderTest.java
  src/test/java/org/jabref/gui/autocompleter/PersonNameStringConverterTest.java
  src/test/java/org/jabref/gui/autocompleter/SuggestionProvidersTest.java
  src/test/java/org/jabref/gui/groups/GroupNodeViewModelTest.java
  src/test/java/org/jabref/gui/groups/GroupTreeViewModelTest.java
  src/test/java/org/jabref/logic/exporter/XmpExporterTest.java
  src/test/java/org/jabref/logic/exporter/XmpPdfExporterTest.java
Labels: status: ready-for-review, type: code-quality, preferences

#8363 Update Gradle Wrapper from 7.3.2 to 7.3.3
  gradle/wrapper/gradle-wrapper.properties
Labels: dependencies, gradle-wrapper
