Repository JabRef/jabref, pull requests merged in 2021-08, with the labels that each got.

#7950 Follow up the "Aux file" on "Edit group" doesn't support relative sub-directories path
  CHANGELOG.md
  src/main/java/org/jabref/gui/groups/GroupDialogViewModel.java
  src/test/java/org/jabref/gui/groups/GroupDialogViewModelTest.java
Labels: status: ready-for-review

#7935 Refactor SaveOrderConfigPanel
  CHANGELOG.md
  src/main/java/org/jabref/gui/commonfxcontrols/SaveOrderConfigPanel.fxml
  src/main/java/org/jabref/gui/commonfxcontrols/SaveOrderConfigPanel.java
  src/main/java/org/jabref/gui/commonfxcontrols/SaveOrderConfigPanelViewModel.java
  src/main/java/org/jabref/gui/commonfxcontrols/SortCriterionViewModel.java
  src/main/java/org/jabref/gui/libraryproperties/LibraryPropertiesDialogView.java
  src/main/java/org/jabref/gui/libraryproperties/LibraryPropertiesDialogViewModel.java
  src/main/java/org/jabref/gui/preferences/file/FileTab.fxml
  src/main/java/org/jabref/gui/preferences/file/FileTab.java
  src/main/java/org/jabref/gui/preferences/file/FileTabViewModel.java
  src/main/java/org/jabref/gui/preferences/importexport/ImportExportTab.fxml
  src/main/java/org/jabref/gui/preferences/importexport/ImportExportTab.java
  src/main/java/org/jabref/gui/preferences/importexport/ImportExportTabViewModel.java
  src/main/java/org/jabref/model/metadata/SaveOrderConfig.java
  src/main/java/org/jabref/preferences/JabRefPreferences.java
  src/main/java/org/jabref/preferences/PreferencesService.java
  src/main/resources/l10n/JabRef_en.properties
  src/test/java/org/jabref/gui/commonfxcontrols/SaveOrderConfigPanelViewModelTest.java
  src/test/java/org/jabref/logic/exporter/BibtexDatabaseWriterTest.java
  src/test/java/org/jabref/logic/importer/fileformat/BibtexParserTest.java
Labels: status: ready-for-review

#7980 Fulltext Index: Only index local pdf files
  src/main/java/org/jabref/logic/pdf/search/indexing/PdfIndexer.java
  src/test/java/org/jabref/logic/pdf/search/indexing/PdfIndexerTest.java
Labels: status: ready-for-review

#7952 Reordered items in main table right-click menu
  CHANGELOG.md
  src/main/java/org/jabref/gui/actions/StandardActions.java
  src/main/java/org/jabref/gui/maintable/RightClickMenu.java
  src/main/resources/l10n/JabRef_en.properties
Labels: ui, maintable

#7985 [Bot] Update CSL styles
  buildres/csl/csl-locales/locales-th-TH.xml
  buildres/csl/csl-styles/american-journal-of-sociology.csl
  buildres/csl/csl-styles/associacao-brasileira-de-normas-tecnicas-ufrgs-initials.csl
  buildres/csl/csl-styles/biomarkers.csl
  buildres/csl/csl-styles/cancer-drug-resistance.csl
  buildres/csl/csl-styles/dependent/clinical-pulmonary-medicine.csl
  buildres/csl/csl-styles/european-review-of-agricultural-economics.csl
  buildres/csl/csl-styles/frontiers-medical-journals.csl
  buildres/csl/csl-styles/harper-adams-university-harvard.csl
  buildres/csl/csl-styles/iawa-journal.csl
  buildres/csl/csl-styles/international-journal-of-clinical-research.csl
  buildres/csl/csl-styles/journal-of-clinical-and-translational-science.csl
  buildres/csl/csl-styles/manchester-university-press.csl
  buildres/csl/csl-styles/microcirculation.csl
  buildres/csl/csl-styles/oscola.csl
  buildres/csl/csl-styles/praxis.csl
  buildres/csl/csl-styles/san-francisco-estuary-and-watershed-science.csl
  buildres/csl/csl-styles/system-dynamics-review.csl
Labels: dependencies

#7983 New yaml issue template
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.yml
Labels: status: ready-for-review

#7994 Fix icon color
  CHANGELOG.md
  src/main/java/org/jabref/gui/Base.css
  src/main/java/org/jabref/gui/actions/StandardActions.java
  src/main/java/org/jabref/gui/icon/IconTheme.java
  src/main/java/org/jabref/gui/icon/InternalMaterialDesignIcon.java
Labels: status: ready-for-review

#7979 Fix possible NPE in exporter with empty charset
  src/main/java/org/jabref/logic/exporter/TemplateExporter.java
  src/test/java/org/jabref/logic/exporter/YamlExporterTest.java
Labels: status: ready-for-review

#7776 Adding icon picker for group dialog issue#6142
  CHANGELOG.md
  src/main/java/org/jabref/gui/groups/GroupDialog.fxml
  src/main/java/org/jabref/gui/groups/GroupDialogView.java
  src/main/java/org/jabref/gui/icon/IconTheme.java
Labels: status: ready-for-review

#7947 Implement more pdf importers
  CHANGELOG.md
  src/main/java/org/jabref/gui/entryeditor/EntryEditor.java
  src/main/java/org/jabref/logic/externalfiles/ExternalFilesContentImporter.java
  src/main/java/org/jabref/logic/importer/ImportFormatReader.java
  src/main/java/org/jabref/logic/importer/WebFetchers.java
  src/main/java/org/jabref/logic/importer/fetcher/GrobidCitationFetcher.java
  src/main/java/org/jabref/logic/importer/fileformat/PdfEmbeddedBibFileImporter.java
  src/main/java/org/jabref/logic/importer/fileformat/PdfGrobidImporter.java
  src/main/java/org/jabref/logic/importer/fileformat/PdfMergeMetadataImporter.java
  src/main/java/org/jabref/logic/importer/fileformat/PdfVerbatimBibTextImporter.java
  src/main/java/org/jabref/logic/importer/util/GrobidService.java
  src/test/java/org/jabref/logic/importer/ImportFormatReaderIntegrationTest.java
  src/test/java/org/jabref/logic/importer/ImportFormatReaderTestParameterless.java
  src/test/java/org/jabref/logic/importer/WebFetchersTest.java
  src/test/java/org/jabref/logic/importer/fetcher/GrobidCitationFetcherTest.java
  src/test/java/org/jabref/logic/importer/fileformat/PdfEmbeddedBibFileImporterTest.java
  src/test/java/org/jabref/logic/importer/fileformat/PdfGrobidImporterTest.java
  src/test/java/org/jabref/logic/importer/fileformat/PdfMergeMetadataImporterTest.java
  src/test/java/org/jabref/logic/importer/fileformat/PdfVerbatimBibTextImporterTest.java
  src/test/java/org/jabref/logic/importer/util/GrobidServiceTest.java
  src/test/resources/org/jabref/logic/importer/fileformat/mixedMetadata.pdf
Labels: status: ready-for-review, project: GSoC, status: depends-on-external

#7981 Improved progress indication for fulltext-index operations
  src/main/java/org/jabref/gui/search/RebuildFulltextSearchIndexAction.java
  src/main/java/org/jabref/logic/pdf/search/indexing/IndexingTaskManager.java
  src/main/java/org/jabref/logic/pdf/search/indexing/PdfIndexer.java
  src/main/resources/l10n/JabRef_en.properties
  src/test/java/org/jabref/logic/pdf/search/indexing/PdfIndexerTest.java
  src/test/java/org/jabref/logic/pdf/search/retrieval/PdfSearcherTest.java
Labels: type: enhancement, status: ready-for-review, project: GSoC

#8003 Refactor processCitation in GrobidService to match processPdf
  src/main/java/org/jabref/logic/importer/fetcher/GrobidCitationFetcher.java
  src/main/java/org/jabref/logic/importer/util/GrobidService.java
  src/test/java/org/jabref/logic/importer/fetcher/GrobidCitationFetcherTest.java
  src/test/java/org/jabref/logic/importer/util/GrobidServiceTest.java
Labels: status: ready-for-review, project: GSoC

#8002 Preferences for Grobid
  CHANGELOG.md
  src/main/java/org/jabref/gui/JabRefMain.java
  src/main/java/org/jabref/gui/bibtexextractor/BibtexExtractorViewModel.java
  src/main/java/org/jabref/gui/bibtexextractor/ExtractBibtexAction.java
  src/main/java/org/jabref/gui/bibtexextractor/ExtractBibtexDialog.java
  src/main/java/org/jabref/gui/entryeditor/EntryEditor.java
  src/main/java/org/jabref/gui/externalfiles/ImportHandler.java
  src/main/java/org/jabref/gui/importer/GrobidOptInDialogHelper.java
  src/main/java/org/jabref/gui/importer/ImportAction.java
  src/main/java/org/jabref/gui/preferences/customimporter/CustomImporterTabViewModel.java
  src/main/java/org/jabref/gui/preferences/importexport/ImportExportTab.fxml
  src/main/java/org/jabref/gui/preferences/importexport/ImportExportTab.java
  src/main/java/org/jabref/gui/preferences/importexport/ImportExportTabViewModel.java
  src/main/java/org/jabref/logic/externalfiles/ExternalFilesContentImporter.java
  src/main/java/org/jabref/logic/importer/ImportFormatReader.java
  src/main/java/org/jabref/logic/importer/WebFetchers.java
  src/main/java/org/jabref/logic/importer/fetcher/GrobidCitationFetcher.java
  src/main/java/org/jabref/logic/importer/fileformat/PdfGrobidImporter.java
  src/main/java/org/jabref/logic/importer/fileformat/PdfMergeMetadataImporter.java
  src/main/java/org/jabref/logic/importer/importsettings/ImportSettingsPreferences.java
  src/main/java/org/jabref/logic/importer/util/GrobidService.java
  src/main/java/org/jabref/preferences/JabRefPreferences.java
  src/main/resources/l10n/JabRef_en.properties
  src/test/java/org/jabref/logic/importer/ImportFormatReaderIntegrationTest.java
  src/test/java/org/jabref/logic/importer/ImportFormatReaderTestParameterless.java
  src/test/java/org/jabref/logic/importer/WebFetchersTest.java
  src/test/java/org/jabref/logic/importer/fetcher/GrobidCitationFetcherTest.java
  src/test/java/org/jabref/logic/importer/fileformat/PdfGrobidImporterTest.java
  src/test/java/org/jabref/logic/importer/fileformat/PdfMergeMetadataImporterTest.java
  src/test/java/org/jabref/logic/importer/util/GrobidServiceTest.java
Labels: status: ready-for-review, project: GSoC

#8009 Fix exception when editing URL file
  CHANGELOG.md
  src/main/java/org/jabref/gui/linkedfile/LinkedFilesEditDialogViewModel.java
Labels: status: ready-for-review

#7929 Implement an interface to import PDF metadata from multiple sources (XMP, Grobid, ...)
  CHANGELOG.md
  src/main/java/org/jabref/gui/externalfiles/DownloadFullTextAction.java
  src/main/java/org/jabref/gui/fieldeditors/LinkedFileViewModel.java
  src/main/java/org/jabref/gui/fieldeditors/LinkedFilesEditor.java
  src/main/java/org/jabref/gui/fieldeditors/LinkedFilesEditorViewModel.java
  src/main/java/org/jabref/gui/importer/ImportEntriesViewModel.java
  src/main/java/org/jabref/gui/maintable/OpenExternalFileAction.java
  src/main/java/org/jabref/gui/maintable/OpenFolderAction.java
  src/main/java/org/jabref/gui/maintable/columns/FileColumn.java
  src/main/java/org/jabref/gui/mergeentries/DiffHighlightingEllipsingTextFlow.java
  src/main/java/org/jabref/gui/mergeentries/MergeEntries.java
  src/main/java/org/jabref/gui/mergeentries/MultiMergeEntries.css
  src/main/java/org/jabref/gui/mergeentries/MultiMergeEntries.fxml
  src/main/java/org/jabref/gui/mergeentries/MultiMergeEntriesView.java
  src/main/java/org/jabref/gui/mergeentries/MultiMergeEntriesViewModel.java
  src/main/resources/l10n/JabRef_en.properties
  src/test/java/org/jabref/gui/fieldeditors/LinkedFileViewModelTest.java
Labels: type: enhancement, ui, status: ready-for-review, project: GSoC

#7989 Improve presentation of fulltext search results
  src/main/java/org/jabref/gui/Base.css
  src/main/java/org/jabref/gui/documentviewer/DocumentViewer.fxml
  src/main/java/org/jabref/gui/documentviewer/DocumentViewerView.java
  src/main/java/org/jabref/gui/documentviewer/DocumentViewerViewModel.java
  src/main/java/org/jabref/gui/entryeditor/EntryEditor.java
  src/main/java/org/jabref/gui/entryeditor/fileannotationtab/FulltextSearchResultsTab.java
  src/main/java/org/jabref/gui/maintable/OpenExternalFileAction.java
  src/main/java/org/jabref/gui/maintable/OpenFolderAction.java
  src/main/java/org/jabref/logic/pdf/search/indexing/DocumentReader.java
  src/main/java/org/jabref/logic/pdf/search/indexing/PdfIndexer.java
  src/main/java/org/jabref/model/pdf/search/PdfSearchResults.java
  src/main/java/org/jabref/model/pdf/search/SearchFieldConstants.java
  src/main/java/org/jabref/model/pdf/search/SearchResult.java
  src/main/resources/l10n/JabRef_en.properties
  src/test/java/org/jabref/logic/pdf/search/indexing/DocumentReaderTest.java
  src/test/java/org/jabref/logic/pdf/search/indexing/PdfIndexerTest.java
  src/test/java/org/jabref/logic/pdf/search/retrieval/PdfSearcherTest.java
Labels: type: enhancement, status: ready-for-review, search, project: GSoC

#7790 Oobranch e : add backend
  src/main/java/org/jabref/logic/openoffice/backend/Backend52.java
  src/main/java/org/jabref/logic/openoffice/backend/Codec52.java
  src/main/java/org/jabref/logic/openoffice/backend/GetContext.java
  src/main/java/org/jabref/logic/openoffice/backend/NamedRangeManagerReferenceMark.java
  src/main/java/org/jabref/logic/openoffice/backend/NamedRangeReferenceMark.java
  src/main/java/org/jabref/logic/openoffice/style/OOFormatBibliography.java
  src/main/java/org/jabref/logic/openoffice/style/OOProcessAuthorYearMarkers.java
  src/main/java/org/jabref/logic/openoffice/style/OOProcessCitationKeyMarkers.java
  src/main/java/org/jabref/logic/openoffice/style/OOProcessNumericMarkers.java
  src/main/java/org/jabref/model/openoffice/backend/NamedRange.java
  src/main/java/org/jabref/model/openoffice/backend/NamedRangeManager.java
  src/main/java/org/jabref/model/openoffice/ootext/OOTextIntoOO.java
  src/main/java/org/jabref/model/openoffice/style/CitationGroup.java
  src/main/java/org/jabref/model/openoffice/style/CitationGroups.java
  src/main/java/org/jabref/model/openoffice/style/CitationType.java
Labels: status: changes required

#8013 Update Gradle Wrapper from 7.1.1 to 7.2
  gradle/wrapper/gradle-wrapper.properties
  gradlew
Labels: dependencies, gradle-wrapper

#8023 Fix search bar icons in linux
  CHANGELOG.md
  src/main/java/org/jabref/gui/Base.css
Labels: os: linux, status: ready-for-review

#8025 Cleanup artifacts and deprecated methods
  src/main/java/org/jabref/cli/ArgumentProcessor.java
  src/main/java/org/jabref/gui/JabRefGUI.java
  src/main/java/org/jabref/gui/JabRefMain.java
  src/main/java/org/jabref/gui/collab/ChangeScanner.java
  src/main/java/org/jabref/gui/externalfiles/ImportHandler.java
  src/main/java/org/jabref/gui/importer/ImportAction.java
  src/main/java/org/jabref/gui/importer/actions/OpenDatabaseAction.java
  src/main/java/org/jabref/gui/maintable/MainTableColumnFactory.java
  src/main/java/org/jabref/gui/maintable/MainTableColumnModel.java
  src/main/java/org/jabref/gui/preferences/network/NetworkTabViewModel.java
  src/main/java/org/jabref/gui/remote/JabRefMessageHandler.java
  src/main/java/org/jabref/gui/texparser/ParseLatexDialogViewModel.java
  src/main/java/org/jabref/logic/crawler/Crawler.java
  src/main/java/org/jabref/logic/crawler/StudyRepository.java
  src/main/java/org/jabref/logic/externalfiles/ExternalFilesContentImporter.java
  src/main/java/org/jabref/logic/importer/ImportFormatReader.java
  src/main/java/org/jabref/logic/importer/OpenDatabase.java
  src/main/java/org/jabref/logic/remote/server/MessageHandler.java
  src/main/java/org/jabref/logic/remote/server/RemoteListenerServer.java
  src/main/java/org/jabref/logic/remote/server/RemoteListenerServerLifecycle.java
  src/main/java/org/jabref/logic/remote/server/RemoteListenerServerThread.java
  src/main/java/org/jabref/logic/texparser/TexBibEntriesResolver.java
  src/main/java/org/jabref/preferences/JabRefPreferences.java
  src/main/java/org/jabref/preferences/PreferencesService.java
  src/main/resources/l10n/JabRef_en.properties
  src/test/java/org/jabref/logic/crawler/StudyDatabaseToFetcherConverterTest.java
  src/test/java/org/jabref/logic/crawler/StudyRepositoryTest.java
  src/test/java/org/jabref/logic/importer/ImportFormatReaderIntegrationTest.java
  src/test/java/org/jabref/logic/importer/ImportFormatReaderTestParameterless.java
  src/test/java/org/jabref/logic/importer/OpenDatabaseTest.java
  src/test/java/org/jabref/logic/remote/RemoteCommunicationTest.java
  src/test/java/org/jabref/logic/remote/RemoteSetupTest.java
  src/test/java/org/jabref/logic/texparser/LatexParserTest.java
  src/test/java/org/jabref/logic/texparser/TexBibEntriesResolverTest.java
Labels: status: ready-for-review, type: code-quality

#8035 Improve startup time
  src/main/java/org/jabref/gui/JabRefFrame.java
  src/main/java/org/jabref/gui/SidePaneManager.java
  src/main/java/org/jabref/gui/groups/GroupSidePane.java
  src/main/java/org/jabref/gui/groups/GroupTree.fxml
  src/main/java/org/jabref/gui/groups/GroupTreeView.java
Labels: ui, type: performance

#8028 Fix Search dark mode theme
  src/main/java/org/jabref/gui/Dark.css
  src/main/java/org/jabref/gui/search/GlobalSearchBar.java
Labels: status: ready-for-review

#8037 Write embedded bib in addition to XMP metadata
  CHANGELOG.md
  src/main/java/org/jabref/cli/ArgumentProcessor.java
  src/main/java/org/jabref/cli/JabRefCLI.java
  src/main/java/org/jabref/gui/JabRefFrame.java
  src/main/java/org/jabref/gui/JabRefMain.java
  src/main/java/org/jabref/gui/actions/StandardActions.java
  src/main/java/org/jabref/gui/exporter/ExportCommand.java
  src/main/java/org/jabref/gui/exporter/WriteMetadataToPdfAction.java
  src/main/java/org/jabref/gui/fieldeditors/LinkedFileViewModel.java
  src/main/java/org/jabref/gui/fieldeditors/LinkedFilesEditor.java
  src/main/java/org/jabref/gui/preferences/PreferencesDialogViewModel.java
  src/main/java/org/jabref/logic/exporter/EmbeddedBibFilePdfExporter.java
  src/main/java/org/jabref/logic/exporter/ExporterFactory.java
  src/main/resources/l10n/JabRef_en.properties
  src/test/java/org/jabref/gui/exporter/ExportToClipboardActionTest.java
  src/test/java/org/jabref/logic/exporter/CsvExportFormatTest.java
  src/test/java/org/jabref/logic/exporter/DocBook5ExporterTest.java
  src/test/java/org/jabref/logic/exporter/DocbookExporterTest.java
  src/test/java/org/jabref/logic/exporter/EmbeddedBibFilePdfExporterTest.java
  src/test/java/org/jabref/logic/exporter/ExporterTest.java
  src/test/java/org/jabref/logic/exporter/HtmlExportFormatTest.java
  src/test/java/org/jabref/logic/exporter/YamlExporterTest.java
Labels: status: ready-for-review

#8039 Stop fulltext-indexing on cancel
  src/main/java/org/jabref/logic/pdf/search/indexing/IndexingTaskManager.java
Labels: status: ready-for-review

#8040 Remove explicit XMP import for PDFs
  src/main/java/org/jabref/gui/externalfiles/ImportHandler.java
  src/main/java/org/jabref/logic/externalfiles/ExternalFilesContentImporter.java
  src/main/resources/l10n/JabRef_en.properties
Labels: status: ready-for-review

#8043 Fix output when closing JabRef while indexing
  src/main/java/org/jabref/gui/util/DefaultTaskExecutor.java
  src/main/java/org/jabref/logic/pdf/search/indexing/IndexingTaskManager.java
  src/main/java/org/jabref/logic/pdf/search/indexing/PdfIndexer.java
Labels: status: ready-for-review
