Repository JabRef/jabref, pull requests merged in 2021-05, with the labels that each got.

#7686 Fix arXiv fetcher tests
  src/main/java/org/jabref/logic/importer/fetcher/ArXiv.java
  src/main/java/org/jabref/model/strings/StringUtil.java
  src/test/java/org/jabref/logic/importer/fetcher/ArXivTest.java
Labels: fetcher

#7674 Fixes Jabref#7305: the RFC fetcher is not compatible with the draftFix for issue 7305
  CHANGELOG.md
  src/main/java/org/jabref/logic/importer/fetcher/RfcFetcher.java
  src/test/java/org/jabref/logic/importer/fetcher/RfcFetcherTest.java
Labels: status: ready-for-review

#7619 Update Gradle from 6.8.3 to 7.0
  .github/workflows/deployment.yml
  .github/workflows/refresh-journal-lists.yml
  .github/workflows/tests-fetchers.yml
  .github/workflows/tests.yml
  .gitignore
  build.gradle
  buildSrc/build.gradle
  buildSrc/src/copied/java/org/jabref/logic/journals/Abbreviation.java
  buildSrc/src/copied/java/org/jabref/logic/journals/AbbreviationFormat.java
  buildSrc/src/copied/java/org/jabref/logic/journals/AbbreviationParser.java
  buildSrc/src/copied/java/org/jabref/logic/journals/AbbreviationWriter.java
  buildSrc/src/copied/java/org/jabref/logic/journals/JournalAbbreviationLoader.java
  buildSrc/src/copied/java/org/jabref/logic/journals/JournalAbbreviationPreferences.java
  buildSrc/src/copied/java/org/jabref/logic/journals/JournalAbbreviationRepository.java
  buildSrc/src/copied/java/org/jabref/logic/journals/package-info.java
  buildSrc/src/main/groovy/org/jabref/build/JournalAbbreviationConverter.groovy
  buildSrc/src/main/groovy/org/jabref/build/xjc/XjcTask.groovy
  config/checkstyle/suppressions.xml
  docs/getting-into-the-code/guidelines-for-setting-up-a-local-workspace.md
  gradle/wrapper/gradle-wrapper.properties
Labels: dependencies, gradle-wrapper, status: ready-for-review

#7684 Fix ScienceDirect fetcher
  src/main/java/org/jabref/logic/importer/fetcher/ScienceDirect.java
  src/test/java/org/jabref/logic/importer/fetcher/ScienceDirectTest.java
Labels: fetcher, status: ready-for-review

#7698 Added DoiDuplicationCheckerTest to increase coverage
  src/test/java/org/jabref/logic/integrity/DoiDuplicationCheckerTest.java
Labels: status: ready-for-review

#7685 add and extend unit tests
  src/test/java/org/jabref/logic/formatter/bibtexfields/AddBracesFormatterTest.java
  src/test/java/org/jabref/logic/formatter/bibtexfields/NormalizePagesFormatterTest.java
  src/test/java/org/jabref/logic/integrity/ValidCitationKeyCheckerTest.java
Labels: type: code-quality

#7544 Add simple unit tests
  src/test/java/org/jabref/logic/bibtex/comparator/FieldComparatorTest.java
  src/test/java/org/jabref/logic/formatter/bibtexfields/EscapeAmpersandsFormatterTest.java
  src/test/java/org/jabref/logic/integrity/BooktitleCheckerTest.java
  src/test/java/org/jabref/logic/integrity/EditionCheckerTest.java
  src/test/java/org/jabref/logic/integrity/ISBNCheckerTest.java
  src/test/java/org/jabref/logic/integrity/ISSNCheckerTest.java
  src/test/java/org/jabref/logic/layout/format/ShortMonthFormatterTest.java
  src/test/java/org/jabref/logic/layout/format/ToLowerCaseTest.java
  src/test/java/org/jabref/model/entry/DateTest.java
Labels: status: changes required

#7581 Refactoring and addition of unit tests
  src/test/java/org/jabref/cli/JabRefCLITest.java
  src/test/java/org/jabref/gui/entryeditor/fileannotationtab/FileAnnotationViewModelTest.java
  src/test/java/org/jabref/gui/maintable/MainTableColumnModelTest.java
  src/test/java/org/jabref/gui/util/TooltipTextUtilTest.java
  src/test/java/org/jabref/logic/bibtex/comparator/BibDatabaseDiffTest.java
  src/test/java/org/jabref/logic/bibtex/comparator/BibtexStringComparatorTest.java
  src/test/java/org/jabref/logic/bibtex/comparator/EntryComparatorTest.java
  src/test/java/org/jabref/logic/importer/ImportDataTest.java
  src/test/java/org/jabref/logic/integrity/EditionCheckerTest.java
  src/test/java/org/jabref/logic/util/UpdateFieldTest.java
  src/test/java/org/jabref/model/database/BibDatabaseTest.java
  src/test/java/org/jabref/model/groups/AutomaticKeywordGroupTest.java
Labels: status: changes required

#7711 fix: make fields sorted by lexicographical order
  CHANGELOG.md
  src/main/java/org/jabref/gui/commonfxcontrols/FieldFormatterCleanupsPanelViewModel.java
Labels: status: ready-for-review

#7717 fix: make more fields, fomatters, ids and languages sorted by alphabetical order
  src/main/java/org/jabref/gui/commonfxcontrols/FieldFormatterCleanupsPanelViewModel.java
  src/main/java/org/jabref/gui/libraryproperties/LibraryPropertiesDialogViewModel.java
  src/main/java/org/jabref/gui/preferences/file/FileTabViewModel.java
  src/main/java/org/jabref/gui/preferences/general/GeneralTabViewModel.java
  src/main/java/org/jabref/gui/preferences/xmp/XmpPrivacyTabViewModel.java
Labels: status: ready-for-review

#7708 Select the entry which has smaller dictonary order when merge
  CHANGELOG.md
  src/main/java/org/jabref/gui/mergeentries/MergeEntriesAction.java
  src/main/java/org/jabref/logic/bibtex/comparator/EntryComparator.java
  src/test/java/org/jabref/logic/bibtex/comparator/EntryComparatorTest.java
Labels: status: changes required

#7543 Add simple unit tests
  src/test/java/org/jabref/gui/autocompleter/SuggestionProvidersTest.java
  src/test/java/org/jabref/logic/citationkeypattern/CitationKeyGeneratorTest.java
  src/test/java/org/jabref/logic/formatter/casechanger/UpperCaseFormatterTest.java
  src/test/java/org/jabref/logic/integrity/HTMLCharacterCheckerTest.java
  src/test/java/org/jabref/model/entry/EntryLinkListTest.java
  src/test/java/org/jabref/model/util/FileHelperTest.java
Labels: status: changes required

#7696 Add simple unit tests
  src/test/java/org/jabref/logic/formatter/bibtexfields/CleanupUrlFormatterTest.java
  src/test/java/org/jabref/logic/formatter/bibtexfields/RemoveHyphenatedNewlinesFormatterTest.java
  src/test/java/org/jabref/logic/formatter/bibtexfields/RemoveNewlinesFormatterTest.java
  src/test/java/org/jabref/logic/formatter/casechanger/LowerCaseFormatterTest.java
  src/test/java/org/jabref/logic/layout/format/RemoveBracketsTest.java
Labels: status: changes required

#7709 Fix for issue 6966: open all files of multiple entries
  CHANGELOG.md
  src/main/java/org/jabref/gui/actions/ActionHelper.java
  src/main/java/org/jabref/gui/maintable/OpenExternalFileAction.java
  src/main/resources/l10n/JabRef_en.properties
Labels: status: changes required

#7735 [Bot] Update CSL styles
  buildres/csl/csl-styles/Rakefile
  buildres/csl/csl-styles/civilta-italiana.csl
  buildres/csl/csl-styles/environmental-values.csl
  buildres/csl/csl-styles/estudios-hispanicos.csl
  buildres/csl/csl-styles/ieee.csl
  buildres/csl/csl-styles/journal-of-stroke.csl
  buildres/csl/csl-styles/seminaire-saint-sulpice-ecole-theologie.csl
  buildres/csl/csl-styles/spec/filters.yaml
  buildres/csl/csl-styles/spec/spec_helper.rb
  buildres/csl/csl-styles/springer-basic-author-date-no-et-al.csl
  buildres/csl/csl-styles/studies-in-the-history-of-gardens-and-designed-landscapes.csl
  buildres/csl/csl-styles/taylor-and-francis-council-of-science-editors-author-date.csl
  buildres/csl/csl-styles/the-horticulture-journal.csl
  buildres/csl/csl-styles/the-plant-genome.csl
  buildres/csl/csl-styles/topoi-orient-occident-auteur-date.csl
  buildres/csl/csl-styles/topoi-orient-occident-classique.csl
  buildres/csl/csl-styles/transnational-environmental-law.csl
  buildres/csl/csl-styles/universite-de-montreal-apa.csl
  src/main/resources/csl-styles/ieee.csl
Labels: dependencies

#7727 Refs for issue 5464: Entry preview as tab: Full change only takes effect after restart of program
  CHANGELOG.md
  src/main/java/org/jabref/gui/preferences/preview/PreviewTabViewModel.java
Labels: status: ready-for-review

#7746 Update Gradle Wrapper from 7.0 to 7.0.2
  gradle/wrapper/gradle-wrapper.properties
Labels: dependencies, gradle-wrapper

#7726 Fix for issue 7451: Saving library doesn’t create .bib file but a file without ending
  CHANGELOG.md
  src/main/java/org/jabref/gui/exporter/SaveDatabaseAction.java
Labels: status: ready-for-review

#7702 Fix for issue 6197: Do not store downloaded file if it is already attached
  CHANGELOG.md
  src/main/java/org/jabref/gui/fieldeditors/LinkedFileViewModel.java
  src/main/java/org/jabref/logic/util/io/FileNameUniqueness.java
  src/main/java/org/jabref/logic/util/io/FileUtil.java
  src/main/java/org/jabref/model/entry/BibEntry.java
  src/main/resources/l10n/JabRef_en.properties
  src/test/java/org/jabref/logic/util/io/FileNameUniquenessTest.java
Labels: status: ready-for-review

#7750 Fix help tests
  src/main/java/org/jabref/logic/help/HelpFile.java
Labels: status: ready-for-review

#7733 Fix for issue 5804: Rewrite ACM fetcher
  CHANGELOG.md
  src/main/java/org/jabref/logic/importer/WebFetchers.java
  src/main/java/org/jabref/logic/importer/fetcher/ACMPortalFetcher.java
  src/main/java/org/jabref/logic/importer/fileformat/ACMPortalParser.java
  src/test/java/org/jabref/logic/importer/ACMPortalParserTest.java
  src/test/java/org/jabref/logic/importer/WebFetchersTest.java
  src/test/java/org/jabref/logic/importer/fetcher/ACMPortalFetcherTest.java
Labels: status: ready-for-review

#7638 Add more unit tests
  src/main/java/org/jabref/logic/bibtex/comparator/BibStringDiff.java
  src/main/java/org/jabref/logic/bibtex/comparator/PreambleDiff.java
  src/main/java/org/jabref/model/entry/BibtexString.java
  src/test/java/org/jabref/logic/bibtex/comparator/BibStringDiffTest.java
  src/test/java/org/jabref/logic/bibtex/comparator/PreambleDiffTest.java
Labels: status: changes required

#7759 Revert "Fix help tests"
  src/main/java/org/jabref/logic/help/HelpFile.java
Labels: status: ready-for-review

#7734 support fall back fields in citation key generation
  CHANGELOG.md
  src/main/java/org/jabref/logic/citationkeypattern/BracketedPattern.java
  src/main/java/org/jabref/logic/citationkeypattern/CitationKeyGenerator.java
  src/test/java/org/jabref/logic/citationkeypattern/BracketedPatternTest.java
  src/test/java/org/jabref/logic/citationkeypattern/CitationKeyGeneratorTest.java
Labels: status: ready-for-review

#7763 Improve EndNote importer
  CHANGELOG.md
  src/main/java/org/jabref/logic/importer/fileformat/EndnoteXmlImporter.java
  src/main/resources/xjc/endnote/endnote.xsd
  src/test/resources/org/jabref/logic/importer/fileformat/EndnoteXmlImporterTestLabelAndMultiTitle.bib
  src/test/resources/org/jabref/logic/importer/fileformat/EndnoteXmlImporterTestLabelAndMultiTitle.xml
  src/test/resources/org/jabref/logic/importer/fileformat/EndnoteXmlImporterTestReport.bib
  src/test/resources/org/jabref/logic/importer/fileformat/EndnoteXmlImporterTestReport.xml
  src/test/resources/org/jabref/logic/importer/fileformat/EndnoteXmlImporterTest_EmptyKeywordStyle.bib
Labels: status: ready-for-review
