Repository JabRef/jabref, pull requests merged in 2021-03, with the labels that each got.

#7455 Unmerge LO citations
  CHANGELOG.md
  src/main/java/org/jabref/gui/openoffice/OOBibBase.java
  src/main/java/org/jabref/gui/openoffice/OpenOfficePanel.java
  src/main/resources/l10n/JabRef_en.properties
Labels: status: ready-for-review

#7482 Fixed freeze for few seconds on DNS timeout in MacOS
  CHANGELOG.md
  src/main/java/org/jabref/preferences/JabRefPreferences.java
Labels: status: ready-for-review

#7471 Fixed validation before typing in new entry dialog #7020
  src/main/java/org/jabref/gui/EntryTypeView.java
Labels: status: ready-for-review

#7480 Added option in preferences to use custom URL base for DOI generation
  CHANGELOG.md
  src/main/java/org/jabref/gui/fieldeditors/IdentifierEditor.java
  src/main/java/org/jabref/gui/fieldeditors/IdentifierEditorViewModel.java
  src/main/java/org/jabref/gui/preferences/PreferencesDialogViewModel.java
  src/main/java/org/jabref/gui/preferences/customization/CustomizationTab.fxml
  src/main/java/org/jabref/gui/preferences/customization/CustomizationTab.java
  src/main/java/org/jabref/gui/preferences/customization/CustomizationTabViewModel.java
  src/main/java/org/jabref/gui/preferences/general/GeneralTab.java
  src/main/java/org/jabref/logic/preferences/DOIPreferences.java
  src/main/java/org/jabref/model/entry/identifier/DOI.java
  src/main/java/org/jabref/preferences/JabRefPreferences.java
  src/main/java/org/jabref/preferences/PreferencesService.java
  src/main/resources/l10n/JabRef_en.properties
  src/test/java/org/jabref/gui/fieldeditors/IdentifierEditorViewModelTest.java
Labels: status: ready-for-review

#7496 Fixed switching off autocomplete on specific fields
  CHANGELOG.md
  src/main/java/org/jabref/gui/LibraryTab.java
  src/main/java/org/jabref/gui/autocompleter/SuggestionProviders.java
  src/test/java/org/jabref/gui/autocompleter/FieldValueSuggestionProviderTest.java
Labels: status: ready-for-review

#7508 fix: fix content selector for custom fields
  CHANGELOG.md
  src/main/java/org/jabref/gui/contentselector/ContentSelectorDialogView.java
Labels: status: ready-for-review

#7514 Hotfix: Fix compilation error
  build.gradle
  src/main/java/org/jabref/logic/citationstyle/CSLAdapter.java
Labels: status: ready-for-review

#7512 Update to javafx 16
  build.gradle
Labels: status: ready-for-review

#7507 Fixed columns shrink in width when enlarging the JabRef window
  CHANGELOG.md
  src/main/java/org/jabref/gui/maintable/SmartConstrainedResizePolicy.java
Labels: status: ready-for-review

#7520 Extends dark theme to group custom-color-picker
  CHANGELOG.md
  src/main/java/org/jabref/gui/Dark.css
Labels: status: ready-for-review

#7523 Fix double-click onto file in file list to just open the file
  CHANGELOG.md
  src/main/java/org/jabref/gui/fieldeditors/LinkedFilesEditor.java
Labels: status: ready-for-review

#7474 PDF Downloader downloads HTML source code instead if no access
  CHANGELOG.md
  src/main/java/org/jabref/gui/externalfiletype/ExternalFileTypes.java
  src/main/java/org/jabref/gui/fieldeditors/LinkedFileViewModel.java
  src/main/resources/l10n/JabRef_en.properties
  src/test/java/org/jabref/gui/fieldeditors/LinkedFileViewModelTest.java
Labels: status: changes required, status: ready-for-review

#7547 Fix for issue 5522 and some UI changes.
  src/main/java/org/jabref/gui/Dark.css
Labels: status: ready-for-review

#7545 Add simple unit tests
  src/test/java/org/jabref/logic/formatter/casechanger/CapitalizeFormatterTest.java
  src/test/java/org/jabref/logic/integrity/ASCIICharacterCheckerTest.java
  src/test/java/org/jabref/logic/integrity/YearCheckerTest.java
  src/test/java/org/jabref/logic/layout/format/AuthorsTest.java
  src/test/java/org/jabref/logic/layout/format/DateFormatterTest.java
  src/test/java/org/jabref/logic/layout/format/RTFCharsTest.java
  src/test/java/org/jabref/logic/layout/format/RisMonthTest.java
  src/test/java/org/jabref/logic/util/strings/StringSimilarityTest.java
Labels: status: ready-for-review

#7548 Fixed missing trigger for linked file operations
  CHANGELOG.md
  src/main/java/org/jabref/gui/fieldeditors/LinkedFilesEditor.java
Labels: status: ready-for-review

#7549 add ability to insert arxivId
  CHANGELOG.md
  src/main/java/org/jabref/gui/ClipBoardManager.java
Labels: status: ready-for-review

#7552 UI: Fix for group icon
  src/main/java/org/jabref/gui/icon/IconTheme.java
  src/main/java/org/jabref/gui/icon/InternalMaterialDesignIcon.java
Labels: status: ready-for-review

#7555 Fix drag and drop into empty library
  CHANGELOG.md
  src/main/java/org/jabref/gui/maintable/MainTable.java
Labels: status: ready-for-review

#7542 Add simple Unit Tests
  src/main/java/org/jabref/model/entry/Month.java
  src/test/java/org/jabref/logic/integrity/BracketCheckerTest.java
  src/test/java/org/jabref/logic/integrity/CitationKeyCheckerTest.java
  src/test/java/org/jabref/logic/integrity/DateCheckerTest.java
  src/test/java/org/jabref/logic/integrity/DoiValidityCheckerTest.java
  src/test/java/org/jabref/logic/util/strings/StringLengthComparatorTest.java
  src/test/java/org/jabref/model/entry/MonthTest.java
  src/test/java/org/jabref/model/texparser/CitationTest.java
Labels: status: ready-for-review

#7301 Suggestions for changes in caching latex free authors
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/suggestion-for-improvement.md
  src/main/java/org/jabref/gui/maintable/MainTableFieldValueFormatter.java
  src/main/java/org/jabref/logic/citationkeypattern/BracketedPattern.java
  src/main/java/org/jabref/logic/importer/AuthorListParser.java
  src/main/java/org/jabref/logic/importer/fetcher/CrossRef.java
  src/main/java/org/jabref/logic/importer/fetcher/Medra.java
  src/main/java/org/jabref/model/entry/Author.java
  src/main/java/org/jabref/model/entry/AuthorList.java
  src/main/java/org/jabref/model/groups/LastNameGroup.java
  src/test/java/org/jabref/logic/importer/AuthorListParserTest.java
  src/test/java/org/jabref/model/entry/AuthorListTest.java
Labels: status: ready-for-review

#7570 Fix AuthentificationPlugin not declared in mergedModule
  CHANGELOG.md
  build.gradle
Labels: status: ready-for-review

#7443 Fix citation keys unintentionally being overwritten on import
  src/main/java/org/jabref/gui/externalfiles/ImportHandler.java
  src/main/java/org/jabref/gui/preferences/PreferencesDialogViewModel.java
  src/main/java/org/jabref/gui/preferences/importer/ImportSettingsTab.fxml
  src/main/java/org/jabref/gui/preferences/importer/ImportSettingsTab.java
  src/main/java/org/jabref/gui/preferences/importer/ImportSettingsTabViewModel.java
  src/main/java/org/jabref/logic/citationkeypattern/CitationKeyGenerator.java
  src/main/java/org/jabref/logic/importer/importsettings/ImportSettingsPreferences.java
  src/main/java/org/jabref/preferences/JabRefPreferences.java
  src/main/java/org/jabref/preferences/PreferencesService.java
  src/main/resources/l10n/JabRef_en.properties
Labels: status: ready-for-review

#7574 Fix school/instituation is printed twice
  CHANGELOG.md
  src/main/resources/resource/layout/simplehtml.layout
Labels: status: ready-for-review

#7509 Fix for issue 7416: font size of the preferences dialog does not update with the rest of the GUI.
  CHANGELOG.md
  src/main/java/org/jabref/gui/preferences/PreferencesDialogView.java
Labels: status: ready-for-review

#7583 Update gradle from 6.8 to 6.8.3
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
Labels: status: ready-for-review

#7585 Add some hints on test tooling
  docs/getting-into-the-code/code-howtos.md
Labels: type: documentation

#7573 Fix column sort order gets overwritten
  CHANGELOG.md
  src/main/java/org/jabref/gui/maintable/MainTableColumnModel.java
  src/main/java/org/jabref/gui/maintable/PersistenceVisualStateTable.java
  src/main/java/org/jabref/model/metadata/SaveOrderConfig.java
  src/main/java/org/jabref/preferences/JabRefPreferences.java
Labels: status: ready-for-review

#7568 Optimize saving
  CHANGELOG.md
  src/main/java/org/jabref/model/entry/Date.java
Labels: status: changes required

#7579 Add unit tests for org.jabref.gui classes
  src/test/java/org/jabref/gui/autocompleter/AppendPersonNamesStrategyTest.java
  src/test/java/org/jabref/gui/autocompleter/PersonNameStringConverterTest.java
  src/test/java/org/jabref/gui/edit/ReplaceStringViewModelTest.java
Labels: status: ready-for-review
