Repository JabRef/jabref, pull requests merged in 2021-01, with the labels that each got.

#7268 Added eye candy in entry editor context menus
  CHANGELOG.md
  src/main/java/org/jabref/gui/actions/Action.java
  src/main/java/org/jabref/gui/fieldeditors/CitationKeyEditor.java
  src/main/java/org/jabref/gui/fieldeditors/ContextMenuAddable.java
  src/main/java/org/jabref/gui/fieldeditors/EditorTextArea.java
  src/main/java/org/jabref/gui/fieldeditors/EditorTextField.java
  src/main/java/org/jabref/gui/fieldeditors/GenderEditorViewModel.java
  src/main/java/org/jabref/gui/fieldeditors/IdentifierEditor.java
  src/main/java/org/jabref/gui/fieldeditors/JournalEditor.java
  src/main/java/org/jabref/gui/fieldeditors/OptionEditor.java
  src/main/java/org/jabref/gui/fieldeditors/OwnerEditor.java
  src/main/java/org/jabref/gui/fieldeditors/PersonsEditor.java
  src/main/java/org/jabref/gui/fieldeditors/SimpleEditor.java
  src/main/java/org/jabref/gui/fieldeditors/TextInputControlBehavior.java
  src/main/java/org/jabref/gui/fieldeditors/UrlEditor.java
  src/main/java/org/jabref/gui/fieldeditors/contextmenu/CaseChangeMenu.java
  src/main/java/org/jabref/gui/fieldeditors/contextmenu/ClearField.java
  src/main/java/org/jabref/gui/fieldeditors/contextmenu/ConversionMenu.java
  src/main/java/org/jabref/gui/fieldeditors/contextmenu/DefaultMenu.java
  src/main/java/org/jabref/gui/fieldeditors/contextmenu/EditorContextAction.java
  src/main/java/org/jabref/gui/fieldeditors/contextmenu/EditorMenus.java
  src/main/java/org/jabref/gui/fieldeditors/contextmenu/ProtectedTermsMenu.java
  src/main/java/org/jabref/gui/icon/IconTheme.java
  src/main/java/org/jabref/gui/util/component/TemporalAccessorPicker.java
  src/main/resources/l10n/JabRef_en.properties
Labels: status: ready-for-review

#7271 Simplify LO connection and fix threading errors
  src/main/java/org/jabref/gui/openoffice/Bootstrap.java
  src/main/java/org/jabref/gui/openoffice/DetectOpenOfficeInstallation.java
  src/main/java/org/jabref/gui/openoffice/ManualConnectDialog.fxml
  src/main/java/org/jabref/gui/openoffice/ManualConnectDialogView.java
  src/main/java/org/jabref/gui/openoffice/ManualConnectDialogViewModel.java
  src/main/java/org/jabref/gui/openoffice/OOBibBase.java
  src/main/java/org/jabref/gui/openoffice/OpenOfficePanel.java
  src/main/java/org/jabref/logic/openoffice/OpenOfficePreferences.java
  src/main/java/org/jabref/preferences/JabRefPreferences.java
  src/main/resources/l10n/JabRef_en.properties
Labels: status: ready-for-review

#7243 Fix Normalize pages formatter not replacing dashes
  CHANGELOG.md
  src/main/java/org/jabref/logic/formatter/bibtexfields/NormalizePagesFormatter.java
  src/main/java/org/jabref/logic/formatter/casechanger/ProtectTermsFormatter.java
  src/main/java/org/jabref/logic/formatter/casechanger/UnprotectTermsFormatter.java
  src/main/java/org/jabref/logic/formatter/casechanger/UpperCaseFormatter.java
  src/main/resources/l10n/JabRef_en.properties
  src/test/java/org/jabref/logic/formatter/bibtexfields/NormalizePagesFormatterTest.java
  src/test/java/org/jabref/logic/formatter/casechanger/UnprotectTermsFormatterTest.java
Labels: status: ready-for-review

#7302 Added Keyboard shortcuts (clear/set read status)
  CHANGELOG.md
  src/main/java/org/jabref/gui/actions/StandardActions.java
  src/main/java/org/jabref/gui/keyboard/KeyBinding.java
Labels: status: ready-for-review

#7298 Adjust zbmath fetcher
  CHANGELOG.md
  src/main/java/org/jabref/logic/importer/WebFetchers.java
  src/main/java/org/jabref/logic/importer/fetcher/ZbMATH.java
  src/test/java/org/jabref/logic/importer/fetcher/ZbMATHTest.java
Labels: status: ready-for-review

#7293 Make CONTRIBUTING.md much shorter. Move long text to docs/contributing.md
  CONTRIBUTING.md
  docs/contributing.md
Labels: status: ready-for-review

#7292 Fixed exception about missing custom css file
  CHANGELOG.md
  src/main/java/org/jabref/gui/preferences/AppearanceTabViewModel.java
  src/main/java/org/jabref/gui/preview/PreviewViewer.java
  src/main/java/org/jabref/gui/util/DefaultFileUpdateMonitor.java
  src/main/java/org/jabref/gui/util/Theme.java
  src/main/java/org/jabref/model/strings/StringUtil.java
  src/main/java/org/jabref/preferences/JabRefPreferences.java
  src/test/java/org/jabref/gui/util/ThemeTest.java
  src/test/resources/mockito-extensions/org.mockito.plugins.MockMaker
Labels: status: ready-for-review

#7263 Fix snapcraft upload
  .github/workflows/snap.yml
Labels: status: depends-on-external

#7319 Link to GitHub contributors in about dialog
  .gitattributes
  .github/workflows/tests.yml
  .mailmap
  MAINTAINERS
  build.gradle
  docs/contributing.md
  scripts/generate-authors.sh
  src/main/java/org/jabref/gui/help/AboutDialog.css
  src/main/java/org/jabref/gui/help/AboutDialog.fxml
  src/main/java/org/jabref/gui/help/AboutDialogView.java
  src/main/java/org/jabref/gui/help/AboutDialogViewModel.java
  src/main/java/org/jabref/logic/util/BuildInfo.java
  src/main/resources/build.properties
  src/main/resources/l10n/JabRef_en.properties
Labels: status: changes required, status: ready-for-review

#7324 Update to gradle 6.8
  build.gradle
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
Labels: status: ready-for-review

#7232 Add a more descriptive path when Directory cannot be found
  src/main/java/org/jabref/gui/externalfiles/DownloadFullTextAction.java
  src/main/resources/l10n/JabRef_en.properties
Labels: status: changes required

#7173 Updates to colored group indicator for cited entries
  CHANGELOG.md
  src/main/java/org/jabref/gui/collab/GroupChangeViewModel.java
  src/main/java/org/jabref/gui/groups/GroupNodeViewModel.java
  src/main/java/org/jabref/gui/maintable/BibEntryTableViewModel.java
  src/main/java/org/jabref/gui/preview/CopyCitationAction.java
  src/main/java/org/jabref/gui/util/BindingsHelper.java
  src/main/java/org/jabref/gui/util/uithreadaware/UiThreadBinding.java
  src/main/java/org/jabref/logic/importer/fileformat/BibtexParser.java
  src/main/java/org/jabref/model/database/event/BibDatabaseContextChangedEvent.java
  src/main/java/org/jabref/model/groups/GroupTreeNode.java
  src/main/java/org/jabref/model/groups/TexGroup.java
  src/main/java/org/jabref/model/metadata/MetaData.java
  src/test/java/org/jabref/logic/citationkeypattern/BracketedPatternTest.java
Labels: status: ready-for-review

#7348 Disable certain fetcher tests on CI
  src/test/java/org/jabref/logic/importer/fetcher/GoogleScholarTest.java
  src/test/java/org/jabref/logic/importer/fetcher/JstorFetcherTest.java
Labels: fetcher

#6990 Fix DOI fetcher and add documentation on fetcher trust levels
  .github/workflows/tests-fetchers.yml
  .github/workflows/tests.yml
  build.gradle
  docs/advanced-reading/fetchers.md
  src/main/java/org/jabref/logic/importer/fetcher/DoiResolution.java
  src/main/java/org/jabref/logic/importer/fetcher/TrustLevel.java
  src/test/java/org/jabref/logic/importer/fetcher/DoiResolutionTest.java
  src/test/java/org/jabref/logic/util/BuildInfoTest.java
Labels: status: ready-for-review

#7357 Export urldate to MSOffice
  CHANGELOG.md
  src/main/java/org/jabref/logic/msbib/MSBibConverter.java
  src/test/resources/org/jabref/logic/exporter/MsBibUrlDate.bib
  src/test/resources/org/jabref/logic/exporter/MsBibUrlDate.xml
Labels: status: ready-for-review

#7358 Export full month name instead of number in ms office
  CHANGELOG.md
  src/main/java/org/jabref/logic/msbib/MSBibEntry.java
  src/test/resources/org/jabref/logic/exporter/MsBibExportFormatTest1.xml
  src/test/resources/org/jabref/logic/exporter/MsBibExportFormatTestDateAcessed.xml
  src/test/resources/org/jabref/logic/exporter/MsBibUrlDate.xml
Labels: status: ready-for-review

#7355 Fix harvard exporter by changing AuthorsFormatter
  CHANGELOG.md
  src/main/java/org/jabref/logic/exporter/ExporterFactory.java
  src/main/resources/resource/layout/harvard/harvard.article.layout
  src/main/resources/resource/layout/harvard/harvard.book.layout
  src/main/resources/resource/layout/harvard/harvard.inbook.layout
  src/main/resources/resource/layout/harvard/harvard.incollection.layout
  src/main/resources/resource/layout/harvard/harvard.inproceedings.layout
  src/main/resources/resource/layout/harvard/harvard.layout
  src/main/resources/resource/layout/harvard/harvard.mastersthesis.layout
  src/main/resources/resource/layout/harvard/harvard.phdthesis.layout
  src/main/resources/resource/layout/harvard/harvard.proceedings.layout
Labels: status: ready-for-review

#7364 Fix an issue where the password for a shared SQL database was only remembered if it was the same as the username
  CHANGELOG.md
  src/main/java/org/jabref/gui/shared/SharedDatabaseLoginDialogViewModel.java
Labels: status: ready-for-review

#7228 Fixes miss-parsed names in `AutomaticPersonsGroup`
  CHANGELOG.md
  src/main/java/org/jabref/model/entry/Author.java
  src/main/java/org/jabref/model/groups/AutomaticPersonsGroup.java
  src/main/java/org/jabref/model/groups/KeywordGroup.java
  src/main/java/org/jabref/model/groups/LastNameGroup.java
  src/test/java/org/jabref/model/groups/AutomaticPersonsGroupTest.java
Labels: status: ready-for-review

#7370 Upgrade citeproc to 3.x snapshot without graal
  build.gradle
  eclipse.gradle
  src/main/java/module-info.java
  src/main/java/org/jabref/gui/maintable/MainTableDataModel.java
  src/main/java/org/jabref/logic/citationstyle/CSLAdapter.java
Labels: status: ready-for-review

#7209 Refactor unlinked files
  CHANGELOG.md
  config/checkstyle/suppressions.xml
  docs/getting-into-the-code/code-howtos.md
  src/main/java/org/jabref/gui/Base.css
  src/main/java/org/jabref/gui/JabRefFrame.java
  src/main/java/org/jabref/gui/bibtexextractor/BibtexExtractorViewModel.java
  src/main/java/org/jabref/gui/externalfiles/FileExtensionViewModel.java
  src/main/java/org/jabref/gui/externalfiles/FindUnlinkedFilesAction.java
  src/main/java/org/jabref/gui/externalfiles/FindUnlinkedFilesDialog.java
  src/main/java/org/jabref/gui/externalfiles/ImportFilesResultItemViewModel.java
  src/main/java/org/jabref/gui/externalfiles/ImportHandler.java
  src/main/java/org/jabref/gui/externalfiles/UnlinkedFilesCrawler.java
  src/main/java/org/jabref/gui/externalfiles/UnlinkedFilesDialog.fxml
  src/main/java/org/jabref/gui/externalfiles/UnlinkedFilesDialogView.java
  src/main/java/org/jabref/gui/externalfiles/UnlinkedFilesDialogViewModel.java
  src/main/java/org/jabref/gui/externalfiles/UnlinkedPDFFileFilter.java
  src/main/java/org/jabref/gui/importer/ImportEntriesViewModel.java
  src/main/java/org/jabref/gui/importer/UnlinkedFilesCrawler.java
  src/main/java/org/jabref/gui/importer/UnlinkedPDFFileFilter.java
  src/main/java/org/jabref/gui/maintable/MainTable.java
  src/main/java/org/jabref/gui/texparser/ParseLatexDialogView.java
  src/main/java/org/jabref/gui/texparser/ParseLatexDialogViewModel.java
  src/main/java/org/jabref/gui/util/BackgroundTask.java
  src/main/java/org/jabref/gui/util/CustomTitledPaneSkin.java
  src/main/java/org/jabref/gui/util/FileFilterConverter.java
  src/main/java/org/jabref/gui/util/FileNodeViewModel.java
  src/main/java/org/jabref/logic/externalfiles/ExternalFilesContentImporter.java
  src/main/java/org/jabref/logic/importer/fileformat/PdfContentImporter.java
  src/main/java/org/jabref/logic/l10n/Localization.java
  src/main/java/org/jabref/logic/util/StandardFileType.java
  src/main/java/org/jabref/logic/util/io/FileUtil.java
  src/main/resources/l10n/JabRef_en.properties
Labels: status: ready-for-review

#7338 Fix expansion of bracketed expressions in RegExpBasedFileFinder
  CHANGELOG.md
  src/main/java/org/jabref/logic/citationkeypattern/BracketedPattern.java
  src/main/java/org/jabref/logic/util/io/RegExpBasedFileFinder.java
  src/test/java/org/jabref/logic/citationkeypattern/BracketedPatternTest.java
  src/test/java/org/jabref/logic/util/io/RegExpBasedFileFinderTests.java
  src/test/resources/org/jabref/logic/importer/unlinkedFilesTestFolder/directory/subdirectory/2003_Hippel_209.pdf
  src/test/resources/org/jabref/logic/importer/unlinkedFilesTestFolder/directory/subdirectory/2017_Gražulis_726.pdf
  src/test/resources/org/jabref/logic/importer/unlinkedFilesTestFolder/directory/subdirectory/pdfInSubdirectory.pdf
Labels: status: ready-for-review

#7347 Fix handling of URL in file field
  CHANGELOG.md
  src/main/java/org/jabref/logic/importer/util/FileFieldParser.java
  src/main/java/org/jabref/model/entry/LinkedFile.java
  src/test/java/org/jabref/logic/bibtex/FileFieldWriterTest.java
  src/test/java/org/jabref/logic/importer/util/FileFieldParserTest.java
Labels: status: ready-for-review

#7379 fix "Alt + keyboard shortcuts do not work"
  CHANGELOG.md
  src/main/java/org/jabref/gui/JabRefFrame.java
Labels: status: ready-for-review
