Repository JabRef/jabref, pull requests merged in 2021-04, with the labels that each got.

#7603 [Bot] Update CSL styles
  buildres/csl/csl-styles/archives-of-hand-and-microsurgery.csl
  buildres/csl/csl-styles/canadian-biosystems-engineering.csl
  buildres/csl/csl-styles/journal-of-accounting-research.csl
Labels: dependencies

#7569 Custom DOI base address fix
  src/main/java/org/jabref/gui/desktop/JabRefDesktop.java
  src/main/java/org/jabref/gui/fieldeditors/IdentifierEditorViewModel.java
  src/main/java/org/jabref/gui/maintable/MainTable.java
  src/main/java/org/jabref/gui/maintable/MainTableColumnFactory.java
  src/main/java/org/jabref/gui/maintable/OpenUrlAction.java
  src/main/java/org/jabref/gui/maintable/RightClickMenu.java
  src/main/java/org/jabref/gui/maintable/columns/LinkedIdentifierColumn.java
Labels: status: ready-for-review

#7558 Allow identical group names
  src/main/java/org/jabref/gui/groups/GroupDialogViewModel.java
  src/main/java/org/jabref/gui/groups/GroupTreeViewModel.java
  src/main/resources/l10n/JabRef_de.properties
  src/main/resources/l10n/JabRef_en.properties
  src/main/resources/l10n/JabRef_ru.properties
Labels: status: devcall

#7602 Adds progress count to Possible Duplicates dialog
  CHANGELOG.md
  src/main/java/org/jabref/gui/duplicationFinder/DuplicateSearch.java
Labels: status: ready-for-review

#7630 [Bot] Update CSL styles
  buildres/csl/csl-styles/ageing-and-society.csl
  buildres/csl/csl-styles/catholic-biblical-association.csl
  buildres/csl/csl-styles/harvard-cite-them-right-no-et-al.csl
  buildres/csl/csl-styles/journal-of-consumer-research.csl
  buildres/csl/csl-styles/methods-of-information-in-medicine.csl
  buildres/csl/csl-styles/presses-universitaires-de-paris-nanterre.csl
  buildres/csl/csl-styles/refugee-survey-quarterly.csl
  buildres/csl/csl-styles/revue-archeologique.csl
  buildres/csl/csl-styles/taylor-and-francis-council-of-science-editors-author-date.csl
  buildres/csl/csl-styles/triangle.csl
  buildres/csl/csl-styles/university-of-tasmania-simplified-author-date.csl
Labels: dependencies

#7657 Fix SSLHandshake Exception by using bypass
  CHANGELOG.md
  src/main/java/org/jabref/gui/fieldeditors/LinkedFileViewModel.java
  src/main/java/org/jabref/logic/net/URLDownload.java
  src/main/resources/l10n/JabRef_en.properties
Labels: status: ready-for-review

#7639 Fix for issue 5850: Journal abbreviations in UTF-8 not recognized
  CHANGELOG.md
  src/main/java/org/jabref/logic/integrity/IntegrityCheck.java
  src/main/java/org/jabref/logic/integrity/UTF8Checker.java
  src/main/resources/l10n/JabRef_en.properties
  src/test/java/org/jabref/logic/integrity/IntegrityCheckTest.java
  src/test/java/org/jabref/logic/integrity/UTF8CheckerTest.java
Labels: status: ready-for-review

#7655 Fix#7195 partly Opacity of disabled icon-buttons
  CHANGELOG.md
  src/main/java/org/jabref/gui/Base.css
Labels: status: ready-for-review

#7663 Fixes Jabref#7660 Unable to download some arXiv links if the "eprint" field is missing
  CHANGELOG.md
  src/main/java/org/jabref/logic/importer/fetcher/ArXiv.java
  src/test/java/org/jabref/logic/importer/fetcher/ArXivTest.java
Labels: status: ready-for-review

#7667 Fix for issue 6199: EndNote .xml import to JabRef: PDF links are not imported corrected.
  CHANGELOG.md
  src/main/java/org/jabref/logic/importer/fileformat/EndnoteXmlImporter.java
  src/main/resources/xjc/endnote/endnote.xsd
  src/test/resources/org/jabref/logic/importer/fileformat/EndnoteXmlImporterTest_WithoutUrlStyle.bib
  src/test/resources/org/jabref/logic/importer/fileformat/EndnoteXmlImporterTest_WithoutUrlStyle.xml
  src/test/resources/org/jabref/logic/importer/fileformat/EndnoteXmlImporterTest_WithoutUrlStyle2.bib
  src/test/resources/org/jabref/logic/importer/fileformat/EndnoteXmlImporterTest_WithoutUrlStyle2.xml
Labels: status: ready-for-review

#7664 Fix for issue 7641: Wrong path to TeXstudio
  CHANGELOG.md
  src/main/java/org/jabref/gui/desktop/os/Windows.java
Labels: status: ready-for-review

#7656 Fixes #7016 toggle of special fields does not work for sorted entries
  CHANGELOG.md
  src/main/java/org/jabref/gui/specialfields/SpecialFieldAction.java
Labels: status: ready-for-review

#7649 Add more unit tests
  src/test/java/org/jabref/gui/util/ColorUtilTest.java
  src/test/java/org/jabref/gui/util/comparator/RankingFieldComparatorTest.java
  src/test/java/org/jabref/gui/util/comparator/SpecialFieldComparatorTest.java
Labels: status: ready-for-review

#7636 Add more unit tests to three gui classes
  src/main/java/org/jabref/gui/JabRefFrame.java
  src/main/java/org/jabref/gui/exporter/ExportToClipboardAction.java
  src/main/java/org/jabref/gui/maintable/RightClickMenu.java
  src/main/java/org/jabref/preferences/JabRefPreferences.java
  src/main/java/org/jabref/preferences/PreferencesService.java
  src/test/java/org/jabref/gui/edit/CopyMoreActionTest.java
  src/test/java/org/jabref/gui/exporter/ExportToClipboardActionTest.java
  src/test/java/org/jabref/gui/importer/NewEntryActionTest.java
Labels: status: ready-for-review

#7580 delete bug fix
  src/main/java/org/jabref/gui/maintable/MainTable.java
Labels: status: waiting-for-customer-feedback

#7672 Fix threading cleanup in performSearch
  CHANGELOG.md
  src/main/java/org/jabref/logic/importer/fetcher/CompositeSearchBasedFetcher.java
Labels: status: ready-for-review

#7675 Fix cleanup run on wrong entry when fetching from DOI
  CHANGELOG.md
  src/main/java/org/jabref/gui/mergeentries/FetchAndMergeEntry.java
Labels: status: ready-for-review
