Repository JabRef/jabref, pull requests merged in 2021-06, with the labels that each got.

#7784 [Bot] Update CSL styles
  buildres/csl/csl-styles/Gemfile.lock
  buildres/csl/csl-styles/azr-abkurzungs-und-zitierregeln-der-osterreichischen-rechtssprache-und-europarechtlicher-rechtsquellen.csl
  buildres/csl/csl-styles/babesch-annual-papers-on-mediterranean-archaeology.csl
  buildres/csl/csl-styles/bibliothecae-it.csl
  buildres/csl/csl-styles/biophysics-and-physicobiology.csl
  buildres/csl/csl-styles/ethnographiques-org.csl
  buildres/csl/csl-styles/experimental-biology-and-medicine.csl
  buildres/csl/csl-styles/harvard-bournemouth-university.csl
  buildres/csl/csl-styles/iso690-author-date-cs.csl
  buildres/csl/csl-styles/plant-species-biology.csl
  buildres/csl/csl-styles/society-for-american-archaeology.csl
  buildres/csl/csl-styles/society-of-biblical-literature-fullnote-bibliography.csl
  buildres/csl/csl-styles/worlds-veterinary-journal.csl
Labels: dependencies

#7775 Fix ris importer follow up
  CHANGELOG.md
  src/main/java/org/jabref/logic/importer/fileformat/RisImporter.java
  src/test/resources/org/jabref/logic/importer/fileformat/RisImporterTestWithEmptyER.bib
  src/test/resources/org/jabref/logic/importer/fileformat/RisImporterTestWithEmptyER.ris
Labels: status: ready-for-review

#7714 Fix for issue 4682 : Restructuring the side pane structure having additional functionality and merging the remove group menus
  CHANGELOG.md
  src/main/java/org/jabref/gui/groups/GroupDialogHeader.java
  src/main/java/org/jabref/gui/groups/GroupDialogView.java
  src/main/java/org/jabref/gui/groups/GroupDialogViewModel.java
  src/main/java/org/jabref/gui/groups/GroupTree.css
  src/main/java/org/jabref/gui/groups/GroupTree.fxml
  src/main/java/org/jabref/gui/groups/GroupTreeView.java
  src/main/java/org/jabref/gui/groups/GroupTreeViewModel.java
  src/main/java/org/jabref/gui/groups/UndoableAddOrRemoveGroup.java
  src/main/resources/l10n/JabRef_en.properties
Labels: status: ready-for-review

#7808 Implemented a select all button for the library import function (issue #7786)
  CHANGELOG.md
  src/main/java/org/jabref/gui/importer/ImportEntriesDialog.fxml
  src/main/java/org/jabref/gui/importer/ImportEntriesDialog.java
  src/main/resources/l10n/JabRef_en.properties
Labels: status: ready-for-review

#7797 Added auto-key-generation task to task-progress
  CHANGELOG.md
  src/main/java/org/jabref/gui/JabRefFrame.java
  src/main/java/org/jabref/gui/citationkeypattern/GenerateCitationKeyAction.java
  src/main/java/org/jabref/gui/citationkeypattern/GenerateCitationKeySingleAction.java
  src/main/resources/l10n/JabRef_en.properties
Labels: status: ready-for-review

#7804 JournalAbbreviation search feature
  CHANGELOG.md
  src/main/java/org/jabref/gui/preferences/journals/AbbreviationViewModel.java
  src/main/java/org/jabref/gui/preferences/journals/JournalAbbreviationsTab.fxml
  src/main/java/org/jabref/gui/preferences/journals/JournalAbbreviationsTab.java
  src/main/java/org/jabref/gui/util/ColorUtil.java
  src/test/java/org/jabref/gui/preferences/journals/AbbreviationViewModelTest.java
  src/test/java/org/jabref/gui/util/ColorUtilTest.java
Labels: status: ready-for-review

#7824 [Bot] Update CSL styles
  buildres/csl/csl-styles/acta-anaesthesiologica-scandinavica.csl
  buildres/csl/csl-styles/acta-universitatis-agriculturae-sueciae.csl
  buildres/csl/csl-styles/american-chemical-society.csl
  buildres/csl/csl-styles/apa-annotated-bibliography.csl
  buildres/csl/csl-styles/apa-no-ampersand.csl
  buildres/csl/csl-styles/apa-single-spaced.csl
  buildres/csl/csl-styles/apa-with-abstract.csl
  buildres/csl/csl-styles/apa.csl
  buildres/csl/csl-styles/arbok-hins-islenzka-fornleifafelags.csl
  buildres/csl/csl-styles/archeosciences.csl
  buildres/csl/csl-styles/associacao-brasileira-de-normas-tecnicas.csl
  buildres/csl/csl-styles/dependent/artificial-organs.csl
  buildres/csl/csl-styles/din-1505-2.csl
  buildres/csl/csl-styles/ethnographiques-org.csl
  buildres/csl/csl-styles/experimental-biology-and-medicine.csl
  buildres/csl/csl-styles/fachhochschule-vorarlberg-author-date.csl
  buildres/csl/csl-styles/fachhochschule-vorarlberg-note.csl
  buildres/csl/csl-styles/food-and-agriculture-organization-of-the-united-nations.csl
  buildres/csl/csl-styles/gallia-prehistoire.csl
  buildres/csl/csl-styles/harvard-university-of-the-west-of-england.csl
  buildres/csl/csl-styles/hawaii-international-conference-on-system-sciences-proceedings.csl
  buildres/csl/csl-styles/health-education-england-harvard.csl
  buildres/csl/csl-styles/hochschule-bonn-rhein-sieg.csl
  buildres/csl/csl-styles/international-journal-of-learner-corpus-research.csl
  buildres/csl/csl-styles/journal-of-move-and-therapeutic-science.csl
  buildres/csl/csl-styles/manchester-university-press.csl
  buildres/csl/csl-styles/norsk-henvisningsstandard-for-rettsvitenskapelige-tekster.csl
  buildres/csl/csl-styles/novasinergia.csl
  buildres/csl/csl-styles/presses-universitaires-de-strasbourg-note.csl
  buildres/csl/csl-styles/register-studies.csl
  buildres/csl/csl-styles/restoration-ecology.csl
  buildres/csl/csl-styles/saglik-bilimleri-universitesi.csl
  buildres/csl/csl-styles/society-of-biblical-literature-1st-edition-fullnote-bibliography.csl
  buildres/csl/csl-styles/society-of-biblical-literature-fullnote-bibliography.csl
  buildres/csl/csl-styles/stuttgart-media-university.csl
  buildres/csl/csl-styles/ulua-revista-de-historia-sociedad-y-cultura.csl
  buildres/csl/csl-styles/wirtschaftsuniversitat-wien-institut-fur-bwl-des-aussenhandels.csl
  buildres/csl/csl-styles/zeitschrift-fur-fantastikforschung.csl
Labels: dependencies

#7829 Update Gradle Wrapper from 7.0.2 to 7.1
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
Labels: dependencies, gradle-wrapper

#7807 Abbreviation toggle within the JournalEditorViewModel now ignores curly braces (issue #7773)
  CHANGELOG.md
  src/main/java/org/jabref/gui/fieldeditors/JournalEditorViewModel.java
Labels: status: changes required, status: ready-for-review

#7831 Ms Office Export patent author as inventor
  CHANGELOG.md
  src/main/java/org/jabref/logic/msbib/MSBibConverter.java
  src/main/java/org/jabref/model/openoffice/uno/UnoCrossRef.java
  src/test/resources/org/jabref/logic/exporter/MsBibPatent.xml
Labels: status: ready-for-review

#7809 Add query validation for web search
  src/main/java/org/jabref/gui/Base.css
  src/main/java/org/jabref/gui/JabRefFrame.java
  src/main/java/org/jabref/gui/actions/JabRefAction.java
  src/main/java/org/jabref/gui/importer/fetcher/WebSearchPane.java
  src/main/java/org/jabref/gui/importer/fetcher/WebSearchPaneViewModel.java
  src/main/java/org/jabref/logic/importer/SearchBasedFetcher.java
  src/main/resources/l10n/JabRef_en.properties
  src/test/java/org/jabref/gui/importer/fetcher/WebSearchPaneViewModelTest.java
Labels: status: ready-for-review

#7814 CLI option to write XMP metadata to pdfs
  CHANGELOG.md
  src/main/java/org/jabref/cli/ArgumentProcessor.java
  src/main/java/org/jabref/cli/JabRefCLI.java
  src/main/java/org/jabref/logic/exporter/Exporter.java
  src/test/java/org/jabref/logic/exporter/XmpPdfExporterTest.java
Labels: status: changes required, status: ready-for-review

#7846 Fix for issue #4652: Add Find Unlinked Files Filter based on Date
  CHANGELOG.md
  src/main/java/org/jabref/gui/externalfiles/DateRange.java
  src/main/java/org/jabref/gui/externalfiles/ExternalFileSorter.java
  src/main/java/org/jabref/gui/externalfiles/FileFilterUtils.java
  src/main/java/org/jabref/gui/externalfiles/UnlinkedFilesCrawler.java
  src/main/java/org/jabref/gui/externalfiles/UnlinkedFilesDialog.fxml
  src/main/java/org/jabref/gui/externalfiles/UnlinkedFilesDialogView.java
  src/main/java/org/jabref/gui/externalfiles/UnlinkedFilesDialogViewModel.java
  src/main/java/org/jabref/gui/util/FileNodeViewModel.java
  src/main/resources/l10n/JabRef_en.properties
  src/test/java/org/jabref/gui/externalfiles/FileFilterUtilsTest.java
Labels: status: ready-for-review

#7852 Fix IEEE test
  docs/adr/0022-remove-stop-words-during-query-transformation.md
  src/main/java/org/jabref/logic/importer/fetcher/IEEE.java
  src/main/java/org/jabref/logic/importer/fetcher/transformers/AbstractQueryTransformer.java
  src/main/java/org/jabref/logic/importer/fetcher/transformers/ArXivQueryTransformer.java
  src/main/java/org/jabref/logic/importer/fetcher/transformers/CollectionOfComputerScienceBibliographiesQueryTransformer.java
  src/main/java/org/jabref/logic/importer/fetcher/transformers/DBLPQueryTransformer.java
  src/main/java/org/jabref/logic/importer/fetcher/transformers/DefaultQueryTransformer.java
  src/main/java/org/jabref/logic/importer/fetcher/transformers/GVKQueryTransformer.java
  src/main/java/org/jabref/logic/importer/fetcher/transformers/IEEEQueryTransformer.java
  src/main/java/org/jabref/logic/importer/fetcher/transformers/ZbMathQueryTransformer.java
  src/main/java/org/jabref/model/strings/StringUtil.java
  src/test/java/org/jabref/logic/importer/fetcher/IEEETest.java
  src/test/java/org/jabref/logic/importer/fetcher/SearchBasedFetcherCapabilityTest.java
  src/test/java/org/jabref/logic/importer/fetcher/transformers/IEEEQueryTransformerTest.java
  src/test/java/org/jabref/model/strings/StringUtilTest.java
Labels: fetcher

#7651 Add unit test to four test classes
  src/main/java/org/jabref/logic/bibtex/comparator/GroupDiff.java
  src/test/java/org/jabref/gui/duplicationFinder/DuplicateSearchTest.java
  src/test/java/org/jabref/gui/edit/ManageKeywordsViewModelTest.java
  src/test/java/org/jabref/logic/bibtex/comparator/GroupDiffTest.java
  src/test/java/org/jabref/model/groups/GroupTreeNodeTest.java
Labels: status: changes required
