Repository JabRef/jabref, pull requests merged in 2021-07, with the labels that each got.

#7865 [Bot] Update CSL styles
  buildres/csl/csl-locales/locales-pl-PL.xml
  buildres/csl/csl-styles/acta-anaesthesiologica-scandinavica.csl
  buildres/csl/csl-styles/acta-hydrotechnica.csl
  buildres/csl/csl-styles/alternatif-politika.csl
  buildres/csl/csl-styles/civilta-italiana.csl
  buildres/csl/csl-styles/dependent/orthopaedic-journal-of-sports-medicine.csl
  buildres/csl/csl-styles/eksploatacja-i-niezawodnosc.csl
  buildres/csl/csl-styles/ethnographiques-org.csl
  buildres/csl/csl-styles/experimental-biology-and-medicine.csl
  buildres/csl/csl-styles/fundamental-and-applied-limnology.csl
  buildres/csl/csl-styles/harvard-stellenbosch-university.csl
  buildres/csl/csl-styles/ios-press-books.csl
  buildres/csl/csl-styles/juristische-schulung.csl
  buildres/csl/csl-styles/monographs-of-the-palaeontographical-society.csl
  buildres/csl/csl-styles/norsk-henvisningsstandard-for-rettsvitenskapelige-tekster.csl
  buildres/csl/csl-styles/ocean-and-coastal-research.csl
  buildres/csl/csl-styles/pain.csl
  buildres/csl/csl-styles/social-anthropology.csl
  buildres/csl/csl-styles/society-of-biblical-literature-fullnote-bibliography.csl
  buildres/csl/csl-styles/urad-rs-za-makroekonomske-analize-in-razvoj.csl
  buildres/csl/csl-styles/wirtschaftsuniversitat-wien-institut-fur-transportwirtschaft-und-logistik.csl
Labels: dependencies

#7625 Feature add git workflow for slr search
  CHANGELOG.md
  src/main/java/org/jabref/gui/JabRefFrame.java
  src/main/java/org/jabref/gui/StartLiteratureReviewAction.java
  src/main/java/org/jabref/gui/actions/StandardActions.java
  src/main/java/org/jabref/gui/importer/ImportCustomEntryTypesDialog.fxml
  src/main/java/org/jabref/gui/slr/ExistingStudySearchAction.java
  src/main/java/org/jabref/gui/slr/ManageStudyDefinition.css
  src/main/java/org/jabref/gui/slr/ManageStudyDefinition.fxml
  src/main/java/org/jabref/gui/slr/ManageStudyDefinitionView.java
  src/main/java/org/jabref/gui/slr/ManageStudyDefinitionViewModel.java
  src/main/java/org/jabref/gui/slr/SlrStudyAndDirectory.java
  src/main/java/org/jabref/gui/slr/StartNewStudyAction.java
  src/main/java/org/jabref/gui/slr/StudyDatabaseItem.java
  src/main/java/org/jabref/logic/crawler/Crawler.java
  src/main/java/org/jabref/logic/crawler/StudyRepository.java
  src/main/java/org/jabref/logic/crawler/git/GitHandler.java
  src/main/java/org/jabref/logic/git/GitHandler.java
  src/main/java/org/jabref/logic/git/SlrGitHandler.java
  src/main/java/org/jabref/model/study/Study.java
  src/main/resources/l10n/JabRef_en.properties
  src/main/resources/org/jabref/logic/git/git.gitignore
  src/test/java/org/jabref/logic/crawler/CrawlerTest.java
  src/test/java/org/jabref/logic/crawler/StudyDatabaseToFetcherConverterTest.java
  src/test/java/org/jabref/logic/crawler/StudyRepositoryTest.java
  src/test/java/org/jabref/logic/git/GitHandlerTest.java
  src/test/java/org/jabref/logic/git/SlrGitHandlerTest.java
Labels: status: ready-for-review

#7883 Update Gradle Wrapper from 7.1 to 7.1.1
  gradle/wrapper/gradle-wrapper.properties
Labels: dependencies, gradle-wrapper

#7890 Add corporate proxy workaround for Version.getAllAvailableVersions()
  CHANGELOG.md
  src/main/java/org/jabref/logic/util/Version.java
  src/test/java/org/jabref/logic/util/VersionTest.java
Labels: status: ready-for-review

#7894 Added option to copy the DOI to the copy sub-menu
  CHANGELOG.md
  src/main/java/org/jabref/gui/edit/CopyMoreAction.java
  src/main/java/org/jabref/gui/maintable/RightClickMenu.java
  src/main/resources/l10n/JabRef_en.properties
  src/test/java/org/jabref/gui/edit/CopyMoreActionTest.java
Labels: status: ready-for-review

#7918 Write temporary file on bib import in jabrefhost.ps1
  CHANGELOG.md
  buildres/windows/JabRefHost.ps1
Labels: status: ready-for-review

#7934 Log message after checking if the optional contains a value
  src/main/java/org/jabref/model/database/BibDatabaseContext.java
  src/test/java/org/jabref/model/database/BibDatabaseContextTest.java
Labels: status: ready-for-review

#7948 Fix file field parser not recognizing online urls
  CHANGELOG.md
  src/main/java/org/jabref/logic/importer/util/FileFieldParser.java
  src/test/java/org/jabref/logic/importer/util/FileFieldParserTest.java
Labels: status: ready-for-review
