Repository JabRef/jabref, pull requests merged in 2022-05, with the labels that each got.

#8737 [Bot] Update CSL styles
  buildres/csl/csl-locales/.github/workflows/label-gun.yml
  buildres/csl/csl-locales/.github/workflows/sheldon.yaml
  buildres/csl/csl-styles/.github/workflows/sheldon.yaml
  buildres/csl/csl-styles/innovations-therapeutiques-en-oncologie.csl
  buildres/csl/csl-styles/revista-ladinia.csl
Labels: dependencies

#8733 Multiple messages in the SnackBar
  CHANGELOG.md
  src/main/java/org/jabref/gui/Base.css
  src/main/java/org/jabref/gui/JabRefDialogService.java
Labels: ui, status: ready-for-review

#8763 Fix invisible notification message
  CHANGELOG.md
  src/main/java/org/jabref/gui/Base.css
  src/main/java/org/jabref/gui/Dark.css
  src/main/java/org/jabref/gui/exporter/ExportCommand.java
  src/main/resources/l10n/JabRef_en.properties
Labels: type: bug 🐛, ui, status: ready-for-review, export / save

#8680 Add search to return article and books for biodiversity (#8539)
  .github/workflows/deployment.yml
  .github/workflows/tests-fetchers.yml
  .github/workflows/tests.yml
  CHANGELOG.md
  build.gradle
  docs/advanced-reading/fetchers.md
  src/main/java/org/jabref/logic/importer/WebFetchers.java
  src/main/java/org/jabref/logic/importer/fetcher/BiodiversityLibrary.java
  src/main/java/org/jabref/logic/importer/fetcher/transformers/BiodiversityLibraryTransformer.java
  src/main/java/org/jabref/logic/util/BuildInfo.java
  src/main/java/org/jabref/preferences/JabRefPreferences.java
  src/main/resources/build.properties
  src/test/java/org/jabref/logic/importer/fetcher/BiodiversityLibraryTest.java
Labels: fetcher

#8629 Update to gradle 7.4.2 and jdk18
  .github/workflows/deployment.yml
  .github/workflows/refresh-journal-lists.yml
  .github/workflows/tests-fetchers.yml
  .github/workflows/tests.yml
  README.md
  build.gradle
  docs/getting-into-the-code/guidelines-for-setting-up-a-local-workspace.md
  docs/readings-on-coding/tools.md
Labels: build-system, status: ready-for-review, gradle-wrapper

#8756 Fix for unnecessary horizontal scroll bar in group panel
  CHANGELOG.md
  src/main/java/org/jabref/gui/groups/GroupTreeView.java
Labels: ui, status: ready-for-review

#8783 Fix for issue 8396: filter out the empty field
  CHANGELOG.md
  src/main/java/org/jabref/gui/entryeditor/DeprecatedFieldsTab.java
Labels: status: ready-for-review

#8789 Improve XMP handling - latex free field, remove file field
  CHANGELOG.md
  src/main/java/org/jabref/gui/exporter/WriteMetadataToPdfAction.java
  src/main/java/org/jabref/gui/fieldeditors/LinkedFileViewModel.java
  src/main/java/org/jabref/logic/bibtex/comparator/EntryComparator.java
  src/main/java/org/jabref/logic/exporter/XmpExporter.java
  src/main/java/org/jabref/logic/exporter/XmpPdfExporter.java
  src/main/java/org/jabref/logic/importer/fileformat/PdfContentImporter.java
  src/main/java/org/jabref/logic/importer/fileformat/PdfEmbeddedBibFileImporter.java
  src/main/java/org/jabref/logic/importer/fileformat/PdfVerbatimBibTextImporter.java
  src/main/java/org/jabref/logic/importer/fileformat/PdfXmpImporter.java
  src/main/java/org/jabref/logic/xmp/DublinCoreExtractor.java
  src/main/java/org/jabref/logic/xmp/XmpUtilReader.java
  src/main/java/org/jabref/logic/xmp/XmpUtilShared.java
  src/main/java/org/jabref/logic/xmp/XmpUtilWriter.java
  src/main/java/org/jabref/model/entry/BibEntry.java
  src/test/java/org/jabref/logic/bibtex/comparator/EntryComparatorTest.java
  src/test/java/org/jabref/logic/exporter/XmpExporterTest.java
  src/test/java/org/jabref/logic/xmp/XmpUtilReaderTest.java
  src/test/java/org/jabref/logic/xmp/XmpUtilWriterTest.java
Labels: type: code-quality, external files

#8792 Workaround for buildSrc:jar issue
  buildSrc/build.gradle
  docs/getting-into-the-code/guidelines-for-setting-up-a-local-workspace.md
Labels: build-system

#8793 Fix for #8788 JabRef not showing contents of shared database library
  CHANGELOG.md
  src/main/java/org/jabref/logic/shared/DBMSProcessor.java
  src/main/java/org/jabref/logic/shared/DBMSSynchronizer.java
Labels: status: ready-for-review, shared-database

#8794 [Bot] Update CSL styles
  buildres/csl/csl-styles/american-chemical-society.csl
  buildres/csl/csl-styles/american-sociological-association.csl
  buildres/csl/csl-styles/bibtex.csl
  buildres/csl/csl-styles/frontiers-medical-journals.csl
  buildres/csl/csl-styles/journal-of-midwifery-science.csl
  buildres/csl/csl-styles/journal-of-neuroimaging.csl
  buildres/csl/csl-styles/medizinische-hochschule-hannover.csl
  buildres/csl/csl-styles/netherlands-journal-of-geosciences-geologie-en-mijnbouw.csl
  buildres/csl/csl-styles/society-of-biblical-literature-fullnote-bibliography.csl
  buildres/csl/csl-styles/universite-de-bordeaux-ecole-doctorale-de-droit.csl
Labels: dependencies

#8791 Add log on disk
  CHANGELOG.md
  src/main/java/org/jabref/gui/JabRefMain.java
  src/main/java/org/jabref/logic/util/Version.java
  src/main/resources/tinylog.properties
Labels: Logging

#8775 Fix notifications that overlap task bar
  src/main/java/org/jabref/gui/JabRefDialogService.java
  src/main/resources/l10n/JabRef_en.properties
Labels: type: enhancement, ui, status: ready-for-review

#8810 add: add test cases for FileUtil
  src/test/java/org/jabref/logic/util/io/FileUtilTest.java
Labels: type: code-quality, search, external files

#8830 adjust and add testcases for FileAnnotationViewModel
  src/main/java/org/jabref/gui/entryeditor/fileannotationtab/FileAnnotationViewModel.java
  src/test/java/org/jabref/gui/entryeditor/fileannotationtab/FileAnnotationViewModelTest.java
Labels: type: code-quality, external files

#8838 Fix single identifier cannot be opened on click
  src/main/java/org/jabref/gui/maintable/columns/LinkedIdentifierColumn.java
Labels: status: ready-for-review

#8821 Fix right clicking a group and choosing "remove selected entries from this group" leads to error when Bibtex source tab is selected
  CHANGELOG.md
  src/main/java/org/jabref/gui/entryeditor/SourceTab.java
Labels: status: ready-for-review, groups, entry-editor

#8837 Open event log when clicking on collapsed notification
  src/main/java/org/jabref/gui/JabRefDialogService.java
Labels: Logging

#8828 Add: Add test cases for non-default styles in CitationStyleTest
  src/test/java/org/jabref/logic/citationstyle/CitationStyleGeneratorTest.java
  src/test/java/org/jabref/logic/citationstyle/CitationStyleTest.java
Labels: status: ready-for-review, type: code-quality

#8785 Prevent group expansion arrow from activating group when expanding or collapsing
  CHANGELOG.md
  src/main/java/org/jabref/gui/groups/GroupTreeView.java
Labels: ui, status: ready-for-review, groups

#8784 fix: add time format rules
  src/main/java/org/jabref/model/entry/Date.java
  src/test/java/org/jabref/model/entry/DateTest.java
Labels: entry-editor, status: changes required

#8820 add new test cases for merger class
  src/main/java/org/jabref/model/entry/BibtexString.java
  src/test/java/org/jabref/logic/database/DatabaseMergerTest.java
Labels: status: ready-for-review, type: code-quality

#8798 fixed for Don't show social links in menu bar #8774
  CHANGELOG.md
  src/main/java/org/jabref/gui/JabRefFrame.java
Labels: ui, status: devcall

#8854 Lucene dir checkers should only delete lucene dirs
  src/main/java/org/jabref/gui/JabRefMain.java
Labels: status: ready-for-review, search, external files

#8728 Disable Write XMP Button in General tab of Entry-Editor when action is in progress
  CHANGELOG.md
  src/main/java/org/jabref/gui/fieldeditors/LinkedFileViewModel.java
  src/main/java/org/jabref/gui/fieldeditors/LinkedFilesEditor.java
  src/main/java/org/jabref/gui/fieldeditors/WriteMetadataToPdfCommand.java
Labels: ui, status: ready-for-review, external files

#8871 Add restart warning on SSL configuration change
  CHANGELOG.md
  src/main/java/org/jabref/gui/preferences/PreferencesDialogViewModel.java
  src/main/java/org/jabref/gui/preferences/network/NetworkTabViewModel.java
  src/main/java/org/jabref/logic/net/ProxyRegisterer.java
  src/main/resources/l10n/JabRef_en.properties
  src/test/java/org/jabref/logic/importer/fetcher/DoiFetcherTest.java
  src/test/java/org/jabref/logic/importer/fetcher/DoiResolutionTest.java
Labels: preferences, external files

#8875 Fix #8390 by allowing multiple group deletion for Remove groups > Kee…
  src/main/java/org/jabref/gui/groups/GroupTreeViewModel.java
  src/main/resources/l10n/JabRef_en.properties
Labels: status: ready-for-review, groups

#8874 Use JDK 15 text blocks to improve injected languages readability
  src/main/java/org/jabref/gui/preview/PreviewViewer.java
  src/test/java/org/jabref/logic/bibtex/BibEntryWriterTest.java
  src/test/java/org/jabref/logic/importer/fetcher/SpringerFetcherTest.java
Labels: type: code-quality
