Repository JabRef/jabref, pull requests merged in 2022-10, with the labels that each got.

#9201 Fix missing title for "customize entry types" dialogue
  CHANGELOG.md
  src/main/java/org/jabref/gui/customentrytypes/CustomizeEntryTypeDialogView.java
Labels: status: ready-for-review, hacktoberfest-accepted

#9197 Improve installation of java 18 in devcontainer
  .devcontainer/devcontainer.json
Labels: status: ready-for-review

#9193 Add mappings on ModsImporter.java
  CHANGELOG.md
  src/main/java/org/jabref/logic/importer/fileformat/ModsImporter.java
  src/test/resources/org/jabref/logic/importer/fileformat/MODSImporterTestGenreMapping.bib
  src/test/resources/org/jabref/logic/importer/fileformat/MODSImporterTestGenreMapping.xml
Labels: import, hacktoberfest-accepted

#9213 Update lucene version to 9.4
  CHANGELOG.md
  build.gradle
  src/main/java/module-info.java
  src/main/java/org/jabref/model/pdf/search/SearchFieldConstants.java
Labels: status: ready-for-review, hacktoberfest-accepted

#9202 disable conversions for empty fields
  CHANGELOG.md
  src/main/java/org/jabref/gui/fieldeditors/contextmenu/DefaultMenu.java
Labels: status: ready-for-review, hacktoberfest-accepted

#9199 Searching for an entry on the web shouldn't take forever
  CHANGELOG.md
  src/main/java/org/jabref/gui/importer/ImportEntriesViewModel.java
  src/main/java/org/jabref/gui/util/BackgroundTask.java
  src/main/resources/l10n/JabRef_en.properties
Labels: status: ready-for-review

#9218 Improve VSCode config
  .devcontainer/devcontainer.json
  .vscode/settings.json
  config/VSCode Code Style.xml
Labels: status: ready-for-review

#9226 Fix typo in connection error message
  CHANGELOG.md
  src/main/java/org/jabref/gui/bibtexextractor/BibtexExtractorViewModel.java
  src/main/resources/l10n/JabRef_en.properties
Labels: status: ready-for-review, hacktoberfest-accepted

#9225 Fix unexpected closing of preferences dialog
  CHANGELOG.md
  src/main/java/org/jabref/gui/preferences/PreferencesDialogView.java
Labels: preferences, hacktoberfest-accepted

#8909 Check group type before showing dialog in edit group
  src/main/java/org/jabref/gui/groups/GroupTreeViewModel.java
  src/main/java/org/jabref/model/groups/GroupTreeNode.java
  src/test/java/org/jabref/gui/groups/GroupTreeViewModelTest.java
Labels: status: ready-for-review, groups

#9234 Fix archunit
  build.gradle
  src/test/java/org/jabref/architecture/MainArchitectureTests.java
Labels: hacktoberfest-accepted

#9227 Log exception
  CHANGELOG.md
  src/main/java/org/jabref/gui/EntryTypeViewModel.java
  src/main/java/org/jabref/gui/importer/GenerateEntryFromIdAction.java
  src/main/resources/l10n/JabRef_en.properties
Labels: status: ready-for-review, import, hacktoberfest-accepted, Logging

#9235 Add ADR-0026 on using Swing's FileChooser
  docs/decisions/0026-use-swings-file-chooser-to-determine-default-directory.md
  src/main/java/org/jabref/gui/desktop/JabRefDesktop.java
  src/main/java/org/jabref/model/database/BibDatabaseContext.java
Labels: hacktoberfest-accepted

#9236 Add Ukrainian as language
  src/main/java/org/jabref/logic/l10n/Language.java
  src/main/resources/l10n/JabRef_uk.properties
Labels: hacktoberfest-accepted

#9216 Opening a file removes duplicate keywords and triggers lib changed
  src/main/java/org/jabref/model/entry/BibEntry.java
  src/test/java/org/jabref/logic/exporter/BibtexDatabaseWriterTest.java
  src/test/java/org/jabref/logic/importer/fileformat/BibtexParserTest.java
  src/test/java/org/jabref/migrations/SpecialFieldsToSeparateFieldsTest.java
  src/test/java/org/jabref/model/database/BibDatabaseTest.java
Labels: keywords, hacktoberfest-accepted

#9217 Process CLI arguments before starting gui
  .devcontainer/devcontainer.json
  build.gradle
  src/main/java/org/jabref/cli/Launcher.java
  src/main/java/org/jabref/gui/JabRefLauncher.java
  src/main/java/org/jabref/gui/MainApplication.java
  src/main/java/org/jabref/gui/errorconsole/ErrorConsoleViewModel.java
  src/main/java/org/jabref/gui/logging/GuiWriter.java
  src/main/java/org/jabref/logic/net/ssl/TrustStoreManager.java
  src/test/java/org/jabref/testutils/TestUtils.java
Labels: status: ready-for-review, cli

#9205 ISSUE-9145: implement isbn fetcher
  CHANGELOG.md
  src/main/java/org/jabref/logic/importer/CompositeIdFetcher.java
  src/main/java/org/jabref/logic/importer/WebFetchers.java
  src/main/java/org/jabref/logic/importer/fetcher/IsbnFetcher.java
  src/main/java/org/jabref/logic/importer/fetcher/isbntobibtex/DoiToBibtexConverterComIsbnFetcher.java
  src/main/java/org/jabref/logic/importer/fetcher/isbntobibtex/EbookDeIsbnFetcher.java
  src/main/java/org/jabref/logic/importer/fetcher/isbntobibtex/IsbnFetcher.java
  src/main/java/org/jabref/logic/importer/fetcher/isbntobibtex/OpenLibraryIsbnFetcher.java
  src/main/java/org/jabref/logic/importer/fileformat/PdfMergeMetadataImporter.java
  src/test/java/org/jabref/logic/importer/WebFetchersTest.java
  src/test/java/org/jabref/logic/importer/fetcher/isbntobibtex/DoiToBibtexConverterComIsbnFetcherTest.java
  src/test/java/org/jabref/logic/importer/fetcher/isbntobibtex/EbookDeIsbnFetcherTest.java
  src/test/java/org/jabref/logic/importer/fetcher/isbntobibtex/IsbnFetcherTest.java
  src/test/java/org/jabref/logic/importer/fetcher/isbntobibtex/OpenLibraryIsbnFetcherTest.java
Labels: status: ready-for-review, fetcher

#9229 DOAB Fetcher now fetches ISBN and imprint fields where possible
  CHANGELOG.md
  src/main/java/org/jabref/logic/importer/fetcher/DOABFetcher.java
  src/test/java/org/jabref/logic/importer/fetcher/DOABFetcherTest.java
Labels: status: ready-for-review, fetcher

#9228 Place subgroups w.r.t. alphabetical ordering
  CHANGELOG.md
  src/main/java/org/jabref/gui/groups/GroupTreeView.java
  src/main/java/org/jabref/gui/groups/GroupTreeViewModel.java
Labels: status: ready-for-review, groups, hacktoberfest-accepted

#9240 Fix for resizing cleanup entries dialog
  CHANGELOG.md
  src/main/java/org/jabref/gui/cleanup/CleanupDialog.java
Labels: ui, status: ready-for-review

#9258 Make autosave tick in shared database opening dialog active
  src/main/java/org/jabref/gui/shared/SharedDatabaseLoginDialogViewModel.java
Labels: status: ready-for-review, hacktoberfest-accepted

#9222 Removed swing from default file dir detection
  CHANGELOG.md
  docs/decisions/0026-use-jna-to-determine-default-directory.md
  src/main/java/module-info.java
  src/main/java/org/jabref/gui/desktop/JabRefDesktop.java
  src/main/java/org/jabref/gui/desktop/os/DefaultDesktop.java
  src/main/java/org/jabref/gui/desktop/os/Linux.java
  src/main/java/org/jabref/gui/desktop/os/NativeDesktop.java
  src/main/java/org/jabref/gui/desktop/os/OSX.java
  src/main/java/org/jabref/gui/desktop/os/Windows.java
  src/main/java/org/jabref/gui/preferences/linkedfiles/LinkedFilesTabViewModel.java
  src/main/java/org/jabref/model/database/BibDatabaseContext.java
  src/main/java/org/jabref/preferences/FilePreferences.java
  src/main/java/org/jabref/preferences/JabRefPreferences.java
  src/test/java/org/jabref/logic/pdf/search/indexing/DocumentReaderTest.java
  src/test/java/org/jabref/model/database/BibDatabaseContextTest.java
Labels: status: ready-for-review, type: code-quality, external files, hacktoberfest-accepted

#9255 Adjust and make tests for BibTex/Biblatex/CSL mapping more accurate by adding Apa 7th edition
  .github/workflows/refresh-csl-subtrees.yml
  src/main/java/org/jabref/logic/citationstyle/CSLAdapter.java
  src/main/resources/csl-styles/apa.csl
  src/test/java/org/jabref/logic/citationstyle/CitationStyleGeneratorTest.java
Labels: status: ready-for-review, entry-preview, hacktoberfest-accepted

#9265 Minor code improvements in library properties dialog
  src/main/java/org/jabref/gui/libraryproperties/LibraryPropertiesViewModel.java
  src/main/java/org/jabref/gui/libraryproperties/general/GeneralPropertiesView.java
Labels: status: ready-for-review

#9215 Disable "change case" menu for empty fields
  CHANGELOG.md
  src/main/java/org/jabref/gui/fieldeditors/contextmenu/DefaultMenu.java
  src/main/java/org/jabref/gui/fieldeditors/contextmenu/EditorMenus.java
Labels: type: bug 🐛, status: ready-for-review

#9268 Preferences dialog now closes on CLOSE DIALOG key binding
  CHANGELOG.md
  src/main/java/org/jabref/gui/preferences/PreferencesDialogView.java
Labels: status: ready-for-review, hacktoberfest-accepted

#9269 Fix snap launcher config
  docs/code-howtos/jpackage.md
  docs/getting-into-the-code/guidelines-for-setting-up-a-local-workspace.md
  snap/local/JabRef-launcher
Labels: status: ready-for-review

#9283 Replace GitHub action "Greeting" with "GreetingFirstTimeCodeContribution"
  .github/workflows/GreetingFirstTimeCodeContribution.yml
  .github/workflows/greetings.yml
Labels: status: ready-for-review, hacktoberfest-accepted

#9282 Download from URL now automatically fills with URL in clipboard
  CHANGELOG.md
  src/main/java/org/jabref/gui/fieldeditors/LinkedFilesEditorViewModel.java
Labels: status: ready-for-review, hacktoberfest-accepted

#9284 Add file path in the Delete dialog text.
  CHANGELOG.md
  src/main/java/org/jabref/gui/fieldeditors/LinkedFileViewModel.java
  src/main/resources/l10n/JabRef_en.properties
Labels: status: ready-for-review, hacktoberfest-accepted

#9305 Add skips for MacOS X build
  .github/workflows/deployment.yml
Labels: build-system

#9315 Changed the color of found text from red to high contrast
  CHANGELOG.md
  src/main/java/org/jabref/gui/entryeditor/EntryEditor.css
Labels: status: ready-for-review, search, Dark Theme

#9308 Changed the messages after importing unlinked local files to past passive tense.
  CHANGELOG.md
  src/main/java/org/jabref/gui/externalfiles/ImportHandler.java
  src/main/resources/l10n/JabRef_en.properties
Labels: ui, status: ready-for-review, import

#9238 Try to relocate listener binding
  src/main/java/org/jabref/gui/JabRefFrame.java
  src/main/java/org/jabref/gui/LibraryTab.java
  src/main/java/org/jabref/gui/StateManager.java
  src/main/java/org/jabref/gui/importer/NewEntryAction.java
Labels: ui

#9320 Fix for issue 8806: Button highlights doesn't respect rounded corners
  CHANGELOG.md
  src/main/java/org/jabref/gui/Base.css
Labels: ui, status: ready-for-review

#9316 Fix issue: Auto-linking files with safe character replacements #9267
  CHANGELOG.md
  src/main/java/org/jabref/logic/util/io/CitationKeyBasedFileFinder.java
  src/test/java/org/jabref/logic/util/io/CitationKeyBasedFileFinderTest.java
Labels: status: ready-for-review, external files

#9318 Removed BibTeX file type and included HTML and Markdown types
  CHANGELOG.md
  src/main/java/org/jabref/gui/externalfiles/UnlinkedFilesDialogViewModel.java
  src/main/java/org/jabref/gui/externalfiletype/StandardExternalFileType.java
  src/main/java/org/jabref/logic/util/StandardFileType.java
  src/main/java/org/jabref/logic/util/io/FileUtil.java
  src/test/java/org/jabref/gui/externalfiletype/ExternalFileTypesTest.java
Labels: status: ready-for-review, search, external files

#9286 Group context menu presents relevant options depending on number of subgroups
  CHANGELOG.md
  src/main/java/org/jabref/gui/groups/GroupTreeView.java
  src/main/java/org/jabref/gui/groups/GroupTreeViewModel.java
  src/main/resources/l10n/JabRef_en.properties
Labels: status: ready-for-review, groups
