Repository JabRef/jabref, pull requests merged in 2022-04, with the labels that each got.

#8632 [Bot] Update CSL styles
  buildres/csl/csl-styles/.github/workflows/label-gun.yml
  buildres/csl/csl-styles/american-journal-of-archaeology.csl
  buildres/csl/csl-styles/american-medical-association-alphabetical.csl
  buildres/csl/csl-styles/american-medical-association-brackets.csl
  buildres/csl/csl-styles/american-medical-association-no-et-al.csl
  buildres/csl/csl-styles/american-medical-association-no-url.csl
  buildres/csl/csl-styles/american-medical-association.csl
  buildres/csl/csl-styles/archaeonautica.csl
  buildres/csl/csl-styles/cardiff-university-harvard.csl
  buildres/csl/csl-styles/extracellular-vesicles-and-circulating-nucleic-acids.csl
  buildres/csl/csl-styles/haute-ecole-de-gestion-de-geneve-iso-690.csl
  buildres/csl/csl-styles/iso690-author-date-en.csl
  buildres/csl/csl-styles/iso690-author-date-fr.csl
  buildres/csl/csl-styles/iso690-numeric-en.csl
  buildres/csl/csl-styles/iso690-numeric-fr.csl
  buildres/csl/csl-styles/journal-of-avian-biology.csl
  buildres/csl/csl-styles/mary-ann-liebert-vancouver.csl
  buildres/csl/csl-styles/mrs-bulletin.csl
  buildres/csl/csl-styles/respiratory-care-journal.csl
  buildres/csl/csl-styles/spanish-legal.csl
  buildres/csl/csl-styles/style-manual-australian-government.csl
  buildres/csl/csl-styles/the-journal-of-egyptian-archaeology.csl
  buildres/csl/csl-styles/united-states-international-trade-commission.csl
Labels: dependencies

#8631 Ensure SSL truststore is present at startup
  src/main/java/org/jabref/gui/JabRefMain.java
  src/main/java/org/jabref/logic/net/ssl/TrustStoreManager.java
Labels: status: ready-for-review

#8634 Citation keygen: Return vonPart if lastName is empty
  CHANGELOG.md
  src/main/java/org/jabref/logic/citationkeypattern/BracketedPattern.java
  src/test/java/org/jabref/logic/citationkeypattern/CitationKeyGeneratorTest.java
Labels: status: ready-for-review

#8637 Update Gradle Wrapper from 7.4.1 to 7.4.2
  gradle/wrapper/gradle-wrapper.properties
Labels: dependencies, gradle-wrapper

#8361 Fix import entry by id does not generate citation key
  CHANGELOG.md
  src/main/java/org/jabref/gui/EntryTypeViewModel.java
  src/main/java/org/jabref/gui/LibraryTab.java
  src/main/java/org/jabref/gui/bibtexextractor/BibtexExtractorViewModel.java
  src/main/java/org/jabref/gui/externalfiles/ImportHandler.java
  src/main/java/org/jabref/gui/externalfiles/UnlinkedFilesDialogViewModel.java
  src/main/java/org/jabref/gui/importer/GenerateEntryFromIdAction.java
  src/main/java/org/jabref/gui/importer/ImportEntriesViewModel.java
  src/main/java/org/jabref/gui/maintable/MainTable.java
  src/main/resources/l10n/JabRef_en.properties
Labels: status: ready-for-review

#8636 Refine search code
  src/main/java/org/jabref/gui/search/rules/describer/SearchDescribers.java
  src/main/java/org/jabref/logic/search/SearchQuery.java
  src/main/java/org/jabref/model/search/rules/ContainBasedSearchRule.java
  src/main/java/org/jabref/model/search/rules/ContainsBasedSearchRule.java
  src/main/java/org/jabref/model/search/rules/FullTextSearchRule.java
  src/main/java/org/jabref/model/search/rules/RegexBasedSearchRule.java
  src/main/java/org/jabref/model/search/rules/SearchRules.java
  src/test/java/org/jabref/model/search/rules/ContainBasedSearchRuleTest.java
  src/test/java/org/jabref/model/search/rules/ContainsBasedSearchRuleTest.java
Labels: status: ready-for-review, search

#8641 Improve key generation
  src/main/java/org/jabref/gui/collab/EntryChangeViewModel.java
  src/main/java/org/jabref/gui/duplicationFinder/DuplicateResolverDialog.java
  src/main/java/org/jabref/gui/externalfiles/ImportHandler.java
  src/main/java/org/jabref/gui/mergeentries/MergeEntries.java
  src/main/java/org/jabref/gui/mergeentries/MergeEntriesDialog.java
  src/main/java/org/jabref/logic/citationkeypattern/CitationKeyGenerator.java
Labels: status: ready-for-review

#8651 Only show exit warning if running tasks will not be recovered
  CHANGELOG.md
  src/main/java/org/jabref/gui/JabRefDialogService.java
  src/main/java/org/jabref/gui/JabRefFrame.java
  src/main/java/org/jabref/gui/StateManager.java
  src/main/java/org/jabref/gui/util/BackgroundTask.java
  src/main/java/org/jabref/gui/util/DefaultTaskExecutor.java
  src/main/java/org/jabref/logic/pdf/search/indexing/IndexingTaskManager.java
Labels: status: ready-for-review

#8640 Fixed the inconsistent behavior for accents in search
  CHANGELOG.md
  src/main/java/org/jabref/model/search/rules/ContainsBasedSearchRule.java
  src/main/java/org/jabref/model/search/rules/GrammarBasedSearchRule.java
  src/main/java/org/jabref/model/search/rules/RegexBasedSearchRule.java
  src/test/java/org/jabref/model/strings/StringUtilTest.java
Labels: status: ready-for-review

#8647 Adding notifications when writing metadata to pdfs
  CHANGELOG.md
  src/main/java/org/jabref/gui/fieldeditors/LinkedFileViewModel.java
  src/main/resources/l10n/JabRef_en.properties
Labels: status: ready-for-review

#8656 Save xmp data to new file and then copy it back
  src/main/java/org/jabref/logic/exporter/EmbeddedBibFilePdfExporter.java
  src/main/java/org/jabref/logic/xmp/XmpUtilReader.java
  src/main/java/org/jabref/logic/xmp/XmpUtilWriter.java
Labels: status: ready-for-review

#8658 Fix XMP write
  build.gradle
  src/main/java/org/jabref/gui/JabRefFrame.java
  src/main/java/org/jabref/gui/exporter/WriteMetadataToPdfAction.java
  src/main/java/org/jabref/gui/fieldeditors/LinkedFileViewModel.java
  src/main/java/org/jabref/gui/util/DefaultFileUpdateMonitor.java
  src/main/java/org/jabref/logic/exporter/EmbeddedBibFilePdfExporter.java
  src/main/java/org/jabref/logic/xmp/DublinCoreExtractor.java
  src/main/java/org/jabref/logic/xmp/XmpUtilWriter.java
  src/main/java/org/jabref/model/util/FileUpdateMonitor.java
Labels: status: ready-for-review

#8667 Add lucence backwards codec
  build.gradle
  src/main/java/module-info.java
Labels: status: ready-for-review

#8668 Allowing changing entry types of multiple entries
  CHANGELOG.md
  src/main/java/org/jabref/gui/entryeditor/EntryEditor.java
  src/main/java/org/jabref/gui/maintable/RightClickMenu.java
  src/main/java/org/jabref/gui/menus/ChangeEntryTypeMenu.java
Labels: status: ready-for-review

#8677 [Bot] Update CSL styles
  buildres/csl/csl-locales/Gemfile.lock
  buildres/csl/csl-locales/locales-fr-FR.xml
  buildres/csl/csl-styles/american-physics-society.csl
  buildres/csl/csl-styles/american-sociological-association.csl
  buildres/csl/csl-styles/associacao-brasileira-de-normas-tecnicas-usp-fmvz.csl
  buildres/csl/csl-styles/bibtex.csl
  buildres/csl/csl-styles/cell.csl
  buildres/csl/csl-styles/frontiers-of-biogeography.csl
  buildres/csl/csl-styles/frontiers.csl
  buildres/csl/csl-styles/harvard-university-of-the-west-of-england.csl
  buildres/csl/csl-styles/institut-francais-darcheologie-orientale-arab-studies.csl
  buildres/csl/csl-styles/institut-francais-darcheologie-orientale-en.csl
  buildres/csl/csl-styles/institut-francais-darcheologie-orientale-etudes-arabes.csl
  buildres/csl/csl-styles/institut-francais-darcheologie-orientale.csl
  buildres/csl/csl-styles/journal-of-contemporary-water-research-and-education.csl
  buildres/csl/csl-styles/national-library-of-medicine-grant-proposals.csl
  buildres/csl/csl-styles/science-china-materials.csl
  buildres/csl/csl-styles/urad-rs-za-makroekonomske-analize-in-razvoj.csl
  buildres/csl/csl-styles/vancouver-author-date.csl
  buildres/csl/csl-styles/vancouver-brackets-no-et-al.csl
  buildres/csl/csl-styles/vancouver-brackets-only-year-no-issue.csl
  buildres/csl/csl-styles/vancouver-brackets.csl
  buildres/csl/csl-styles/vancouver-fr-ca.csl
  buildres/csl/csl-styles/vancouver-imperial-college-london.csl
  buildres/csl/csl-styles/vancouver-superscript-brackets-only-year.csl
  buildres/csl/csl-styles/vancouver-superscript-only-year.csl
  buildres/csl/csl-styles/vancouver-superscript.csl
  buildres/csl/csl-styles/vancouver.csl
Labels: dependencies

#8693 Refine code of ISBN fetcher tests
  src/main/java/org/jabref/logic/importer/IdBasedParserFetcher.java
  src/test/java/org/jabref/logic/importer/fetcher/AbstractIsbnFetcherTest.java
  src/test/java/org/jabref/logic/importer/fetcher/IsbnViaEbookDeFetcherTest.java
  src/test/java/org/jabref/logic/importer/fetcher/IsbnViaOttoBibFetcherTest.java
Labels: type: code-quality

#8688 Refine checkstyle
  .github/workflows/tests.yml
  config/checkstyle/checkstyle.xml
  config/checkstyle/checkstyle_reviewdog.xml
  src/main/java/org/jabref/gui/actions/ActionHelper.java
  src/main/java/org/jabref/gui/autocompleter/AutoCompletionTextInputBinding.java
  src/main/java/org/jabref/gui/groups/GroupDialogViewModel.java
  src/main/java/org/jabref/gui/importer/GrobidOptInDialogHelper.java
  src/main/java/org/jabref/gui/importer/actions/GUIPostOpenAction.java
  src/main/java/org/jabref/gui/menus/FileHistoryMenu.java
  src/main/java/org/jabref/gui/openoffice/Bootstrap.java
  src/main/java/org/jabref/gui/preferences/preview/PreviewTabViewModel.java
  src/main/java/org/jabref/logic/bibtex/FileFieldWriter.java
  src/main/java/org/jabref/logic/bst/TextPrefixFunction.java
  src/main/java/org/jabref/logic/bst/VM.java
  src/main/java/org/jabref/logic/citationstyle/CSLAdapter.java
  src/main/java/org/jabref/logic/exporter/Exporter.java
  src/main/java/org/jabref/logic/git/GitHandler.java
  src/main/java/org/jabref/logic/importer/PagedSearchBasedParserFetcher.java
  src/main/java/org/jabref/logic/importer/fileformat/EndnoteImporter.java
  src/main/java/org/jabref/logic/importer/fileformat/EndnoteXmlImporter.java
  src/main/java/org/jabref/logic/importer/fileformat/GvkParser.java
  src/main/java/org/jabref/logic/importer/fileformat/MrDLibImporter.java
  src/main/java/org/jabref/logic/importer/fileformat/MsBibImporter.java
  src/main/java/org/jabref/logic/importer/util/MetaDataParser.java
  src/main/java/org/jabref/logic/integrity/UTF8Checker.java
  src/main/java/org/jabref/logic/layout/AbstractParamLayoutFormatter.java
  src/main/java/org/jabref/logic/layout/ParamLayoutFormatter.java
  src/main/java/org/jabref/logic/layout/format/Authors.java
  src/main/java/org/jabref/logic/layout/format/FileLink.java
  src/main/java/org/jabref/logic/net/URLDownload.java
  src/main/java/org/jabref/logic/pdf/search/indexing/PdfIndexer.java
  src/main/java/org/jabref/logic/util/DelayTaskThrottler.java
  src/main/java/org/jabref/logic/util/strings/StringManipulator.java
  src/main/java/org/jabref/model/TreeNode.java
  src/main/java/org/jabref/model/database/BibDatabase.java
  src/main/java/org/jabref/model/database/BibDatabaseContext.java
  src/main/java/org/jabref/model/strings/StringUtil.java
  src/main/java/org/jabref/model/util/FileUpdateMonitor.java
  src/test/java/org/jabref/logic/integrity/UTF8CheckerTest.java
Labels: status: ready-for-review, type: code-quality

#8598 adding DOAB to web search
  CHANGELOG.md
  src/main/java/org/jabref/logic/importer/WebFetchers.java
  src/main/java/org/jabref/logic/importer/fetcher/DOABFetcher.java
  src/main/java/org/jabref/logic/importer/util/JsonReader.java
  src/test/java/org/jabref/logic/importer/fetcher/DOABFetcherTest.java
Labels: fetcher

#8700 Introduce OpenLibraryFetcher (and remove OttoBibFetcher)
  CHANGELOG.md
  src/main/java/org/jabref/logic/importer/fetcher/IsbnFetcher.java
  src/main/java/org/jabref/logic/importer/fetcher/IsbnViaOttoBibFetcher.java
  src/main/java/org/jabref/logic/importer/fetcher/OpenLibraryFetcher.java
  src/test/java/org/jabref/logic/importer/WebFetchersTest.java
  src/test/java/org/jabref/logic/importer/fetcher/CompositeIdFetcherTest.java
  src/test/java/org/jabref/logic/importer/fetcher/CompositeSearchBasedFetcherTest.java
  src/test/java/org/jabref/logic/importer/fetcher/IsbnFetcherTest.java
  src/test/java/org/jabref/logic/importer/fetcher/OpenLibraryFetcherTest.java
  src/test/java/org/jabref/logic/importer/fileformat/PdfMergeMetadataImporterTest.java
Labels: status: ready-for-review, fetcher

#8698 Cleanup: Escape $ signs
  CHANGELOG.md
  docs/getting-into-the-code/guidelines-for-setting-up-a-local-workspace.md
  src/main/java/org/jabref/logic/formatter/Formatters.java
  src/main/java/org/jabref/logic/formatter/bibtexfields/EscapeDollarSignFormatter.java
  src/main/resources/l10n/JabRef_en.properties
  src/test/java/org/jabref/logic/formatter/bibtexfields/EscapeDollarSignFormatterTest.java
Labels: cleanup-ops, unicode

#8713 New Crowdin updates
  src/main/resources/l10n/JabRef_de.properties
  src/main/resources/l10n/JabRef_tr.properties
Labels: type: documentation

#7720 Fix for issue 6877: Allow users to customize the API Key
  CHANGELOG.md
  src/main/java/org/jabref/cli/ArgumentProcessor.java
  src/main/java/org/jabref/gui/EntryTypeViewModel.java
  src/main/java/org/jabref/gui/externalfiles/DownloadFullTextAction.java
  src/main/java/org/jabref/gui/fieldeditors/LinkedFilesEditorViewModel.java
  src/main/java/org/jabref/gui/importer/fetcher/WebSearchPaneViewModel.java
  src/main/java/org/jabref/gui/preferences/importexport/ImportExportTab.fxml
  src/main/java/org/jabref/gui/preferences/importexport/ImportExportTab.java
  src/main/java/org/jabref/gui/preferences/importexport/ImportExportTabViewModel.java
  src/main/java/org/jabref/gui/slr/ExistingStudySearchAction.java
  src/main/java/org/jabref/gui/slr/ManageStudyDefinitionView.java
  src/main/java/org/jabref/gui/slr/ManageStudyDefinitionViewModel.java
  src/main/java/org/jabref/logic/crawler/Crawler.java
  src/main/java/org/jabref/logic/crawler/StudyDatabaseToFetcherConverter.java
  src/main/java/org/jabref/logic/crawler/StudyRepository.java
  src/main/java/org/jabref/logic/importer/FulltextFetchers.java
  src/main/java/org/jabref/logic/importer/ImporterPreferences.java
  src/main/java/org/jabref/logic/importer/WebFetchers.java
  src/main/java/org/jabref/logic/importer/fetcher/AstrophysicsDataSystem.java
  src/main/java/org/jabref/logic/importer/fetcher/CustomizableKeyFetcher.java
  src/main/java/org/jabref/logic/importer/fetcher/IEEE.java
  src/main/java/org/jabref/logic/importer/fetcher/ScienceDirect.java
  src/main/java/org/jabref/logic/importer/fetcher/SpringerFetcher.java
  src/main/java/org/jabref/logic/importer/fetcher/SpringerLink.java
  src/main/java/org/jabref/logic/preferences/FetcherApiKey.java
  src/main/java/org/jabref/preferences/JabRefPreferences.java
  src/main/resources/l10n/JabRef_en.properties
  src/test/java/org/jabref/logic/crawler/CrawlerTest.java
  src/test/java/org/jabref/logic/crawler/StudyDatabaseToFetcherConverterTest.java
  src/test/java/org/jabref/logic/crawler/StudyRepositoryTest.java
  src/test/java/org/jabref/logic/importer/WebFetchersTest.java
  src/test/java/org/jabref/logic/importer/fetcher/AstrophysicsDataSystemTest.java
  src/test/java/org/jabref/logic/importer/fetcher/CompositeSearchBasedFetcherTest.java
  src/test/java/org/jabref/logic/importer/fetcher/FulltextFetcherTest.java
  src/test/java/org/jabref/logic/importer/fetcher/GrobidCitationFetcherTest.java
  src/test/java/org/jabref/logic/importer/fetcher/IEEETest.java
  src/test/java/org/jabref/logic/importer/fetcher/ScienceDirectTest.java
  src/test/java/org/jabref/logic/importer/fetcher/SpringerFetcherTest.java
  src/test/java/org/jabref/logic/importer/fetcher/SpringerLinkTest.java
  src/test/java/org/jabref/logic/importer/util/GrobidServiceTest.java
Labels: type: enhancement, status: ready-for-review, fetcher, preferences
