Repository JabRef/jabref, pull requests merged in 2022-02, with the labels that each got.

#8482 [Bot] Update CSL styles
  buildres/csl/csl-locales/locales-pt-PT.xml
  buildres/csl/csl-styles/american-fisheries-society.csl
  buildres/csl/csl-styles/american-medical-association-brackets.csl
  buildres/csl/csl-styles/american-society-for-microbiology.csl
  buildres/csl/csl-styles/apa-annotated-bibliography.csl
  buildres/csl/csl-styles/apa-cv.csl
  buildres/csl/csl-styles/apa-no-ampersand.csl
  buildres/csl/csl-styles/apa-no-initials.csl
  buildres/csl/csl-styles/apa-numeric-superscript-brackets.csl
  buildres/csl/csl-styles/apa-numeric-superscript.csl
  buildres/csl/csl-styles/apa-single-spaced.csl
  buildres/csl/csl-styles/apa-with-abstract.csl
  buildres/csl/csl-styles/apa.csl
  buildres/csl/csl-styles/begell-house-apa.csl
  buildres/csl/csl-styles/citation-compass-apa-note.csl
  buildres/csl/csl-styles/current-neurology-aktualnosci-neurologiczne.csl
  buildres/csl/csl-styles/dependent/bioscientific-review.csl
  buildres/csl/csl-styles/dependent/british-journal-of-clinical-pharmacology.csl
  buildres/csl/csl-styles/european-review-of-agricultural-economics.csl
  buildres/csl/csl-styles/fundamental-and-applied-limnology.csl
  buildres/csl/csl-styles/harvard-imperial-college-london.csl
  buildres/csl/csl-styles/journal-of-clinical-neurophysiology.csl
  buildres/csl/csl-styles/medicine-publishing.csl
  buildres/csl/csl-styles/modern-language-association-8th-edition.csl
  buildres/csl/csl-styles/modern-language-association.csl
  buildres/csl/csl-styles/norsk-apa-manual-note.csl
  buildres/csl/csl-styles/norsk-apa-manual.csl
  buildres/csl/csl-styles/technische-universitat-dresden-betriebswirtschaftslehre-rechnungswesen-controlling.csl
  buildres/csl/csl-styles/the-journal-of-wildlife-management.csl
  buildres/csl/csl-styles/ucl-university-college-apa.csl
  buildres/csl/csl-styles/universitatsmedizin-gottingen.csl
  buildres/csl/csl-styles/university-of-gothenburg-apa-7th-edition-swedish-legislations.csl
Labels: dependencies

#8492 Fix for opening console on active database
  CHANGELOG.md
  src/main/java/org/jabref/gui/OpenConsoleAction.java
  src/test/java/org/jabref/gui/util/OpenConsoleActionTest.java
Labels: status: ready-for-review

#8499 Update Gradle Wrapper from 7.3.3 to 7.4
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
Labels: dependencies, gradle-wrapper

#8503 [Bot] Update CSL styles
  buildres/csl/csl-styles/acta-psychiatrica-scandinavica.csl
  buildres/csl/csl-styles/american-society-of-civil-engineers.csl
  buildres/csl/csl-styles/chicago-author-date.csl
  buildres/csl/csl-styles/dependent/acta-psychiatrica-scandinavica.csl
  buildres/csl/csl-styles/deutsche-gesellschaft-fur-psychologie.csl
  buildres/csl/csl-styles/frattura-ed-integrita-strutturale-fracture-and-structural-integrity.csl
  buildres/csl/csl-styles/harvard-anglia-ruskin-university.csl
  buildres/csl/csl-styles/ieee.csl
  buildres/csl/csl-styles/international-journal-of-wildland-fire.csl
  buildres/csl/csl-styles/trinity-college-dublin-zoology-botany-environmental-sciences-harvard.csl
  buildres/csl/csl-styles/uclouvain-centre-charles-de-visscher-pour-le-droit-international-et-europeen.csl
  buildres/csl/csl-styles/universite-cheikh-anta-diop-faculte-de-medecine-de-pharmacie-et-dodontologie.csl
  src/main/resources/csl-styles/ieee.csl
Labels: dependencies

#8521 Update to jakarta xml everywhere and update PDFbox
  build.gradle
  src/main/java/module-info.java
  src/main/java/org/jabref/gui/documentviewer/DocumentViewerViewModel.java
  src/main/java/org/jabref/logic/exporter/BibTeXMLExporter.java
  src/main/java/org/jabref/logic/exporter/EmbeddedBibFilePdfExporter.java
  src/main/java/org/jabref/logic/exporter/ModsExporter.java
  src/main/java/org/jabref/logic/importer/fileformat/BibTeXMLImporter.java
  src/main/java/org/jabref/logic/importer/fileformat/EndnoteXmlImporter.java
  src/main/java/org/jabref/logic/importer/fileformat/MedlineImporter.java
  src/main/java/org/jabref/logic/importer/fileformat/ModsImporter.java
  src/main/java/org/jabref/logic/importer/fileformat/mods/package-info.java
  src/main/java/org/jabref/logic/pdf/PdfAnnotationImporter.java
  src/main/java/org/jabref/logic/pdf/search/indexing/DocumentReader.java
  src/main/java/org/jabref/logic/xmp/DublinCoreExtractor.java
  src/main/java/org/jabref/logic/xmp/XmpUtilReader.java
  src/main/java/org/jabref/logic/xmp/XmpUtilWriter.java
  src/main/resources/xjc/mods/mods-binding.xjb
  src/test/java/org/jabref/logic/importer/fileformat/PdfXmpImporterTest.java
  src/test/java/org/jabref/logic/xmp/XmpUtilReaderTest.java
  src/test/resources/org/jabref/logic/xmp/PD_metadata.bib
  src/test/resources/org/jabref/logic/xmp/article_dublinCore.bib
Labels: status: ready-for-review

#8526 Disable telemetry client due to incompatibilites with jakarta
  src/main/java/org/jabref/gui/Globals.java
Labels: status: ready-for-review

#8530 Add initial telemetry development documentation
  docs/SUMMARY.md
  docs/advanced-reading/telemetry.md
Labels: status: ready-for-review

#8508 issue(8448): allow URL with + sign in entry tabs
  CHANGELOG.md
  src/main/java/org/jabref/logic/formatter/bibtexfields/CleanupUrlFormatter.java
  src/test/java/org/jabref/logic/formatter/bibtexfields/CleanupUrlFormatterTest.java
Labels: status: ready-for-review
