Repository JabRef/jabref, pull requests merged in 2022-09, with the labels that each got.

#9111 [Bot] Update CSL styles
  buildres/csl/csl-locales/.github/workflows/merge.yaml
  buildres/csl/csl-styles/.github/workflows/merge.yaml
  buildres/csl/csl-styles/acta-universitatis-agriculturae-sueciae.csl
  buildres/csl/csl-styles/anais-da-academia-brasileira-de-ciencias.csl
  buildres/csl/csl-styles/avian-conservation-and-ecology.csl
  buildres/csl/csl-styles/bluebook-law-review.csl
  buildres/csl/csl-styles/bluebook2.csl
  buildres/csl/csl-styles/cardiff-university-harvard.csl
  buildres/csl/csl-styles/cell-numeric-superscript.csl
  buildres/csl/csl-styles/cell-numeric.csl
  buildres/csl/csl-styles/current-organic-synthesis.csl
  buildres/csl/csl-styles/dependent/oxford-brookes-university-harvard-no-et-al.csl
  buildres/csl/csl-styles/dependent/oxford-brookes-university-harvard.csl
  buildres/csl/csl-styles/dependent/prifysgol-caerdydd-harvard.csl
  buildres/csl/csl-styles/economic-geology.csl
  buildres/csl/csl-styles/food-science-and-biotechnology.csl
  buildres/csl/csl-styles/harvard-anglia-ruskin-university.csl
  buildres/csl/csl-styles/harvard-cardiff-university-old.csl
  buildres/csl/csl-styles/harvard-oxford-brookes-university-faculty-of-health-and-life-sciences.csl
  buildres/csl/csl-styles/harvard-university-for-the-creative-arts.csl
  buildres/csl/csl-styles/politique-europeenne.csl
  buildres/csl/csl-styles/renamed-styles.json
  buildres/csl/csl-styles/sociologia-urbana-e-rurale.csl
  buildres/csl/csl-styles/the-journal-of-hellenic-studies.csl
  buildres/csl/csl-styles/universite-du-quebec-a-montreal-prenoms.csl
  buildres/csl/csl-styles/university-of-hull-harvard.csl
Labels: dependencies

#9110 Hide diffs when one of the field values is blank a.k.a no conflict
  src/main/java/org/jabref/gui/mergeentries/newmergedialog/FieldRowView.java
Labels: ui, status: ready-for-review, duplicateFinder

#9114 Visual improvements to LinkedFilesEditor
  CHANGELOG.md
  src/main/java/org/jabref/gui/fieldeditors/LinkedFileViewModel.java
  src/main/java/org/jabref/gui/fieldeditors/LinkedFilesEditor.fxml
  src/main/java/org/jabref/gui/fieldeditors/LinkedFilesEditor.java
  src/main/java/org/jabref/gui/icon/IconTheme.java
  src/main/java/org/jabref/gui/linkedfile/LinkedFileEditDialog.fxml
  src/main/java/org/jabref/gui/linkedfile/LinkedFileEditDialogView.java
  src/main/resources/l10n/JabRef_en.properties
Labels: ui, status: ready-for-review, external files, entry-editor, jabcon

#9117 Fix subdatabase from aux on cli
  CHANGELOG.md
  src/main/java/org/jabref/cli/ArgumentProcessor.java
  src/test/java/org/jabref/cli/ArgumentProcessorTest.java
Labels: status: ready-for-review

#9121 Fix exception that occurs when saving name formatters
  CHANGELOG.md
  src/main/java/org/jabref/logic/layout/format/NameFormatterPreferences.java
Labels: status: ready-for-review

#9122 Fix parsing of save actions
  CHANGELOG.md
  src/main/java/org/jabref/logic/cleanup/Cleanups.java
  src/main/java/org/jabref/logic/cleanup/FieldFormatterCleanups.java
  src/main/java/org/jabref/logic/importer/fileformat/BibtexParser.java
  src/test/java/org/jabref/logic/cleanup/CleanupsTest.java
  src/test/java/org/jabref/logic/exporter/FieldFormatterCleanupsTest.java
  src/test/java/org/jabref/logic/importer/fileformat/BibtexParserTest.java
Labels: status: ready-for-review

#9123 Rework the Define study parameters dialog
  CHANGELOG.md
  src/main/java/org/jabref/gui/slr/ManageStudyDefinition.fxml
  src/main/java/org/jabref/gui/slr/ManageStudyDefinitionView.java
  src/main/java/org/jabref/gui/slr/ManageStudyDefinitionViewModel.java
  src/main/java/org/jabref/gui/slr/StudyDatabaseItem.java
  src/main/java/org/jabref/logic/importer/fetcher/ACMPortalFetcher.java
  src/main/java/org/jabref/logic/importer/fetcher/CompositeSearchBasedFetcher.java
  src/main/java/org/jabref/logic/importer/fetcher/DBLPFetcher.java
  src/main/java/org/jabref/logic/importer/fetcher/IEEE.java
  src/main/java/org/jabref/logic/importer/fetcher/SpringerFetcher.java
  src/main/java/org/jabref/logic/importer/fetcher/SpringerLink.java
  src/main/java/org/jabref/model/study/Study.java
  src/main/java/org/jabref/model/study/StudyDatabase.java
  src/main/resources/l10n/JabRef_en.properties
  src/test/java/org/jabref/gui/slr/ManageStudyDefinitionViewModelTest.java
Labels: status: ready-for-review

#9097 Fix integrity check for tilde accents in author names
  CHANGELOG.md
  src/main/java/org/jabref/logic/importer/AuthorListParser.java
  src/main/java/org/jabref/logic/util/strings/HTMLUnicodeConversionMaps.java
  src/main/java/org/jabref/logic/util/strings/RtfCharMap.java
  src/test/java/org/jabref/logic/formatter/bibtexfields/HtmlToUnicodeFormatterTest.java
  src/test/java/org/jabref/logic/importer/AuthorListParserTest.java
  src/test/java/org/jabref/logic/integrity/PersonNamesCheckerTest.java
Labels: status: ready-for-review

#9124 Fix parsing of JabRef v5.7 study.yml files
  CHANGELOG.md
  src/main/java/org/jabref/logic/crawler/StudyYamlParser.java
  src/main/java/org/jabref/model/study/Study.java
  src/test/java/org/jabref/logic/crawler/StudyYamlParserTest.java
  src/test/resources/org/jabref/logic/crawler/study-jabref-5.7.yml
Labels: SLR

#9128 Don't show the info button when the authors field content is identical
  src/main/java/org/jabref/gui/mergeentries/newmergedialog/PersonsNameFieldRowView.java
Labels: status: ready-for-review

#9113 PDFs are not stored next to .bib file if file directory is configured
  CHANGELOG.md
  src/main/java/org/jabref/architecture/AllowedToUseSwing.java
  src/main/java/org/jabref/gui/desktop/JabRefDesktop.java
  src/main/java/org/jabref/gui/exporter/ExportToClipboardAction.java
  src/main/java/org/jabref/logic/layout/format/FileLinkPreferences.java
  src/main/java/org/jabref/model/database/BibDatabaseContext.java
  src/main/java/org/jabref/preferences/FilePreferences.java
  src/main/java/org/jabref/preferences/JabRefPreferences.java
  src/main/java/org/jabref/preferences/PreferencesService.java
  src/test/java/org/jabref/architecture/MainArchitectureTests.java
  src/test/java/org/jabref/logic/cleanup/CleanupWorkerTest.java
  src/test/java/org/jabref/model/database/BibDatabaseContextTest.java
Labels: status: ready-for-review

#9046 Fix old JabRef linked files containing the file directory as element in the filename
  CHANGELOG.md
  src/main/java/org/jabref/model/util/FileHelper.java
  src/test/java/org/jabref/model/util/FileHelperTest.java
Labels: external files

#9126 Oberservable Preferences M (CleanupPreferences)
  src/main/java/org/jabref/gui/cleanup/CleanupAction.java
  src/main/java/org/jabref/gui/cleanup/CleanupDialog.java
  src/main/java/org/jabref/gui/cleanup/CleanupPresetPanel.java
  src/main/java/org/jabref/gui/commonfxcontrols/FieldFormatterCleanupsPanelViewModel.java
  src/main/java/org/jabref/gui/libraryproperties/saving/SavingPropertiesViewModel.java
  src/main/java/org/jabref/logic/cleanup/CleanupPreferences.java
  src/main/java/org/jabref/logic/cleanup/CleanupPreset.java
  src/main/java/org/jabref/logic/cleanup/CleanupWorker.java
  src/main/java/org/jabref/logic/cleanup/Cleanups.java
  src/main/java/org/jabref/logic/cleanup/FieldFormatterCleanups.java
  src/main/java/org/jabref/logic/importer/util/MetaDataParser.java
  src/main/java/org/jabref/migrations/PreferencesMigrations.java
  src/main/java/org/jabref/preferences/CleanupPreferences.java
  src/main/java/org/jabref/preferences/JabRefPreferences.java
  src/main/java/org/jabref/preferences/PreferencesService.java
  src/test/java/org/jabref/logic/cleanup/CleanupWorkerTest.java
  src/test/java/org/jabref/logic/cleanup/CleanupsTest.java
  src/test/java/org/jabref/logic/cleanup/ISSNCleanupTest.java
  src/test/java/org/jabref/logic/exporter/FieldFormatterCleanupsTest.java
Labels: cleanup-ops, status: ready-for-review, type: code-quality, preferences, jabcon

#9129 Linked files with an absolute path can be opened again
  CHANGELOG.md
  src/main/java/org/jabref/logic/importer/util/FileFieldParser.java
  src/main/java/org/jabref/logic/util/io/FileNameCleaner.java
  src/main/java/org/jabref/logic/util/io/FileUtil.java
  src/main/java/org/jabref/model/entry/LinkedFile.java
  src/main/java/org/jabref/model/util/FileHelper.java
  src/test/java/org/jabref/architecture/MainArchitectureTests.java
  src/test/java/org/jabref/logic/importer/util/FileFieldParserTest.java
  src/test/java/org/jabref/model/util/FileHelperTest.java
Labels: external files, jabcon

#9130 Rename 'Close' to 'Cancel' in the External Changes Resolver dialog
  src/main/java/org/jabref/gui/collab/ExternalChangesResolverDialog.fxml
Labels: status: ready-for-review

#9131 SLR data is now editable
  CHANGELOG.md
  src/main/java/org/jabref/gui/JabRefFrame.java
  src/main/java/org/jabref/gui/LibraryTab.java
  src/main/java/org/jabref/gui/actions/ActionHelper.java
  src/main/java/org/jabref/gui/actions/StandardActions.java
  src/main/java/org/jabref/gui/push/PushToLyx.java
  src/main/java/org/jabref/gui/search/rules/describer/GrammarBasedSearchRuleDescriber.java
  src/main/java/org/jabref/gui/slr/EditExistingStudyAction.java
  src/main/java/org/jabref/gui/slr/ExistingStudySearchAction.java
  src/main/java/org/jabref/gui/slr/ManageStudyDefinition.fxml
  src/main/java/org/jabref/gui/slr/ManageStudyDefinitionView.java
  src/main/java/org/jabref/gui/slr/ManageStudyDefinitionViewModel.java
  src/main/java/org/jabref/gui/slr/SlrStudyAndDirectory.java
  src/main/java/org/jabref/gui/slr/StartNewStudyAction.java
  src/main/java/org/jabref/logic/crawler/Crawler.java
  src/main/java/org/jabref/logic/crawler/StudyRepository.java
  src/main/java/org/jabref/logic/crawler/StudyYamlParser.java
  src/main/java/org/jabref/logic/git/GitHandler.java
  src/main/java/org/jabref/logic/git/SlrGitHandler.java
  src/main/java/org/jabref/logic/util/io/FileUtil.java
  src/main/java/org/jabref/model/database/BibDatabaseContext.java
  src/main/java/org/jabref/model/study/Study.java
  src/main/resources/l10n/JabRef_en.properties
  src/test/java/org/jabref/gui/search/GrammarBasedSearchRuleDescriberTest.java
  src/test/java/org/jabref/gui/slr/ManageStudyDefinitionViewModelTest.java
  src/test/java/org/jabref/logic/git/GitHandlerTest.java
Labels: jabcon, SLR

#9134 Fix issue with empty fallback directory
  src/main/java/org/jabref/preferences/JabRefPreferences.java
Labels: status: ready-for-review

#9133 Resimplify Action interface
  src/main/java/org/jabref/gui/actions/Action.java
  src/main/java/org/jabref/gui/mergeentries/newmergedialog/cell/sidebuttons/InfoButton.java
  src/main/java/org/jabref/gui/mergeentries/newmergedialog/cell/sidebuttons/ToggleMergeUnmergeButton.java
Labels: status: ready-for-review, type: code-quality, jabcon

#9143 Set 'Update refused' dialog title
  src/main/java/org/jabref/gui/shared/SharedDatabaseUIManager.java
Labels: ui, shared-database

#9142 Anomaly with Title case and Sentence case #9112
  CHANGELOG.md
  src/main/java/org/jabref/logic/formatter/casechanger/TitleCaseFormatter.java
  src/main/java/org/jabref/logic/formatter/casechanger/Word.java
  src/test/java/org/jabref/logic/formatter/casechanger/SentenceCaseFormatterTest.java
  src/test/java/org/jabref/logic/formatter/casechanger/TitleCaseFormatterTest.java
Labels: status: ready-for-review

#9069 [GSOC22] - D - Test the Three Way Merge UI
  src/main/java/org/jabref/gui/mergeentries/newmergedialog/FieldRowView.java
  src/main/java/org/jabref/gui/mergeentries/newmergedialog/FieldRowViewModel.java
  src/main/java/org/jabref/gui/mergeentries/newmergedialog/ThreeWayMergeView.css
  src/main/java/org/jabref/gui/mergeentries/newmergedialog/ThreeWayMergeView.java
  src/main/java/org/jabref/gui/mergeentries/newmergedialog/ThreeWayMergeViewModel.java
  src/main/java/org/jabref/gui/mergeentries/newmergedialog/cell/AbstractCell.java
  src/main/java/org/jabref/gui/mergeentries/newmergedialog/cell/FieldValueCell.java
  src/main/java/org/jabref/gui/mergeentries/newmergedialog/cell/FieldValueCellViewModel.java
  src/main/java/org/jabref/gui/mergeentries/newmergedialog/cell/HeaderCell.java
  src/main/java/org/jabref/gui/mergeentries/newmergedialog/cell/OpenExternalLinkAction.java
  src/main/java/org/jabref/gui/mergeentries/newmergedialog/cell/ThreeWayMergeCell.java
  src/main/java/org/jabref/gui/mergeentries/newmergedialog/cell/ThreeWayMergeCellViewModel.java
  src/main/java/org/jabref/gui/mergeentries/newmergedialog/fieldsmerger/GroupMerger.java
  src/test/java/org/jabref/gui/mergeentries/FieldRowViewModelTest.java
  src/test/java/org/jabref/gui/mergeentries/GroupMergerTest.java
  src/test/java/org/jabref/gui/mergeentries/ThreeWayMergeCellViewModelTest.java
  src/test/java/org/jabref/gui/mergeentries/ThreeWayMergeViewModelTest.java
Labels: type: code-quality, duplicateFinder, project: GSoC

#9150 Fix missing CSS for some dialogs
  CHANGELOG.md
  src/main/java/org/jabref/gui/JabRefFrame.java
  src/main/java/org/jabref/gui/fieldeditors/LinkedFileViewModel.java
  src/main/java/org/jabref/gui/search/GlobalSearchBar.java
  src/main/resources/l10n/JabRef_en.properties
Labels: ui, status: ready-for-review

#9140 Clarify the duplicates resolver dialog actions
  CHANGELOG.md
  src/main/java/org/jabref/gui/JabRefFrame.java
  src/main/java/org/jabref/gui/duplicationFinder/DuplicateResolverDialog.java
  src/main/java/org/jabref/gui/duplicationFinder/DuplicateSearch.java
  src/main/java/org/jabref/gui/externalfiles/ImportHandler.java
  src/main/java/org/jabref/gui/importer/ImportEntriesViewModel.java
  src/main/resources/l10n/JabRef_en.properties
Labels: status: ready-for-review, duplicateFinder

#9155 Update to jfx 19
  build.gradle
  src/main/java/org/jabref/gui/StateManager.java
  src/main/java/org/jabref/gui/actions/ActionHelper.java
  src/main/java/org/jabref/gui/groups/GroupTreeView.java
  src/main/java/org/jabref/gui/maintable/BibEntryTableViewModel.java
  src/main/java/org/jabref/gui/util/OptionalObjectProperty.java
  src/main/java/org/jabref/model/entry/BibEntry.java
Labels: status: ready-for-review

#9156 [Bot] Update CSL styles
  buildres/csl/csl-styles/american-medical-association-parentheses.csl
  buildres/csl/csl-styles/dependent/acta-medica-philippina.csl
  buildres/csl/csl-styles/dependent/journal-of-the-national-cancer-institute.csl
  buildres/csl/csl-styles/dependent/laser-and-photonics-reviews.csl
  buildres/csl/csl-styles/estonian-journal-of-earth-sciences.csl
  buildres/csl/csl-styles/harvard-anglia-ruskin-university.csl
  buildres/csl/csl-styles/journal-of-dairy-research.csl
  buildres/csl/csl-styles/journal-of-hearing-science.csl
  buildres/csl/csl-styles/journal-of-plankton-research.csl
  buildres/csl/csl-styles/laser-and-photonics-reviews.csl
  buildres/csl/csl-styles/mary-ann-liebert-vancouver.csl
  buildres/csl/csl-styles/mcgill-fr.csl
  buildres/csl/csl-styles/moore-theological-college.csl
  buildres/csl/csl-styles/new-harts-rules-the-oxford-style-guide-author-date.csl
  buildres/csl/csl-styles/nottingham-trent-university-library-harvard.csl
  buildres/csl/csl-styles/politix.csl
  buildres/csl/csl-styles/rassegna-degli-archivi-di-stato.csl
  buildres/csl/csl-styles/renamed-styles.json
  buildres/csl/csl-styles/sociologia-ruralis.csl
  buildres/csl/csl-styles/the-depositional-record.csl
  buildres/csl/csl-styles/trends-journals.csl
  buildres/csl/csl-styles/ucl-university-college-apa.csl
  buildres/csl/csl-styles/ucl-university-college-harvard.csl
  buildres/csl/csl-styles/united-states-international-trade-commission.csl
  buildres/csl/csl-styles/universidade-federal-de-sergipe-departamento-de-engenharia-de-producao-abnt.csl
Labels: dependencies

#9158 Add config for codespaces
  .devcontainer/devcontainer.json
Labels: status: ready-for-review

#9165 Fix saving triggers metadata changed
  CHANGELOG.md
  src/main/java/org/jabref/logic/cleanup/FieldFormatterCleanup.java
  src/main/java/org/jabref/logic/cleanup/FieldFormatterCleanups.java
  src/main/java/org/jabref/model/metadata/ContentSelector.java
  src/main/java/org/jabref/model/metadata/MetaData.java
Labels: status: ready-for-review

#9166 Improve startup-behavior of pdf indexer
  CHANGELOG.md
  src/main/java/org/jabref/gui/LibraryTab.java
  src/main/java/org/jabref/logic/pdf/search/indexing/DocumentReader.java
Labels: status: ready-for-review, search

#9175 Fixes fetcher tests
  src/test/java/org/jabref/logic/importer/fetcher/AstrophysicsDataSystemTest.java
  src/test/java/org/jabref/logic/importer/fetcher/CompositeIdFetcherTest.java
Labels: status: ready-for-review, fetcher

#9174 Remove Java Flight Recorder
  build.gradle
Labels: status: ready-for-review

#9183 Fix jakarta annotation missing
  build.gradle
  lib/afterburner.fx.jar
  src/main/java/module-info.java
Labels: status: ready-for-review

#9186 "Capitalize" capitalizes words after hyphens
  CHANGELOG.md
  src/main/java/org/jabref/logic/formatter/casechanger/CapitalizeFormatter.java
  src/main/java/org/jabref/logic/formatter/casechanger/Word.java
  src/test/java/org/jabref/logic/formatter/casechanger/CapitalizeFormatterTest.java
Labels: status: ready-for-review, entry-editor
