Repository JabRef/jabref, pull requests merged in 2022-12, with the labels that each got.

#9415 [Bot] Update CSL styles
  buildres/csl/csl-styles/constructivist-foundations.csl
  buildres/csl/csl-styles/dependent/conservation-science-and-practice.csl
  buildres/csl/csl-styles/engineering-technology-and-applied-science-research.csl
  buildres/csl/csl-styles/iawa-journal.csl
  buildres/csl/csl-styles/les-mondes-du-travail.csl
  buildres/csl/csl-styles/triangle.csl
  buildres/csl/csl-styles/ucl-university-college-apa.csl
Labels: dependencies

#9311 Allow users to review backup changes before restoring them or merge them selectively
  src/main/java/org/jabref/gui/Base.css
  src/main/java/org/jabref/gui/backup/BackupResolverDialog.java
  src/main/java/org/jabref/gui/collab/ChangeScanner.java
  src/main/java/org/jabref/gui/collab/DatabaseChange.java
  src/main/java/org/jabref/gui/collab/DatabaseChangeDetailsView.java
  src/main/java/org/jabref/gui/collab/DatabaseChangeDetailsViewFactory.java
  src/main/java/org/jabref/gui/collab/DatabaseChangeList.java
  src/main/java/org/jabref/gui/collab/DatabaseChangeListener.java
  src/main/java/org/jabref/gui/collab/DatabaseChangeMonitor.java
  src/main/java/org/jabref/gui/collab/DatabaseChangeResolver.java
  src/main/java/org/jabref/gui/collab/DatabaseChangeResolverFactory.java
  src/main/java/org/jabref/gui/collab/DatabaseChangesResolverDialog.fxml
  src/main/java/org/jabref/gui/collab/DatabaseChangesResolverDialog.java
  src/main/java/org/jabref/gui/collab/ExternalChangesResolverViewModel.java
  src/main/java/org/jabref/gui/collab/entryadd/EntryAdd.java
  src/main/java/org/jabref/gui/collab/entryadd/EntryAddDetailsView.java
  src/main/java/org/jabref/gui/collab/entrychange/EntryChange.java
  src/main/java/org/jabref/gui/collab/entrychange/EntryChangeDetailsView.java
  src/main/java/org/jabref/gui/collab/entrychange/EntryChangeResolver.java
  src/main/java/org/jabref/gui/collab/entrydelete/EntryDelete.java
  src/main/java/org/jabref/gui/collab/entrydelete/EntryDeleteDetailsView.java
  src/main/java/org/jabref/gui/collab/groupchange/GroupChange.java
  src/main/java/org/jabref/gui/collab/groupchange/GroupChangeDetailsView.java
  src/main/java/org/jabref/gui/collab/metedatachange/MetadataChange.java
  src/main/java/org/jabref/gui/collab/metedatachange/MetadataChangeDetailsView.java
  src/main/java/org/jabref/gui/collab/preamblechange/PreambleChange.java
  src/main/java/org/jabref/gui/collab/preamblechange/PreambleChangeDetailsView.java
  src/main/java/org/jabref/gui/collab/stringadd/BibTexStringAdd.java
  src/main/java/org/jabref/gui/collab/stringadd/BibTexStringAddDetailsView.java
  src/main/java/org/jabref/gui/collab/stringchange/BibTexStringChange.java
  src/main/java/org/jabref/gui/collab/stringchange/BibTexStringChangeDetailsView.java
  src/main/java/org/jabref/gui/collab/stringdelete/BibTexStringDelete.java
  src/main/java/org/jabref/gui/collab/stringdelete/BibTexStringDeleteDetailsView.java
  src/main/java/org/jabref/gui/collab/stringrename/BibTexStringRename.java
  src/main/java/org/jabref/gui/collab/stringrename/BibTexStringRenameDetailsView.java
  src/main/java/org/jabref/gui/dialogs/BackupUIManager.java
  src/main/java/org/jabref/gui/importer/actions/OpenDatabaseAction.java
  src/main/resources/l10n/JabRef_en.properties
Labels: status: ready-for-review, duplicateFinder, backup

#9427 Fix modernizer and refactor protected terms
  src/main/java/org/jabref/cli/ArgumentProcessor.java
  src/main/java/org/jabref/cli/CrossrefFetcherEvaluator.java
  src/main/java/org/jabref/cli/GenerateCharacterTable.java
  src/main/java/org/jabref/gui/maintable/columns/FieldColumn.java
  src/main/java/org/jabref/gui/preferences/protectedterms/ProtectedTermsTabViewModel.java
  src/main/java/org/jabref/logic/cleanup/DoiCleanup.java
  src/main/java/org/jabref/logic/exporter/TemplateExporter.java
  src/main/java/org/jabref/logic/importer/fetcher/ArXivFetcher.java
  src/main/java/org/jabref/logic/importer/fileformat/ACMPortalParser.java
  src/main/java/org/jabref/logic/importer/util/JsonReader.java
  src/main/java/org/jabref/logic/protectedterms/ProtectedTermsLoader.java
  src/main/java/org/jabref/logic/protectedterms/ProtectedTermsParser.java
  src/test/java/org/jabref/logic/protectedterms/ProtectedTermsLoaderTest.java
Labels: status: ready-for-review, type: code-quality

#9271 Fix for issue: right click menu 6601
  src/main/java/org/jabref/gui/maintable/MainTable.java
  src/main/java/org/jabref/gui/maintable/MainTableColumnFactory.java
  src/main/java/org/jabref/gui/maintable/MainTableHeaderContextMenu.java
Labels: ui, status: ready-for-review, maintable

#9433 Return absolute path in case an absolute one is given
  CHANGELOG.md
  src/main/java/org/jabref/model/util/FileHelper.java
Labels: external files

#9450 Update database context in state manager after loading
  src/main/java/org/jabref/gui/LibraryTab.java
Labels: status: ready-for-review

#9451 Fix GroupTree wrongly displayed
  CHANGELOG.md
  src/main/java/org/jabref/gui/JabRefFrame.java
  src/main/java/org/jabref/gui/LibraryTab.java
  src/main/java/org/jabref/gui/collab/DatabaseChange.java
  src/main/java/org/jabref/gui/collab/DatabaseChangesResolverDialog.java
  src/main/java/org/jabref/gui/dialogs/BackupUIManager.java
  src/main/java/org/jabref/gui/importer/actions/OpenDatabaseAction.java
Labels: status: ready-for-review

#9454 [Bot] Update CSL styles
  buildres/csl/csl-styles/Gemfile.lock
  buildres/csl/csl-styles/chicago-author-date.csl
  buildres/csl/csl-styles/emerald-harvard.csl
  buildres/csl/csl-styles/interpreting.csl
  buildres/csl/csl-styles/journal-of-the-american-college-of-cardiology.csl
  buildres/csl/csl-styles/lund-university-school-of-economics-and-management.csl
  buildres/csl/csl-styles/medizinische-hochschule-hannover.csl
  buildres/csl/csl-styles/royal-society-of-chemistry.csl
Labels: dependencies

#9453 Fixing journal abbreviation roundtrip
  CHANGELOG.md
  src/main/java/org/jabref/logic/journals/JournalAbbreviationRepository.java
  src/test/java/org/jabref/logic/journals/JournalAbbreviationRepositoryTest.java
Labels: status: ready-for-review

#9461 Fixed controls outgrow preferences dialog
  CHANGELOG.md
  src/main/java/org/jabref/gui/preferences/PreferencesDialogView.java
Labels: ui, preferences

#9466 Fix fetcher tests
  CHANGELOG.md
  src/main/java/org/jabref/logic/importer/WebFetchers.java
  src/test/java/org/jabref/logic/importer/fetcher/CiteSeerTest.java
  src/test/java/org/jabref/logic/importer/fetcher/MedlineFetcherTest.java
  src/test/java/org/jabref/logic/importer/fetcher/SemanticScholarTest.java
Labels: status: ready-for-review

#9347 New database structure (add schema in PgSQL, and prefix tables in MySQL/MariaDB)
  CHANGELOG.md
  src/main/java/org/jabref/logic/exporter/MetaDataSerializer.java
  src/main/java/org/jabref/logic/importer/util/MetaDataParser.java
  src/main/java/org/jabref/logic/shared/DBMSProcessor.java
  src/main/java/org/jabref/logic/shared/MySQLProcessor.java
  src/main/java/org/jabref/logic/shared/OracleProcessor.java
  src/main/java/org/jabref/logic/shared/PostgreSQLProcessor.java
  src/main/java/org/jabref/model/metadata/MetaData.java
  src/test/java/org/jabref/logic/shared/DBMSProcessorTest.java
  src/test/java/org/jabref/logic/shared/DBMSSynchronizerTest.java
  src/test/java/org/jabref/logic/shared/TestManager.java
Labels: shared-database

#9442 Observable Preferences Q (BibEntryPreferences)
  CHANGELOG.md
  src/main/java/org/jabref/cli/Launcher.java
  src/main/java/org/jabref/gui/JabRefFrame.java
  src/main/java/org/jabref/gui/collab/ChangeScanner.java
  src/main/java/org/jabref/gui/collab/DatabaseChangeResolverFactory.java
  src/main/java/org/jabref/gui/collab/entrychange/EntryChangeResolver.java
  src/main/java/org/jabref/gui/dialogs/BackupUIManager.java
  src/main/java/org/jabref/gui/duplicationFinder/DuplicateResolverDialog.java
  src/main/java/org/jabref/gui/edit/ManageKeywordsDialog.java
  src/main/java/org/jabref/gui/edit/ManageKeywordsViewModel.java
  src/main/java/org/jabref/gui/groups/GroupDialogViewModel.java
  src/main/java/org/jabref/gui/groups/GroupsPreferences.java
  src/main/java/org/jabref/gui/importer/ImportAction.java
  src/main/java/org/jabref/gui/importer/ImportEntriesViewModel.java
  src/main/java/org/jabref/gui/maintable/RightClickMenu.java
  src/main/java/org/jabref/gui/mergeentries/FetchAndMergeEntry.java
  src/main/java/org/jabref/gui/mergeentries/MergeEntriesAction.java
  src/main/java/org/jabref/gui/mergeentries/MergeEntriesDialog.java
  src/main/java/org/jabref/gui/mergeentries/newmergedialog/ThreeWayMergeView.java
  src/main/java/org/jabref/gui/mergeentries/newmergedialog/fieldsmerger/FieldMergerFactory.java
  src/main/java/org/jabref/gui/mergeentries/newmergedialog/fieldsmerger/KeywordMerger.java
  src/main/java/org/jabref/gui/preferences/PreferencesDialogViewModel.java
  src/main/java/org/jabref/gui/preferences/entry/EntryTab.fxml
  src/main/java/org/jabref/gui/preferences/entry/EntryTab.java
  src/main/java/org/jabref/gui/preferences/entry/EntryTabViewModel.java
  src/main/java/org/jabref/gui/preferences/general/GeneralTab.fxml
  src/main/java/org/jabref/gui/preferences/general/GeneralTab.java
  src/main/java/org/jabref/gui/preferences/general/GeneralTabViewModel.java
  src/main/java/org/jabref/gui/preferences/groups/GroupsTab.fxml
  src/main/java/org/jabref/gui/preferences/groups/GroupsTab.java
  src/main/java/org/jabref/gui/preferences/groups/GroupsTabViewModel.java
  src/main/java/org/jabref/gui/shared/SharedDatabaseUIManager.java
  src/main/java/org/jabref/logic/importer/ImportFormatPreferences.java
  src/main/java/org/jabref/logic/importer/fileformat/BibtexParser.java
  src/main/java/org/jabref/logic/util/io/AutoLinkPreferences.java
  src/main/java/org/jabref/logic/util/io/FileFinders.java
  src/main/java/org/jabref/migrations/PreferencesMigrations.java
  src/main/java/org/jabref/preferences/BibEntryPreferences.java
  src/main/java/org/jabref/preferences/ExportComparator.java
  src/main/java/org/jabref/preferences/InternalPreferences.java
  src/main/java/org/jabref/preferences/JabRefPreferences.java
  src/main/java/org/jabref/preferences/PreferencesService.java
  src/test/java/org/jabref/gui/edit/ManageKeywordsViewModelTest.java
  src/test/java/org/jabref/gui/entryeditor/SourceTabTest.java
  src/test/java/org/jabref/gui/groups/GroupDialogViewModelTest.java
  src/test/java/org/jabref/gui/groups/GroupNodeViewModelTest.java
  src/test/java/org/jabref/gui/groups/GroupTreeViewModelTest.java
  src/test/java/org/jabref/gui/mergeentries/FieldRowViewModelTest.java
  src/test/java/org/jabref/logic/importer/fileformat/BibtexParserTest.java
Labels: status: ready-for-review, type: code-quality, preferences

#9404 Bibtex month not deprecated
  CHANGELOG.md
  src/main/java/org/jabref/gui/entryeditor/DeprecatedFieldsTab.java
  src/main/java/org/jabref/gui/entryeditor/OptionalFieldsTabBase.java
  src/main/java/org/jabref/gui/entryeditor/OtherFieldsTab.java
  src/main/java/org/jabref/logic/cleanup/ConvertToBiblatexCleanup.java
  src/main/java/org/jabref/logic/cleanup/ConvertToBibtexCleanup.java
  src/main/java/org/jabref/model/entry/BibEntryType.java
  src/main/java/org/jabref/model/entry/BibEntryTypesManager.java
  src/main/java/org/jabref/model/entry/EntryConverter.java
  src/main/resources/l10n/JabRef_en.properties
Labels: status: ready-for-review, entry-editor

#9402 Select Library to import into
  CHANGELOG.md
  src/main/java/org/jabref/gui/LibraryTab.java
  src/main/java/org/jabref/gui/StateManager.java
  src/main/java/org/jabref/gui/importer/ImportEntriesDialog.fxml
  src/main/java/org/jabref/gui/importer/ImportEntriesDialog.java
  src/main/java/org/jabref/gui/importer/ImportEntriesViewModel.java
  src/main/java/org/jabref/logic/util/io/FileUtil.java
  src/main/resources/l10n/JabRef_en.properties
Labels: status: ready-for-review, import

#9302 Add log for ignored excepton
  src/main/java/org/jabref/gui/JabRefExecutorService.java
  src/main/java/org/jabref/gui/externalfiles/ImportHandler.java
  src/main/java/org/jabref/gui/groups/GroupDialogViewModel.java
  src/main/java/org/jabref/logic/importer/fileformat/BibtexImporter.java
  src/main/java/org/jabref/logic/importer/fileformat/IsiImporter.java
  src/main/java/org/jabref/logic/importer/util/FileFieldParser.java
  src/main/java/org/jabref/logic/remote/Protocol.java
  src/main/java/org/jabref/logic/remote/server/RemoteListenerServer.java
  src/main/java/org/jabref/model/entry/Date.java
  src/main/java/org/jabref/preferences/JabRefPreferences.java
Labels: status: ready-for-review, type: code-quality, Logging

#9485 Fixed ZBMathTest and extracted keyWordSeparator
  src/main/java/org/jabref/logic/crawler/StudyRepository.java
  src/main/java/org/jabref/logic/importer/ImportFormatPreferences.java
  src/main/java/org/jabref/logic/importer/ImportFormatReader.java
  src/main/java/org/jabref/logic/importer/OpenDatabase.java
  src/main/java/org/jabref/logic/importer/WebFetchers.java
  src/main/java/org/jabref/logic/importer/fetcher/ArXivFetcher.java
  src/main/java/org/jabref/logic/importer/fetcher/DOAJFetcher.java
  src/main/java/org/jabref/logic/importer/fetcher/IEEE.java
  src/main/java/org/jabref/logic/importer/fileformat/BibtexParser.java
  src/main/java/org/jabref/logic/importer/fileformat/EndnoteXmlImporter.java
  src/main/java/org/jabref/logic/importer/fileformat/ModsImporter.java
  src/main/java/org/jabref/logic/importer/fileformat/PdfGrobidImporter.java
  src/main/java/org/jabref/logic/importer/fileformat/PdfMergeMetadataImporter.java
  src/main/java/org/jabref/logic/importer/fileformat/RepecNepImporter.java
  src/test/java/org/jabref/gui/entryeditor/SourceTabTest.java
  src/test/java/org/jabref/gui/slr/ManageStudyDefinitionViewModelTest.java
  src/test/java/org/jabref/logic/crawler/CrawlerTest.java
  src/test/java/org/jabref/logic/crawler/StudyDatabaseToFetcherConverterTest.java
  src/test/java/org/jabref/logic/crawler/StudyRepositoryTest.java
  src/test/java/org/jabref/logic/database/DatabaseMergerTest.java
  src/test/java/org/jabref/logic/exporter/EmbeddedBibFilePdfExporterTest.java
  src/test/java/org/jabref/logic/exporter/ModsExportFormatFilesTest.java
  src/test/java/org/jabref/logic/importer/ImporterTest.java
  src/test/java/org/jabref/logic/importer/WebFetchersTest.java
  src/test/java/org/jabref/logic/importer/fetcher/ArXivFetcherTest.java
  src/test/java/org/jabref/logic/importer/fetcher/AstrophysicsDataSystemTest.java
  src/test/java/org/jabref/logic/importer/fetcher/CollectionOfComputerScienceBibliographiesFetcherTest.java
  src/test/java/org/jabref/logic/importer/fetcher/CollectionOfComputerScienceBibliographiesParserTest.java
  src/test/java/org/jabref/logic/importer/fetcher/CompositeIdFetcherTest.java
  src/test/java/org/jabref/logic/importer/fetcher/CompositeSearchBasedFetcherTest.java
  src/test/java/org/jabref/logic/importer/fetcher/DBLPFetcherTest.java
  src/test/java/org/jabref/logic/importer/fetcher/DOAJFetcherTest.java
  src/test/java/org/jabref/logic/importer/fetcher/GoogleScholarTest.java
  src/test/java/org/jabref/logic/importer/fetcher/IEEETest.java
  src/test/java/org/jabref/logic/importer/fetcher/INSPIREFetcherTest.java
  src/test/java/org/jabref/logic/importer/fetcher/LibraryOfCongressTest.java
  src/test/java/org/jabref/logic/importer/fetcher/MathSciNetTest.java
  src/test/java/org/jabref/logic/importer/fetcher/ZbMATHTest.java
  src/test/java/org/jabref/logic/importer/fileformat/BibtexParserTest.java
  src/test/java/org/jabref/logic/importer/fileformat/CitaviXmlImporterTestFiles.java
  src/test/java/org/jabref/logic/importer/fileformat/EndnoteXmlImporterTestFiles.java
  src/test/java/org/jabref/logic/importer/fileformat/ModsImporterTestFiles.java
  src/test/java/org/jabref/logic/importer/fileformat/PdfEmbeddedBibFileImporterTest.java
  src/test/java/org/jabref/logic/importer/fileformat/PdfGrobidImporterTest.java
  src/test/java/org/jabref/logic/importer/fileformat/PdfMergeMetadataImporterTest.java
  src/test/java/org/jabref/logic/importer/fileformat/PdfVerbatimBibTextImporterTest.java
  src/test/java/org/jabref/logic/importer/fileformat/RepecNepImporterTest.java
  src/test/java/org/jabref/logic/importer/util/GrobidServiceTest.java
Labels: type: code-quality

#9486 Observable Preferences R (CitationKeyPatternPreferences)
  src/main/java/org/jabref/gui/citationkeypattern/GenerateCitationKeyAction.java
  src/main/java/org/jabref/gui/commonfxcontrols/CitationKeyPatternPanel.java
  src/main/java/org/jabref/gui/commonfxcontrols/CitationKeyPatternPanelViewModel.java
  src/main/java/org/jabref/gui/libraryproperties/keypattern/KeyPatternPropertiesView.java
  src/main/java/org/jabref/gui/preferences/PreferencesDialogViewModel.java
  src/main/java/org/jabref/gui/preferences/citationkeypattern/CitationKeyPatternTab.java
  src/main/java/org/jabref/gui/preferences/citationkeypattern/CitationKeyPatternTabViewModel.java
  src/main/java/org/jabref/gui/shared/SharedDatabaseUIManager.java
  src/main/java/org/jabref/logic/bibtex/comparator/MetaDataDiff.java
  src/main/java/org/jabref/logic/citationkeypattern/CitationKeyGenerator.java
  src/main/java/org/jabref/logic/citationkeypattern/CitationKeyPatternPreferences.java
  src/main/java/org/jabref/migrations/PreferencesMigrations.java
  src/main/java/org/jabref/preferences/JabRefPreferences.java
  src/main/java/org/jabref/preferences/PreferencesService.java
  src/test/java/org/jabref/logic/citationkeypattern/CitationKeyGeneratorTest.java
  src/test/java/org/jabref/logic/citationkeypattern/MakeLabelWithDatabaseTest.java
  src/test/java/org/jabref/logic/citationkeypattern/MakeLabelWithoutDatabaseTest.java
  src/test/java/org/jabref/logic/crawler/CrawlerTest.java
  src/test/java/org/jabref/logic/crawler/StudyRepositoryTest.java
  src/test/java/org/jabref/logic/integrity/IntegrityCheckTest.java
Labels: type: code-quality, preferences

#9489 Fix remember last open valid library with empty new one
  CHANGELOG.md
  src/main/java/org/jabref/preferences/JabRefPreferences.java
Labels: status: ready-for-review

#9487 Update MacOS jabrefHost.py to find local installs
  buildres/mac/jabrefHost.py
Labels: status: ready-for-review

#9460 Enable groups drag'n'drop to new library
  src/main/java/org/jabref/gui/DragAndDropHelper.java
  src/main/java/org/jabref/gui/JabRefFrame.java
Labels: status: ready-for-review, groups

#9493 Observable Preferences S (LastExportPath and Cleanups in JabRefPreferences and Globals)
  src/main/java/org/jabref/cli/ArgumentProcessor.java
  src/main/java/org/jabref/cli/JabRefCLI.java
  src/main/java/org/jabref/cli/Launcher.java
  src/main/java/org/jabref/gui/Globals.java
  src/main/java/org/jabref/gui/JabRefFrame.java
  src/main/java/org/jabref/gui/exporter/ExportCommand.java
  src/main/java/org/jabref/gui/exporter/ExportToClipboardAction.java
  src/main/java/org/jabref/gui/maintable/RightClickMenu.java
  src/main/java/org/jabref/gui/preferences/PreferencesDialogViewModel.java
  src/main/java/org/jabref/gui/preferences/appearance/AppearanceTabViewModel.java
  src/main/java/org/jabref/logic/exporter/Exporter.java
  src/main/java/org/jabref/logic/exporter/ExporterFactory.java
  src/main/java/org/jabref/logic/exporter/TemplateExporter.java
  src/main/java/org/jabref/logic/layout/Layout.java
  src/main/java/org/jabref/logic/layout/LayoutEntry.java
  src/main/java/org/jabref/logic/layout/LayoutFormatterPreferences.java
  src/main/java/org/jabref/logic/layout/LayoutHelper.java
  src/main/java/org/jabref/logic/layout/format/FileLink.java
  src/main/java/org/jabref/logic/layout/format/FileLinkPreferences.java
  src/main/java/org/jabref/logic/layout/format/WrapFileLinks.java
  src/main/java/org/jabref/preferences/InternalPreferences.java
  src/main/java/org/jabref/preferences/JabRefPreferences.java
  src/main/java/org/jabref/preferences/PreferencesService.java
  src/test/java/org/jabref/cli/JabRefCLITest.java
  src/test/java/org/jabref/gui/exporter/ExportToClipboardActionTest.java
  src/test/java/org/jabref/logic/layout/LayoutTest.java
  src/test/java/org/jabref/logic/layout/format/FileLinkTest.java
  src/test/java/org/jabref/logic/layout/format/WrapFileLinksTest.java
Labels: status: ready-for-review

#9497 Fix no context menu with sorting on all entries group
  CHANGELOG.md
  src/main/java/org/jabref/gui/groups/GroupTreeView.java
Labels: status: ready-for-review

#9498 Add double click on preview style to add/remove from the selected list
  CHANGELOG.md
  src/main/java/org/jabref/gui/preferences/preview/PreviewTab.java
Labels: status: ready-for-review

#9421 Update to JDK 19
  .github/workflows/deployment.yml
  .github/workflows/refresh-journal-lists.yml
  .github/workflows/tests-fetchers.yml
  .github/workflows/tests.yml
  README.md
  build.gradle
  docs/getting-into-the-code/guidelines-for-setting-up-a-local-workspace.md
Labels: status: ready-for-review, type: code-quality

#9507 Fix date parser for year/month
  CHANGELOG.md
  src/main/java/org/jabref/gui/fieldeditors/DateEditorViewModel.java
  src/main/java/org/jabref/model/entry/Date.java
  src/test/java/org/jabref/model/entry/DateTest.java
Labels: status: ready-for-review

#9506 try to repack deb file
  .github/workflows/deployment.yml
Labels: status: ready-for-review
