Repository JabRef/jabref, pull requests merged in 2022-06, with the labels that each got.

#8878 Reviewdoc: Comment on PRs
  .github/workflows/tests.yml
  docs/adr/0025-reviewdog-reviews.md
Labels: type: code-quality

#8848 Add an importer for Citavi backup files
  CHANGELOG.md
  build.gradle
  src/main/java/org/jabref/logic/importer/ImportFormatReader.java
  src/main/java/org/jabref/logic/importer/fileformat/CitaviXmlImporter.java
  src/main/java/org/jabref/logic/util/StandardFileType.java
  src/main/resources/xjc/citavi/citavi.xsd
  src/test/java/org/jabref/logic/importer/ImporterTest.java
  src/test/java/org/jabref/logic/importer/fileformat/CitaviXmlImporterTestFiles.java
  src/test/resources/org/jabref/logic/importer/fileformat/CitaviXmlImporterTest1.bib
  src/test/resources/org/jabref/logic/importer/fileformat/CitaviXmlImporterTest1.ctv6bak
  src/test/resources/org/jabref/logic/importer/fileformat/CitaviXmlImporterTest2.bib
  src/test/resources/org/jabref/logic/importer/fileformat/CitaviXmlImporterTest2.ctv6bak
  src/test/resources/org/jabref/logic/importer/fileformat/CitaviXmlImporterTest3.bib
  src/test/resources/org/jabref/logic/importer/fileformat/CitaviXmlImporterTest3.ctv6bak
  src/test/resources/org/jabref/logic/importer/fileformat/CitaviXmlImporterTest4.bib
  src/test/resources/org/jabref/logic/importer/fileformat/CitaviXmlImporterTest4.ctv6bak
Labels: status: ready-for-review, import

#8853 Fix linux file opening by using Process Builder
  CHANGELOG.md
  src/main/java/org/jabref/gui/JabRefFrame.java
  src/main/java/org/jabref/gui/OpenConsoleAction.java
  src/main/java/org/jabref/gui/SendAsEMailAction.java
  src/main/java/org/jabref/gui/desktop/JabRefDesktop.java
  src/main/java/org/jabref/gui/desktop/os/DefaultDesktop.java
  src/main/java/org/jabref/gui/desktop/os/Linux.java
  src/main/java/org/jabref/gui/desktop/os/NativeDesktop.java
  src/main/java/org/jabref/gui/desktop/os/OSX.java
  src/main/java/org/jabref/gui/desktop/os/Windows.java
  src/main/java/org/jabref/gui/duplicationFinder/DuplicateResolverDialog.java
  src/main/java/org/jabref/gui/duplicationFinder/DuplicateSearch.java
  src/main/java/org/jabref/gui/edit/OpenBrowserAction.java
  src/main/java/org/jabref/gui/entryeditor/EntryEditor.java
  src/main/java/org/jabref/gui/exporter/ExportCommand.java
  src/main/java/org/jabref/gui/externalfiles/ImportHandler.java
  src/main/java/org/jabref/gui/fieldeditors/LinkedFileViewModel.java
  src/main/java/org/jabref/gui/groups/GroupDialogViewModel.java
  src/main/java/org/jabref/gui/help/HelpAction.java
  src/main/java/org/jabref/gui/help/NewVersionDialog.java
  src/main/java/org/jabref/gui/help/VersionWorker.java
  src/main/java/org/jabref/gui/importer/ImportEntriesViewModel.java
  src/main/java/org/jabref/gui/importer/fetcher/WebSearchPaneView.java
  src/main/java/org/jabref/gui/libraryproperties/constants/ConstantsPropertiesView.java
  src/main/java/org/jabref/gui/libraryproperties/constants/ConstantsPropertiesViewModel.java
  src/main/java/org/jabref/gui/libraryproperties/keypattern/KeyPatternPropertiesView.java
  src/main/java/org/jabref/gui/openoffice/OpenOfficePanel.java
  src/main/java/org/jabref/gui/preferences/citationkeypattern/CitationKeyPatternTab.java
  src/main/java/org/jabref/gui/preferences/entryeditortabs/CustomEditorFieldsTab.java
  src/main/java/org/jabref/gui/preferences/file/FileTab.java
  src/main/java/org/jabref/gui/preferences/general/GeneralTab.java
  src/main/java/org/jabref/gui/preferences/linkedfiles/LinkedFilesTab.java
  src/main/java/org/jabref/gui/preferences/nameformatter/NameFormatterTab.java
  src/main/java/org/jabref/gui/preferences/network/NetworkTab.java
  src/main/java/org/jabref/gui/preferences/table/TableTab.java
  src/main/java/org/jabref/gui/shared/SharedDatabaseLoginDialogViewModel.java
  src/main/resources/l10n/JabRef_en.properties
  src/test/java/org/jabref/gui/util/OpenConsoleActionTest.java
Labels: ui, os: linux, status: ready-for-review, external files

#8881 Normalize pages in citavi to avoid unicode minus signs
  src/main/java/org/jabref/logic/importer/fileformat/CitaviXmlImporter.java
  src/test/resources/org/jabref/logic/importer/fileformat/CitaviXmlImporterTest1.bib
  src/test/resources/org/jabref/logic/importer/fileformat/CitaviXmlImporterTest2.bib
  src/test/resources/org/jabref/logic/importer/fileformat/CitaviXmlImporterTest3.bib
Labels: import

#8894 Increase the network connection timeout and improve error message
  CHANGELOG.md
  src/main/java/org/jabref/logic/remote/client/RemoteClient.java
  src/main/java/org/jabref/logic/remote/server/RemoteListenerServerLifecycle.java
Labels: status: ready-for-review

#8904 Rework IACR fetcher
  src/main/java/org/jabref/logic/importer/fetcher/IacrEprintFetcher.java
  src/main/resources/l10n/JabRef_en.properties
  src/test/java/org/jabref/logic/importer/fetcher/IacrEprintFetcherTest.java
Labels: status: ready-for-review, fetcher

#8892 Redesign "Manage field names & content" dialog
  CHANGELOG.md
  src/main/java/org/jabref/gui/JabRefFrame.java
  src/main/java/org/jabref/gui/actions/StandardActions.java
  src/main/java/org/jabref/gui/edit/MassSetFieldsAction.java
  src/main/java/org/jabref/gui/edit/MassSetFieldsDialog.java
  src/main/java/org/jabref/gui/edit/automaticfiededitor/AbstractAutomaticFieldEditorTabView.java
  src/main/java/org/jabref/gui/edit/automaticfiededitor/AutomaticFieldEditorAction.java
  src/main/java/org/jabref/gui/edit/automaticfiededitor/AutomaticFieldEditorDialog.fxml
  src/main/java/org/jabref/gui/edit/automaticfiededitor/AutomaticFieldEditorDialog.java
  src/main/java/org/jabref/gui/edit/automaticfiededitor/AutomaticFieldEditorTab.java
  src/main/java/org/jabref/gui/edit/automaticfiededitor/AutomaticFieldEditorViewModel.java
  src/main/java/org/jabref/gui/edit/automaticfiededitor/MoveFieldValueAction.java
  src/main/java/org/jabref/gui/edit/automaticfiededitor/editfieldvalue/EditFieldValueTab.fxml
  src/main/java/org/jabref/gui/edit/automaticfiededitor/editfieldvalue/EditFieldValueTabView.java
  src/main/java/org/jabref/gui/edit/automaticfiededitor/editfieldvalue/EditFieldValueViewModel.java
  src/main/java/org/jabref/gui/edit/automaticfiededitor/renamefield/RenameFieldTab.fxml
  src/main/java/org/jabref/gui/edit/automaticfiededitor/renamefield/RenameFieldTabView.java
  src/main/java/org/jabref/gui/edit/automaticfiededitor/renamefield/RenameFieldViewModel.java
  src/main/java/org/jabref/gui/edit/automaticfiededitor/twofields/TwoFieldsTab.fxml
  src/main/java/org/jabref/gui/edit/automaticfiededitor/twofields/TwoFieldsTabView.java
  src/main/java/org/jabref/gui/edit/automaticfiededitor/twofields/TwoFieldsViewModel.java
  src/main/resources/l10n/JabRef_de.properties
  src/main/resources/l10n/JabRef_en.properties
  src/main/resources/l10n/JabRef_fr.properties
  src/main/resources/l10n/JabRef_ko.properties
  src/main/resources/l10n/JabRef_ru.properties
  src/main/resources/l10n/JabRef_zh_TW.properties
Labels: ui, status: ready-for-review, entry-editor

#8918 Fix javafx version not displayed in About Dialog
  src/main/java/org/jabref/gui/help/AboutDialogViewModel.java
  src/main/java/org/jabref/logic/util/BuildInfo.java
Labels: status: ready-for-review, Logging

#8923 Pass the data as a string for the browser extension
  buildres/linux/jabrefHost.py
Labels: status: ready-for-review, import

#8925 Try to make reproducible builds
  build.gradle
Labels: build-system, status: ready-for-review

#8800 Find Unlinked files should ignore Thumbs.db, etc
  CHANGELOG.md
  src/main/java/org/jabref/gui/externalfiles/ChainedFilters.java
  src/main/java/org/jabref/gui/externalfiles/FileFilterUtils.java
  src/main/java/org/jabref/gui/externalfiles/GitIgnoreFileFilter.java
  src/main/java/org/jabref/gui/externalfiles/UnlinkedFilesCrawler.java
  src/main/java/org/jabref/gui/externalfiles/UnlinkedPDFFileFilter.java
  src/main/java/org/jabref/gui/util/FileNodeViewModel.java
  src/test/java/org/jabref/gui/externalfiles/FileFilterUtilsTest.java
  src/test/java/org/jabref/gui/externalfiles/GitIgnoreFileFilterTest.java
  src/test/java/org/jabref/gui/externalfiles/UnlinkedFilesCrawlerTest.java
Labels: search, external files

#8929 Fix for Dark theme not readable
  CHANGELOG.md
  src/main/java/org/jabref/gui/Base.css
  src/main/java/org/jabref/gui/Dark.css
  src/main/java/org/jabref/gui/importer/ImportEntriesDialog.css
Labels: ui, status: ready-for-review, import

#8935 Show pdf icon for mime type in maintable
  CHANGELOG.md
  src/main/java/org/jabref/gui/maintable/columns/FileColumn.java
Labels: status: ready-for-review
