Repository JabRef/jabref, pull requests merged in 2022-03, with the labels that each got.

#8537 [Bot] Update CSL styles
  buildres/csl/csl-styles/american-journal-of-archaeology.csl
  buildres/csl/csl-styles/antiquites-africaines.csl
  buildres/csl/csl-styles/australian-road-research-board.csl
  buildres/csl/csl-styles/boletin-de-la-sociedad-geologica-mexicana.csl
  buildres/csl/csl-styles/china-national-standard-gb-t-7714-2015-author-date.csl
  buildres/csl/csl-styles/china-national-standard-gb-t-7714-2015-note.csl
  buildres/csl/csl-styles/china-national-standard-gb-t-7714-2015-numeric.csl
  buildres/csl/csl-styles/chinese-gb7714-2005-author-date.csl
  buildres/csl/csl-styles/chinese-gb7714-2005-numeric.csl
  buildres/csl/csl-styles/dependent/organization-studies.csl
  buildres/csl/csl-styles/digital-humanities-im-deutschsprachigen-raum.csl
  buildres/csl/csl-styles/hemijska-industrija.csl
  buildres/csl/csl-styles/hospital-a-domicilio.csl
  buildres/csl/csl-styles/international-journal-of-cosmetic-science.csl
  buildres/csl/csl-styles/journal-de-la-societe-des-oceanistes.csl
  buildres/csl/csl-styles/jurisprudence.csl
  buildres/csl/csl-styles/norsk-henvisningsstandard-for-rettsvitenskapelige-tekster.csl
  buildres/csl/csl-styles/organization-studies.csl
  buildres/csl/csl-styles/sodertorns-hogskola-harvard-ibid.csl
  buildres/csl/csl-styles/sodertorns-hogskola-harvard.csl
  buildres/csl/csl-styles/sodertorns-hogskola-oxford.csl
  buildres/csl/csl-styles/springer-basic-brackets-no-et-al.csl
  buildres/csl/csl-styles/steel-research-international.csl
Labels: dependencies

#8549 Support two argument form of \abx@aux@cite macro in DefaultAuxParser
  CHANGELOG.md
  src/main/java/org/jabref/logic/auxparser/DefaultAuxParser.java
  src/test/java/org/jabref/logic/auxparser/AuxParserTest.java
  src/test/resources/org/jabref/logic/auxparser/papertwoargmacro.aux
Labels: status: ready-for-review

#8514 Fix online link detection in entry editor
  CHANGELOG.md
  src/main/java/org/jabref/logic/importer/SearchBasedParserFetcher.java
  src/main/java/org/jabref/model/entry/LinkedFile.java
  src/test/java/org/jabref/logic/importer/util/FileFieldParserTest.java
Labels: status: ready-for-review

#8550 Refine documentation on logging
  docs/getting-into-the-code/code-howtos.md
  src/main/java/org/jabref/model/entry/BibEntry.java
  src/test/resources/tinylog-test.properties
Labels: status: ready-for-review

#8565 Update Gradle Wrapper from 7.4 to 7.4.1
  gradle/wrapper/gradle-wrapper.properties
Labels: dependencies, gradle-wrapper

#8573 Fix medline import due to mising module
  build.gradle
  src/main/java/module-info.java
Labels: status: ready-for-review

#8552 Resolve File Creation Issue With Medline/PubMed
  CHANGELOG.md
  src/main/java/org/jabref/logic/crawler/StudyRepository.java
  src/test/java/org/jabref/logic/crawler/CrawlerTest.java
  src/test/java/org/jabref/logic/crawler/StudyDatabaseToFetcherConverterTest.java
  src/test/java/org/jabref/logic/crawler/StudyYamlParserTest.java
  src/test/resources/org/jabref/logic/crawler/study.yml
Labels: status: ready-for-review

#8581 Fix missing search index dir
  CHANGELOG.md
  src/main/java/org/jabref/gui/JabRefMain.java
Labels: status: ready-for-review

#8582 Fix for unlinked file importer that did not import all importable files (#8444)
  CHANGELOG.md
  src/main/java/org/jabref/gui/externalfiles/ImportHandler.java
Labels: status: ready-for-review

#8580 Add research gate
  src/main/java/org/jabref/logic/importer/WebFetchers.java
  src/main/java/org/jabref/logic/importer/fetcher/ResearchGate.java
  src/main/java/org/jabref/logic/importer/fetcher/transformers/ResearchGateQueryTransformer.java
  src/test/java/org/jabref/logic/importer/fetcher/ResearchGateTest.java
  src/test/resources/tinylog-test.properties
Labels: status: ready-for-review

#8575 Add semantic scholar
  CHANGELOG.md
  src/main/java/org/jabref/logic/importer/WebFetchers.java
  src/main/java/org/jabref/logic/importer/fetcher/SemanticScholar.java
  src/test/java/org/jabref/logic/importer/fetcher/SemanticScholarTest.java
Labels: status: ready-for-review

#8578 Fix changelog and version parsing
  CHANGELOG.md
  src/main/java/org/jabref/gui/JabRefFrame.java
  src/main/java/org/jabref/logic/util/Version.java
  src/test/java/org/jabref/logic/util/VersionTest.java
Labels: status: ready-for-review

#8609 Fix protectedTerms not stored due to weaklistener
  CHANGELOG.md
  src/main/java/org/jabref/logic/protectedterms/ProtectedTermsPreferences.java
Labels: status: ready-for-review

#8583 Allow using custom SSL certificates
  CHANGELOG.md
  src/main/java/org/jabref/gui/JabRefMain.java
  src/main/java/org/jabref/gui/preferences/network/CustomCertificateViewModel.java
  src/main/java/org/jabref/gui/preferences/network/NetworkTab.fxml
  src/main/java/org/jabref/gui/preferences/network/NetworkTab.java
  src/main/java/org/jabref/gui/preferences/network/NetworkTabViewModel.java
  src/main/java/org/jabref/logic/net/URLDownload.java
  src/main/java/org/jabref/logic/net/ssl/SSLCertificate.java
  src/main/java/org/jabref/logic/net/ssl/SSLPreferences.java
  src/main/java/org/jabref/logic/net/ssl/TrustStoreManager.java
  src/main/java/org/jabref/logic/util/StandardFileType.java
  src/main/java/org/jabref/preferences/JabRefPreferences.java
  src/main/java/org/jabref/preferences/PreferencesService.java
  src/main/resources/l10n/JabRef_en.properties
  src/main/resources/ssl/truststore.jks
Labels: type: enhancement, status: ready-for-review, preferences

#8614 Add more tests for FieldChange Class
  src/test/java/org/jabref/model/FieldChangeTest.java
Labels: status: changes required
