Repository JabRef/jabref, pull requests merged in 2022-11, with the labels that each got.

#9335 [Bot] Update CSL styles
  buildres/csl/csl-styles/Gemfile.lock
  buildres/csl/csl-styles/arcadia-science.csl
  buildres/csl/csl-styles/dependent/veterinary-record-open.csl
  buildres/csl/csl-styles/harvard-university-of-abertay-dundee.csl
  buildres/csl/csl-styles/iawa-journal.csl
  buildres/csl/csl-styles/ieee.csl
  buildres/csl/csl-styles/journal-of-medical-internet-research.csl
  buildres/csl/csl-styles/physiotherapy-theory-and-practice.csl
  buildres/csl/csl-styles/veterinary-record-open.csl
  src/main/resources/csl-styles/ieee.csl
Labels: dependencies

#9287 Fix font size preference not updating in preference dialog 8386
  CHANGELOG.md
  src/main/java/org/jabref/gui/theme/ThemeManager.java
  src/main/java/org/jabref/preferences/AppearancePreferences.java
  src/main/java/org/jabref/preferences/JabRefPreferences.java
  src/test/java/org/jabref/gui/theme/ThemeManagerTest.java
Labels: ui, status: ready-for-review, preferences

#9288 Fix Abbreviation for Escaped Ampersand
  CHANGELOG.md
  src/main/java/org/jabref/logic/journals/JournalAbbreviationRepository.java
  src/test/java/org/jabref/architecture/MainArchitectureTests.java
  src/test/java/org/jabref/logic/bibtex/BibEntryWriterTest.java
  src/test/java/org/jabref/logic/journals/JournalAbbreviationRepositoryTest.java
Labels: status: ready-for-review, bib(la)tex

#9338 Update sorting of entries in maintable by special fields immediately
  CHANGELOG.md
  src/main/java/org/jabref/gui/maintable/BibEntryTableViewModel.java
Labels: status: ready-for-review, maintable

#9343 Fixed display of file field adjusting for the dark theme
  CHANGELOG.md
  src/main/java/org/jabref/gui/Dark.css
Labels: status: ready-for-review, Dark Theme

#9270 Rename "Remote" to "Tele"
  src/main/java/org/jabref/cli/Launcher.java
  src/main/java/org/jabref/gui/Globals.java
  src/main/java/org/jabref/gui/JabRefExecutorService.java
  src/main/java/org/jabref/gui/preferences/network/NetworkTabViewModel.java
  src/main/java/org/jabref/gui/remote/CLIMessageHandler.java
  src/main/java/org/jabref/logic/remote/Protocol.java
  src/main/java/org/jabref/logic/remote/RemoteMessage.java
  src/main/java/org/jabref/logic/remote/RemotePreferences.java
  src/main/java/org/jabref/logic/remote/client/RemoteClient.java
  src/main/java/org/jabref/logic/remote/server/MessageHandler.java
  src/main/java/org/jabref/logic/remote/server/RemoteListenerServer.java
  src/main/java/org/jabref/logic/remote/server/RemoteListenerServerLifecycle.java
  src/main/java/org/jabref/logic/remote/server/RemoteListenerServerManager.java
  src/main/java/org/jabref/logic/remote/server/RemoteListenerServerThread.java
  src/main/java/org/jabref/logic/remote/server/RemoteMessageHandler.java
  src/test/java/org/jabref/logic/remote/RemoteCommunicationTest.java
  src/test/java/org/jabref/logic/remote/RemoteSetupTest.java
Labels: status: ready-for-review, type: code-quality, Logging

#9290 Bind "Find unlinked files" default directory to the current library
  CHANGELOG.md
  src/main/java/org/jabref/gui/externalfiles/UnlinkedFilesDialogView.java
Labels: status: ready-for-review, search, external files

#9310 Add date format and respective test case
  src/main/java/org/jabref/model/entry/Date.java
  src/test/java/org/jabref/model/entry/DateTest.java
Labels: status: ready-for-review, bib(la)tex

#9365 Fix date field change causes an uncaught exception
  CHANGELOG.md
  src/main/java/org/jabref/gui/fieldeditors/DateEditor.java
  src/main/java/org/jabref/gui/fieldeditors/DateEditorViewModel.java
  src/main/java/org/jabref/gui/fieldeditors/FieldEditors.java
  src/main/java/org/jabref/gui/util/component/TemporalAccessorPicker.java
Labels: status: ready-for-review

#9377 [Bot] Update CSL styles
  buildres/csl/csl-styles/american-chemical-society.csl
  buildres/csl/csl-styles/association-for-computational-linguistics.csl
  buildres/csl/csl-styles/biotechnology-and-bioprocess-engineering.csl
  buildres/csl/csl-styles/bluebook-law-review.csl
  buildres/csl/csl-styles/computer-supported-cooperative-work.csl
  buildres/csl/csl-styles/dependent/development-growth-differentiation.csl
  buildres/csl/csl-styles/gnosis-journal-of-gnostic-studies.csl
  buildres/csl/csl-styles/mots.csl
  buildres/csl/csl-styles/oil-shale.csl
  buildres/csl/csl-styles/pallas.csl
  buildres/csl/csl-styles/review-of-international-studies.csl
  buildres/csl/csl-styles/sn-computer-science.csl
  buildres/csl/csl-styles/social-science-history.csl
Labels: dependencies

#9378 Switch from set-output to environment files
  .github/workflows/cleanup_pr.yml
  .github/workflows/deployment.yml
  .github/workflows/gource.yml
  .github/workflows/snap.yml
  .github/workflows/tests.yml
Labels: build-system

#9385 Do not break on Exception in XMP parser
  .github/workflows/check-links.yaml
  CHANGELOG.md
  src/main/java/org/jabref/logic/xmp/XmpUtilShared.java
Labels: status: ready-for-review

#9376 Add Check if groups drag and drop allowed
  src/main/java/org/jabref/gui/groups/GroupTreeView.java
  src/main/java/org/jabref/gui/groups/GroupTreeViewModel.java
Labels: status: ready-for-review, groups

#9405 Update Gradle Wrapper from 7.5.1 to 7.6
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
Labels: dependencies, gradle-wrapper

#9393 Fix secrets presence
  .github/workflows/cleanup_pr.yml
  .github/workflows/deployment.yml
  .github/workflows/snap.yml
  .github/workflows/tests.yml
Labels: build-system

#9411 Fix Math Sci Net and ZB math fetcher test
  src/main/java/org/jabref/logic/importer/fetcher/MathSciNet.java
  src/main/java/org/jabref/logic/importer/fetcher/ZbMATH.java
Labels: status: ready-for-review

#9382 Exemplified menu entries for change case menu
  CHANGELOG.md
  src/main/java/org/jabref/logic/formatter/casechanger/CapitalizeFormatter.java
  src/main/java/org/jabref/logic/formatter/casechanger/LowerCaseFormatter.java
  src/main/java/org/jabref/logic/formatter/casechanger/TitleCaseFormatter.java
  src/main/java/org/jabref/logic/formatter/casechanger/UpperCaseFormatter.java
  src/main/resources/l10n/JabRef_en.properties
Labels: ui, entry-editor, status: changes required
