Repository JabRef/jabref, pull requests merged in 2022-07, with the labels that each got.

#8939 Fix theme switching exception
  CHANGELOG.md
  src/main/java/org/jabref/gui/JabRefDialogService.java
  src/main/java/org/jabref/gui/theme/ThemeManager.java
  src/main/java/org/jabref/gui/util/BaseDialog.java
Labels: ui, status: ready-for-review

#8937 move "Warn about duplicates on import" preferences option
  CHANGELOG.md
  src/main/java/org/jabref/gui/preferences/file/FileTab.fxml
  src/main/java/org/jabref/gui/preferences/file/FileTab.java
  src/main/java/org/jabref/gui/preferences/file/FileTabViewModel.java
  src/main/java/org/jabref/gui/preferences/importexport/ImportExportTab.fxml
  src/main/java/org/jabref/gui/preferences/importexport/ImportExportTab.java
  src/main/java/org/jabref/gui/preferences/importexport/ImportExportTabViewModel.java
Labels: status: ready-for-review, preferences

#8936 Remember Sidepane width after restart
  CHANGELOG.md
  src/main/java/org/jabref/gui/JabRefFrame.java
Labels: ui, status: ready-for-review, preferences

#8919 Add notification when adding previous entries to new group configuration
  CHANGELOG.md
  src/main/java/org/jabref/gui/groups/GroupTreeViewModel.java
  src/main/resources/l10n/JabRef_en.properties
Labels: status: ready-for-review, groups

#8955 Disable ResearchGateTest on CI
  src/test/java/org/jabref/logic/importer/fetcher/ResearchGateTest.java
Labels: fetcher

#8840 Improvement on check for missing commas when importing or opening a .bib file
  src/main/java/org/jabref/gui/entryeditor/SourceTab.java
  src/main/java/org/jabref/gui/importer/ImportAction.java
  src/main/java/org/jabref/gui/importer/actions/OpenDatabaseAction.java
  src/main/java/org/jabref/logic/importer/ImportFormatReader.java
  src/main/java/org/jabref/logic/importer/fileformat/BibtexParser.java
  src/main/resources/l10n/JabRef_en.properties
Labels: status: ready-for-review, import, entry-editor, Logging

#8957 Refactor context menu entry types changing
  src/main/java/org/jabref/gui/entryeditor/EntryEditor.java
  src/main/java/org/jabref/gui/maintable/MainTable.java
  src/main/java/org/jabref/gui/maintable/RightClickMenu.java
  src/main/java/org/jabref/gui/menus/ChangeEntryTypeAction.java
  src/main/java/org/jabref/gui/menus/ChangeEntryTypeMenu.java
Labels: entry-editor

#8962 Cleanup index when opening a library
  CHANGELOG.md
  src/main/java/org/jabref/gui/LibraryTab.java
  src/main/java/org/jabref/gui/search/RebuildFulltextSearchIndexAction.java
  src/main/java/org/jabref/logic/pdf/search/indexing/IndexingTaskManager.java
  src/main/java/org/jabref/logic/pdf/search/indexing/PdfIndexer.java
Labels: status: ready-for-review, external files

#8964 Keep UTF-8 encoding header if present
  CHANGELOG.md
  src/main/java/org/jabref/logic/exporter/BibtexDatabaseWriter.java
  src/main/java/org/jabref/logic/importer/fileformat/BibtexImporter.java
  src/main/java/org/jabref/model/metadata/MetaData.java
  src/test/java/org/jabref/logic/exporter/BibtexDatabaseWriterTest.java
  src/test/java/org/jabref/logic/importer/fileformat/BibtexImporterTest.java
  src/test/resources/org/jabref/logic/importer/fileformat/encoding-utf-8-with-header-with-databasetypecomment.bib
  src/test/resources/org/jabref/logic/importer/fileformat/encoding-utf-8-without-header-with-databasetypecomment.bib
Labels: status: ready-for-review, unicode

#8965 Fix .bat errorlevel handling with pwsh.exe check
  CHANGELOG.md
  buildres/windows/JabRefHost.bat
Labels: status: ready-for-review, import

#8978 [Bot] Update CSL styles
  buildres/csl/csl-locales/.github/workflows/merge.yaml
  buildres/csl/csl-styles/.github/workflows/merge.yaml
  buildres/csl/csl-styles/annals-of-allergy-asthma-and-immunology.csl
  buildres/csl/csl-styles/associacao-brasileira-de-normas-tecnicas.csl
  buildres/csl/csl-styles/australasian-journal-of-philosophy.csl
  buildres/csl/csl-styles/bibliothek-forschung-und-praxis.csl
  buildres/csl/csl-styles/chaucer-review.csl
  buildres/csl/csl-styles/chemical-engineering-technology.csl
  buildres/csl/csl-styles/composer.json
  buildres/csl/csl-styles/copernicus-publications.csl
  buildres/csl/csl-styles/dependent/annals-of-allergy-asthma-and-immunology.csl
  buildres/csl/csl-styles/deutsche-gesellschaft-fur-psychologie.csl
  buildres/csl/csl-styles/entomological-review.csl
  buildres/csl/csl-styles/haffner-style-manual.csl
  buildres/csl/csl-styles/health-physics.csl
  buildres/csl/csl-styles/journal-on-efficiency-and-responsibility-in-education-and-science.csl
  buildres/csl/csl-styles/nature-no-et-al.csl
  buildres/csl/csl-styles/nature-no-superscript.csl
  buildres/csl/csl-styles/nature.csl
  buildres/csl/csl-styles/renamed-styles.json
  buildres/csl/csl-styles/science.csl
  buildres/csl/csl-styles/sciences-po-ecole-doctorale-author-date.csl
  buildres/csl/csl-styles/sciences-po-ecole-doctorale-note-french.csl
  buildres/csl/csl-styles/society-of-biblical-literature-fullnote-bibliography.csl
  buildres/csl/csl-styles/spec/filters.yaml
  buildres/csl/csl-styles/style-manual-australian-government.csl
  buildres/csl/csl-styles/technische-universitat-dresden-medizin.csl
  buildres/csl/csl-styles/university-of-pretoria-harvard-theology-religion.csl
Labels: dependencies

#8986 Update Gradle Wrapper from 7.4.2 to 7.5
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
Labels: dependencies, gradle-wrapper

#8982 Fixes koppor/jabref#521 - Allow to drag&drop selected bib entries to other library tabs
  CHANGELOG.md
  src/main/java/org/jabref/gui/JabRefFrame.java
  src/main/java/org/jabref/gui/LibraryTab.java
  src/main/java/org/jabref/gui/maintable/MainTable.java
Labels: ui, status: ready-for-review

#8994 Fix external group metadata changes are not merged
  CHANGELOG.md
  src/main/java/org/jabref/gui/collab/MetaDataChangeViewModel.java
  src/main/java/org/jabref/logic/bibtex/comparator/GroupDiff.java
  src/test/java/org/jabref/logic/bibtex/comparator/GroupDiffTest.java
Labels: status: ready-for-review

#8993 Sync group view mode and main table
  CHANGELOG.md
  src/main/java/org/jabref/gui/maintable/MainTableDataModel.java
Labels: status: ready-for-review

#9000 Autosave folder and checkbox is remembered
  CHANGELOG.md
  src/main/java/org/jabref/gui/shared/SharedDatabaseLoginDialogViewModel.java
  src/main/java/org/jabref/logic/shared/prefs/SharedDatabasePreferences.java
Labels: status: ready-for-review, preferences, shared-database
