Repository JabRef/jabref, pull requests merged in 2022-01, with the labels that each got.

#8380 FIX NPE on Merge Dialog
  CHANGELOG.md
  src/main/java/org/jabref/gui/collab/EntryChangeViewModel.java
Labels: status: ready-for-review

#7336 Live reloading when switching themes
  CHANGELOG.md
  src/main/java/org/jabref/gui/DefaultInjector.java
  src/main/java/org/jabref/gui/Globals.java
  src/main/java/org/jabref/gui/JabRefDialogService.java
  src/main/java/org/jabref/gui/JabRefFrame.java
  src/main/java/org/jabref/gui/JabRefGUI.java
  src/main/java/org/jabref/gui/LibraryTab.java
  src/main/java/org/jabref/gui/auximport/FromAuxDialog.java
  src/main/java/org/jabref/gui/collab/ChangeScanner.java
  src/main/java/org/jabref/gui/collab/DatabaseChangeMonitor.java
  src/main/java/org/jabref/gui/collab/EntryAddChangeViewModel.java
  src/main/java/org/jabref/gui/collab/EntryDeleteChangeViewModel.java
  src/main/java/org/jabref/gui/contentselector/ContentSelectorDialogView.java
  src/main/java/org/jabref/gui/customentrytypes/CustomizeEntryTypeDialogView.java
  src/main/java/org/jabref/gui/entryeditor/DeprecatedFieldsTab.java
  src/main/java/org/jabref/gui/entryeditor/EntryEditor.java
  src/main/java/org/jabref/gui/entryeditor/FieldsEditorTab.java
  src/main/java/org/jabref/gui/entryeditor/OptionalFields2Tab.java
  src/main/java/org/jabref/gui/entryeditor/OptionalFieldsTab.java
  src/main/java/org/jabref/gui/entryeditor/OptionalFieldsTabBase.java
  src/main/java/org/jabref/gui/entryeditor/OtherFieldsTab.java
  src/main/java/org/jabref/gui/entryeditor/PreviewTab.java
  src/main/java/org/jabref/gui/entryeditor/RequiredFieldsTab.java
  src/main/java/org/jabref/gui/entryeditor/UserDefinedFieldsTab.java
  src/main/java/org/jabref/gui/errorconsole/ErrorConsoleView.java
  src/main/java/org/jabref/gui/externalfiles/UnlinkedFilesDialogView.java
  src/main/java/org/jabref/gui/importer/actions/OpenDatabaseAction.java
  src/main/java/org/jabref/gui/integrity/IntegrityCheckDialog.java
  src/main/java/org/jabref/gui/libraryproperties/LibraryPropertiesView.java
  src/main/java/org/jabref/gui/openoffice/StyleSelectDialogView.java
  src/main/java/org/jabref/gui/preferences/PreferencesDialogView.java
  src/main/java/org/jabref/gui/preferences/appearance/AppearanceTab.java
  src/main/java/org/jabref/gui/preferences/appearance/AppearanceTabViewModel.java
  src/main/java/org/jabref/gui/preferences/preview/PreviewTab.java
  src/main/java/org/jabref/gui/preview/PreviewPanel.java
  src/main/java/org/jabref/gui/preview/PreviewViewer.java
  src/main/java/org/jabref/gui/search/GlobalSearchResultDialog.java
  src/main/java/org/jabref/gui/slr/ExistingStudySearchAction.java
  src/main/java/org/jabref/gui/slr/ManageStudyDefinitionView.java
  src/main/java/org/jabref/gui/slr/StartNewStudyAction.java
  src/main/java/org/jabref/gui/texparser/ParseLatexDialogView.java
  src/main/java/org/jabref/gui/texparser/ParseLatexResultView.java
  src/main/java/org/jabref/gui/theme/StyleSheet.java
  src/main/java/org/jabref/gui/theme/StyleSheetDataUrl.java
  src/main/java/org/jabref/gui/theme/StyleSheetFile.java
  src/main/java/org/jabref/gui/theme/StyleSheetResource.java
  src/main/java/org/jabref/gui/theme/Theme.java
  src/main/java/org/jabref/gui/theme/ThemeManager.java
  src/main/java/org/jabref/gui/util/BaseDialog.java
  src/main/java/org/jabref/gui/util/DefaultFileUpdateMonitor.java
  src/main/java/org/jabref/gui/util/Theme.java
  src/main/java/org/jabref/preferences/AppearancePreferences.java
  src/main/java/org/jabref/preferences/JabRefPreferences.java
  src/main/java/org/jabref/preferences/PreferencesService.java
  src/main/java/org/jabref/styletester/StyleTesterMain.java
  src/main/resources/l10n/JabRef_en.properties
  src/main/resources/l10n/JabRef_ru.properties
  src/test/java/org/jabref/gui/theme/ThemeManagerTest.java
  src/test/java/org/jabref/gui/theme/ThemeTest.java
  src/test/java/org/jabref/gui/util/ThemeTest.java
Labels: ui, status: ready-for-review, type: code-quality

#8370 Observable Preferences J (Preview) and minor refactor
  CHANGELOG.md
  src/main/java/org/jabref/gui/JabRefFrame.java
  src/main/java/org/jabref/gui/collab/EntryAddChangeViewModel.java
  src/main/java/org/jabref/gui/edit/CopyMoreAction.java
  src/main/java/org/jabref/gui/entryeditor/EntryEditor.java
  src/main/java/org/jabref/gui/entryeditor/FieldsEditorTab.java
  src/main/java/org/jabref/gui/entryeditor/PreviewTab.java
  src/main/java/org/jabref/gui/maintable/MainTable.java
  src/main/java/org/jabref/gui/maintable/RightClickMenu.java
  src/main/java/org/jabref/gui/preferences/PreferencesDialogView.java
  src/main/java/org/jabref/gui/preferences/preview/PreviewTab.fxml
  src/main/java/org/jabref/gui/preferences/preview/PreviewTab.java
  src/main/java/org/jabref/gui/preferences/preview/PreviewTabViewModel.java
  src/main/java/org/jabref/gui/preview/CopyCitationAction.java
  src/main/java/org/jabref/gui/preview/PreviewPanel.java
  src/main/java/org/jabref/gui/search/GlobalSearchResultDialog.java
  src/main/java/org/jabref/logic/citationstyle/CitationStyleGenerator.java
  src/main/java/org/jabref/preferences/JabRefPreferences.java
  src/main/java/org/jabref/preferences/PreferencesService.java
  src/main/java/org/jabref/preferences/PreviewPreferences.java
Labels: status: ready-for-review, type: code-quality, preferences, entry-editor, entry-preview

#8401 Fix lucence segment error by checking for existing index
  CHANGELOG.md
  src/main/java/org/jabref/logic/pdf/search/indexing/PdfIndexer.java
  src/main/java/org/jabref/logic/pdf/search/retrieval/PdfSearcher.java
Labels: status: ready-for-review

#8402 Fix plural s in library properties tab
  CHANGELOG.md
  src/main/java/org/jabref/gui/libraryproperties/constants/ConstantsPropertiesView.java
  src/main/resources/l10n/JabRef_en.properties
Labels: status: ready-for-review

#8404 Improve code comments
  src/main/java/org/jabref/logic/bibtex/BibEntryWriter.java
  src/main/java/org/jabref/logic/exporter/BibDatabaseWriter.java
  src/main/java/org/jabref/logic/exporter/BibtexDatabaseWriter.java
  src/main/java/org/jabref/logic/importer/fileformat/BibtexImporter.java
  src/main/java/org/jabref/logic/importer/fileformat/BibtexParser.java
  src/test/java/org/jabref/logic/exporter/BibtexDatabaseWriterTest.java
  src/test/java/org/jabref/logic/importer/fileformat/BibtexImporterTest.java
Labels: status: ready-for-review

#8391 Fixed duplicate fields assigned to entry types
  CHANGELOG.md
  src/main/java/org/jabref/gui/customentrytypes/CustomEntryTypeDialogViewModel.java
  src/main/java/org/jabref/gui/customentrytypes/CustomizeEntryTypeDialogView.java
  src/main/resources/l10n/JabRef_en.properties
Labels: status: ready-for-review

#8382 Change default behavior of resolve bibtex strings
  CHANGELOG.md
  docs/adr.md
  docs/adr/0019-implement-special-fields-as-separate-fields.md
  docs/adr/0024-use-#-as-indicator-for-BibTeX-string-constants.md
  src/main/java/org/jabref/gui/preferences/file/FileTab.fxml
  src/main/java/org/jabref/gui/preferences/file/FileTab.java
  src/main/java/org/jabref/gui/preferences/file/FileTabViewModel.java
  src/main/java/org/jabref/logic/bibtex/FieldWriter.java
  src/main/java/org/jabref/logic/bibtex/FieldWriterPreferences.java
  src/main/java/org/jabref/logic/bst/VM.java
  src/main/java/org/jabref/logic/importer/fileformat/BibtexParser.java
  src/main/java/org/jabref/logic/integrity/BibStringChecker.java
  src/main/java/org/jabref/model/database/BibDatabase.java
  src/main/java/org/jabref/model/entry/Month.java
  src/main/java/org/jabref/model/strings/StringUtil.java
  src/main/java/org/jabref/preferences/ImportExportPreferences.java
  src/main/java/org/jabref/preferences/JabRefPreferences.java
  src/main/resources/l10n/JabRef_en.properties
  src/test/java/org/jabref/gui/entryeditor/SourceTabTest.java
  src/test/java/org/jabref/logic/bibtex/BibEntryWriterTest.java
  src/test/java/org/jabref/logic/bibtex/FieldWriterTests.java
  src/test/java/org/jabref/logic/exporter/EmbeddedBibFilePdfExporterTest.java
  src/test/java/org/jabref/logic/exporter/ExporterTest.java
Labels: status: ready-for-review

#8424 "% Encoding" is written again in the case of non-UTF-8
  CHANGELOG.md
  src/main/java/org/jabref/logic/exporter/BibDatabaseWriter.java
  src/test/java/org/jabref/logic/exporter/BibtexDatabaseWriterTest.java
  src/test/java/org/jabref/logic/importer/fileformat/BibtexImporterTest.java
  src/test/resources/org/jabref/logic/importer/fileformat/encoding-windows-1252-with-header.bib
Labels: status: ready-for-review

#8429 Fix file directory preferences not respected
  CHANGELOG.md
  src/main/java/org/jabref/model/database/BibDatabaseContext.java
  src/main/java/org/jabref/preferences/JabRefPreferences.java
Labels: status: ready-for-review

#8392 Fixed add group button changing color after adding 10 groups
  CHANGELOG.md
  src/main/java/org/jabref/gui/groups/GroupTree.css
  src/main/java/org/jabref/gui/groups/GroupTreeView.java
Labels: status: ready-for-review

#8441 [Bot] Update CSL styles
  buildres/csl/csl-styles/chicago-annotated-bibliography.csl
  buildres/csl/csl-styles/chicago-fullnote-bibliography-16th-edition.csl
  buildres/csl/csl-styles/chicago-fullnote-bibliography-short-title-subsequent.csl
  buildres/csl/csl-styles/chicago-fullnote-bibliography-with-ibid.csl
  buildres/csl/csl-styles/chicago-fullnote-bibliography.csl
  buildres/csl/csl-styles/chicago-library-list.csl
  buildres/csl/csl-styles/chicago-note-bibliography-16th-edition.csl
  buildres/csl/csl-styles/chicago-note-bibliography-with-ibid.csl
  buildres/csl/csl-styles/chicago-note-bibliography.csl
  buildres/csl/csl-styles/ieee.csl
  buildres/csl/csl-styles/journal-fur-kulturpflanzen-journal-of-cultivated-plants.csl
  src/main/resources/csl-styles/ieee.csl
Labels: dependencies

#8450 Fix library tab exception when saving prefs
  CHANGELOG.md
  src/main/java/org/jabref/gui/JabRefFrame.java
Labels: status: ready-for-review

#8432 Improve error handling for browser extension
  buildres/linux/jabrefHost.py
  buildres/mac/jabrefHost.py
  buildres/windows/JabRefHost.bat
  buildres/windows/JabRefHost.ps1
Labels: status: ready-for-review

#8454 Support CrossRef in CSL styles
  CHANGELOG.md
  src/main/java/org/jabref/gui/actions/StandardActions.java
  src/main/java/org/jabref/gui/maintable/RightClickMenu.java
  src/main/java/org/jabref/gui/preferences/preview/PreviewTabViewModel.java
  src/main/java/org/jabref/gui/preview/CopyCitationAction.java
  src/main/java/org/jabref/gui/preview/PreviewViewer.java
  src/main/java/org/jabref/logic/bst/BstPreviewLayout.java
  src/main/java/org/jabref/logic/citationstyle/CSLAdapter.java
  src/main/java/org/jabref/logic/citationstyle/CitationStyleCache.java
  src/main/java/org/jabref/logic/citationstyle/CitationStyleGenerator.java
  src/main/java/org/jabref/logic/citationstyle/CitationStyleOutputFormat.java
  src/main/java/org/jabref/logic/citationstyle/CitationStylePreviewLayout.java
  src/main/java/org/jabref/logic/layout/TextBasedPreviewLayout.java
  src/main/java/org/jabref/logic/preview/PreviewLayout.java
  src/main/java/org/jabref/logic/util/TestEntry.java
  src/main/java/org/jabref/preferences/JabRefPreferences.java
  src/main/resources/csl-styles/apa-6th-edition.csl
  src/main/resources/l10n/JabRef_en.properties
  src/test/java/org/jabref/gui/preview/CopyCitationActionTest.java
  src/test/java/org/jabref/logic/bst/BstPreviewLayoutTest.java
  src/test/java/org/jabref/logic/citationstyle/CitationStyleGeneratorTest.java
  src/test/java/org/jabref/logic/citationstyle/CitationStyleTest.java
Labels: status: ready-for-review

#8422 Observable Preferences K (Integration of wild preferences)
  src/main/java/org/jabref/gui/EntryTypeViewModel.java
  src/main/java/org/jabref/gui/JabRefFrame.java
  src/main/java/org/jabref/gui/JabRefGUI.java
  src/main/java/org/jabref/gui/LibraryTab.java
  src/main/java/org/jabref/gui/exporter/SaveDatabaseAction.java
  src/main/java/org/jabref/gui/importer/ImportEntriesViewModel.java
  src/main/java/org/jabref/gui/menus/FileHistoryMenu.java
  src/main/java/org/jabref/gui/mergeentries/DiffHighlightingEllipsingTextFlow.java
  src/main/java/org/jabref/gui/mergeentries/DiffMode.java
  src/main/java/org/jabref/gui/mergeentries/MergeEntries.java
  src/main/java/org/jabref/gui/mergeentries/MultiMergeEntriesView.java
  src/main/java/org/jabref/gui/preferences/file/FileTab.fxml
  src/main/java/org/jabref/gui/preferences/file/FileTab.java
  src/main/java/org/jabref/gui/preferences/file/FileTabViewModel.java
  src/main/java/org/jabref/logic/util/io/FileHistory.java
  src/main/java/org/jabref/preferences/GuiPreferences.java
  src/main/java/org/jabref/preferences/ImportExportPreferences.java
  src/main/java/org/jabref/preferences/JabRefPreferences.java
  src/main/java/org/jabref/preferences/PreferencesService.java
  src/main/resources/l10n/JabRef_en.properties
Labels: status: ready-for-review, type: code-quality, preferences

#8471 Fix for DOI copy issues
  CHANGELOG.md
  src/main/java/org/jabref/gui/actions/StandardActions.java
  src/main/java/org/jabref/gui/edit/CopyDoiUrlAction.java
  src/main/java/org/jabref/gui/edit/CopyMoreAction.java
  src/main/java/org/jabref/gui/fieldeditors/contextmenu/EditorMenus.java
  src/main/java/org/jabref/gui/maintable/RightClickMenu.java
  src/main/resources/l10n/JabRef_en.properties
Labels: status: ready-for-review

#8433 Upgrade to jdk 17
  .github/workflows/deployment.yml
  .github/workflows/refresh-journal-lists.yml
  .github/workflows/tests-fetchers.yml
  .github/workflows/tests.yml
  build.gradle
  docs/getting-into-the-code/development-strategy.md
  docs/getting-into-the-code/guidelines-for-setting-up-a-local-workspace.md
Labels: build-system, status: ready-for-review

#8478 Introduce preference to disable fulltext indexing
  CHANGELOG.md
  src/main/java/org/jabref/gui/LibraryTab.java
  src/main/java/org/jabref/gui/preferences/linkedfiles/LinkedFilesTab.fxml
  src/main/java/org/jabref/gui/preferences/linkedfiles/LinkedFilesTab.java
  src/main/java/org/jabref/gui/preferences/linkedfiles/LinkedFilesTabViewModel.java
  src/main/java/org/jabref/preferences/FilePreferences.java
  src/main/java/org/jabref/preferences/JabRefPreferences.java
  src/main/resources/l10n/JabRef_en.properties
Labels: status: ready-for-review
