Repository JabRef/jabref, pull requests merged in 2023-05, with the labels that each got.

#9825 [Bot] Update CSL styles
  buildres/csl/csl-styles/Gemfile.lock
  buildres/csl/csl-styles/acta-palaeontologica-polonica.csl
  buildres/csl/csl-styles/cardiff-university-harvard.csl
  buildres/csl/csl-styles/dependent/magnetic-resonance-in-medicine.csl
  buildres/csl/csl-styles/ecosistemas.csl
  buildres/csl/csl-styles/environmental-and-engineering-geoscience.csl
  buildres/csl/csl-styles/ieee.csl
  buildres/csl/csl-styles/journal-of-dental-traumatology.csl
  buildres/csl/csl-styles/journal-of-paleontology.csl
  buildres/csl/csl-styles/la-nouvelle-revue-du-travail.csl
  buildres/csl/csl-styles/lethaia.csl
  buildres/csl/csl-styles/magnetic-resonance-in-medicine.csl
  buildres/csl/csl-styles/medizinische-universitat-innsbruck-vancouver.csl
  buildres/csl/csl-styles/norsk-henvisningsstandard-for-rettsvitenskapelige-tekster.csl
  buildres/csl/csl-styles/north-pacific-anadromous-fish-commission-bulletin.csl
  buildres/csl/csl-styles/palaeontology.csl
  buildres/csl/csl-styles/paleobiology.csl
  buildres/csl/csl-styles/polish-archives-of-internal-medicine.csl
  buildres/csl/csl-styles/united-states-international-trade-commission.csl
  buildres/csl/csl-styles/universite-de-bordeaux-ecole-doctorale-de-droit.csl
  buildres/csl/csl-styles/universite-du-quebec-a-montreal-etudes-litteraires-et-semiologie.csl
  buildres/csl/csl-styles/zoological-journal-of-the-linnean-society.csl
  src/main/resources/csl-styles/ieee.csl
Labels: dependencies

#9823 Add comments to == usage instead of equals
  src/main/java/org/jabref/gui/LibraryTab.java
  src/main/java/org/jabref/logic/exporter/BibtexDatabaseWriter.java
  src/main/java/org/jabref/model/entry/event/FieldChangedEvent.java
Labels: status: ready-for-review, type: code-quality

#9811 New Crowdin updates
  src/main/resources/l10n/JabRef_ar.properties
  src/main/resources/l10n/JabRef_da.properties
  src/main/resources/l10n/JabRef_de.properties
  src/main/resources/l10n/JabRef_el.properties
  src/main/resources/l10n/JabRef_es.properties
  src/main/resources/l10n/JabRef_fa.properties
  src/main/resources/l10n/JabRef_fr.properties
  src/main/resources/l10n/JabRef_id.properties
  src/main/resources/l10n/JabRef_it.properties
  src/main/resources/l10n/JabRef_ja.properties
  src/main/resources/l10n/JabRef_ko.properties
  src/main/resources/l10n/JabRef_nl.properties
  src/main/resources/l10n/JabRef_no.properties
  src/main/resources/l10n/JabRef_pl.properties
  src/main/resources/l10n/JabRef_pt.properties
  src/main/resources/l10n/JabRef_pt_BR.properties
  src/main/resources/l10n/JabRef_ru.properties
  src/main/resources/l10n/JabRef_sv.properties
  src/main/resources/l10n/JabRef_tl.properties
  src/main/resources/l10n/JabRef_tr.properties
  src/main/resources/l10n/JabRef_uk.properties
  src/main/resources/l10n/JabRef_vi.properties
  src/main/resources/l10n/JabRef_zh_CN.properties
  src/main/resources/l10n/JabRef_zh_TW.properties
Labels: status: changes required

#9839 Preferences ui cleanup
  CHANGELOG.md
  src/main/java/org/jabref/cli/ArgumentProcessor.java
  src/main/java/org/jabref/gui/LibraryTab.java
  src/main/java/org/jabref/gui/copyfiles/CopyFilesAction.java
  src/main/java/org/jabref/gui/exporter/CreateModifyExporterDialogViewModel.java
  src/main/java/org/jabref/gui/exporter/ExportCommand.java
  src/main/java/org/jabref/gui/exporter/ExportToClipboardAction.java
  src/main/java/org/jabref/gui/exporter/SaveDatabaseAction.java
  src/main/java/org/jabref/gui/importer/ImportCommand.java
  src/main/java/org/jabref/gui/importer/ImportEntriesViewModel.java
  src/main/java/org/jabref/gui/libraryproperties/saving/SavingPropertiesViewModel.java
  src/main/java/org/jabref/gui/preferences/PreferencesDialogViewModel.java
  src/main/java/org/jabref/gui/preferences/entry/EntryTab.fxml
  src/main/java/org/jabref/gui/preferences/entry/EntryTab.java
  src/main/java/org/jabref/gui/preferences/entry/EntryTabViewModel.java
  src/main/java/org/jabref/gui/preferences/entryeditor/EntryEditorTab.fxml
  src/main/java/org/jabref/gui/preferences/entryeditortabs/EntryEditorTabsTab.fxml
  src/main/java/org/jabref/gui/preferences/entryeditortabs/EntryEditorTabsTab.java
  src/main/java/org/jabref/gui/preferences/entryeditortabs/EntryEditorTabsTabViewModel.java
  src/main/java/org/jabref/gui/preferences/export/ExportTab.fxml
  src/main/java/org/jabref/gui/preferences/export/ExportTab.java
  src/main/java/org/jabref/gui/preferences/export/ExportTabViewModel.java
  src/main/java/org/jabref/gui/preferences/file/FileTab.fxml
  src/main/java/org/jabref/gui/preferences/file/FileTabViewModel.java
  src/main/java/org/jabref/gui/preferences/websearch/WebSearchTab.fxml
  src/main/java/org/jabref/gui/preferences/websearch/WebSearchTab.java
  src/main/java/org/jabref/gui/preferences/websearch/WebSearchTabViewModel.java
  src/main/java/org/jabref/gui/util/component/DiffHighlightingTextPane.java
  src/main/java/org/jabref/gui/util/component/Tag.fxml
  src/main/java/org/jabref/gui/util/component/Tag.java
  src/main/java/org/jabref/gui/util/component/TagBar.css
  src/main/java/org/jabref/gui/util/component/TagBar.fxml
  src/main/java/org/jabref/gui/util/component/TagBar.java
  src/main/java/org/jabref/logic/autosaveandbackup/BackupManager.java
  src/main/java/org/jabref/logic/crawler/StudyRepository.java
  src/main/java/org/jabref/logic/importer/ImporterPreferences.java
  src/main/java/org/jabref/preferences/ExportPreferences.java
  src/main/java/org/jabref/preferences/JabRefPreferences.java
  src/main/java/org/jabref/preferences/PreferencesService.java
  src/main/resources/l10n/JabRef_en.properties
  src/test/java/org/jabref/gui/exporter/ExportToClipboardActionTest.java
  src/test/java/org/jabref/gui/exporter/SaveDatabaseActionTest.java
Labels: status: ready-for-review, type: code-quality, preferences

#9841 Enable OpenRewrite
  build.gradle
  rewrite.yml
  src/main/java/org/jabref/logic/importer/fetcher/INSPIREFetcher.java
Labels: type: code-quality

#9836 Reorganized "General tab" (preamble still here) and "String constants…
  CHANGELOG.md
  src/main/java/org/jabref/gui/libraryproperties/LibraryPropertiesViewModel.java
  src/main/java/org/jabref/gui/libraryproperties/general/GeneralProperties.fxml
  src/main/java/org/jabref/gui/libraryproperties/general/GeneralPropertiesView.java
  src/main/java/org/jabref/gui/libraryproperties/general/GeneralPropertiesViewModel.java
  src/main/java/org/jabref/gui/libraryproperties/preamble/PreambleProperties.fxml
  src/main/java/org/jabref/gui/libraryproperties/preamble/PreamblePropertiesView.java
  src/main/java/org/jabref/gui/libraryproperties/preamble/PreamblePropertiesViewModel.java
Labels: preferences

#9847 Enable CompareEnumsWithEqualityOperator
  build.gradle
  rewrite.yml
  src/main/java/org/jabref/gui/autocompleter/SuggestionProviders.java
  src/main/java/org/jabref/gui/desktop/JabRefDesktop.java
  src/main/java/org/jabref/gui/entryeditor/fileannotationtab/FileAnnotationViewModel.java
  src/main/java/org/jabref/gui/fieldeditors/FieldEditors.java
  src/main/java/org/jabref/gui/fieldeditors/identifier/EprintIdentifierEditorViewModel.java
  src/main/java/org/jabref/gui/fieldeditors/identifier/IdentifierEditor.java
  src/main/java/org/jabref/gui/journals/UndoableAbbreviator.java
  src/main/java/org/jabref/gui/journals/UndoableUnabbreviator.java
  src/main/java/org/jabref/gui/search/GlobalSearchBar.java
  src/main/java/org/jabref/logic/bibtex/BibEntryWriter.java
  src/main/java/org/jabref/logic/bibtex/comparator/FieldComparator.java
  src/main/java/org/jabref/logic/citationstyle/JabRefItemDataProvider.java
  src/main/java/org/jabref/logic/cleanup/FieldFormatterCleanup.java
  src/main/java/org/jabref/logic/database/DuplicateCheck.java
  src/main/java/org/jabref/logic/exporter/ModsExporter.java
  src/main/java/org/jabref/logic/importer/fileformat/BibtexParser.java
  src/main/java/org/jabref/logic/importer/fileformat/PdfMergeMetadataImporter.java
  src/main/java/org/jabref/logic/importer/util/IdentifierParser.java
  src/main/java/org/jabref/logic/integrity/TypeChecker.java
  src/main/java/org/jabref/logic/openoffice/style/OOBibStyleGetCitationMarker.java
  src/main/java/org/jabref/logic/xmp/DocumentInformationExtractor.java
  src/main/java/org/jabref/logic/xmp/DublinCoreExtractor.java
  src/main/java/org/jabref/logic/xmp/XmpUtilWriter.java
  src/main/java/org/jabref/model/entry/BibEntry.java
  src/main/java/org/jabref/model/groups/WordKeywordGroup.java
Labels: type: code-quality

#9777 Fix undo (CTRL + Z) and redo for inserting an entry
  CHANGELOG.md
  src/main/java/org/jabref/gui/edit/EditAction.java
  src/main/java/org/jabref/gui/search/GlobalSearchBar.java
  src/main/java/org/jabref/gui/search/SearchFieldRightClickMenu.java
Labels: status: ready-for-review, entry-editor

#9720 Add BibLatex date formats for parsing to Date.java
  CHANGELOG.md
  src/main/java/org/jabref/model/entry/Date.java
  src/test/java/org/jabref/model/entry/DateTest.java
Labels: status: ready-for-review, bib(la)tex

#9848 Detect and remove ?doi= tag before passing to DOI.parse
  CHANGELOG.md
  src/main/java/org/jabref/logic/importer/CompositeIdFetcher.java
  src/main/java/org/jabref/model/entry/identifier/DOI.java
  src/test/java/org/jabref/model/entry/identifier/DOITest.java
Labels: status: ready-for-review

#9849 Enable EqualsAvoidsNull (and others causing no effect)
  rewrite.yml
  src/main/java/org/jabref/cli/ArgumentProcessor.java
  src/main/java/org/jabref/gui/fieldeditors/LinkedFileViewModel.java
  src/main/java/org/jabref/gui/mergeentries/newmergedialog/ThreeWayMergeView.java
  src/main/java/org/jabref/gui/preferences/customimporter/CustomImporterTabViewModel.java
  src/main/java/org/jabref/gui/preferences/network/NetworkTab.java
  src/main/java/org/jabref/gui/theme/Theme.java
  src/main/java/org/jabref/gui/util/TooltipTextUtil.java
  src/main/java/org/jabref/logic/importer/fetcher/AstrophysicsDataSystem.java
  src/main/java/org/jabref/logic/importer/fetcher/CrossRef.java
  src/main/java/org/jabref/logic/importer/fetcher/DoiFetcher.java
  src/main/java/org/jabref/logic/importer/fetcher/MedlineFetcher.java
  src/main/java/org/jabref/logic/importer/fetcher/Medra.java
  src/main/java/org/jabref/logic/importer/fetcher/transformers/AbstractQueryTransformer.java
  src/main/java/org/jabref/logic/importer/fileformat/CffImporter.java
  src/main/java/org/jabref/logic/importer/fileformat/MarcXmlParser.java
  src/main/java/org/jabref/logic/importer/fileformat/MedlineImporter.java
  src/main/java/org/jabref/logic/importer/fileformat/ModsImporter.java
  src/main/java/org/jabref/logic/importer/util/GrobidService.java
  src/main/java/org/jabref/logic/pdf/EntryAnnotationImporter.java
  src/main/java/org/jabref/logic/util/BuildInfo.java
  src/main/java/org/jabref/logic/util/io/FileNameUniqueness.java
  src/main/java/org/jabref/model/entry/field/InternalField.java
  src/test/java/org/jabref/gui/fieldeditors/LinkedFileViewModelTest.java
  src/test/java/org/jabref/gui/libraryproperties/contentselectors/ContentSelectorViewModelTest.java
  src/test/java/org/jabref/logic/exporter/OpenOfficeDocumentCreatorTest.java
  src/test/java/org/jabref/logic/importer/fetcher/SpringerFetcherTest.java
  src/test/java/org/jabref/logic/importer/fileformat/BibtexImporterTest.java
  src/test/java/org/jabref/logic/importer/fileformat/BibtexParserTest.java
  src/test/java/org/jabref/model/TreeNodeTest.java
  src/test/java/org/jabref/model/entry/BibEntryTypesManagerTest.java
Labels: type: code-quality

#9809 Configure backup path in prefs
  src/main/java/org/jabref/gui/JabRefFrame.java
  src/main/java/org/jabref/gui/LibraryTab.java
  src/main/java/org/jabref/gui/StateManager.java
  src/main/java/org/jabref/gui/backup/BackupResolverDialog.java
  src/main/java/org/jabref/gui/citationkeypattern/GenerateCitationKeyAction.java
  src/main/java/org/jabref/gui/dialogs/BackupUIManager.java
  src/main/java/org/jabref/gui/exporter/SaveDatabaseAction.java
  src/main/java/org/jabref/gui/importer/actions/OpenDatabaseAction.java
  src/main/java/org/jabref/gui/preferences/general/GeneralTab.fxml
  src/main/java/org/jabref/gui/preferences/general/GeneralTab.java
  src/main/java/org/jabref/gui/preferences/general/GeneralTabViewModel.java
  src/main/java/org/jabref/logic/autosaveandbackup/BackupManager.java
  src/main/java/org/jabref/logic/util/io/BackupFileUtil.java
  src/main/java/org/jabref/preferences/FilePreferences.java
  src/main/java/org/jabref/preferences/JabRefPreferences.java
  src/main/resources/l10n/JabRef_en.properties
  src/test/java/org/jabref/logic/autosaveandbackup/BackupManagerDiscardedTest.java
  src/test/java/org/jabref/logic/autosaveandbackup/BackupManagerTest.java
  src/test/java/org/jabref/logic/util/io/BackupFileUtilTest.java
Labels: status: ready-for-review, preferences, backup

#9850 OpenRewrite ReplaceLambdaWithMethodReference
  src/main/java/org/jabref/gui/JabRefFrame.java
  src/main/java/org/jabref/gui/JabRefGUI.java
  src/main/java/org/jabref/gui/documentviewer/DocumentViewerView.java
  src/main/java/org/jabref/gui/externalfiles/GitIgnoreFileFilter.java
  src/main/java/org/jabref/gui/fieldeditors/identifier/IdentifierEditor.java
  src/main/java/org/jabref/gui/groups/GroupTreeViewModel.java
  src/main/java/org/jabref/gui/maintable/MainTable.java
  src/main/java/org/jabref/gui/mergeentries/MultiMergeEntriesView.java
  src/main/java/org/jabref/gui/preferences/keybindings/KeyBindingsTab.java
  src/main/java/org/jabref/gui/preferences/preview/PreviewTabViewModel.java
  src/main/java/org/jabref/gui/search/GlobalSearchResultDialog.java
  src/main/java/org/jabref/gui/search/SearchResultsTable.java
  src/main/java/org/jabref/logic/citationstyle/JabRefItemDataProvider.java
  src/main/java/org/jabref/logic/l10n/Localization.java
  src/main/java/org/jabref/logic/pdf/search/indexing/IndexingTaskManager.java
  src/main/java/org/jabref/logic/protectedterms/ProtectedTermsParser.java
  src/main/java/org/jabref/logic/util/StandardFileType.java
  src/main/java/org/jabref/logic/xmp/DublinCoreExtractor.java
  src/main/java/org/jabref/model/ChainNode.java
  src/main/java/org/jabref/model/entry/EntryLinkList.java
  src/main/java/org/jabref/preferences/JabRefPreferences.java
  src/test/java/org/jabref/gui/search/GlobalSearchBarTest.java
  src/test/java/org/jabref/logic/database/DatabaseMergerTest.java
  src/test/java/org/jabref/logic/formatter/FormatterTest.java
  src/test/java/org/jabref/logic/layout/LayoutHelperTest.java
  src/test/java/org/jabref/logic/net/URLDownloadTest.java
  src/test/java/org/jabref/logic/shared/DBMSConnectionTest.java
  src/test/java/org/jabref/model/TreeNodeTest.java
Labels: type: code-quality

#9740 Refactor ModsExporter to use StaX from JAXB
  src/main/java/org/jabref/logic/exporter/ModsExporter.java
Labels: status: ready-for-review

#9859 Fix OpenRewrite
  src/main/java/org/jabref/logic/exporter/ModsExporter.java
Labels: type: code-quality

#9860 Remove generateModsSource (and mods-3-7.xsd)
  build.gradle
  src/main/resources/xjc/mods/mods-3-7.xsd
  src/main/resources/xjc/mods/mods-binding.xjb
  src/main/resources/xjc/mods/xlink.xsd
  src/main/resources/xjc/mods/xml.xsd
Labels: type: code-quality

#9858 Enables RemoveEmptyJavaDocParameters
  rewrite.yml
  src/main/java/org/jabref/gui/desktop/JabRefDesktop.java
  src/main/java/org/jabref/gui/documentviewer/DocumentPageViewModel.java
  src/main/java/org/jabref/gui/groups/MoveGroupChange.java
  src/main/java/org/jabref/logic/importer/fetcher/BibsonomyScraper.java
  src/main/java/org/jabref/logic/importer/fileformat/BibtexParser.java
  src/main/java/org/jabref/logic/importer/fileformat/RepecNepImporter.java
  src/main/java/org/jabref/logic/layout/format/DocBookAuthorFormatter.java
  src/main/java/org/jabref/logic/msbib/MSBibDatabase.java
  src/main/java/org/jabref/logic/msbib/MSBibEntry.java
  src/main/java/org/jabref/logic/openoffice/backend/GetContext.java
  src/main/java/org/jabref/logic/openoffice/frontend/OOFrontend.java
  src/main/java/org/jabref/logic/openoffice/frontend/UpdateCitationMarkers.java
  src/main/java/org/jabref/logic/openoffice/style/OOProcessAuthorYearMarkers.java
  src/main/java/org/jabref/logic/openoffice/style/OOProcessNumericMarkers.java
  src/main/java/org/jabref/logic/protectedterms/ProtectedTermsParser.java
  src/main/java/org/jabref/logic/shared/DBMSSynchronizer.java
  src/main/java/org/jabref/model/database/BibDatabase.java
  src/main/java/org/jabref/model/entry/BibtexString.java
  src/main/java/org/jabref/model/strings/StringUtil.java
Labels: type: code-quality

#9856 Add comment on default execution mode for JUnit
  src/test/resources/junit-platform.properties
Labels: type: code-quality

#9861 Pipeline: Enable OpenRewrite checks, separate modernizer check, and checkstyle comments
  .github/workflows/tests.yml
  build.gradle
  docs/getting-into-the-code/development-strategy.md
Labels: status: ready-for-review, type: code-quality

#9857 Enable all OpenRewrite rules keeping everything as is
  rewrite.yml
Labels: status: ready-for-review, type: code-quality

#9865 Parse pasted ISBNs on maintable
  CHANGELOG.md
  src/main/java/org/jabref/gui/externalfiles/ImportHandler.java
  src/main/resources/l10n/JabRef_en.properties
Labels: status: ready-for-review

#9875 Fix save order
  src/main/java/org/jabref/cli/ArgumentProcessor.java
  src/main/java/org/jabref/gui/exporter/SaveDatabaseAction.java
  src/main/java/org/jabref/logic/autosaveandbackup/BackupManager.java
  src/main/java/org/jabref/logic/crawler/StudyRepository.java
  src/main/java/org/jabref/logic/exporter/BibDatabaseWriter.java
  src/test/java/org/jabref/logic/citationkeypattern/CitationKeyGeneratorTest.java
Labels: status: ready-for-review

#9874 Make consequences of "Keep original order" more clear
  src/main/java/org/jabref/gui/commonfxcontrols/SaveOrderConfigPanel.fxml
  src/main/resources/l10n/JabRef_en.properties
Labels: status: ready-for-review

#9884 Enable RemoveExtraSemicolons
  rewrite.yml
  src/main/java/org/jabref/logic/shared/DatabaseLocation.java
  src/main/java/org/jabref/model/search/rules/SearchRules.java
Labels: type: code-quality

#9886 Enable LoggersNamedForEnclosingClass
  build.gradle
Labels: type: code-quality

#9888 Add constant FILE_DIRECTORY_LATEX
  src/main/java/org/jabref/logic/exporter/MetaDataSerializer.java
  src/main/java/org/jabref/logic/importer/util/MetaDataParser.java
  src/main/java/org/jabref/model/metadata/MetaData.java
Labels: type: code-quality

#9892 [Bot] Update CSL styles
  buildres/csl/csl-styles/american-society-for-horticultural-science.csl
  buildres/csl/csl-styles/apa-6th-edition-no-ampersand.csl
  buildres/csl/csl-styles/apa-6th-edition.csl
  buildres/csl/csl-styles/apa-annotated-bibliography.csl
  buildres/csl/csl-styles/apa-cv.csl
  buildres/csl/csl-styles/apa-no-ampersand.csl
  buildres/csl/csl-styles/apa-no-doi-no-issue.csl
  buildres/csl/csl-styles/apa-no-initials.csl
  buildres/csl/csl-styles/apa-numeric-superscript-brackets.csl
  buildres/csl/csl-styles/apa-numeric-superscript.csl
  buildres/csl/csl-styles/apa-old-doi-prefix.csl
  buildres/csl/csl-styles/apa-single-spaced.csl
  buildres/csl/csl-styles/apa-with-abstract.csl
  buildres/csl/csl-styles/apa.csl
  buildres/csl/csl-styles/begell-house-apa.csl
  buildres/csl/csl-styles/bio-protocol.csl
  buildres/csl/csl-styles/citation-compass-apa-note.csl
  buildres/csl/csl-styles/european-review-of-agricultural-economics.csl
  buildres/csl/csl-styles/fundamental-and-applied-limnology.csl
  buildres/csl/csl-styles/harvard-university-of-the-west-of-england.csl
  buildres/csl/csl-styles/norsk-apa-manual-note.csl
  buildres/csl/csl-styles/norsk-apa-manual.csl
  buildres/csl/csl-styles/organization-studies.csl
  buildres/csl/csl-styles/technische-universitat-dresden-betriebswirtschaftslehre-rechnungswesen-controlling.csl
  buildres/csl/csl-styles/the-accounting-review.csl
  buildres/csl/csl-styles/ucl-university-college-apa.csl
  buildres/csl/csl-styles/united-states-international-trade-commission.csl
  buildres/csl/csl-styles/university-of-gothenburg-apa-7th-edition-swedish-legislations.csl
  src/main/resources/csl-styles/apa.csl
Labels: dependencies

#9887 Change lucene index path to have sub directories
  CHANGELOG.md
  src/main/java/org/jabref/cli/Launcher.java
  src/main/java/org/jabref/gui/OpenConsoleAction.java
  src/main/java/org/jabref/gui/desktop/JabRefDesktop.java
  src/main/java/org/jabref/gui/desktop/os/NativeDesktop.java
  src/main/java/org/jabref/gui/desktop/os/Windows.java
  src/main/java/org/jabref/gui/fieldeditors/identifier/BaseIdentifierEditorViewModel.java
  src/main/java/org/jabref/gui/mergeentries/FetchAndMergeEntry.java
  src/main/java/org/jabref/gui/openoffice/DetectOpenOfficeInstallation.java
  src/main/java/org/jabref/gui/preferences/externalfiletypes/EditExternalFileTypeEntryDialog.java
  src/main/java/org/jabref/logic/importer/fetcher/INSPIREFetcher.java
  src/main/java/org/jabref/logic/util/OS.java
  src/main/java/org/jabref/logic/util/io/BackupFileUtil.java
  src/main/java/org/jabref/model/database/BibDatabaseContext.java
  src/main/java/org/jabref/model/pdf/search/SearchFieldConstants.java
  src/main/java/org/jabref/preferences/JabRefPreferences.java
  src/main/resources/l10n/JabRef_en.properties
  src/test/java/org/jabref/logic/autosaveandbackup/BackupManagerTest.java
  src/test/java/org/jabref/logic/util/io/BackupFileUtilTest.java
  src/test/java/org/jabref/model/database/BibDatabaseContextTest.java
Labels: status: ready-for-review

#9891 Enable MethodParamPad
  rewrite.yml
  src/main/java/org/jabref/gui/JabRefDialogService.java
  src/main/java/org/jabref/gui/StateManager.java
  src/main/java/org/jabref/gui/duplicationFinder/DuplicateResolverDialog.java
  src/main/java/org/jabref/gui/edit/automaticfiededitor/AutomaticFieldEditorDialog.java
  src/main/java/org/jabref/gui/importer/ImportAction.java
  src/main/java/org/jabref/gui/preferences/customentrytypes/CustomEntryTypesTabViewModel.java
  src/main/java/org/jabref/gui/preferences/preview/PreviewTabViewModel.java
  src/main/java/org/jabref/logic/importer/fileformat/CustomImporter.java
  src/main/java/org/jabref/logic/shared/DBMSProcessor.java
  src/main/java/org/jabref/logic/shared/OracleProcessor.java
  src/test/java/org/jabref/logic/bibtex/FileFieldWriterTest.java
  src/test/java/org/jabref/logic/importer/fetcher/isbntobibtex/EbookDeIsbnFetcherTest.java
  src/test/java/org/jabref/logic/openoffice/style/OOBibStyleTest.java
Labels: type: code-quality

#9896 Fix respecting overWriteOwner preferences
  CHANGELOG.md
  src/main/java/org/jabref/gui/LibraryTab.java
  src/main/java/org/jabref/logic/util/UpdateField.java
  src/test/java/org/jabref/logic/util/UpdateFieldTest.java
Labels: status: ready-for-review, type: code-quality

#9889 Enable single backslashes at fileDirectory
  src/main/java/org/jabref/logic/exporter/BibWriter.java
  src/main/java/org/jabref/logic/exporter/MetaDataSerializer.java
  src/main/java/org/jabref/logic/importer/fileformat/BibtexParser.java
  src/main/java/org/jabref/logic/importer/util/MetaDataParser.java
  src/main/java/org/jabref/model/metadata/MetaData.java
  src/test/java/org/jabref/logic/importer/fileformat/BibtexParserTest.java
  src/test/java/org/jabref/logic/importer/util/MetaDataParserTest.java
  src/test/java/org/jabref/logic/integrity/IntegrityCheckTest.java
Labels: status: ready-for-review

#9894 Remove empty entries automatically
  CHANGELOG.md
  src/main/java/org/jabref/gui/Globals.java
  src/main/java/org/jabref/gui/JabRefFrame.java
  src/main/java/org/jabref/gui/LibraryTab.java
  src/main/java/org/jabref/logic/bibtex/comparator/BibDatabaseDiff.java
  src/main/java/org/jabref/logic/exporter/BibDatabaseWriter.java
  src/main/java/org/jabref/model/database/BibDatabase.java
  src/main/java/org/jabref/model/database/BibDatabaseContext.java
  src/main/java/org/jabref/model/entry/BibEntry.java
  src/main/java/org/jabref/model/entry/field/StandardField.java
  src/main/resources/l10n/JabRef_en.properties
  src/test/java/org/jabref/logic/exporter/BibtexDatabaseWriterTest.java
  src/test/java/org/jabref/model/database/BibDatabaseTest.java
  src/test/java/org/jabref/model/entry/BibEntryTest.java
Labels: status: ready-for-review

#9904 Fix NPE when executing CrawlerTest
  .github/workflows/tests-fetchers.yml
  src/test/java/org/jabref/logic/crawler/CrawlerTest.java
Labels: type: code-quality

#9906 Support for $\backslash$ in file paths
  CHANGELOG.md
  src/main/java/org/jabref/logic/importer/util/FileFieldParser.java
  src/test/java/org/jabref/logic/importer/util/FileFieldParserTest.java
Labels: import

#9911 Fixes some JavaDoc errors
  src/main/java/org/jabref/gui/help/ErrorConsoleAction.java
  src/main/java/org/jabref/gui/icon/JabRefMaterialDesignIcon.java
  src/main/java/org/jabref/gui/util/RecursiveTreeItem.java
  src/main/java/org/jabref/gui/util/ViewModelTreeCellFactory.java
  src/main/java/org/jabref/logic/citationstyle/CSLAdapter.java
  src/main/java/org/jabref/logic/importer/EntryBasedFetcher.java
  src/main/java/org/jabref/logic/importer/fetcher/ArXivFetcher.java
  src/main/java/org/jabref/logic/importer/fetcher/BiodiversityLibrary.java
  src/main/java/org/jabref/logic/importer/fetcher/DOAJFetcher.java
  src/main/java/org/jabref/logic/importer/fetcher/DoiResolution.java
  src/main/java/org/jabref/logic/importer/fetcher/IEEE.java
  src/main/java/org/jabref/logic/importer/fetcher/OpenAccessDoi.java
  src/main/java/org/jabref/logic/importer/fetcher/SpringerFetcher.java
Labels: type: code-quality

#9912 Modernize tests at BibtexParserTest
  src/main/java/org/jabref/logic/importer/fileformat/BibtexParser.java
  src/test/java/org/jabref/logic/importer/fileformat/BibtexImporterTest.java
  src/test/java/org/jabref/logic/importer/fileformat/BibtexParserTest.java
Labels: type: code-quality

#9916 Fix empty fields being added to the entry table preferences
  CHANGELOG.md
  src/main/java/org/jabref/gui/preferences/table/TableTabViewModel.java
Labels: status: ready-for-review, preferences, maintable

#9837 Respect OS language at NativeDesktop#getDefaultFileChooserDirectory
  CHANGELOG.md
  docs/decisions/0026-use-jna-to-determine-default-directory.md
  src/main/java/org/jabref/gui/desktop/JabRefDesktop.java
  src/main/java/org/jabref/gui/desktop/os/DefaultDesktop.java
  src/main/java/org/jabref/gui/desktop/os/Linux.java
  src/main/java/org/jabref/gui/desktop/os/NativeDesktop.java
  src/main/java/org/jabref/gui/desktop/os/OSX.java
Labels: status: ready-for-review, external files

#9880 Rewrite EndnoteXMLImporter as a StAX-Parser
  CHANGELOG.md
  build.gradle
  src/main/java/org/jabref/logic/importer/fileformat/EndnoteXmlImporter.java
  src/main/resources/xjc/endnote/endnote.xsd
  src/test/resources/org/jabref/logic/importer/fileformat/EndnoteXmlImporterTest_EmptyKeywordStyle.bib
Labels: status: ready-for-review, import

#9925 Fixes Web Icon for ISBN
  CHANGELOG.md
  src/main/java/org/jabref/gui/desktop/JabRefDesktop.java
  src/main/java/org/jabref/gui/maintable/BibEntryTableViewModel.java
  src/main/java/org/jabref/gui/maintable/OpenUrlAction.java
Labels: status: ready-for-review

#9944 Consistent console help usage
  CHANGELOG.md
  src/main/java/org/jabref/cli/JabRefCLI.java
  src/main/java/org/jabref/cli/Launcher.java
  src/main/java/org/jabref/logic/importer/ImportFormatReader.java
  src/test/java/org/jabref/cli/JabRefCLITest.java
Labels: cli

#9948 Fix unmodifable Set Exception in generating preview
  CHANGELOG.md
  src/main/java/org/jabref/logic/citationstyle/JabRefItemDataProvider.java
  src/main/java/org/jabref/model/entry/BibEntry.java
Labels: status: ready-for-review

#9929 9817 adding HTTP Status Exception check to Grobid Citation Fetcher
  build.gradle
  src/main/java/module-info.java
  src/main/java/org/jabref/logic/importer/fetcher/GrobidCitationFetcher.java
Labels: ui, status: ready-for-review

#9954 Fixing "working directory" argument of two of the three Linux "open terminal" commands
  CHANGELOG.md
  src/main/java/org/jabref/gui/desktop/os/Linux.java
Labels: os: linux, cli

#9955 Fixed deleting Automatic Keyword Group in the UI
  CHANGELOG.md
  src/main/java/org/jabref/gui/groups/GroupTreeView.java
  src/main/java/org/jabref/gui/groups/GroupTreeViewModel.java
Labels: groups
