Repository JabRef/jabref, pull requests merged in 2023-08, with the labels that each got.

#10136 Add git merge conflict finder
  .github/workflows/tests.yml
Labels: status: ready-for-review, type: code-quality

#10137 Allow enabling debug logs
  src/main/java/org/jabref/cli/ArgumentProcessor.java
  src/main/java/org/jabref/cli/Launcher.java
Labels: status: ready-for-review

#10142 Fix author parsing of ACM
  CHANGELOG.md
  src/main/java/org/jabref/logic/importer/fileformat/ACMPortalParser.java
  src/main/java/org/jabref/logic/l10n/Localization.java
  src/test/java/org/jabref/logic/importer/fileformat/ACMPortalParserTest.java
Labels: status: ready-for-review

#10143 Store window sizes in prefs at JabRef frame quit
  src/main/java/org/jabref/gui/JabRefFrame.java
  src/main/java/org/jabref/gui/JabRefGUI.java
Labels: status: ready-for-review

#10172 Fix minor code issues
  src/main/java/org/jabref/gui/search/GlobalSearchBar.java
  src/test/java/org/jabref/gui/edit/ReplaceStringViewModelTest.java
Labels: type: code-quality

#10174 [Bot] Update CSL styles
  buildres/csl/csl-styles/dependent/jci-insight.csl
  buildres/csl/csl-styles/duale-hochschule-baden-wurttemberg-department-of-international-business.csl
  buildres/csl/csl-styles/haute-ecole-de-gestion-de-geneve-iso-690.csl
  buildres/csl/csl-styles/howard-hughes-medical-institute.csl
  buildres/csl/csl-styles/jci-insight.csl
  buildres/csl/csl-styles/the-journal-of-clinical-investigation.csl
Labels: dependencies

#10189 Fix GVK Fetcher url
  CHANGELOG.md
  src/main/java/org/jabref/logic/importer/fetcher/GvkFetcher.java
  src/main/java/org/jabref/logic/importer/fileformat/PicaXmlParser.java
  src/test/java/org/jabref/logic/importer/fetcher/BvbFetcherTest.java
  src/test/java/org/jabref/logic/importer/fetcher/GvkFetcherTest.java
Labels: status: ready-for-review

#10205 Fix adding files with illegal characters
  CHANGELOG.md
  src/main/java/org/jabref/gui/entryeditor/EntryEditor.java
  src/main/java/org/jabref/gui/externalfiles/ExternalFilesEntryLinker.java
  src/main/java/org/jabref/gui/externalfiles/ImportHandler.java
  src/main/java/org/jabref/gui/fieldeditors/LinkedFilesEditorViewModel.java
  src/main/java/org/jabref/gui/maintable/MainTable.java
  src/main/java/org/jabref/gui/preview/PreviewPanel.java
  src/main/resources/l10n/JabRef_en.properties
  src/test/java/org/jabref/logic/util/FileNameCleanerTest.java
Labels: status: ready-for-review

#10211 Enable ISBN search with GVK
  src/main/java/org/jabref/gui/EntryTypeViewModel.java
  src/main/java/org/jabref/logic/importer/WebFetchers.java
  src/main/java/org/jabref/logic/importer/fetcher/GvkFetcher.java
  src/main/java/org/jabref/logic/importer/fetcher/isbntobibtex/IsbnFetcher.java
  src/test/java/org/jabref/logic/importer/WebFetchersTest.java
  src/test/java/org/jabref/logic/importer/fetcher/CompositeIdFetcherTest.java
  src/test/java/org/jabref/logic/importer/fetcher/CompositeSearchBasedFetcherTest.java
  src/test/java/org/jabref/logic/importer/fetcher/DiVATest.java
  src/test/java/org/jabref/logic/importer/fetcher/GvkFetcherTest.java
  src/test/java/org/jabref/logic/importer/fetcher/isbntobibtex/GVKIsbnFetcherTest.java
  src/test/java/org/jabref/logic/importer/fetcher/isbntobibtex/IsbnFetcherTest.java
  src/test/java/org/jabref/logic/importer/fileformat/ACMPortalParserTest.java
  src/test/java/org/jabref/logic/importer/util/GrobidServiceTest.java
Labels: status: ready-for-review

#10064 Introducing GDPR compliance checks and policy
  CHANGELOG.md
  PRIVACY.md
  build.gradle
  buildres/LICENSE_with_Privacy.md
  src/main/java/org/jabref/gui/JabRefGUI.java
  src/main/java/org/jabref/gui/entryeditor/EntryEditorPreferences.java
  src/main/java/org/jabref/gui/entryeditor/RelatedArticlesTab.java
  src/main/java/org/jabref/gui/fieldeditors/ISSNEditor.java
  src/main/java/org/jabref/gui/fieldeditors/JournalEditor.java
  src/main/java/org/jabref/gui/fieldeditors/JournalInfoOptInDialogHelper.java
  src/main/java/org/jabref/gui/help/AboutDialog.fxml
  src/main/java/org/jabref/gui/help/AboutDialogView.java
  src/main/java/org/jabref/gui/help/AboutDialogViewModel.java
  src/main/java/org/jabref/gui/help/SearchForUpdateAction.java
  src/main/java/org/jabref/gui/help/VersionWorker.java
  src/main/java/org/jabref/gui/importer/fetcher/WebSearchPaneView.java
  src/main/java/org/jabref/gui/importer/fetcher/WebSearchPaneViewModel.java
  src/main/java/org/jabref/gui/preferences/entryeditor/EntryEditorTab.fxml
  src/main/java/org/jabref/gui/preferences/entryeditor/EntryEditorTab.java
  src/main/java/org/jabref/gui/preferences/entryeditor/EntryEditorTabViewModel.java
  src/main/java/org/jabref/gui/preferences/network/NetworkTab.fxml
  src/main/java/org/jabref/gui/preferences/network/NetworkTab.java
  src/main/java/org/jabref/gui/preferences/network/NetworkTabViewModel.java
  src/main/java/org/jabref/gui/preferences/websearch/WebSearchTab.fxml
  src/main/java/org/jabref/gui/preferences/websearch/WebSearchTab.java
  src/main/java/org/jabref/gui/preferences/websearch/WebSearchTabViewModel.java
  src/main/java/org/jabref/logic/importer/ImporterPreferences.java
  src/main/java/org/jabref/logic/journals/JournalInformationPreferences.java
  src/main/java/org/jabref/logic/util/EnablementStatus.java
  src/main/java/org/jabref/preferences/InternalPreferences.java
  src/main/java/org/jabref/preferences/JabRefPreferences.java
  src/main/java/org/jabref/preferences/PreferencesService.java
  src/main/resources/l10n/JabRef_en.properties
Labels: status: ready-for-review, preferences

#10224 Disable password and apikey persistency if keyring is unavailable
  src/main/java/org/jabref/gui/preferences/network/NetworkTab.fxml
  src/main/java/org/jabref/gui/preferences/network/NetworkTab.java
  src/main/java/org/jabref/gui/preferences/network/NetworkTabViewModel.java
  src/main/java/org/jabref/gui/preferences/websearch/WebSearchTab.fxml
  src/main/java/org/jabref/gui/preferences/websearch/WebSearchTab.java
  src/main/java/org/jabref/gui/preferences/websearch/WebSearchTabViewModel.java
  src/main/java/org/jabref/logic/importer/ImporterPreferences.java
  src/main/java/org/jabref/logic/util/OS.java
  src/main/java/org/jabref/preferences/JabRefPreferences.java
  src/main/resources/l10n/JabRef_en.properties
Labels: status: ready-for-review, preferences

#10227 Fix code style "SaveOrder preference should be self contained"
  CHANGELOG.md
  build.gradle
  src/main/java/module-info.java
  src/main/java/org/jabref/cli/ArgumentProcessor.java
  src/main/java/org/jabref/gui/auximport/NewSubLibraryAction.java
  src/main/java/org/jabref/gui/commonfxcontrols/SaveOrderConfigPanelViewModel.java
  src/main/java/org/jabref/gui/commonfxcontrols/SortCriterionViewModel.java
  src/main/java/org/jabref/gui/exporter/CreateModifyExporterDialogViewModel.java
  src/main/java/org/jabref/gui/exporter/SaveDatabaseAction.java
  src/main/java/org/jabref/gui/libraryproperties/saving/SavingPropertiesViewModel.java
  src/main/java/org/jabref/logic/autosaveandbackup/BackupManager.java
  src/main/java/org/jabref/logic/bibtex/comparator/MetaDataDiff.java
  src/main/java/org/jabref/logic/crawler/StudyRepository.java
  src/main/java/org/jabref/logic/exporter/BibDatabaseWriter.java
  src/main/java/org/jabref/logic/exporter/ExporterFactory.java
  src/main/java/org/jabref/logic/exporter/MetaDataSerializer.java
  src/main/java/org/jabref/logic/exporter/SaveConfiguration.java
  src/main/java/org/jabref/logic/exporter/TemplateExporter.java
  src/main/java/org/jabref/logic/importer/util/MetaDataParser.java
  src/main/java/org/jabref/model/metadata/MetaData.java
  src/main/java/org/jabref/model/metadata/SaveOrder.java
  src/main/java/org/jabref/preferences/JabRefPreferences.java
  src/test/java/org/jabref/logic/crawler/CrawlerTest.java
  src/test/java/org/jabref/logic/crawler/StudyCatalogToFetcherConverterTest.java
  src/test/java/org/jabref/logic/exporter/BibtexDatabaseWriterTest.java
  src/test/java/org/jabref/logic/exporter/CsvExportFormatTest.java
  src/test/java/org/jabref/logic/exporter/DocBook5ExporterTest.java
  src/test/java/org/jabref/logic/exporter/DocbookExporterTest.java
  src/test/java/org/jabref/logic/exporter/HtmlExportFormatTest.java
  src/test/java/org/jabref/logic/exporter/YamlExporterTest.java
  src/test/java/org/jabref/logic/importer/fileformat/BibtexParserTest.java
Labels: type: code-quality, SLR

#10236 Fix tests
  src/main/java/org/jabref/logic/crawler/StudyRepository.java
  src/test/java/org/jabref/logic/exporter/BibtexDatabaseWriterTest.java
Labels: SLR

#10240 Remove JSpecify salt
  build.gradle
  src/main/java/module-info.java
  src/main/java/org/jabref/logic/exporter/BibDatabaseWriter.java
  src/main/java/org/jabref/logic/exporter/TemplateExporter.java
Labels: type: code-quality

#10238 Enable IsEmptyCallOnCollections
  rewrite.yml
  src/main/java/org/jabref/gui/groups/GroupTreeView.java
  src/main/java/org/jabref/gui/maintable/columns/FileColumn.java
  src/main/java/org/jabref/logic/cleanup/ConvertToBibtexCleanup.java
  src/main/java/org/jabref/logic/importer/fileformat/MedlineImporter.java
  src/main/java/org/jabref/logic/importer/fileformat/PdfMergeMetadataImporter.java
  src/main/java/org/jabref/logic/pdf/search/indexing/DocumentReader.java
  src/main/java/org/jabref/logic/xmp/XmpUtilWriter.java
  src/main/java/org/jabref/migrations/PreferencesMigrations.java
  src/test/java/org/jabref/logic/importer/fetcher/BvbFetcherTest.java
Labels: type: code-quality

#10237 Fix package of Simplify* rules
  rewrite.yml
Labels: status: ready-for-review, type: code-quality

#10034 Adds new URL to MathSciNet
  src/main/java/org/jabref/logic/importer/fetcher/MathSciNet.java
  src/test/java/org/jabref/logic/importer/fetcher/MathSciNetTest.java
Labels: fetcher
