Repository JabRef/jabref, pull requests merged in 2023-12, with the labels that each got.

#10680 Fixes concurrency group to speed up merge queues
  .github/workflows/check-links.yml
  .github/workflows/deployment-arm64.yml
  .github/workflows/deployment.yml
  .github/workflows/tests-fetchers.yml
  .github/workflows/tests.yml
Labels: build-system

#10689 Fix missing module error for CSL
  build.gradle
  src/main/java/org/jabref/gui/preview/PreviewViewer.java
Labels: status: ready-for-review

#10610 Add hide button for user comments
  CHANGELOG.md
  src/main/java/org/jabref/gui/entryeditor/CommentsTab.java
  src/main/java/org/jabref/gui/entryeditor/DeprecatedFieldsTab.java
  src/main/java/org/jabref/gui/entryeditor/EntryEditorPreferences.java
  src/main/java/org/jabref/gui/entryeditor/FieldsEditorTab.java
  src/main/java/org/jabref/gui/entryeditor/OptionalFieldsTabBase.java
  src/main/java/org/jabref/gui/entryeditor/OtherFieldsTab.java
  src/main/java/org/jabref/gui/entryeditor/RequiredFieldsTab.java
  src/main/java/org/jabref/gui/entryeditor/UserDefinedFieldsTab.java
  src/main/java/org/jabref/gui/preferences/entryeditor/EntryEditorTab.fxml
  src/main/java/org/jabref/gui/preferences/entryeditor/EntryEditorTab.java
  src/main/java/org/jabref/gui/preferences/entryeditor/EntryEditorTabViewModel.java
  src/main/java/org/jabref/logic/citationstyle/JabRefItemDataProvider.java
  src/main/java/org/jabref/model/entry/BibEntry.java
  src/main/java/org/jabref/model/entry/BibEntryType.java
  src/main/java/org/jabref/model/entry/field/UserSpecificCommentField.java
  src/main/java/org/jabref/preferences/GuiPreferences.java
  src/main/java/org/jabref/preferences/JabRefPreferences.java
  src/main/resources/l10n/JabRef_en.properties
  src/test/java/org/jabref/gui/entryeditor/CommentsTabTest.java
Labels: entry-editor

#10592 Predatory journal checker
  CHANGELOG.md
  build.gradle
  docs/getting-into-the-code/guidelines-for-setting-up-a-local-workspace/intellij-89-run-with-intellij.md
  src/main/java/org/jabref/cli/JournalListMvGenerator.java
  src/main/java/org/jabref/cli/Launcher.java
  src/main/java/org/jabref/cli/PredatoryJournalsMvGenerator.java
  src/main/java/org/jabref/gui/Globals.java
  src/main/java/org/jabref/gui/JabRefFrame.java
  src/main/java/org/jabref/gui/MainMenu.java
  src/main/java/org/jabref/gui/integrity/IntegrityCheckAction.java
  src/main/java/org/jabref/logic/integrity/IntegrityCheck.java
  src/main/java/org/jabref/logic/integrity/PredatoryJournalChecker.java
  src/main/java/org/jabref/logic/journals/predatory/PredatoryJournalInformation.java
  src/main/java/org/jabref/logic/journals/predatory/PredatoryJournalListCrawler.java
  src/main/java/org/jabref/logic/journals/predatory/PredatoryJournalListLoader.java
  src/main/java/org/jabref/logic/journals/predatory/PredatoryJournalRepository.java
  src/main/resources/l10n/JabRef_en.properties
  src/test/java/org/jabref/logic/integrity/IntegrityCheckTest.java
  src/test/java/org/jabref/logic/integrity/PredatoryJournalCheckerTest.java
Labels: type: feature

#10691 Fix mathscinet fetcher by id
  src/main/java/org/jabref/logic/importer/fetcher/MathSciNet.java
Labels: status: ready-for-review

#10693 Fix predatory journal loading resoures
  src/main/java/org/jabref/gui/MainApplication.java
  src/main/java/org/jabref/logic/journals/predatory/PredatoryJournalListLoader.java
  src/main/java/org/jabref/logic/journals/predatory/PredatoryJournalRepository.java
  src/test/java/org/jabref/logic/integrity/IntegrityCheckTest.java
  src/test/java/org/jabref/logic/integrity/PredatoryJournalCheckerTest.java
Labels: status: ready-for-review

#10708 Remove autohotkey part
  docs/code-howtos/tools.md
Labels: type: documentation

#10709 Fix fulltext of semantic scholar
  src/main/java/org/jabref/logic/importer/fetcher/SemanticScholar.java
  src/test/java/org/jabref/logic/importer/fetcher/SemanticScholarTest.java
Labels: status: ready-for-review

#10707 Fix Copy cite command should respect preferences
  CHANGELOG.md
  src/main/java/org/jabref/gui/actions/StandardActions.java
  src/main/java/org/jabref/gui/edit/CopyMoreAction.java
  src/main/java/org/jabref/gui/keyboard/KeyBinding.java
  src/main/java/org/jabref/gui/preferences/external/ExternalTabViewModel.java
  src/main/java/org/jabref/gui/push/AbstractPushToApplication.java
  src/main/java/org/jabref/logic/push/CitationCommandString.java
  src/main/java/org/jabref/preferences/ExternalApplicationsPreferences.java
  src/main/java/org/jabref/preferences/JabRefPreferences.java
  src/main/resources/l10n/JabRef_en.properties
  src/test/java/org/jabref/gui/edit/CopyMoreActionTest.java
  src/test/java/org/jabref/gui/push/PushToEmacsTest.java
  src/test/java/org/jabref/preferences/CitationCommandStringTest.java
Labels: status: ready-for-review

#10521 Add auto group colour assignment
  CHANGELOG.md
  build.gradle
  src/main/java/module-info.java
  src/main/java/org/jabref/gui/actions/StandardActions.java
  src/main/java/org/jabref/gui/groups/GroupColorPicker.java
  src/main/java/org/jabref/gui/groups/GroupDialog.fxml
  src/main/java/org/jabref/gui/groups/GroupDialogView.java
  src/main/java/org/jabref/gui/groups/GroupDialogViewModel.java
  src/main/java/org/jabref/gui/groups/GroupTreeViewModel.java
  src/main/java/org/jabref/logic/groups/DefaultGroupsFactory.java
  src/main/java/org/jabref/model/groups/AbstractGroup.java
  src/test/java/org/jabref/gui/groups/GroupColorPickerTest.java
  src/test/java/org/jabref/gui/groups/GroupDialogViewModelTest.java
Labels: groups

#10726 Downgrade jfx 21.0.1 to jfx 21
  build.gradle
Labels: status: waiting-for-feedback
