Repository JabRef/jabref, pull requests merged in 2023-02, with the labels that each got.

#9590 Remove overquoting in jabrefHost on Linux
  CHANGELOG.md
  buildres/linux/jabrefHost.py
Labels: status: ready-for-review

#9533 Add source to changes dialog
  CHANGELOG.md
  src/main/java/org/jabref/gui/Base.css
  src/main/java/org/jabref/gui/LibraryTab.java
  src/main/java/org/jabref/gui/collab/DatabaseChangeDetailsView.java
  src/main/java/org/jabref/gui/collab/DatabaseChangeDetailsViewFactory.java
  src/main/java/org/jabref/gui/collab/DatabaseChangeMonitor.java
  src/main/java/org/jabref/gui/collab/DatabaseChangesResolverDialog.java
  src/main/java/org/jabref/gui/collab/entryadd/EntryAddDetailsView.java
  src/main/java/org/jabref/gui/collab/entrychange/EntryChangeDetailsView.java
  src/main/java/org/jabref/gui/collab/entrychange/EntryChangeResolver.java
  src/main/java/org/jabref/gui/collab/entrychange/EntryWithPreviewAndSourceDetailsView.java
  src/main/java/org/jabref/gui/collab/entrychange/PreviewWithSourceTab.java
  src/main/java/org/jabref/gui/collab/entrydelete/EntryDeleteDetailsView.java
  src/main/java/org/jabref/gui/dialogs/BackupUIManager.java
  src/main/java/org/jabref/gui/mergeentries/newmergedialog/FieldRowView.java
  src/main/java/org/jabref/gui/mergeentries/newmergedialog/ThreeWayMergeView.java
  src/main/java/org/jabref/gui/mergeentries/newmergedialog/cell/FieldValueCell.java
  src/main/java/org/jabref/gui/mergeentries/newmergedialog/cell/ThreeWayMergeCell.java
  src/main/java/org/jabref/gui/mergeentries/newmergedialog/toolbar/ThreeWayMergeToolbar.fxml
  src/main/java/org/jabref/gui/mergeentries/newmergedialog/toolbar/ThreeWayMergeToolbar.java
  src/main/java/org/jabref/preferences/GuiPreferences.java
  src/main/java/org/jabref/preferences/JabRefPreferences.java
  src/main/resources/l10n/JabRef_en.properties
Labels: status: ready-for-review, export / save, entry-preview, duplicateFinder

#9595 Rewrite code of ModsImporter
  src/main/java/org/jabref/logic/importer/fileformat/ModsImporter.java
  src/main/java/org/jabref/logic/importer/fileformat/mods/Identifier.java
  src/main/java/org/jabref/logic/importer/fileformat/mods/Name.java
  src/main/java/org/jabref/logic/importer/fileformat/mods/RecordInfo.java
  src/test/resources/org/jabref/logic/exporter/ModsExportFormatTestAllFields.bib
  src/test/resources/org/jabref/logic/exporter/ModsExportFormatTestMultipleEntries.bib
  src/test/resources/org/jabref/logic/exporter/ModsExportFormatTestOnlyRequiredFields.bib
  src/test/resources/org/jabref/logic/importer/fileformat/MODSImporterTestMods.bib
  src/test/resources/org/jabref/logic/importer/fileformat/MODSImporterTestModsCollection.bib
Labels: status: ready-for-review, type: code-quality, import, dependencies

#9610 Fix command line export for --exportMatches
  CHANGELOG.md
  src/main/java/org/jabref/cli/ArgumentProcessor.java
  src/test/java/org/jabref/cli/ArgumentProcessorTest.java
  src/test/resources/org/jabref/cli/ArgumentProcessorTestExportMatches.bib
Labels: status: ready-for-review

#9617 Remove Myself from MAINTAINERS
  MAINTAINERS
Labels: status: ready-for-review, collaboration

#9621 [Bot] Update CSL styles
  buildres/csl/csl-styles/biomolecular-concepts.csl
  buildres/csl/csl-styles/dependent/nursing-open.csl
  buildres/csl/csl-styles/geophysical-journal-international.csl
  buildres/csl/csl-styles/life-science-alliance.csl
  buildres/csl/csl-styles/natur-und-landschaft.csl
  buildres/csl/csl-styles/ucl-university-college-apa.csl
Labels: dependencies

#9620 Fix storing multiline properties for custom fields in custom entry types
  CHANGELOG.md
  src/main/java/org/jabref/model/entry/field/IEEEField.java
  src/main/java/org/jabref/model/entry/field/UnknownField.java
Labels: status: ready-for-review

#9627 Update Gradle Wrapper from 7.6 to 8.0.1
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
Labels: dependencies, gradle-wrapper

#9626 Resolve strings in MsOffice export
  CHANGELOG.md
  src/main/java/org/jabref/logic/msbib/MSBibDatabase.java
  src/test/java/org/jabref/logic/exporter/MSBibExportFormatTestFiles.java
  src/test/resources/org/jabref/logic/exporter/MsBibExportFormatTest1BibTexString.bib
  src/test/resources/org/jabref/logic/exporter/MsBibExportFormatTest1BibTexString.xml
Labels: status: ready-for-review

#9625 Refine main directory not found error message
  CHANGELOG.md
  src/main/java/org/jabref/gui/preferences/linkedfiles/LinkedFilesTabViewModel.java
  src/main/resources/l10n/JabRef_en.properties
Labels: os: linux, external files

#9602 Added INSPIRE HEP Fetcher to "Update with bibliographic information from the web"
  src/main/java/org/jabref/logic/importer/WebFetchers.java
  src/main/java/org/jabref/logic/importer/fetcher/INSPIREFetcher.java
  src/test/java/org/jabref/logic/importer/fetcher/INSPIREFetcherTest.java
Labels: status: ready-for-review, fetcher

#9437 Get full text
  CHANGELOG.md
  src/main/java/org/jabref/gui/fieldeditors/LinkedFilesEditorViewModel.java
  src/test/java/org/jabref/gui/fieldeditors/LinkedFilesEditorViewModelTest.java
  src/test/java/org/jabref/testutils/category/FetcherTest.java
Labels: status: ready-for-review, fetcher

#9636 Add default hierarchical context in group creation
  CHANGELOG.md
  src/main/java/org/jabref/gui/groups/GroupDialogViewModel.java
  src/main/java/org/jabref/gui/groups/GroupsPreferences.java
  src/main/java/org/jabref/model/groups/GroupHierarchyType.java
  src/main/java/org/jabref/preferences/JabRefPreferences.java
  src/test/java/org/jabref/gui/groups/GroupDialogViewModelTest.java
  src/test/java/org/jabref/gui/groups/GroupNodeViewModelTest.java
  src/test/java/org/jabref/gui/groups/GroupTreeViewModelTest.java
Labels: status: ready-for-review
