Repository JabRef/jabref, pull requests merged in 2023-09, with the labels that each got.

#10265 [Bot] Update CSL styles
  buildres/csl/csl-styles/berghahn-books-author-date-en-gb.csl
  buildres/csl/csl-styles/lethaia.csl
  buildres/csl/csl-styles/polish-archives-of-internal-medicine.csl
  buildres/csl/csl-styles/sage-harvard.csl
Labels: dependencies

#10267 Unlocalize logger at UpdateCheck
  src/main/java/org/jabref/gui/help/VersionWorker.java
Labels: type: code-quality

#10233 added number of library items as a tooltip
  CHANGELOG.md
  src/main/java/org/jabref/gui/groups/GroupTreeView.java
Labels: ui, status: ready-for-review, groups

#10255 Fixed saving radio button choice under specified keywords
  CHANGELOG.md
  src/main/java/org/jabref/gui/groups/GroupDialogViewModel.java
Labels: ui, status: ready-for-review, groups

#10270 Remove CCS as it is no longer available
  CHANGELOG.md
  src/main/java/org/jabref/logic/importer/WebFetchers.java
  src/test/java/org/jabref/gui/slr/ManageStudyDefinitionViewModelTest.java
  src/test/java/org/jabref/logic/importer/WebFetchersTest.java
Labels: status: ready-for-review

#10252 Update Java Keyring dependency
  build.gradle
Labels: dependencies

#10213 added error specific messages
  CHANGELOG.md
  src/main/java/org/jabref/gui/fieldeditors/LinkedFileViewModel.java
  src/main/java/org/jabref/logic/importer/FetcherClientException.java
  src/main/java/org/jabref/logic/importer/FetcherServerException.java
  src/main/resources/l10n/JabRef_en.properties
Labels: status: ready-for-review, fetcher

#10276 Added the first option as default in group properties (specified keywords)
  src/main/java/org/jabref/gui/groups/GroupDialogViewModel.java
Labels: status: ready-for-review

#10297 Apply exit early pattern
  build.gradle
  src/main/java/org/jabref/gui/journals/AbbreviateAction.java
Labels: type: code-quality

#10301 Apply ShortenFullyQualifiedTypeReferences
  rewrite.yml
  src/main/java/org/jabref/gui/fieldeditors/LinkedFileViewModel.java
  src/main/java/org/jabref/gui/openoffice/Bootstrap.java
  src/main/java/org/jabref/gui/openoffice/OOBibBaseConnect.java
  src/main/java/org/jabref/gui/search/GlobalSearchBar.java
  src/main/java/org/jabref/logic/importer/fetcher/ArXivFetcher.java
  src/main/java/org/jabref/logic/layout/StringInt.java
  src/test/java/org/jabref/gui/autocompleter/SuggestionProvidersTest.java
  src/test/java/org/jabref/logic/exporter/DocBook5ExporterTest.java
  src/test/java/org/jabref/logic/importer/fileformat/MarcXmlParserTest.java
Labels: type: code-quality

#10302 Add ReplaceStringBuilderWithString
  rewrite.yml
Labels: type: code-quality

#10299 Use OpenRewrite UseStringReplace
  rewrite.yml
  src/main/java/org/jabref/gui/entryeditor/fileannotationtab/FulltextSearchResultsTab.java
  src/main/java/org/jabref/logic/citationkeypattern/BracketedPattern.java
  src/main/java/org/jabref/logic/importer/AuthorListParser.java
  src/main/java/org/jabref/logic/importer/fetcher/MrDLibFetcher.java
  src/main/java/org/jabref/logic/importer/fileformat/MedlinePlainImporter.java
  src/main/java/org/jabref/logic/layout/format/AuthorAndToSemicolonReplacer.java
  src/main/java/org/jabref/migrations/PreferencesMigrations.java
  src/main/java/org/jabref/model/entry/identifier/ArXivIdentifier.java
  src/test/java/org/jabref/logic/bibtex/BibEntryWriterTest.java
Labels: type: code-quality

#10303 Push to external application config
  src/main/java/org/jabref/gui/JabRefFrame.java
  src/main/java/org/jabref/gui/preferences/external/ExternalTab.fxml
  src/main/java/org/jabref/gui/preferences/external/ExternalTab.java
  src/main/java/org/jabref/gui/preferences/external/ExternalTabViewModel.java
  src/main/java/org/jabref/gui/push/AbstractPushToApplication.java
  src/main/java/org/jabref/gui/push/PushToApplication.java
  src/main/java/org/jabref/gui/push/PushToApplicationCommand.java
  src/main/java/org/jabref/gui/push/PushToEmacs.java
  src/main/java/org/jabref/gui/push/PushToLyx.java
  src/main/java/org/jabref/gui/push/PushToSublimeText.java
  src/main/java/org/jabref/gui/push/PushToTeXstudio.java
  src/main/java/org/jabref/gui/push/PushToTexmaker.java
  src/main/java/org/jabref/gui/push/PushToVim.java
  src/main/java/org/jabref/gui/push/PushToWinEdt.java
  src/main/java/org/jabref/preferences/ExternalApplicationsPreferences.java
  src/main/java/org/jabref/preferences/JabRefPreferences.java
  src/main/resources/l10n/JabRef_en.properties
  src/test/java/org/jabref/gui/push/PushToEmacsTest.java
Labels: status: ready-for-review

#9769 add new test for different articles from the same book in DuplicateCeckTest
  src/test/java/org/jabref/logic/database/DuplicateCheckTest.java
Labels: duplicateFinder

#10331 Fix hint to menu
  src/main/java/org/jabref/gui/JabRefFrame.java
  src/main/resources/l10n/JabRef_en.properties
Labels: status: ready-for-review

#10332 Add requires on org.freedesktop.dbus
  CHANGELOG.md
  src/main/java/module-info.java
Labels: status: ready-for-review

#10333 Fix devcontainer prebuilds
  .devcontainer/devcontainer.json
  build.gradle
  settings.gradle
Labels: status: ready-for-review

#10323 Add howto for "Build and run using IntelliJ IDEA"
  docs/getting-into-the-code/guidelines-for-setting-up-a-local-workspace/intellij-89-run-with-intellij.md
Labels: status: ready-for-review

#10341 Rework duplicate checker tests
  src/test/java/org/jabref/logic/database/DuplicateCheckTest.java
Labels: type: code-quality

#10342 Add new openrewrite rules
  build.gradle
  rewrite.yml
  src/main/java/org/jabref/logic/formatter/bibtexfields/EscapeAmpersandsFormatter.java
  src/test/java/org/jabref/gui/theme/ThemeManagerTest.java
  src/test/java/org/jabref/logic/bst/BstVMVisitorTest.java
  src/test/java/org/jabref/logic/net/URLDownloadTest.java
  src/test/java/org/jabref/logic/shared/DBMSProcessorTest.java
Labels: status: ready-for-review, type: code-quality

#10326 Fix dependencies
  build.gradle
Labels: status: ready-for-review, type: code-quality

#10347 Add "--verbose" to MV generator
  build.gradle
  src/main/java/org/jabref/cli/JournalListMvGenerator.java
Labels: status: ready-for-review

#10351 Fix CHANGELOG.md linting issues
  CHANGELOG.md
Labels: status: ready-for-review

#10352 Fix NPE when adding new aux group
  CHANGELOG.md
  src/main/java/org/jabref/gui/groups/GroupDialogView.java
  src/main/java/org/jabref/gui/groups/GroupTreeViewModel.java
Labels: status: ready-for-review

#10353 fix afterburner and javafx errors on startup
  build.gradle
Labels: status: ready-for-review

#10340 Copy browser extension files for mac
  .github/workflows/deployment-arm64.yml
  .github/workflows/deployment.yml
  CHANGELOG.md
  buildres/mac/jabrefHost.py
  buildres/mac/native-messaging-host/chromium/org.jabref.jabref.json
  buildres/mac/native-messaging-host/firefox/org.jabref.jabref.json
  buildres/mac/postinstall
Labels: status: ready-for-review

#10343 Fix the exception when export saving order is less than 3 in export tab of preferences.
  CHANGELOG.md
  src/main/java/org/jabref/preferences/JabRefPreferences.java
Labels: status: ready-for-review

#10355 Add good linting of CHANGELOG.md
  .github/heylogs.java
  .github/workflows/tests.yml
  config/checkstyle/checkstyle_reviewdog.xml
Labels: status: ready-for-review

#10369 Fix groups validator
  CHANGELOG.md
  src/main/java/org/jabref/gui/groups/GroupDialogViewModel.java
Labels: status: ready-for-review

#10368 FIX NPE in inspire fetcher
  src/main/java/org/jabref/logic/importer/fetcher/INSPIREFetcher.java
Labels: status: ready-for-review

#10324 Enable the exploration of bib entries' relations (cited by and citing)
  CHANGELOG.md
  src/main/java/org/jabref/gui/entryeditor/EntryEditor.java
  src/main/java/org/jabref/gui/entryeditor/citationrelationtab/BibEntryRelationsCache.java
  src/main/java/org/jabref/gui/entryeditor/citationrelationtab/BibEntryRelationsRepository.java
  src/main/java/org/jabref/gui/entryeditor/citationrelationtab/BibEntryView.java
  src/main/java/org/jabref/gui/entryeditor/citationrelationtab/CitationRelationItem.java
  src/main/java/org/jabref/gui/entryeditor/citationrelationtab/CitationRelationsTab.css
  src/main/java/org/jabref/gui/entryeditor/citationrelationtab/CitationRelationsTab.java
  src/main/java/org/jabref/gui/entryeditor/citationrelationtab/semanticscholar/AuthorResponse.java
  src/main/java/org/jabref/gui/entryeditor/citationrelationtab/semanticscholar/CitationDataItem.java
  src/main/java/org/jabref/gui/entryeditor/citationrelationtab/semanticscholar/CitationFetcher.java
  src/main/java/org/jabref/gui/entryeditor/citationrelationtab/semanticscholar/CitationsResponse.java
  src/main/java/org/jabref/gui/entryeditor/citationrelationtab/semanticscholar/PaperDetails.java
  src/main/java/org/jabref/gui/entryeditor/citationrelationtab/semanticscholar/ReferenceDataItem.java
  src/main/java/org/jabref/gui/entryeditor/citationrelationtab/semanticscholar/ReferencesResponse.java
  src/main/java/org/jabref/gui/entryeditor/citationrelationtab/semanticscholar/SemanticScholarFetcher.java
  src/main/resources/l10n/JabRef_en.properties
Labels: status: ready-for-review

#10359 Fix isbn fetcher returning misc
  CHANGELOG.md
  src/main/java/org/jabref/logic/importer/fetcher/GvkFetcher.java
  src/main/java/org/jabref/logic/importer/fetcher/isbntobibtex/IsbnFetcher.java
  src/main/java/org/jabref/logic/importer/fileformat/PicaXmlParser.java
  src/test/java/org/jabref/logic/importer/fetcher/isbntobibtex/GVKIsbnFetcherTest.java
Labels: status: ready-for-review

#10376 Adds LaTeX integrity check based on SnuggleTeX
  CHANGELOG.md
  build.gradle
  src/main/java/module-info.java
  src/main/java/org/jabref/logic/integrity/IntegrityCheck.java
  src/main/java/org/jabref/logic/integrity/LatexIntegrityChecker.java
  src/main/resources/l10n/JabRef_en.properties
  src/test/java/org/jabref/logic/integrity/LatexIntegrityCheckerTest.java
Labels: status: ready-for-review

#10377 Refine IntelliJ howto
  docs/getting-into-the-code/guidelines-for-setting-up-a-local-workspace/eclipse.md
  docs/getting-into-the-code/guidelines-for-setting-up-a-local-workspace/intellij-89-run-with-intellij.md
Labels: status: ready-for-review

#10135 Add LOBID fetcher
  CHANGELOG.md
  src/main/java/org/jabref/logic/importer/WebFetchers.java
  src/main/java/org/jabref/logic/importer/fetcher/LOBIDFetcher.java
  src/main/java/org/jabref/logic/importer/fetcher/transformers/LOBIDQueryTransformer.java
  src/test/java/org/jabref/gui/slr/ManageStudyDefinitionViewModelTest.java
  src/test/java/org/jabref/logic/importer/fetcher/LOBIDFetcherTest.java
Labels: status: ready-for-review, fetcher

#10385 Link to online documentation
  src/main/java/org/jabref/gui/actions/StandardActions.java
  src/main/java/org/jabref/gui/preferences/external/ExternalTab.fxml
  src/main/java/org/jabref/gui/preferences/external/ExternalTab.java
  src/main/java/org/jabref/logic/help/HelpFile.java
  src/main/resources/l10n/JabRef_en.properties
Labels: status: ready-for-review

#10401 Fix LaTeX evaluation for verbatim fields
  CHANGELOG.md
  src/main/java/org/jabref/gui/journals/UndoableUnabbreviator.java
  src/main/java/org/jabref/gui/maintable/MainTableColumnFactory.java
  src/main/java/org/jabref/logic/importer/fetcher/CrossRef.java
  src/main/java/org/jabref/logic/importer/fetcher/MrDLibFetcher.java
  src/main/java/org/jabref/logic/integrity/AbbreviationChecker.java
  src/main/java/org/jabref/logic/integrity/FieldChecker.java
  src/main/java/org/jabref/logic/integrity/HTMLCharacterChecker.java
  src/main/java/org/jabref/logic/integrity/IntegrityCheck.java
  src/main/java/org/jabref/logic/integrity/JournalInAbbreviationListChecker.java
  src/main/java/org/jabref/logic/integrity/LatexIntegrityChecker.java
  src/main/java/org/jabref/logic/integrity/ValueChecker.java
  src/main/java/org/jabref/logic/msbib/MSBibConverter.java
  src/main/java/org/jabref/logic/util/io/FileUtil.java
  src/main/java/org/jabref/model/entry/BibEntry.java
  src/main/java/org/jabref/model/entry/Keyword.java
  src/main/java/org/jabref/model/search/rules/ContainsBasedSearchRule.java
  src/main/java/org/jabref/model/search/rules/GrammarBasedSearchRule.java
  src/main/java/org/jabref/model/search/rules/RegexBasedSearchRule.java
  src/main/java/org/jabref/model/util/OptionalUtil.java
  src/test/java/org/jabref/logic/importer/fileformat/MrDLibImporterTest.java
Labels: status: ready-for-review, type: code-quality

#10405 Fix DOI parsing error
  src/main/java/org/jabref/gui/fieldeditors/contextmenu/EditorMenus.java
  src/main/java/org/jabref/gui/fieldeditors/identifier/IdentifierEditor.java
  src/main/java/org/jabref/model/entry/identifier/DOI.java
  src/test/java/org/jabref/model/entry/identifier/DOITest.java
Labels: status: ready-for-review

#10349 Add 'Get New Themes!' Button for Web Page Integration
  CHANGELOG.md
  src/main/java/org/jabref/gui/preferences/general/GeneralTab.fxml
  src/main/java/org/jabref/gui/preferences/general/GeneralTab.java
  src/main/java/org/jabref/gui/preferences/general/GeneralTabViewModel.java
  src/main/java/org/jabref/gui/theme/ThemeTypes.java
  src/main/resources/l10n/JabRef_en.properties
Labels: status: ready-for-review

#10402 Upload Windows binaries earlier
  .github/workflows/deployment-arm64.yml
  .github/workflows/deployment.yml
  .github/workflows/refresh-journal-lists.yml
  build.gradle
  src/main/java/org/jabref/cli/JournalListMvGenerator.java
Labels: status: ready-for-review

#10406 Build more on macOS at PRs from forks
  .github/workflows/deployment.yml
Labels: status: ready-for-review

#10408 Fix adding and removing selected entries to group context menu
  CHANGELOG.md
  src/main/java/org/jabref/gui/groups/GroupTreeView.java
  src/main/java/org/jabref/gui/util/ViewModelTreeTableRowFactory.java
Labels: status: ready-for-review

#10416 Fix fetcher worker execution on background thread
  src/main/java/org/jabref/gui/EntryTypeView.java
  src/main/java/org/jabref/gui/EntryTypeViewModel.java
Labels: status: ready-for-review

#10430 Show exception in cleanup error
  src/main/java/org/jabref/gui/cleanup/CleanupAction.java
Labels: cleanup-ops
