Repository JabRef/jabref, pull requests merged in 2023-03, with the labels that each got.

#9624 Add "Cleanup entry" in the entryeditor
  src/main/java/org/jabref/gui/cleanup/CleanupSingleAction.java
  src/main/java/org/jabref/gui/entryeditor/EntryEditor.fxml
  src/main/java/org/jabref/gui/entryeditor/EntryEditor.java
Labels: status: ready-for-review

#9650 Update Gradle Wrapper from 8.0.1 to 8.0.2
  gradle/wrapper/gradle-wrapper.properties
Labels: dependencies, gradle-wrapper

#9645 Improve the INSPIREFetcher in "Update with bibliographic information from the web"
  src/main/java/org/jabref/logic/importer/fetcher/INSPIREFetcher.java
  src/test/java/org/jabref/logic/importer/fetcher/INSPIREFetcherTest.java
Labels: status: ready-for-review

#9648 Issue 9646: Right-click context menu "Attach file from URL"
  CHANGELOG.md
  src/main/java/org/jabref/gui/actions/StandardActions.java
  src/main/java/org/jabref/gui/fieldeditors/LinkedFilesEditorViewModel.java
  src/main/java/org/jabref/gui/linkedfile/AttachFileFromURLAction.java
  src/main/java/org/jabref/gui/maintable/RightClickMenu.java
  src/main/resources/l10n/JabRef_en.properties
Labels: status: ready-for-review

#9619 Observable Preferences S
  src/main/java/org/jabref/gui/journals/AbbreviateAction.java
  src/main/java/org/jabref/gui/preferences/journals/JournalAbbreviationsTab.java
  src/main/java/org/jabref/gui/preferences/journals/JournalAbbreviationsTabViewModel.java
  src/main/java/org/jabref/logic/journals/JournalAbbreviationLoader.java
  src/main/java/org/jabref/logic/journals/JournalAbbreviationPreferences.java
  src/main/java/org/jabref/preferences/JabRefPreferences.java
  src/main/java/org/jabref/preferences/PreferencesService.java
  src/test/java/org/jabref/gui/preferences/journals/JournalAbbreviationsViewModelTabTest.java
Labels: type: code-quality, preferences

#9651 Fulltext fetcher for IACR eprints
  CHANGELOG.md
  src/main/java/org/jabref/logic/importer/WebFetchers.java
  src/main/java/org/jabref/logic/importer/fetcher/IacrEprintFetcher.java
  src/test/java/org/jabref/logic/importer/fetcher/IacrEprintFetcherTest.java
Labels: status: ready-for-review

#9601 Add option to open arks in the browser from an ark identifier
  src/main/java/org/jabref/gui/desktop/JabRefDesktop.java
  src/main/java/org/jabref/gui/fieldeditors/FieldEditors.java
  src/main/java/org/jabref/gui/fieldeditors/IdentifierEditorViewModel.java
  src/main/java/org/jabref/gui/fieldeditors/identifier/BaseIdentifierEditorViewModel.java
  src/main/java/org/jabref/gui/fieldeditors/identifier/DoiIdentifierEditorViewModel.java
  src/main/java/org/jabref/gui/fieldeditors/identifier/EprintIdentifierEditorViewModel.java
  src/main/java/org/jabref/gui/fieldeditors/identifier/ISBNIdentifierEditorViewModel.java
  src/main/java/org/jabref/gui/fieldeditors/identifier/IdentifierEditor.fxml
  src/main/java/org/jabref/gui/fieldeditors/identifier/IdentifierEditor.java
  src/main/java/org/jabref/gui/maintable/OpenUrlAction.java
  src/main/java/org/jabref/gui/maintable/SearchShortScienceAction.java
  src/main/java/org/jabref/gui/maintable/columns/LinkedIdentifierColumn.java
  src/main/java/org/jabref/logic/importer/util/IdentifierParser.java
  src/main/java/org/jabref/model/entry/identifier/ARK.java
  src/main/java/org/jabref/model/entry/identifier/ArXivIdentifier.java
  src/main/java/org/jabref/model/entry/identifier/EprintIdentifier.java
  src/main/resources/l10n/JabRef_en.properties
  src/test/java/org/jabref/gui/fieldeditors/IdentifierEditorViewModelTest.java
Labels: status: ready-for-review

#9672 Fixes typos
  build.gradle
  src/main/java/org/jabref/gui/autocompleter/AutoCompletionTextInputBinding.java
  src/main/java/org/jabref/logic/exporter/EmbeddedBibFilePdfExporter.java
  src/main/java/org/jabref/logic/xmp/XmpUtilWriter.java
Labels: type: code-quality

#9669 Fix Doaj Fetcher
  src/test/java/org/jabref/logic/importer/fetcher/DOAJFetcherTest.java
  src/test/java/org/jabref/logic/importer/fetcher/LibraryOfCongressTest.java
Labels: status: ready-for-review

#9671 [Bot] Update CSL styles
  buildres/csl/csl-styles/arkivoc.csl
  buildres/csl/csl-styles/bibliothek-forschung-und-praxis.csl
  buildres/csl/csl-styles/bio-protocol.csl
  buildres/csl/csl-styles/guide-des-citations-references-et-abreviations-juridiques.csl
  buildres/csl/csl-styles/knee-surgery-sports-traumatology-arthroscopy.csl
  buildres/csl/csl-styles/raptor-journal.csl
  buildres/csl/csl-styles/sodertorns-hogskola-oxford.csl
  buildres/csl/csl-styles/the-university-of-winchester-harvard.csl
  buildres/csl/csl-styles/universite-du-quebec-a-montreal.csl
Labels: dependencies

#9673 Rewrite code of MedlineImporter
  CHANGELOG.md
  build.gradle
  src/main/java/org/jabref/logic/importer/fileformat/MedlineImporter.java
  src/main/java/org/jabref/logic/importer/fileformat/medline/ArticleId.java
  src/main/java/org/jabref/logic/importer/fileformat/medline/Investigator.java
  src/main/java/org/jabref/logic/importer/fileformat/medline/MeshHeading.java
  src/main/java/org/jabref/logic/importer/fileformat/medline/OtherId.java
  src/main/java/org/jabref/logic/importer/fileformat/medline/PersonalNameSubject.java
  src/main/resources/xjc/medline/medline.xsd
  src/test/resources/org/jabref/logic/importer/fileformat/MedlineImporterTestArticleItalics.bib
  src/test/resources/org/jabref/logic/importer/fileformat/MedlineImporterTestArticleItalics.xml
  src/test/resources/org/jabref/logic/importer/fileformat/MedlineImporterTestNbib.bib
Labels: type: code-quality, import

#9679 JabRef writes a new backup file only if there is a change.
  CHANGELOG.md
  src/main/java/org/jabref/logic/autosaveandbackup/BackupManager.java
Labels: status: ready-for-review

#9676 Streamline AppDirs paths
  CHANGELOG.md
  src/main/java/org/jabref/cli/Launcher.java
  src/main/java/org/jabref/gui/backup/BackupResolverDialog.java
  src/main/java/org/jabref/gui/dialogs/BackupUIManager.java
  src/main/java/org/jabref/logic/autosaveandbackup/BackupManager.java
  src/main/java/org/jabref/logic/util/OS.java
  src/main/java/org/jabref/logic/util/io/BackupFileUtil.java
  src/main/java/org/jabref/preferences/JabRefPreferences.java
Labels: backup

#9684 Remove bibtexml.xsd
  build.gradle
  src/main/resources/xjc/bibtexml/bibtexml.xsd
Labels: type: code-quality

#9678 Change log level for non-found files during PDF indexing
  CHANGELOG.md
  docs/code-howtos/logging.md
  src/main/java/org/jabref/cli/Launcher.java
  src/main/java/org/jabref/logic/pdf/search/indexing/PdfIndexer.java
  src/main/java/org/jabref/model/database/BibDatabaseContext.java
  src/main/resources/tinylog.properties
Labels: status: ready-for-review, type: code-quality

#9677 Fix parsing of backslashes at the end of field content
  CHANGELOG.md
  src/main/java/org/jabref/gui/ClipBoardManager.java
  src/main/java/org/jabref/gui/externalfiles/ImportHandler.java
  src/main/java/org/jabref/gui/maintable/MainTable.java
  src/main/java/org/jabref/logic/importer/fileformat/BibtexParser.java
  src/test/java/org/jabref/gui/externalfiles/ImportHandlerTest.java
  src/test/java/org/jabref/logic/bibtex/BibEntryWriterTest.java
  src/test/java/org/jabref/logic/importer/fileformat/BibtexParserTest.java
Labels: status: ready-for-review, import

#9647 Record search history
  CHANGELOG.md
  src/main/java/org/jabref/gui/StateManager.java
  src/main/java/org/jabref/gui/edit/EditAction.java
  src/main/java/org/jabref/gui/search/GlobalSearchBar.java
  src/main/java/org/jabref/gui/search/SearchFieldRightClickMenu.java
  src/main/resources/l10n/JabRef_en.properties
  src/test/java/org/jabref/gui/search/GetLastSearchHistoryTest.java
Labels: status: ready-for-review, search

#9686 Adding text formatting for hits
  CHANGELOG.md
  src/main/java/org/jabref/gui/groups/GroupTree.css
  src/main/java/org/jabref/gui/groups/GroupTreeView.java
Labels: ui, groups

#9709 Fix updating of group numbers
  src/main/java/org/jabref/gui/groups/GroupTreeView.java
Labels: status: ready-for-review, groups

#9652 Protect proxy password by not storing it between sessions
  CHANGELOG.md
  src/main/java/org/jabref/gui/DialogService.java
  src/main/java/org/jabref/gui/JabRefDialogService.java
  src/main/java/org/jabref/gui/JabRefGUI.java
  src/main/java/org/jabref/preferences/JabRefPreferences.java
  src/main/resources/l10n/JabRef_en.properties
  src/test/java/org/jabref/logic/net/ProxyTest.java
Labels: status: waiting-for-feedback, preferences

#9675 Always delete the `.sav` file upon successful write
  CHANGELOG.md
  src/main/java/org/jabref/logic/exporter/AtomicFileOutputStream.java
  src/main/java/org/jabref/logic/exporter/SavePreferences.java
Labels: status: ready-for-review, export / save

#9718 Global Search UI preview is dark in dark theme when no entry is shown
  CHANGELOG.md
  src/main/java/org/jabref/gui/preview/PreviewViewer.java
  src/main/java/org/jabref/gui/search/GlobalSearchResultDialog.java
Labels: status: ready-for-review
