Repository JabRef/jabref, pull requests merged in 2023-01, with the labels that each got.

#9456 Create a better solution for define multi line fields
  CHANGELOG.md
  src/main/java/org/jabref/gui/Base.css
  src/main/java/org/jabref/gui/customentrytypes/CustomEntryTypeDialogViewModel.java
  src/main/java/org/jabref/gui/customentrytypes/CustomEntryTypeViewModel.java
  src/main/java/org/jabref/gui/customentrytypes/CustomizeEntryTypeDialog.fxml
  src/main/java/org/jabref/gui/customentrytypes/CustomizeEntryTypeDialogView.java
  src/main/java/org/jabref/gui/customentrytypes/EntryTypeViewModel.java
  src/main/java/org/jabref/gui/customentrytypes/FieldViewModel.java
  src/main/java/org/jabref/model/entry/field/AMSField.java
  src/main/java/org/jabref/model/entry/field/BiblatexApaField.java
  src/main/java/org/jabref/model/entry/field/BiblatexSoftwareField.java
  src/main/java/org/jabref/model/entry/field/Field.java
  src/main/java/org/jabref/model/entry/field/FieldFactory.java
  src/main/java/org/jabref/model/entry/field/FieldProperty.java
  src/main/java/org/jabref/model/entry/field/IEEEField.java
  src/main/java/org/jabref/model/entry/field/InternalField.java
  src/main/java/org/jabref/model/entry/field/StandardField.java
  src/main/resources/l10n/JabRef_en.properties
  src/test/java/org/jabref/gui/exporter/SaveDatabaseActionTest.java
Labels: status: ready-for-review, entry-editor

#9511 Remove journal_abbreviations_ieee_strings.csv from journal lists
  .github/workflows/refresh-journal-lists.yml
  CHANGELOG.md
Labels: status: ready-for-review

#9519 Fix downloading in case of circular redirect
  CHANGELOG.md
  src/main/java/org/jabref/gui/fieldeditors/LinkedFileViewModel.java
  src/main/java/org/jabref/logic/net/URLDownload.java
Labels: status: ready-for-review

#9522 Fix not on fx thread error when downloading file
  CHANGELOG.md
  build.gradle
  src/main/java/org/jabref/gui/fieldeditors/LinkedFileViewModel.java
  src/main/java/org/jabref/gui/fieldeditors/LinkedFilesEditorViewModel.java
Labels: status: ready-for-review

#9526 Delete snap.yml
  .github/workflows/snap.yml
Labels: build-system, os: snap

#9529 Release v5.9 preparation - set "GitVersion" explicitely
  .github/workflows/deployment-arm64.yml
  .github/workflows/deployment.yml
Labels: status: ready-for-review

#9543 [Bot] Update CSL styles
  buildres/csl/csl-styles/dependent/molecular-ecology.csl
  buildres/csl/csl-styles/frontiers.csl
  buildres/csl/csl-styles/indian-journal-of-orthopaedics.csl
Labels: dependencies

#9535 Observable Preferences T (NameDisplayPreferences, MainTablePreferences, ColumnPreferences)
  src/main/java/org/jabref/gui/maintable/AbstractPersistenceVisualStateTable.java
  src/main/java/org/jabref/gui/maintable/ColumnPreferences.java
  src/main/java/org/jabref/gui/maintable/MainTable.java
  src/main/java/org/jabref/gui/maintable/MainTableDataModel.java
  src/main/java/org/jabref/gui/maintable/MainTableFieldValueFormatter.java
  src/main/java/org/jabref/gui/maintable/MainTableNameFormatPreferences.java
  src/main/java/org/jabref/gui/maintable/MainTablePreferences.java
  src/main/java/org/jabref/gui/maintable/NameDisplayPreferences.java
  src/main/java/org/jabref/gui/maintable/PersistenceVisualStateTable.java
  src/main/java/org/jabref/gui/preferences/PreferencesDialogViewModel.java
  src/main/java/org/jabref/gui/preferences/table/TableTabViewModel.java
  src/main/java/org/jabref/gui/search/SearchResultsTable.java
  src/main/java/org/jabref/gui/search/SearchResultsTableDataModel.java
  src/main/java/org/jabref/gui/search/SearchResultsTablePersistenceVisualState.java
  src/main/java/org/jabref/preferences/JabRefPreferences.java
  src/main/java/org/jabref/preferences/PreferencesService.java
Labels: status: ready-for-review, type: code-quality, preferences

#9546 Changed the color of light-color-text and highlighted text in …
  CHANGELOG.md
  src/main/java/org/jabref/gui/Dark.css
Labels: status: ready-for-review

#9561 [Bot] Update CSL styles
  buildres/csl/csl-styles/environmental-conservation.csl
  buildres/csl/csl-styles/gaceta-sanitaria.csl
  buildres/csl/csl-styles/journal-of-prosthodontics.csl
  buildres/csl/csl-styles/renamed-styles.json
  buildres/csl/csl-styles/world-politics.csl
Labels: dependencies

#9541 Detect more cases of an entry modified in the external changes resolver dialog
  src/main/java/org/jabref/logic/bibtex/comparator/BibDatabaseDiff.java
  src/test/java/org/jabref/logic/bibtex/comparator/BibDatabaseDiffTest.java
Labels: status: ready-for-review, export / save, duplicateFinder

#9568 Sort unique library suffix by length
  CHANGELOG.md
  src/main/java/org/jabref/logic/util/io/FileUtil.java
  src/test/java/org/jabref/logic/util/io/FileUtilTest.java
Labels: status: ready-for-review

#9572 Fix doab fetcher
  CHANGELOG.md
  src/main/java/org/jabref/logic/importer/fetcher/DOABFetcher.java
Labels: status: ready-for-review

#9574 remove filter that consumes mouse rightclick
  CHANGELOG.md
  src/main/java/org/jabref/gui/groups/GroupTreeView.java
Labels: status: ready-for-review, groups

#9570 open office csv format correction for abstract column
  CHANGELOG.md
  src/main/java/org/jabref/logic/layout/LayoutEntry.java
  src/main/java/org/jabref/logic/layout/format/ReplaceWithEscapedDoubleQuotes.java
  src/main/resources/resource/layout/openoffice/openoffice-csv.layout
  src/test/java/org/jabref/logic/formatter/bibtexfields/ReplaceWithEscapedDoubleQuotesTest.java
Labels: status: ready-for-review, openoffice/libreoffice, export / save

#9580 Fixed ADS tests
  src/test/java/org/jabref/logic/importer/fetcher/AstrophysicsDataSystemTest.java
Labels: fetcher
