Repository JabRef/jabref, pull requests merged in 2023-07, with the labels that each got.

#10043 GUI: Replace "Close" by "Close library"
  CHANGELOG.md
  src/main/java/org/jabref/gui/JabRefFrame.java
  src/main/java/org/jabref/gui/actions/StandardActions.java
  src/main/resources/l10n/JabRef_en.properties
Labels: ui

#10046 Replaced abandoned JFoenix controls
  CHANGELOG.md
  build.gradle
  docs/code-howtos/javafx.md
  eclipse.gradle
  external-libraries.md
  src/main/java/module-info.java
  src/main/java/org/jabref/gui/Base.css
  src/main/java/org/jabref/gui/documentviewer/PdfDocumentPageViewModel.java
  src/main/java/org/jabref/gui/fieldeditors/LinkedEntriesEditor.fxml
  src/main/java/org/jabref/gui/fieldeditors/LinkedEntriesEditor.java
  src/main/java/org/jabref/gui/icon/IconTheme.java
  src/test/java/org/jabref/testutils/interactive/styletester/StyleTester.fxml
Labels: ui, status: ready-for-review, entry-editor

#10044 Store proxy password and apikeys in native OS credential store
  CHANGELOG.md
  build.gradle
  src/main/java/module-info.java
  src/main/java/org/jabref/gui/JabRefGUI.java
  src/main/java/org/jabref/gui/preferences/general/GeneralTab.fxml
  src/main/java/org/jabref/gui/preferences/network/NetworkTab.fxml
  src/main/java/org/jabref/gui/preferences/network/NetworkTab.java
  src/main/java/org/jabref/gui/preferences/network/NetworkTabViewModel.java
  src/main/java/org/jabref/logic/net/ProxyPreferences.java
  src/main/java/org/jabref/migrations/PreferencesMigrations.java
  src/main/java/org/jabref/preferences/JabRefPreferences.java
  src/main/resources/l10n/JabRef_en.properties
  src/test/java/org/jabref/logic/net/ProxyTest.java
  src/test/java/org/jabref/migrations/PreferencesMigrationsTest.java
Labels: status: ready-for-review, preferences

#10054 Update Gradle Wrapper from 8.1.1 to 8.2
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
Labels: dependencies, gradle-wrapper

#9882 Reworking fetcher, parser for CiteSeer
  src/main/java/org/jabref/logic/importer/WebFetchers.java
  src/main/java/org/jabref/logic/importer/fetcher/CiteSeer.java
  src/main/java/org/jabref/logic/importer/fetcher/transformers/CiteSeerQueryTransformer.java
  src/main/java/org/jabref/logic/importer/fileformat/CiteSeerParser.java
  src/test/java/org/jabref/gui/slr/ManageStudyDefinitionViewModelTest.java
  src/test/java/org/jabref/logic/importer/WebFetchersTest.java
  src/test/java/org/jabref/logic/importer/fetcher/CiteSeerTest.java
  src/test/java/org/jabref/logic/importer/fetcher/transformers/CiteSeerQueryTransformerTest.java
Labels: fetcher, status: changes required

#10083 Fix order of string in editor
  CHANGELOG.md
  src/main/java/org/jabref/gui/libraryproperties/constants/ConstantsPropertiesView.java
  src/main/java/org/jabref/gui/libraryproperties/constants/ConstantsPropertiesViewModel.java
  src/test/java/org/jabref/gui/libraryproperties/constants/ConstantsPropertiesViewModelTest.java
Labels: status: ready-for-review

#10085 Fix spacing in Cleanup dialog #10081
  CHANGELOG.md
  src/main/java/org/jabref/gui/cleanup/CleanupPresetPanel.fxml
Labels: ui, cleanup-ops, status: ready-for-review

#10128 Fix window pos not remembered
  CHANGELOG.md
  src/main/java/org/jabref/gui/JabRefGUI.java
  src/main/java/org/jabref/preferences/GuiPreferences.java
  src/main/java/org/jabref/preferences/JabRefPreferences.java
Labels: os: macOS, status: ready-for-review

#10104 Add sublime text editor as external push application
  CHANGELOG.md
  src/main/java/org/jabref/gui/icon/IconTheme.java
  src/main/java/org/jabref/gui/icon/JabRefMaterialDesignIcon.java
  src/main/java/org/jabref/gui/preferences/external/ExternalTabViewModel.java
  src/main/java/org/jabref/gui/push/AbstractPushToApplication.java
  src/main/java/org/jabref/gui/push/PushToApplicationCommand.java
  src/main/java/org/jabref/gui/push/PushToApplications.java
  src/main/java/org/jabref/gui/push/PushToSublimeText.java
  src/main/java/org/jabref/preferences/JabRefPreferences.java
  src/main/resources/fonts/JabRefMaterialDesign.ttf
  src/main/resources/images/Icons.properties
  src/main/resources/images/external/arxiv_32.png
  src/main/resources/images/external/emacs.png
  src/main/resources/images/external/lyx2.png
  src/main/resources/images/external/mdl-icon.png
  src/main/resources/images/external/mdlListIcon.png
  src/main/resources/images/external/mdlloading.gif
  src/main/resources/images/external/openoffice.png
  src/main/resources/images/external/texmaker.png
  src/main/resources/images/external/texstudio.png
  src/main/resources/images/external/vim.png
  src/main/resources/images/external/winedt.png
  src/main/resources/images/external/wwwciteseer.png
Labels: status: ready-for-review

#10111 Fixing unwanted tree group node expansion selection bug
  CHANGELOG.md
  src/main/java/org/jabref/gui/groups/GroupTreeView.java
  src/main/java/org/jabref/gui/util/ViewModelTreeTableRowFactory.java
Labels: status: ready-for-review
