Repository JabRef/jabref, pull requests merged in 2024-07, with the labels that each got.

#11450 Increase height of preferences dialog
  src/main/java/org/jabref/gui/preferences/PreferencesDialog.fxml
  src/main/java/org/jabref/gui/preferences/PreferencesDialogView.java
Labels: ui, preferences

#11421 Fix ctrl z textfield
  CHANGELOG.md
  src/main/java/org/jabref/gui/JabRefDialogService.java
  src/main/java/org/jabref/gui/LibraryTab.java
  src/main/java/org/jabref/gui/actions/ActionHelper.java
  src/main/java/org/jabref/gui/entryeditor/CommentsTab.java
  src/main/java/org/jabref/gui/entryeditor/DeprecatedFieldsTab.java
  src/main/java/org/jabref/gui/entryeditor/DetailOptionalFieldsTab.java
  src/main/java/org/jabref/gui/entryeditor/EntryEditor.java
  src/main/java/org/jabref/gui/entryeditor/FieldsEditorTab.java
  src/main/java/org/jabref/gui/entryeditor/ImportantOptionalFieldsTab.java
  src/main/java/org/jabref/gui/entryeditor/OptionalFieldsTabBase.java
  src/main/java/org/jabref/gui/entryeditor/OtherFieldsTab.java
  src/main/java/org/jabref/gui/entryeditor/RequiredFieldsTab.java
  src/main/java/org/jabref/gui/entryeditor/UserDefinedFieldsTab.java
  src/main/java/org/jabref/gui/fieldeditors/CitationKeyEditor.java
  src/main/java/org/jabref/gui/fieldeditors/DateEditor.java
  src/main/java/org/jabref/gui/fieldeditors/FieldEditorFX.java
  src/main/java/org/jabref/gui/fieldeditors/FieldEditors.java
  src/main/java/org/jabref/gui/fieldeditors/GroupEditor.java
  src/main/java/org/jabref/gui/fieldeditors/ISSNEditor.java
  src/main/java/org/jabref/gui/fieldeditors/JournalEditor.java
  src/main/java/org/jabref/gui/fieldeditors/MarkdownEditor.java
  src/main/java/org/jabref/gui/fieldeditors/OwnerEditor.java
  src/main/java/org/jabref/gui/fieldeditors/PersonsEditor.java
  src/main/java/org/jabref/gui/fieldeditors/SimpleEditor.java
  src/main/java/org/jabref/gui/fieldeditors/UrlEditor.java
  src/main/java/org/jabref/gui/frame/JabRefFrame.java
  src/main/java/org/jabref/gui/frame/MainMenu.java
  src/main/java/org/jabref/gui/frame/MainToolBar.java
  src/main/java/org/jabref/gui/keyboard/KeyBindingRepository.java
  src/main/java/org/jabref/gui/undo/CountingUndoManager.java
  src/main/java/org/jabref/gui/undo/RedoAction.java
  src/main/java/org/jabref/gui/undo/UndoAction.java
  src/main/java/org/jabref/gui/undo/UndoRedoAction.java
  src/main/java/org/jabref/logic/undo/AddUndoableActionEvent.java
  src/main/java/org/jabref/logic/undo/UndoChangeEvent.java
  src/main/java/org/jabref/logic/undo/UndoRedoEvent.java
  src/main/java/org/jabref/model/entry/field/FieldProperty.java
  src/test/java/org/jabref/gui/entryeditor/CommentsTabTest.java
Labels: status: devcall

#11463 REmove message when opening cleanup entries
  CHANGELOG.md
  src/main/java/org/jabref/gui/cleanup/CleanupAction.java
  src/main/resources/l10n/JabRef_en.properties
Labels: status: ready-for-review

#11453 Auto-Focus Group on Creation
  CHANGELOG.md
  src/main/java/org/jabref/gui/groups/GroupTreeView.java
  src/main/java/org/jabref/gui/groups/GroupTreeViewModel.java
Labels: status: ready-for-review

#11473 Fix launcher
  CHANGELOG.md
  snap/local/JabRef-launcher
Labels: os: snap

#11474 fix macos image name
  .github/workflows/deployment.yml
  CHANGELOG.md
Labels: status: ready-for-review

#11478 Fix detection of soffice.exe
  CHANGELOG.md
  src/main/java/org/jabref/gui/openoffice/DetectOpenOfficeInstallation.java
  src/main/java/org/jabref/gui/openoffice/OpenOfficePanel.java
  src/main/java/org/jabref/logic/openoffice/OpenOfficeFileSearch.java
  src/main/java/org/jabref/logic/openoffice/OpenOfficePreferences.java
Labels: os: windows, openoffice/libreoffice

#11470 Initial Vagrant config
  scripts/vms/.gitignore
  scripts/vms/README.md
  scripts/vms/fedora/Vagrantfile
  scripts/vms/ubuntu/Vagrantfile
Labels: os: linux, type: documentation, os: snap

#11480 Fix tinylog
  docs/decisions/0004-use-mariadb-connector.md
  src/main/resources/tinylog.properties
Labels: status: ready-for-review

#11481 Fix preferences selection error
  CHANGELOG.md
  src/main/java/org/jabref/gui/preferences/websearch/WebSearchTab.java
Labels: status: ready-for-review

#11494 Update Gradle Wrapper from 8.8 to 8.9
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
Labels: dependencies, gradle-wrapper

#11477 CSL4LibreOffice - A [GSoC '24]
  CHANGELOG.md
  docs/decisions/0031-use-current-tab-for-deciding-style-type-for-oo.md
  src/main/java/org/jabref/gui/openoffice/OOBibBase.java
  src/main/java/org/jabref/gui/openoffice/OpenOfficePanel.java
  src/main/java/org/jabref/gui/openoffice/StyleSelectDialog.fxml
  src/main/java/org/jabref/gui/openoffice/StyleSelectDialogView.java
  src/main/java/org/jabref/gui/openoffice/StyleSelectDialogViewModel.java
  src/main/java/org/jabref/logic/citationstyle/CSLAdapter.java
  src/main/java/org/jabref/logic/citationstyle/CitationStyleGenerator.java
  src/main/java/org/jabref/logic/citationstyle/CitationStylePreviewLayout.java
  src/main/java/org/jabref/logic/formatter/bibtexfields/HtmlToUnicodeFormatter.java
  src/main/java/org/jabref/logic/openoffice/action/Update.java
  src/main/java/org/jabref/logic/openoffice/frontend/UpdateBibliography.java
  src/main/java/org/jabref/logic/openoffice/oocsltext/CSLCitationOOAdapter.java
  src/main/resources/l10n/JabRef_en.properties
  src/test/java/org/jabref/logic/citationstyle/CitationStyleGeneratorTest.java
  src/test/java/org/jabref/logic/citationstyle/CitationStyleTest.java
Labels: openoffice/libreoffice, project: GSoC

#11493 Save unlinked local files dialog prefs
  CHANGELOG.md
  src/main/java/org/jabref/gui/externalfiles/DateRange.java
  src/main/java/org/jabref/gui/externalfiles/ExternalFileSorter.java
  src/main/java/org/jabref/gui/externalfiles/FileExtensionViewModel.java
  src/main/java/org/jabref/gui/externalfiles/UnlinkedFilesDialogView.java
  src/main/java/org/jabref/preferences/JabRefPreferences.java
  src/main/java/org/jabref/preferences/PreferencesService.java
  src/main/java/org/jabref/preferences/UnlinkedFilesDialogPreferences.java
Labels: status: ready-for-review

#11513 import PMID field in Pubmed
  CHANGELOG.md
  src/main/java/org/jabref/logic/importer/fileformat/MedlinePlainImporter.java
  src/test/java/org/jabref/logic/importer/fileformat/MedlinePlainImporterTest.java
  src/test/resources/org/jabref/logic/importer/fileformat/MedlinePlainImporterStringOutOfBounds.bib
  src/test/resources/org/jabref/logic/importer/fileformat/MedlinePlainImporterTestCompleteEntry.bib
  src/test/resources/org/jabref/logic/importer/fileformat/MedlinePlainImporterTestDOI.bib
  src/test/resources/org/jabref/logic/importer/fileformat/MedlinePlainImporterTestInproceeding.bib
  src/test/resources/org/jabref/logic/importer/fileformat/NbibImporterTest.bib
Labels: status: ready-for-review

#11519 Always show star for local unsaved library
  CHANGELOG.md
  src/main/java/org/jabref/gui/LibraryTab.java
Labels: status: ready-for-review

#11521 CSL4LibreOffice - B [GSoC '24]
  src/main/java/org/jabref/gui/openoffice/OOBibBase.java
  src/main/java/org/jabref/gui/openoffice/OpenOfficePanel.java
  src/main/java/org/jabref/gui/openoffice/StyleSelectDialog.fxml
  src/main/java/org/jabref/gui/openoffice/StyleSelectDialogView.java
  src/main/java/org/jabref/gui/openoffice/StyleSelectDialogViewModel.java
  src/main/java/org/jabref/gui/openoffice/StyleSelectItemViewModel.java
  src/main/java/org/jabref/logic/citationstyle/CitationStyle.java
  src/main/java/org/jabref/logic/citationstyle/CitationStyleGenerator.java
  src/main/java/org/jabref/logic/citationstyle/CitationStylePreviewLayout.java
  src/main/java/org/jabref/logic/openoffice/OpenOfficePreferences.java
  src/main/java/org/jabref/logic/openoffice/action/EditInsert.java
  src/main/java/org/jabref/logic/openoffice/action/EditMerge.java
  src/main/java/org/jabref/logic/openoffice/action/EditSeparate.java
  src/main/java/org/jabref/logic/openoffice/action/Update.java
  src/main/java/org/jabref/logic/openoffice/frontend/UpdateBibliography.java
  src/main/java/org/jabref/logic/openoffice/frontend/UpdateCitationMarkers.java
  src/main/java/org/jabref/logic/openoffice/oocsltext/CSLCitationOOAdapter.java
  src/main/java/org/jabref/logic/openoffice/style/JStyle.java
  src/main/java/org/jabref/logic/openoffice/style/JStyleGetCitationMarker.java
  src/main/java/org/jabref/logic/openoffice/style/JStyleGetNumCitationMarker.java
  src/main/java/org/jabref/logic/openoffice/style/OOFormatBibliography.java
  src/main/java/org/jabref/logic/openoffice/style/OOProcess.java
  src/main/java/org/jabref/logic/openoffice/style/OOProcessAuthorYearMarkers.java
  src/main/java/org/jabref/logic/openoffice/style/OOProcessCitationKeyMarkers.java
  src/main/java/org/jabref/logic/openoffice/style/OOProcessNumericMarkers.java
  src/main/java/org/jabref/logic/openoffice/style/OOStyle.java
  src/main/java/org/jabref/logic/openoffice/style/StyleLoader.java
  src/main/java/org/jabref/preferences/JabRefPreferences.java
  src/test/java/org/jabref/logic/openoffice/style/JStyleTest.java
  src/test/java/org/jabref/logic/openoffice/style/OOBibStyleTestHelper.java
  src/test/java/org/jabref/logic/openoffice/style/StyleLoaderTest.java
Labels: type: feature, openoffice/libreoffice, type: code-quality, project: GSoC

#11536 Patch: NullPointerException when accessing (absent) default CSL style file
  src/main/java/org/jabref/logic/citationstyle/CitationStyle.java
Labels: bug, submodules

#11541 Fix rewriteRun recipe
  rewrite.yml
Labels: bug, build-system

#11550 change to jabref easybding
  build.gradle
Labels: status: ready-for-review

#11535 Make CSL Citation Adapter non-static
  src/main/java/org/jabref/gui/openoffice/OOBibBase.java
  src/main/java/org/jabref/gui/openoffice/OpenOfficePanel.java
  src/main/java/org/jabref/logic/openoffice/oocsltext/CSLCitationOOAdapter.java
Labels: type: code-quality

#11553 Fix find unlinked files
  src/main/java/org/jabref/gui/externalfiles/UnlinkedFilesDialogView.java
  src/main/java/org/jabref/preferences/JabRefPreferences.java
Labels: status: ready-for-review
