Repository JabRef/jabref, pull requests merged in 2024-10, with the labels that each got.

#11873 Add fetcher test info to developer documentation
  docs/code-howtos/faq.md
  docs/code-howtos/fetchers.md
  docs/code-howtos/testing.md
Labels: type: documentation, fetcher, tests

#11847 Add a "view as BibTeX" option before importing an entry from the cita…
  CHANGELOG.md
  src/main/java/org/jabref/gui/entryeditor/EntryEditor.java
  src/main/java/org/jabref/gui/entryeditor/citationrelationtab/CitationRelationsTab.java
Labels: status: ready-for-review

#11881 migrate maintable.css to base css
  CHANGELOG.md
  src/main/java/org/jabref/gui/Base.css
  src/main/java/org/jabref/gui/maintable/MainTable.css
  src/main/java/org/jabref/gui/maintable/MainTable.java
  src/main/java/org/jabref/gui/search/SearchResultsTable.java
Labels: status: ready-for-review

#11882 Remove changelog entry
  CHANGELOG.md
Labels: type: documentation

#11914 Refine howto for HTTP Server
  docs/code-howtos/http-server.md
Labels: type: documentation

#11913 Fix typos and JavaDoc reference
  src/main/java/org/jabref/logic/quality/consistency/BibliographyConsistencyCheck.java
Labels: status: ready-for-review

#11946 Add small text on BibTeX handling
  docs/code-howtos/bibtex.md
Labels: type: documentation

#11954 Replace new instantiation of BuildInfo with calls to Injector
  docs/code-howtos/fetchers.md
  src/main/java/org/jabref/Launcher.java
  src/main/java/org/jabref/gui/entryeditor/citationrelationtab/semanticscholar/SemanticScholarFetcher.java
  src/main/java/org/jabref/logic/importer/ImporterPreferences.java
  src/main/java/org/jabref/logic/importer/fetcher/AstrophysicsDataSystem.java
  src/main/java/org/jabref/logic/importer/fetcher/BiodiversityLibrary.java
  src/main/java/org/jabref/logic/importer/fetcher/IEEE.java
  src/main/java/org/jabref/logic/importer/fetcher/ScienceDirect.java
  src/main/java/org/jabref/logic/importer/fetcher/SpringerFetcher.java
  src/main/java/org/jabref/logic/importer/fetcher/SpringerLink.java
  src/main/java/org/jabref/logic/preferences/JabRefCliPreferences.java
  src/main/java/org/jabref/logic/util/BuildInfo.java
  src/main/java/org/jabref/logic/util/Directories.java
  src/test/java/org/jabref/logic/importer/fetcher/BiodiversityLibraryTest.java
  src/test/java/org/jabref/logic/util/BuildInfoTest.java
Labels: status: ready-for-review, type: code-quality

#11908 Renaming a file should re-add the extension if missing 11903
  CHANGELOG.md
  src/main/java/org/jabref/logic/externalfiles/LinkedFileHandler.java
  src/test/java/org/jabref/logic/externalfiles/LinkedFileHandlerTest.java
Labels: status: ready-for-review

#11974 fix not on fx thread on cleanup with undo redo binding
  src/main/java/org/jabref/gui/undo/CountingUndoManager.java
Labels: status: ready-for-review

#11978 Add links to our setup guideline.
  CONTRIBUTING.md
Labels: automerge

#11981 Fix typo
  docs/getting-into-the-code/guidelines-for-setting-up-a-local-workspace/intellij-12-build.md
Labels: automerge

#11967 Fix handling of escapings in bracketed patterns
  CHANGELOG.md
  src/main/java/org/jabref/logic/citationkeypattern/BracketedPattern.java
  src/main/java/org/jabref/logic/formatter/bibtexfields/RegexFormatter.java
  src/test/java/org/jabref/logic/citationkeypattern/BracketedPatternTest.java
  src/test/java/org/jabref/logic/citationkeypattern/MakeLabelWithDatabaseTest.java
  src/test/java/org/jabref/logic/citationkeypattern/MakeLabelWithoutDatabaseTest.java
  src/test/java/org/jabref/logic/formatter/bibtexfields/RegexFormatterTest.java
Labels: automerge

#11985 Adds test PDF
  src/test/resources/pdfs/test-doi.docx
  src/test/resources/pdfs/test-doi.pdf
Labels: automerge

#11993 Streamline text of DownloadFullTextAction
  src/main/java/org/jabref/gui/externalfiles/DownloadFullTextAction.java
  src/main/resources/l10n/JabRef_en.properties
Labels: automerge

#11994 Streamline code of org.jabref.logic.util.io.CitationKeyBasedFileFinde…
  src/main/java/org/jabref/logic/util/io/CitationKeyBasedFileFinder.java
Labels: automerge

#11995 Fix link in CONTRIBUTING.md
  CONTRIBUTING.md
Labels: automerge

#12002 Fix typo
  CHANGELOG.md
Labels: automerge

#12008 Ignore rsync errors on uploading
  .github/workflows/deployment-arm64.yml
  .github/workflows/deployment-jdk-ea.yml
  .github/workflows/deployment.yml
Labels: automerge

#12006 Update 0011-test-external-links-in-documentation.md
  docs/decisions/0011-test-external-links-in-documentation.md
Labels: automerge

#12012 Update takanome-dev/assign-issue-action to beta
  .github/workflows/assign-issue.yml
  .github/workflows/on-labeled-issue.yml
  .github/workflows/on-unlabeled-issue.yml
Labels: automerge

#12019 Fix removing comments
  .github/workflows/cleanup-pr.yml
  .github/workflows/deployment.yml
Labels: automerge

#12014 "Converted test cases in FileNameCleanerTest to use @CsvSource for im…
  src/test/java/org/jabref/logic/util/FileNameCleanerTest.java
Labels: status: changes required

#12030 Add some links into the code
  src/main/java/org/jabref/gui/mergeentries/FetchAndMergeEntry.java
  src/main/java/org/jabref/logic/importer/CompositeIdFetcher.java
Labels: automerge

#12055 Replace `@deprecated` by explaining text
  src/main/java/org/jabref/gui/preferences/JabRefGuiPreferences.java
  src/main/java/org/jabref/logic/bibtex/InvalidFieldValueException.java
  src/main/java/org/jabref/logic/preferences/JabRefCliPreferences.java
Labels: type: code-quality

#12056 Readd `@deprecated` annotation
  src/main/java/org/jabref/gui/preferences/JabRefGuiPreferences.java
  src/main/java/org/jabref/logic/bibtex/InvalidFieldValueException.java
  src/main/java/org/jabref/logic/preferences/JabRefCliPreferences.java
Labels: type: code-quality

#12064 Fix link to contribution guide
  .github/workflows/tests.yml
Labels: status: ready-for-review

#12001 Fix moving of file into library
  CHANGELOG.md
  src/main/java/org/jabref/gui/entryeditor/CommentsTab.java
  src/main/java/org/jabref/gui/entryeditor/DeprecatedFieldsTab.java
  src/main/java/org/jabref/gui/entryeditor/DetailOptionalFieldsTab.java
  src/main/java/org/jabref/gui/entryeditor/EntryEditor.java
  src/main/java/org/jabref/gui/entryeditor/FieldsEditorTab.java
  src/main/java/org/jabref/gui/entryeditor/ImportantOptionalFieldsTab.java
  src/main/java/org/jabref/gui/entryeditor/OptionalFieldsTabBase.java
  src/main/java/org/jabref/gui/entryeditor/OtherFieldsTab.java
  src/main/java/org/jabref/gui/entryeditor/PreviewTab.java
  src/main/java/org/jabref/gui/entryeditor/RequiredFieldsTab.java
  src/main/java/org/jabref/gui/entryeditor/UserDefinedFieldsTab.java
  src/main/java/org/jabref/gui/externalfiles/ExternalFilesEntryLinker.java
  src/main/java/org/jabref/gui/externalfiles/ImportHandler.java
  src/main/java/org/jabref/gui/externalfiles/UnlinkedFilesDialogViewModel.java
  src/main/java/org/jabref/gui/importer/actions/OpenDatabaseAction.java
  src/main/java/org/jabref/gui/maintable/MainTable.java
  src/main/java/org/jabref/gui/preview/PreviewPanel.java
  src/main/java/org/jabref/gui/util/DragDrop.java
  src/main/java/org/jabref/logic/cleanup/MoveFilesCleanup.java
  src/main/java/org/jabref/logic/externalfiles/LinkedFileHandler.java
  src/main/java/org/jabref/logic/search/IndexManager.java
  src/main/java/org/jabref/logic/util/io/FileUtil.java
  src/main/java/org/jabref/model/entry/BibEntry.java
  src/main/java/org/jabref/model/entry/LinkedFile.java
  src/main/resources/l10n/JabRef_en.properties
  src/test/java/org/jabref/gui/entryeditor/CommentsTabTest.java
  src/test/java/org/jabref/gui/entryeditor/citationrelationtab/CitationsRelationsTabViewModelTest.java
  src/test/java/org/jabref/gui/externalfiles/ImportHandlerTest.java
Labels: automerge

#12054 Identifier: Rename "getNormalized" to "asString"
  src/main/java/org/jabref/gui/edit/CopyDoiUrlAction.java
  src/main/java/org/jabref/gui/edit/CopyMoreAction.java
  src/main/java/org/jabref/gui/entryeditor/SciteTabViewModel.java
  src/main/java/org/jabref/gui/entryeditor/citationrelationtab/BibEntryRelationsCache.java
  src/main/java/org/jabref/gui/entryeditor/citationrelationtab/semanticscholar/SemanticScholarFetcher.java
  src/main/java/org/jabref/gui/fieldeditors/identifier/DoiIdentifierEditorViewModel.java
  src/main/java/org/jabref/gui/importer/fetcher/LookupIdentifierAction.java
  src/main/java/org/jabref/logic/cleanup/DoiCleanup.java
  src/main/java/org/jabref/logic/cleanup/EprintCleanup.java
  src/main/java/org/jabref/logic/formatter/bibtexfields/ShortenDOIFormatter.java
  src/main/java/org/jabref/logic/importer/CompositeIdFetcher.java
  src/main/java/org/jabref/logic/importer/FulltextFetchers.java
  src/main/java/org/jabref/logic/importer/fetcher/ACS.java
  src/main/java/org/jabref/logic/importer/fetcher/ApsFetcher.java
  src/main/java/org/jabref/logic/importer/fetcher/ArXivFetcher.java
  src/main/java/org/jabref/logic/importer/fetcher/DoiFetcher.java
  src/main/java/org/jabref/logic/importer/fetcher/IEEE.java
  src/main/java/org/jabref/logic/importer/fetcher/MathSciNet.java
  src/main/java/org/jabref/logic/importer/fetcher/OpenAccessDoi.java
  src/main/java/org/jabref/logic/importer/fetcher/ResearchGate.java
  src/main/java/org/jabref/logic/importer/fetcher/ScienceDirect.java
  src/main/java/org/jabref/logic/importer/fetcher/SemanticScholar.java
  src/main/java/org/jabref/logic/importer/fetcher/SpringerLink.java
  src/main/java/org/jabref/logic/importer/fetcher/TitleFetcher.java
  src/main/java/org/jabref/logic/importer/fetcher/isbntobibtex/IsbnFetcher.java
  src/main/java/org/jabref/logic/importer/fileformat/PdfContentImporter.java
  src/main/java/org/jabref/logic/importer/fileformat/RisImporter.java
  src/main/java/org/jabref/logic/importer/util/ShortDOIService.java
  src/main/java/org/jabref/logic/layout/format/DOIStrip.java
  src/main/java/org/jabref/model/entry/identifier/ARK.java
  src/main/java/org/jabref/model/entry/identifier/ArXivIdentifier.java
  src/main/java/org/jabref/model/entry/identifier/DOI.java
  src/main/java/org/jabref/model/entry/identifier/ISBN.java
  src/main/java/org/jabref/model/entry/identifier/ISSN.java
  src/main/java/org/jabref/model/entry/identifier/IacrEprint.java
  src/main/java/org/jabref/model/entry/identifier/Identifier.java
  src/main/java/org/jabref/model/entry/identifier/MathSciNetId.java
  src/main/java/org/jabref/model/entry/identifier/RFC.java
  src/main/java/org/jabref/model/entry/identifier/SSRN.java
  src/test/java/org/jabref/logic/importer/fetcher/CrossRefTest.java
  src/test/java/org/jabref/logic/importer/util/ShortDOIServiceTest.java
  src/test/java/org/jabref/model/entry/identifier/DOITest.java
  src/test/java/org/jabref/model/entry/identifier/IacrEprintTest.java
  src/test/java/org/jabref/model/entry/identifier/RFCTest.java
  src/test/java/org/jabref/model/entry/identifier/SSRNTest.java
Labels: automerge

#12066 Change casing and improve naming of Background tasks
  src/main/java/org/jabref/gui/frame/MainToolBar.java
  src/main/resources/l10n/JabRef_en.properties
Labels: status: ready-for-review

#12037 WIP: Rename General File Directory to Library-Specific File Directory
  CHANGELOG.md
  src/main/java/org/jabref/gui/collab/metedatachange/MetadataChangeDetailsView.java
  src/main/java/org/jabref/gui/libraryproperties/general/GeneralProperties.fxml
  src/main/java/org/jabref/gui/libraryproperties/general/GeneralPropertiesView.java
  src/main/java/org/jabref/gui/libraryproperties/general/GeneralPropertiesViewModel.java
  src/main/java/org/jabref/logic/bibtex/comparator/MetaDataDiff.java
  src/main/java/org/jabref/logic/exporter/MetaDataSerializer.java
  src/main/java/org/jabref/logic/importer/util/MetaDataParser.java
  src/main/java/org/jabref/model/database/BibDatabaseContext.java
  src/main/java/org/jabref/model/metadata/MetaData.java
  src/main/resources/l10n/JabRef_en.properties
  src/test/java/org/jabref/logic/cleanup/CleanupWorkerTest.java
  src/test/java/org/jabref/logic/cleanup/MoveFilesCleanupTest.java
  src/test/java/org/jabref/logic/cleanup/RemoveLinksToNotExistentFilesTest.java
  src/test/java/org/jabref/logic/exporter/BibtexDatabaseWriterTest.java
  src/test/java/org/jabref/logic/importer/fileformat/BibtexParserTest.java
  src/test/java/org/jabref/logic/integrity/IntegrityCheckTest.java
  src/test/java/org/jabref/logic/util/io/FileUtilTest.java
  src/test/java/org/jabref/model/database/BibDatabaseContextTest.java
Labels: status: changes required

#12093 Add test that %0 is kept
  src/test/java/org/jabref/logic/l10n/LocalizationTest.java
Labels: automerge

#12096 Add project move after manually putting "📍 Assigned" label
  .github/workflows/on-labeled-issue.yml
Labels: automerge

#12072 Follow-up #12035 and #12068: Show an informative progress indicator when dragging and dropping PDF files to JabRef
  CHANGELOG.md
  src/main/java/org/jabref/gui/externalfiles/ImportHandler.java
  src/main/java/org/jabref/logic/search/indexing/DefaultLinkedFilesIndexer.java
  src/main/java/org/jabref/logic/util/io/FileUtil.java
  src/main/resources/l10n/JabRef_en.properties
  src/test/java/org/jabref/logic/util/io/FileUtilTest.java
Labels: status: changes required

#12097 Limit some workflows to main repository
  .github/workflows/assign-issue.yml
  .github/workflows/check-links.yml
  .github/workflows/cleanup-pr.yml
  .github/workflows/deployment-arm64.yml
  .github/workflows/deployment-jdk-ea.yml
  .github/workflows/gource.yml
  .github/workflows/on-labeled-issue.yml
  .github/workflows/on-labeled-pr.yml
  .github/workflows/on-unlabeled-issue.yml
  .github/workflows/pr-comment.yml
  .github/workflows/update-gradle-wrapper.yml
Labels: automerge

#12057 Add junit test for text fields check
  build.gradle
  src/test/java/org/jabref/model/entry/field/FieldEditorsMultilinePropertyTest.java
Labels: status: changes required

#12102 Refine hint on pasting keys.
  src/test/java/org/jabref/logic/l10n/LocalizationConsistencyTest.java
Labels: status: ready-for-review

#12124 Fix BibTeX "twin" at citation relations
  src/main/java/org/jabref/gui/entryeditor/citationrelationtab/CitationRelationsTab.java
  src/main/java/org/jabref/gui/entryeditor/citationrelationtab/CitationsRelationsTabViewModel.java
  src/main/java/org/jabref/gui/importer/ImportCommand.java
  src/main/java/org/jabref/model/entry/BibEntry.java
  src/main/resources/l10n/JabRef_en.properties
  src/test/java/org/jabref/gui/entryeditor/citationrelationtab/CitationsRelationsTabViewModelTest.java
Labels: status: ready-for-review

#12125 Remove selection of entry after programmatic insertion
  src/main/java/org/jabref/gui/externalfiles/ImportHandler.java
  src/main/java/org/jabref/gui/importer/ImportEntriesViewModel.java
  src/main/java/org/jabref/gui/maintable/MainTable.java
Labels: status: ready-for-review

#12136 Fix NPE in case of last selected jstyle file is not a resource
  src/main/java/org/jabref/logic/openoffice/style/JStyle.java
Labels: status: ready-for-review

#12129 Remove updateEntryEditorIfShowing
  src/main/java/org/jabref/gui/LibraryTab.java
  src/main/java/org/jabref/gui/cleanup/CleanupAction.java
  src/main/java/org/jabref/gui/specialfields/SpecialFieldAction.java
Labels: status: ready-for-review

#12134 Preare Update Java JDK from 21 to 22
  .devcontainer/devcontainer.json
  .github/workflows/deployment-arm64.yml
  .github/workflows/deployment-jdk-ea.yml
  .github/workflows/deployment.yml
  .github/workflows/tests-fetchers.yml
  .github/workflows/tests.yml
  .github/workflows/update-gradle-wrapper.yml
  .vscode/ltex.dictionary.en-US.txt
  build.gradle
  docs/getting-into-the-code/guidelines-for-setting-up-a-local-workspace/intellij-12-build.md
Labels: status: ready-for-review

#12127 Add ADR for "entry(s)"
  docs/code-howtos/localization.md
  docs/decisions/0040-use-one-form-for-singular-and-plural.md
  src/main/java/org/jabref/gui/LibraryTab.java
  src/main/java/org/jabref/gui/externalfiles/DownloadFullTextAction.java
  src/main/resources/l10n/JabRef_en.properties
Labels: status: ready-for-review
