Repository JabRef/jabref, pull requests merged in 2024-08, with the labels that each got.

#11563 Add logging to Grobid
  src/main/java/org/jabref/logic/importer/fetcher/GrobidCitationFetcher.java
  src/main/java/org/jabref/logic/importer/util/GrobidService.java
Labels: type: code-quality

#11564 Minor code style improvements
  src/main/java/org/jabref/gui/importer/GrobidOptInDialogHelper.java
  src/main/java/org/jabref/logic/importer/fetcher/GrobidPreferences.java
  src/main/java/org/jabref/preferences/JabRefPreferences.java
  src/test/resources/testbib/pdfs/.gitignore
  src/test/resources/testbib/pdfs/.gitkeep
Labels: type: code-quality

#11532 Add vector module
  .github/workflows/deployment-arm64.yml
  .github/workflows/deployment.yml
  CHANGELOG.md
  build.gradle
Labels: status: ready-for-review, search, type: performance

#11440 Fix window decorations
  CHANGELOG.md
  src/main/java/org/jabref/gui/JabRefGUI.java
  src/main/java/org/jabref/preferences/GuiPreferences.java
  src/main/java/org/jabref/preferences/JabRefPreferences.java
Labels: ui, status: ready-for-review

#11567 Fix setting of ClipboardManager at injector
  src/main/java/org/jabref/gui/JabRefGUI.java
Labels: status: ready-for-review

#11441 Fix screen-out-of-bounds
  src/main/java/org/jabref/gui/JabRefGUI.java
  src/main/java/org/jabref/preferences/GuiPreferences.java
  src/main/java/org/jabref/preferences/JabRefPreferences.java
  src/main/resources/tinylog.properties
Labels: ui, status: ready-for-review

#11571 Citavi: Fix closing of input file
  src/main/java/org/jabref/logic/importer/fileformat/CitaviXmlImporter.java
  src/test/java/org/jabref/logic/importer/fileformat/ImporterTestEngine.java
Labels: type: code-quality

#11573 Add "requires scala.library"
  src/main/java/module-info.java
Labels: status: ready-for-review

#11574 No more shown finished background tasks
  CHANGELOG.md
  src/main/java/org/jabref/gui/JabRefDialogService.java
  src/main/java/org/jabref/gui/StateManager.java
  src/main/java/org/jabref/gui/frame/MainToolBar.java
  src/main/java/org/jabref/gui/util/UiTaskExecutor.java
Labels: ui, status: ready-for-review

#11565 Enable triggering offline parsing explicitely
  CHANGELOG.md
  src/main/java/org/jabref/gui/actions/ActionFactory.java
  src/main/java/org/jabref/gui/actions/StandardActions.java
  src/main/java/org/jabref/gui/bibtexextractor/BibtexExtractorViewModel.java
  src/main/java/org/jabref/gui/bibtexextractor/ExtractBibtexAction.java
  src/main/java/org/jabref/gui/bibtexextractor/ExtractBibtexActionOffline.java
  src/main/java/org/jabref/gui/bibtexextractor/ExtractBibtexActionOnline.java
  src/main/java/org/jabref/gui/bibtexextractor/ExtractBibtexDialog.java
  src/main/java/org/jabref/gui/frame/MainMenu.java
  src/main/java/org/jabref/gui/frame/MainToolBar.java
  src/main/java/org/jabref/gui/keyboard/KeyBinding.java
  src/main/java/org/jabref/gui/maintable/NewLibraryFromPdfAction.java
  src/main/java/org/jabref/gui/maintable/NewLibraryFromPdfActionOffline.java
  src/main/java/org/jabref/gui/maintable/NewLibraryFromPdfActionOnline.java
  src/main/java/org/jabref/gui/preferences/keybindings/presets/NewEntryBindingPreset.java
  src/main/resources/l10n/JabRef_en.properties
Labels: status: ready-for-review

#11510 Search floating mode
  .github/workflows/deployment-arm64.yml
  .github/workflows/deployment.yml
  CHANGELOG.md
  build.gradle
  src/main/java/org/jabref/gui/Base.css
  src/main/java/org/jabref/gui/LibraryTab.java
  src/main/java/org/jabref/gui/StateManager.java
  src/main/java/org/jabref/gui/entryeditor/EntryEditor.java
  src/main/java/org/jabref/gui/entryeditor/SourceTab.java
  src/main/java/org/jabref/gui/entryeditor/fileannotationtab/FulltextSearchResultsTab.java
  src/main/java/org/jabref/gui/entrytype/EntryTypeView.java
  src/main/java/org/jabref/gui/frame/JabRefFrame.java
  src/main/java/org/jabref/gui/groups/GroupModeViewModel.java
  src/main/java/org/jabref/gui/groups/GroupTreeView.java
  src/main/java/org/jabref/gui/groups/GroupTreeViewModel.java
  src/main/java/org/jabref/gui/groups/GroupViewMode.java
  src/main/java/org/jabref/gui/groups/GroupsPreferences.java
  src/main/java/org/jabref/gui/icon/IconTheme.java
  src/main/java/org/jabref/gui/keyboard/KeyBinding.java
  src/main/java/org/jabref/gui/maintable/BibEntryTableViewModel.java
  src/main/java/org/jabref/gui/maintable/MainTable.java
  src/main/java/org/jabref/gui/maintable/MainTableColumnFactory.java
  src/main/java/org/jabref/gui/maintable/MainTableColumnModel.java
  src/main/java/org/jabref/gui/maintable/MainTableDataModel.java
  src/main/java/org/jabref/gui/maintable/MainTableHeaderContextMenu.java
  src/main/java/org/jabref/gui/maintable/PersistenceVisualStateTable.java
  src/main/java/org/jabref/gui/preferences/groups/GroupsTabViewModel.java
  src/main/java/org/jabref/gui/preview/PreviewViewer.java
  src/main/java/org/jabref/gui/search/GlobalSearchBar.java
  src/main/java/org/jabref/gui/search/GlobalSearchResultDialog.java
  src/main/java/org/jabref/gui/search/MatchCategory.java
  src/main/java/org/jabref/gui/search/SearchDisplayMode.java
  src/main/java/org/jabref/gui/search/SearchResultsTableDataModel.java
  src/main/java/org/jabref/gui/sidepane/GroupsSidePaneComponent.java
  src/main/java/org/jabref/gui/sidepane/SidePaneComponent.java
  src/main/java/org/jabref/gui/util/FilteredListProxy.java
  src/main/java/org/jabref/gui/util/ViewModelTableRowFactory.java
  src/main/java/org/jabref/gui/util/ViewModelTreeTableRowFactory.java
  src/main/java/org/jabref/logic/search/SearchQuery.java
  src/main/java/org/jabref/migrations/PreferencesMigrations.java
  src/main/java/org/jabref/model/search/rules/SearchRules.java
  src/main/java/org/jabref/preferences/JabRefPreferences.java
  src/main/java/org/jabref/preferences/SearchPreferences.java
  src/main/resources/l10n/JabRef_en.properties
  src/test/java/org/jabref/cli/ArgumentProcessorTest.java
  src/test/java/org/jabref/gui/entryeditor/SourceTabTest.java
  src/test/java/org/jabref/gui/groups/GroupNodeViewModelTest.java
  src/test/java/org/jabref/gui/groups/GroupTreeViewModelTest.java
  src/test/java/org/jabref/migrations/PreferencesMigrationsTest.java
Labels: status: ready-for-review, search, project: GSoC

#11579 Update main table colors
  src/main/java/org/jabref/gui/Base.css
  src/main/java/org/jabref/gui/maintable/MainTable.css
  src/test/resources/testbib/simple-search-library.bib
Labels: ui

#11591 Fix dark mode for table
  src/main/java/org/jabref/gui/Base.css
  src/main/java/org/jabref/gui/Dark.css
  src/main/java/org/jabref/gui/maintable/MainTable.css
Labels: status: ready-for-review

#11587 Improve developer documentation
  .github/workflows/add-greeting-to-issue.yml
  docs/code-howtos/faq.md
  docs/getting-into-the-code/guidelines-for-setting-up-a-local-workspace/intellij-11-code-into-ide.md
  docs/getting-into-the-code/guidelines-for-setting-up-a-local-workspace/intellij-12-build.md
  docs/getting-into-the-code/guidelines-for-setting-up-a-local-workspace/intellij-13-code-style.md
Labels: type: documentation

#11597 Open theme browse in last css dir
  CHANGELOG.md
  src/main/java/org/jabref/gui/preferences/general/GeneralTabViewModel.java
Labels: status: ready-for-review

#11602 Fix localization
  src/main/java/org/jabref/gui/entryeditor/LatexCitationsTab.java
  src/main/java/org/jabref/gui/preferences/entryeditor/EntryEditorTab.fxml
  src/main/java/org/jabref/gui/util/FileNodeViewModel.java
  src/main/resources/l10n/JabRef_en.properties
Labels: status: ready-for-review

#11604 Upgrade to StAX parsing for CSL style titles
  src/main/java/org/jabref/logic/citationstyle/CitationStyle.java
Labels: type: enhancement, project: GSoC

#11603 Integrate DOI parsing special character test in existing parameterized test
  src/test/java/org/jabref/model/entry/identifier/DOITest.java
Labels: type: code-quality

#11577 CSL4LibreOffice - C [GSoC '24]
  build.gradle
  src/main/java/module-info.java
  src/main/java/org/jabref/gui/icon/IconTheme.java
  src/main/java/org/jabref/gui/icon/JabRefMaterialDesignIcon.java
  src/main/java/org/jabref/gui/openoffice/OOBibBase.java
  src/main/java/org/jabref/gui/openoffice/OpenOfficePanel.java
  src/main/java/org/jabref/gui/openoffice/StyleSelectDialogView.java
  src/main/java/org/jabref/logic/citationkeypattern/BracketedPattern.java
  src/main/java/org/jabref/logic/citationstyle/CitationStyle.java
  src/main/java/org/jabref/logic/openoffice/ReferenceMark.java
  src/main/java/org/jabref/logic/openoffice/backend/NamedRangeReferenceMark.java
  src/main/java/org/jabref/logic/openoffice/oocsltext/CSLCitationOOAdapter.java
  src/main/java/org/jabref/logic/openoffice/oocsltext/CSLReferenceMark.java
  src/main/java/org/jabref/logic/openoffice/oocsltext/CSLReferenceMarkManager.java
  src/main/java/org/jabref/logic/openoffice/oocsltext/CSLUpdateBibliography.java
  src/main/java/org/jabref/model/entry/BibEntry.java
  src/main/resources/fonts/JabRefMaterialDesign.ttf
  src/test/java/org/jabref/logic/openoffice/ReferenceMarkTest.java
Labels: type: enhancement, type: feature, openoffice/libreoffice, project: GSoC

#11619 Improve ingerity check dialog scolling
  CHANGELOG.md
  src/main/java/org/jabref/gui/integrity/IntegrityCheckDialog.fxml
  src/main/java/org/jabref/gui/integrity/IntegrityCheckDialog.java
  src/main/java/org/jabref/logic/integrity/IntegrityMessage.java
Labels: status: ready-for-review

#11629 Change text prompt color
  src/main/java/org/jabref/gui/Base.css
Labels: ui

#11631 Make embedding models combobox searchable
  src/main/java/org/jabref/gui/preferences/ai/AiTab.fxml
  src/main/java/org/jabref/gui/preferences/ai/AiTab.java
  src/main/java/org/jabref/gui/preferences/ai/AiTabViewModel.java
  src/main/resources/l10n/JabRef_en.properties
Labels: ui, preferences, project: GSoC, AI

#11614 Fix authorsAlpha
  src/main/java/org/jabref/logic/citationkeypattern/BracketedPattern.java
  src/test/java/org/jabref/logic/citationkeypattern/AbstractCitationKeyPatternsTest.java
  src/test/java/org/jabref/logic/citationkeypattern/BracketedPatternTest.java
  src/test/java/org/jabref/logic/citationkeypattern/CitationKeyGeneratorTest.java
  src/test/java/org/jabref/model/entry/BibEntryTest.java
Labels: type: enhancement

#11633 Fix handling of chat history and deletion of messages
  src/main/java/org/jabref/gui/ai/components/aichat/AiChatComponent.java
  src/main/java/org/jabref/logic/ai/chathistory/AiChatHistory.java
  src/main/java/org/jabref/logic/ai/chathistory/BibDatabaseChatHistoryManager.java
  src/main/java/org/jabref/logic/ai/chathistory/InMemoryAiChatHistory.java
Labels: bug, project: GSoC, AI

#11626 Remove "Match category" from localization
  src/main/java/org/jabref/gui/maintable/MainTableColumnFactory.java
  src/main/java/org/jabref/gui/maintable/MainTableColumnModel.java
  src/main/java/org/jabref/gui/search/MatchCategory.java
  src/main/resources/l10n/JabRef_en.properties
Labels: ui, search, maintable, project: GSoC

#11622 Update JabRef material icon pack
  docs/code-howtos/custom-svg-icons.md
Labels: ui, type: documentation

#11632 Chat prompt history
  src/main/java/org/jabref/gui/ai/components/aichat/AiChatComponent.java
Labels: ui, project: GSoC, AI

#11645 Update Gradle Wrapper from 8.9 to 8.10
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
Labels: dependencies, gradle-wrapper

#11644 Fix FetcherTests
  src/main/java/org/jabref/logic/importer/fetcher/GrobidCitationFetcher.java
  src/test/java/org/jabref/logic/importer/fetcher/BvbFetcherTest.java
  src/test/java/org/jabref/logic/importer/fetcher/GrobidCitationFetcherTest.java
  src/test/java/org/jabref/logic/importer/fetcher/GvkFetcherTest.java
  src/test/java/org/jabref/logic/importer/fetcher/SpringerFetcherTest.java
Labels: status: ready-for-review, fetcher, tests

#11653 Add link to the moderne platform
  docs/code-howtos/code-quality.md
Labels: type: documentation

#11655 Fix localization
  src/main/java/org/jabref/gui/slr/ManageStudyDefinitionView.java
  src/main/resources/l10n/JabRef_en.properties
Labels: internationalization, status: ready-for-review, SLR

#11658 Highlight search bar on wrong syntax
  CHANGELOG.md
  src/main/java/org/jabref/gui/Base.css
  src/main/java/org/jabref/gui/search/GlobalSearchBar.java
Labels: status: ready-for-review, search

#11635 Persist selection of databases in SLR
  CHANGELOG.md
  src/main/java/org/jabref/gui/slr/ManageStudyDefinitionView.java
  src/main/java/org/jabref/gui/slr/ManageStudyDefinitionViewModel.java
  src/main/java/org/jabref/preferences/JabRefPreferences.java
  src/main/java/org/jabref/preferences/WorkspacePreferences.java
  src/test/java/org/jabref/gui/slr/ManageStudyDefinitionViewModelTest.java
Labels: fetcher, preferences, SLR

#11667 Selected SLR catalogs: maintain preferences abstraction level
  src/main/java/org/jabref/gui/slr/ManageStudyDefinitionView.java
  src/main/java/org/jabref/gui/slr/ManageStudyDefinitionViewModel.java
  src/test/java/org/jabref/gui/slr/ManageStudyDefinitionViewModelTest.java
Labels: type: code-quality

#11636 CSL4LibreOffice - D [GSoC '24]
  src/main/java/org/jabref/logic/citationstyle/CitationStyle.java
  src/main/java/org/jabref/logic/openoffice/oocsltext/CSLCitationOOAdapter.java
  src/main/java/org/jabref/logic/openoffice/oocsltext/CSLFormatUtils.java
  src/main/java/org/jabref/logic/openoffice/oocsltext/CSLReferenceMarkManager.java
  src/test/java/org/jabref/logic/citationstyle/CitationStyleGeneratorTest.java
  src/test/java/org/jabref/logic/citationstyle/CitationStyleTest.java
  src/test/java/org/jabref/logic/openoffice/oocsltext/CSLFormatUtilsTest.java
Labels: type: documentation, openoffice/libreoffice, type: code-quality, project: GSoC, tests

#11683 Auto-update CSL Bibliography feature
  src/main/java/org/jabref/gui/openoffice/OOBibBase.java
Labels: type: feature, openoffice/libreoffice
