Repository JabRef/jabref, pull requests merged in 2024-01, with the labels that each got.

#10724 Extract calls to JabRefFrame and substitute with LibraryTabContainer
  src/main/java/org/jabref/gui/EntryTypeViewModel.java
  src/main/java/org/jabref/gui/JabRefFrame.java
  src/main/java/org/jabref/gui/JabRefGUI.java
  src/main/java/org/jabref/gui/LibraryTab.java
  src/main/java/org/jabref/gui/LibraryTabContainer.java
  src/main/java/org/jabref/gui/MainMenu.java
  src/main/java/org/jabref/gui/MainToolBar.java
  src/main/java/org/jabref/gui/auximport/NewSubLibraryAction.java
  src/main/java/org/jabref/gui/citationkeypattern/GenerateCitationKeyAction.java
  src/main/java/org/jabref/gui/cleanup/CleanupAction.java
  src/main/java/org/jabref/gui/duplicationFinder/DuplicateSearch.java
  src/main/java/org/jabref/gui/edit/EditAction.java
  src/main/java/org/jabref/gui/edit/ReplaceStringAction.java
  src/main/java/org/jabref/gui/entryeditor/OpenEntryEditorAction.java
  src/main/java/org/jabref/gui/entryeditor/PreviewSwitchAction.java
  src/main/java/org/jabref/gui/exporter/ExportCommand.java
  src/main/java/org/jabref/gui/exporter/SaveAction.java
  src/main/java/org/jabref/gui/exporter/SaveAllAction.java
  src/main/java/org/jabref/gui/importer/GenerateEntryFromIdAction.java
  src/main/java/org/jabref/gui/importer/ImportCommand.java
  src/main/java/org/jabref/gui/importer/NewDatabaseAction.java
  src/main/java/org/jabref/gui/importer/NewEntryAction.java
  src/main/java/org/jabref/gui/importer/ParserResultWarningDialog.java
  src/main/java/org/jabref/gui/importer/actions/CheckForNewEntryTypesAction.java
  src/main/java/org/jabref/gui/importer/actions/GUIPostOpenAction.java
  src/main/java/org/jabref/gui/importer/actions/MergeReviewIntoCommentAction.java
  src/main/java/org/jabref/gui/importer/actions/OpenDatabaseAction.java
  src/main/java/org/jabref/gui/importer/fetcher/LookupIdentifierAction.java
  src/main/java/org/jabref/gui/integrity/IntegrityCheckAction.java
  src/main/java/org/jabref/gui/journals/AbbreviateAction.java
  src/main/java/org/jabref/gui/maintable/MainTable.java
  src/main/java/org/jabref/gui/maintable/MainTableHeaderContextMenu.java
  src/main/java/org/jabref/gui/maintable/RightClickMenu.java
  src/main/java/org/jabref/gui/preferences/ShowPreferencesAction.java
  src/main/java/org/jabref/gui/search/GlobalSearchBar.java
  src/main/java/org/jabref/gui/search/SearchFieldRightClickMenu.java
  src/main/java/org/jabref/gui/shared/ConnectToSharedDatabaseCommand.java
  src/main/java/org/jabref/gui/shared/SharedDatabaseLoginDialogView.java
  src/main/java/org/jabref/gui/shared/SharedDatabaseLoginDialogViewModel.java
  src/main/java/org/jabref/gui/shared/SharedDatabaseUIManager.java
  src/main/java/org/jabref/gui/slr/ExistingStudySearchAction.java
  src/main/java/org/jabref/gui/slr/StartNewStudyAction.java
  src/main/java/org/jabref/gui/specialfields/SpecialFieldAction.java
  src/main/java/org/jabref/gui/specialfields/SpecialFieldMenuItemFactory.java
  src/main/java/org/jabref/gui/specialfields/SpecialFieldViewModel.java
  src/main/java/org/jabref/gui/undo/UndoRedoAction.java
  src/test/java/org/jabref/gui/exporter/SaveDatabaseActionTest.java
  src/test/java/org/jabref/gui/importer/NewEntryActionTest.java
  src/test/java/org/jabref/gui/search/GlobalSearchBarTest.java
Labels: status: ready-for-review, type: code-quality

#10742 Fix color for hovered special fields
  CHANGELOG.md
  src/main/java/org/jabref/gui/actions/StandardActions.java
  src/main/java/org/jabref/gui/icon/InternalMaterialDesignIcon.java
  src/main/java/org/jabref/gui/maintable/MainTable.css
  src/main/java/org/jabref/gui/sidepane/SidePaneType.java
  src/main/java/org/jabref/gui/specialfields/SpecialFieldViewModel.java
Labels: status: ready-for-review

#10744 Fix duplicate checker does not respect umlauts / latex free fields
  CHANGELOG.md
  src/main/java/org/jabref/logic/database/DuplicateCheck.java
  src/test/java/org/jabref/logic/database/DuplicateCheckTest.java
  src/test/java/org/jabref/logic/integrity/ASCIICharacterCheckerTest.java
Labels: status: ready-for-review

#10745 Use custom doi now in Template exporter
  CHANGELOG.md
  src/main/java/org/jabref/logic/importer/fetcher/DoiResolution.java
  src/main/java/org/jabref/logic/layout/LayoutEntry.java
  src/main/java/org/jabref/logic/layout/LayoutFormatterPreferences.java
  src/main/java/org/jabref/logic/layout/format/DOICheck.java
  src/main/java/org/jabref/model/entry/identifier/DOI.java
  src/main/java/org/jabref/preferences/JabRefPreferences.java
  src/test/java/org/jabref/logic/layout/format/DOICheckTest.java
Labels: status: ready-for-review

#10754 Ignore submodule changes (for normal devs)
  .github/workflows/refresh-csl-subtrees.yml
  .github/workflows/refresh-journal-lists.yml
  .gitmodules
Labels: status: ready-for-review

#10762 Streamline test output
  build.gradle
Labels: status: ready-for-review

#10765 Add initial .git-blame-ignore-revs
  .git-blame-ignore-revs
Labels: status: ready-for-review

#10768 Replace custom code by JUnit-provided code.
  src/test/java/org/jabref/support/CIServerCondition.java
  src/test/java/org/jabref/support/DisabledOnCIServer.java
Labels: type: code-quality

#10770 Change default CSL style to ieee-with-url
  src/main/java/org/jabref/logic/citationstyle/CitationStyle.java
  src/main/java/org/jabref/logic/citationstyle/JabRefLocaleProvider.java
Labels: status: ready-for-review

#10774 Change package of TypedBibEntry
  src/main/java/org/jabref/gui/entryeditor/EntryEditor.java
  src/main/java/org/jabref/logic/bibtex/BibEntryWriter.java
  src/main/java/org/jabref/logic/bibtex/TypedBibEntry.java
  src/main/java/org/jabref/logic/xmp/DublinCoreExtractor.java
  src/test/java/org/jabref/logic/TypedBibEntryTest.java
Labels: type: code-quality

#10788 refactor: Transform calls to `Objects.isNull(..)` and `Objects.nonNull(..)`
  src/main/java/org/jabref/gui/shared/SharedDatabaseUIManager.java
  src/main/java/org/jabref/logic/git/SlrGitHandler.java
  src/main/java/org/jabref/logic/importer/FulltextFetchers.java
  src/main/java/org/jabref/logic/importer/fetcher/ComplexSearchQuery.java
  src/main/java/org/jabref/logic/importer/fetcher/transformers/IEEEQueryTransformer.java
  src/main/java/org/jabref/logic/shared/DBMSConnectionProperties.java
  src/main/java/org/jabref/model/database/BibDatabaseContext.java
  src/main/java/org/jabref/preferences/JabRefPreferences.java
Labels: type: code-quality

#10783 Refactored quitting process
  src/main/java/org/jabref/cli/Launcher.java
  src/main/java/org/jabref/gui/DefaultInjector.java
  src/main/java/org/jabref/gui/Globals.java
  src/main/java/org/jabref/gui/JabRefFrame.java
  src/main/java/org/jabref/gui/JabRefGUI.java
  src/main/java/org/jabref/gui/openoffice/OpenOfficePanel.java
Labels: status: ready-for-review, type: code-quality

#10518 Added Fetcher for ISIDORE
  CHANGELOG.md
  PRIVACY.md
  src/main/java/org/jabref/logic/formatter/casechanger/Word.java
  src/main/java/org/jabref/logic/help/HelpFile.java
  src/main/java/org/jabref/logic/importer/AuthorListParser.java
  src/main/java/org/jabref/logic/importer/WebFetchers.java
  src/main/java/org/jabref/logic/importer/fetcher/ISIDOREFetcher.java
  src/main/java/org/jabref/logic/importer/fetcher/transformers/AbstractQueryTransformer.java
  src/main/java/org/jabref/logic/importer/fetcher/transformers/IEEEQueryTransformer.java
  src/main/java/org/jabref/logic/importer/fetcher/transformers/ISIDOREQueryTransformer.java
  src/main/java/org/jabref/logic/importer/fetcher/transformers/JstorQueryTransformer.java
  src/test/java/org/jabref/gui/slr/ManageStudyDefinitionViewModelTest.java
  src/test/java/org/jabref/logic/importer/fetcher/ISIDOREFetcherTest.java
Labels: fetcher

#10733 Fix HTML-reserved characters ('&', '<', etc) not rendered correctly in entry preview
  CHANGELOG.md
  src/main/java/org/jabref/logic/layout/format/HTMLChars.java
  src/test/java/org/jabref/logic/layout/format/HTMLCharsTest.java
Labels: status: ready-for-review

#10801 Add group icon column
  CHANGELOG.md
  src/main/java/org/jabref/gui/groups/GroupDialogView.java
  src/main/java/org/jabref/gui/icon/IconTheme.java
  src/main/java/org/jabref/gui/maintable/MainTableColumnFactory.java
  src/main/java/org/jabref/gui/maintable/MainTableColumnModel.java
  src/main/java/org/jabref/gui/maintable/MainTableHeaderContextMenu.java
  src/main/java/org/jabref/gui/maintable/columns/MainTableColumn.java
  src/main/java/org/jabref/gui/preferences/table/TableTabViewModel.java
  src/main/java/org/jabref/preferences/JabRefPreferences.java
  src/main/resources/l10n/JabRef_en.properties
  src/test/java/org/jabref/logic/l10n/LocalizationConsistencyTest.java
Labels: status: ready-for-review

#10784 BibTeX information in web search import screen. (#560)
  CHANGELOG.md
  src/main/java/org/jabref/gui/importer/ImportEntriesDialog.fxml
  src/main/java/org/jabref/gui/importer/ImportEntriesDialog.java
  src/main/java/org/jabref/gui/importer/ImportEntriesViewModel.java
  src/main/resources/l10n/JabRef_en.properties
Labels: status: ready-for-review

#10826 Fix escaping of slashes for TexShop
  CHANGELOG.md
  src/main/java/org/jabref/gui/push/PushToTexShop.java
Labels: status: ready-for-review

#10827 Update to jdk 21.0.2
  .github/workflows/deployment-arm64.yml
  .github/workflows/deployment.yml
  .github/workflows/refresh-journal-lists.yml
  .github/workflows/tests-fetchers.yml
  .github/workflows/tests.yml
  .github/workflows/update-gradle-wrapper.yml
Labels: status: ready-for-review

#10843 Space before citations in Openoffice/Libreoffice integration
  CHANGELOG.md
  src/main/java/org/jabref/logic/openoffice/frontend/UpdateCitationMarkers.java
  src/main/java/org/jabref/logic/openoffice/style/OOBibStyle.java
  src/test/resources/org/jabref/logic/openoffice/style/test.jstyle
  src/test/resources/org/jabref/logic/openoffice/style/testWithDefaultAtFirstLIne.jstyle
Labels: status: ready-for-review
