Repository JabRef/jabref, pull requests merged in 2024-02, with the labels that each got.

#10578 Jump to entry from cli
  CHANGELOG.md
  src/main/java/org/jabref/cli/ArgumentProcessor.java
  src/main/java/org/jabref/cli/JabRefCLI.java
  src/main/java/org/jabref/cli/Launcher.java
  src/main/java/org/jabref/gui/DialogService.java
  src/main/java/org/jabref/gui/JabRefDialogService.java
  src/main/java/org/jabref/gui/JabRefFrame.java
  src/main/java/org/jabref/gui/JabRefGUI.java
  src/main/java/org/jabref/gui/LibraryTab.java
  src/main/java/org/jabref/gui/LibraryTabContainer.java
  src/main/java/org/jabref/gui/MainApplication.java
  src/main/java/org/jabref/gui/ProcessingLibraryDialog.java
  src/main/java/org/jabref/gui/autosaveandbackup/BackupManager.java
  src/main/java/org/jabref/gui/entryeditor/citationrelationtab/CitationRelationsTab.java
  src/main/java/org/jabref/gui/fieldeditors/LinkedEntriesEditorViewModel.java
  src/main/java/org/jabref/gui/importer/actions/OpenDatabaseAction.java
  src/main/java/org/jabref/gui/preferences/general/GeneralTabViewModel.java
  src/main/java/org/jabref/gui/remote/CLIMessageHandler.java
  src/main/java/org/jabref/gui/shared/SharedDatabaseUIManager.java
  src/main/java/org/jabref/gui/util/BackgroundTask.java
  src/main/java/org/jabref/gui/util/DefaultTaskExecutor.java
  src/main/java/org/jabref/logic/UiCommand.java
  src/main/java/org/jabref/logic/remote/Protocol.java
  src/main/java/org/jabref/logic/remote/client/RemoteClient.java
  src/main/java/org/jabref/logic/remote/server/RemoteListenerServer.java
  src/main/java/org/jabref/logic/remote/server/RemoteListenerServerThread.java
  src/main/java/org/jabref/logic/remote/server/RemoteMessageHandler.java
  src/main/resources/l10n/JabRef_en.properties
Labels: status: ready-for-review, type: code-quality, cli

#10854 Update Gradle Wrapper from 8.5 to 8.6
  gradle/wrapper/gradle-wrapper.properties
  gradlew.bat
Labels: dependencies, gradle-wrapper

#10852 Add tests for checking invalid bib files error messages in parser
  src/test/java/org/jabref/logic/importer/ParserResultTest.java
Labels: status: ready-for-review

#10847 Introduce BibliographyConsistencyCheckResultTxtWriter
  src/main/java/org/jabref/logic/quality/consistency/BibliographyConsistencyCheck.java
  src/main/java/org/jabref/logic/quality/consistency/BibliographyConsistencyCheckResultCsvWriter.java
  src/main/java/org/jabref/logic/quality/consistency/BibliographyConsistencyCheckResultTxtWriter.java
  src/main/java/org/jabref/logic/quality/consistency/BibliographyConsistencyCheckResultWriter.java
  src/main/java/org/jabref/logic/quality/consistency/PaperConsistencyCheckResultCsvWriter.java
  src/main/java/org/jabref/logic/quality/consistency/PaperConsistencyCheckResultWriter.java
  src/main/resources/l10n/JabRef_en.properties
  src/test/java/org/jabref/logic/quality/consistency/BibliographyConsistencyCheckResultCsvWriterTest.java
  src/test/java/org/jabref/logic/quality/consistency/BibliographyConsistencyCheckResultTxtWriterTest.java
  src/test/java/org/jabref/logic/quality/consistency/BibliographyConsistencyCheckTest.java
Labels: status: ready-for-review

#10828 improve notification toast when saving a file #9803
  CHANGELOG.md
  src/main/java/org/jabref/gui/exporter/SaveDatabaseAction.java
Labels: status: ready-for-review

#10772 [WIP] Adds the ability to specify [camelN] as a title-related field marker for citation key generation
  CHANGELOG.md
  src/main/java/org/jabref/logic/citationkeypattern/BracketedPattern.java
  src/test/java/org/jabref/logic/citationkeypattern/BracketedPatternTest.java
Labels: status: ready-for-review, FirstTimeCodeContribution

#10895 Removed mainapplication layer
  .github/workflows/deployment-arm64.yml
  .github/workflows/deployment.yml
  build.gradle
  docs/code-howtos/jpackage.md
  docs/getting-into-the-code/guidelines-for-setting-up-a-local-workspace/eclipse.md
  snap/local/JabRef-launcher
  src/main/java/org/jabref/Launcher.java
  src/main/java/org/jabref/cli/ArgumentProcessor.java
  src/main/java/org/jabref/cli/SystemOutputPrinter.java
  src/main/java/org/jabref/gui/JabRefGUI.java
  src/main/java/org/jabref/gui/MainApplication.java
  src/main/java/org/jabref/gui/desktop/os/DefaultDesktop.java
  src/main/java/org/jabref/gui/desktop/os/Linux.java
  src/main/java/org/jabref/gui/desktop/os/NativeDesktop.java
  src/main/java/org/jabref/gui/desktop/os/OSX.java
  src/main/java/org/jabref/gui/desktop/os/Windows.java
  src/main/java/org/jabref/logic/util/OS.java
Labels: type: code-quality

#10898 Fix documentation issues: Sourcegraph URL and method name
  docs/code-howtos/tools.md
  docs/getting-into-the-code/guidelines-for-setting-up-a-local-workspace/guidelines-intellij-run-single-test.png
  docs/getting-into-the-code/guidelines-for-setting-up-a-local-workspace/intellij-12-build.md
Labels: type: documentation

#10901 Add refresh button for LaTeX citations.
  CHANGELOG.md
  src/main/java/org/jabref/gui/entryeditor/LatexCitationsTab.java
  src/main/java/org/jabref/gui/entryeditor/LatexCitationsTabViewModel.java
  src/main/resources/l10n/JabRef_en.properties
Labels: status: ready-for-review

#10912 Change the popup to enter types to the combo box for custom entry types
  src/main/java/org/jabref/gui/DialogService.java
  src/main/java/org/jabref/gui/JabRefDialogService.java
  src/main/java/org/jabref/gui/libraryproperties/contentselectors/ContentSelectorViewModel.java
  src/main/java/org/jabref/gui/preferences/customentrytypes/CustomEntryTypesTab.java
  src/test/java/org/jabref/gui/libraryproperties/contentselectors/ContentSelectorViewModelTest.java
Labels: status: ready-for-review

#10591 Fix for delete entries should ask user
  CHANGELOG.md
  src/main/java/org/jabref/gui/LibraryTab.java
  src/main/java/org/jabref/gui/desktop/JabRefDesktop.java
  src/main/java/org/jabref/gui/desktop/os/NativeDesktop.java
  src/main/java/org/jabref/gui/fieldeditors/LinkedFileViewModel.java
  src/main/java/org/jabref/gui/fieldeditors/LinkedFilesEditor.java
  src/main/java/org/jabref/gui/linkedfile/DeleteFileAction.java
  src/main/java/org/jabref/gui/openoffice/DetectOpenOfficeInstallation.java
  src/main/java/org/jabref/gui/preferences/externalfiletypes/EditExternalFileTypeEntryDialog.java
  src/main/java/org/jabref/gui/preferences/linkedfiles/LinkedFilesTab.fxml
  src/main/java/org/jabref/gui/preferences/linkedfiles/LinkedFilesTab.java
  src/main/java/org/jabref/gui/preferences/linkedfiles/LinkedFilesTabViewModel.java
  src/main/java/org/jabref/model/database/BibDatabaseContext.java
  src/main/java/org/jabref/model/entry/LinkedFile.java
  src/main/java/org/jabref/preferences/FilePreferences.java
  src/main/java/org/jabref/preferences/JabRefPreferences.java
  src/main/resources/l10n/JabRef_en.properties
  src/main/resources/tinylog.properties
  src/test/java/org/jabref/architecture/MainArchitectureTest.java
  src/test/java/org/jabref/gui/fieldeditors/LinkedFileViewModelTest.java
Labels: status: ready-for-review, external files

#10914 Fix duplicate check/merge entries dialog not triggered on import from…
  CHANGELOG.md
  src/main/java/org/jabref/gui/importer/ImportEntriesDialog.java
  src/main/java/org/jabref/gui/importer/ImportEntriesViewModel.java
  src/main/resources/l10n/JabRef_en.properties
Labels: status: ready-for-review

#10943 Fix modularity issue with html converter
  build.gradle
Labels: status: ready-for-review
