Repository JabRef/jabref, pull requests merged in 2024-06, with the labels that each got.

#11347 Update Gradle Wrapper from 8.7 to 8.8
  gradle/wrapper/gradle-wrapper.properties
  gradlew
Labels: dependencies, gradle-wrapper

#11346 Add documentation for BackgroundTask (and improve code)
  src/main/java/org/jabref/gui/util/BackgroundTask.java
  src/main/java/org/jabref/gui/util/DefaultTaskExecutor.java
  src/main/java/org/jabref/logic/pdf/search/IndexingTaskManager.java
Labels: type: code-quality

#11315 Disable whole CiteSeer since it does not work as of 2024-05-20
  build.gradle
  src/test/java/org/jabref/logic/importer/fetcher/CiteSeerTest.java
  src/test/java/org/jabref/logic/importer/fetcher/CompositeSearchBasedFetcherTest.java
Labels: status: ready-for-review, fetcher

#11373 Add Lincheck
  docs/code-howtos/testing.md
Labels: type: code-quality

#11379 Streamline code in EntryEditor
  src/main/java/org/jabref/gui/LibraryTab.java
  src/main/java/org/jabref/gui/entryeditor/EntryEditor.java
  src/main/java/org/jabref/gui/entryeditor/EntryEditorTab.java
  src/main/java/org/jabref/gui/entryeditor/FieldsEditorTab.java
  src/main/java/org/jabref/gui/entryeditor/OffersPreview.java
  src/main/java/org/jabref/gui/entryeditor/PreviewTab.java
  src/main/java/org/jabref/gui/entryeditor/RelatedArticlesTab.java
  src/main/java/org/jabref/gui/entryeditor/citationrelationtab/CitationRelationsTab.java
  src/main/java/org/jabref/gui/shared/SharedDatabaseUIManager.java
Labels: type: code-quality

#11303 Add expert mode for shared database connection
  build.gradle
  src/main/java/org/jabref/gui/shared/SharedDatabaseLoginDialog.fxml
  src/main/java/org/jabref/gui/shared/SharedDatabaseLoginDialogView.java
  src/main/java/org/jabref/gui/shared/SharedDatabaseLoginDialogViewModel.java
  src/main/java/org/jabref/logic/shared/DBMSConnection.java
  src/main/java/org/jabref/logic/shared/DBMSConnectionProperties.java
  src/main/java/org/jabref/logic/shared/DBMSConnectionPropertiesBuilder.java
  src/main/java/org/jabref/logic/shared/DBMSType.java
  src/main/java/org/jabref/logic/shared/DatabaseConnectionProperties.java
  src/main/java/org/jabref/logic/shared/prefs/SharedDatabasePreferences.java
  src/main/resources/l10n/JabRef_en.properties
Labels: status: ready-for-review

#11355 Improve code of BibDataBaseDiff
  src/main/java/org/jabref/gui/collab/DatabaseChange.java
  src/main/java/org/jabref/gui/collab/DatabaseChangeList.java
  src/main/java/org/jabref/gui/collab/DatabaseChangeMonitor.java
  src/main/java/org/jabref/logic/bibtex/comparator/BibDatabaseDiff.java
  src/main/java/org/jabref/logic/bibtex/comparator/BibEntryDiff.java
  src/main/java/org/jabref/logic/bibtex/comparator/MetaDataDiff.java
  src/main/java/org/jabref/logic/bibtex/comparator/PreambleDiff.java
  src/main/java/org/jabref/model/entry/BibEntry.java
  src/test/java/org/jabref/logic/bibtex/comparator/BibDatabaseDiffTest.java
Labels: type: code-quality

#11387 Hotfix preferences cannot be stored
  src/main/java/org/jabref/gui/frame/JabRefFrame.java
Labels: status: ready-for-review

#11388 Fix error log on storing preferences
  src/main/java/org/jabref/preferences/JabRefPreferences.java
Labels: status: ready-for-review

#11389 Remove telemetry
  docs/code-howtos/telemetry.md
  src/main/java/org/jabref/gui/JabRefGUI.java
  src/main/java/org/jabref/gui/actions/ActionFactory.java
  src/main/java/org/jabref/gui/actions/JabRefAction.java
  src/main/java/org/jabref/gui/actions/Sources.java
  src/main/java/org/jabref/gui/bibtexextractor/BibtexExtractorViewModel.java
  src/main/java/org/jabref/gui/importer/NewEntryAction.java
  src/main/java/org/jabref/gui/importer/actions/OpenDatabaseAction.java
  src/main/java/org/jabref/gui/importer/fetcher/WebSearchPaneViewModel.java
  src/main/java/org/jabref/gui/preferences/general/GeneralTab.fxml
  src/main/java/org/jabref/gui/preferences/general/GeneralTab.java
  src/main/java/org/jabref/gui/preferences/general/GeneralTabViewModel.java
  src/main/java/org/jabref/gui/telemetry/Telemetry.java
  src/main/java/org/jabref/gui/telemetry/TelemetryClient.java
  src/main/java/org/jabref/gui/telemetry/TelemetryPreferences.java
  src/main/java/org/jabref/preferences/JabRefPreferences.java
  src/main/java/org/jabref/preferences/PreferencesService.java
  src/main/resources/l10n/JabRef_en.properties
Labels: status: ready-for-review

#11400 Add some more JavaDoc
  src/main/java/org/jabref/model/database/BibDatabaseContext.java
Labels: type: code-quality

#11415 Fix missing external changes resolver dialog scrollbar
  CHANGELOG.md
  src/main/java/org/jabref/gui/collab/DatabaseChangeDetailsView.java
  src/main/java/org/jabref/gui/collab/DatabaseChangeDetailsViewFactory.java
  src/main/java/org/jabref/gui/collab/entrychange/EntryChangeDetailsView.java
  src/main/java/org/jabref/gui/collab/groupchange/GroupChangeDetailsView.java
  src/main/java/org/jabref/gui/collab/metedatachange/MetadataChangeDetailsView.java
  src/main/java/org/jabref/gui/collab/preamblechange/PreambleChangeDetailsView.java
  src/main/java/org/jabref/gui/collab/stringadd/BibTexStringAddDetailsView.java
  src/main/java/org/jabref/gui/collab/stringchange/BibTexStringChangeDetailsView.java
  src/main/java/org/jabref/gui/collab/stringdelete/BibTexStringDeleteDetailsView.java
  src/main/java/org/jabref/gui/collab/stringrename/BibTexStringRenameDetailsView.java
Labels: status: ready-for-review

#11414 Fix medline importer keywword
  CHANGELOG.md
  src/main/java/org/jabref/logic/importer/ImportFormatReader.java
  src/main/java/org/jabref/logic/importer/fileformat/MedlinePlainImporter.java
  src/main/java/org/jabref/model/entry/field/StandardField.java
  src/test/java/org/jabref/logic/importer/ImporterTest.java
  src/test/java/org/jabref/logic/importer/fileformat/BibtexParserTest.java
  src/test/java/org/jabref/logic/importer/fileformat/MedlinePlainImporterTest.java
Labels: status: ready-for-review
