Repository JabRef/jabref, pull requests merged in 2024-11, with the labels that each got.

#12085 Changes to FileColumn allowing mouse click access to multiple files(.md, .png, etc.)
  src/main/java/org/jabref/gui/maintable/MainTableColumnFactory.java
  src/main/java/org/jabref/gui/maintable/columns/FileColumn.java
Labels: status: changes required

#12142 Add entry to CHANGELOG.md
  CHANGELOG.md
Labels: status: ready-for-review

#12144 Allow - in citaton keys
  CHANGELOG.md
  src/main/java/org/jabref/logic/citationkeypattern/CitationKeyGenerator.java
  src/test/java/org/jabref/logic/citationkeypattern/CitationKeyGeneratorTest.java
  src/test/java/org/jabref/logic/citationkeypattern/MakeLabelWithDatabaseTest.java
  src/test/java/org/jabref/logic/formatter/bibtexfields/RegexFormatterTest.java
Labels: status: ready-for-review

#12173 Add howto for git modules
  docs/getting-into-the-code/guidelines-for-setting-up-a-local-workspace/intellij-11-code-into-ide.md
Labels: type: documentation

#12171 Update JaCoCo
  build.gradle
Labels: automerge

#12185 Fix hovering and selection highlighting
  src/main/java/org/jabref/gui/Base.css
Labels: automerge

#12172 Open "near-by" .bib file
  CHANGELOG.md
  src/main/java/org/jabref/cli/ArgumentProcessor.java
  src/main/java/org/jabref/gui/frame/JabRefFrameViewModel.java
Labels: status: ready-for-review

#12189 Add Checkstyle settings for newline after catch brace
  config/IntelliJ Code Style.xml
  config/checkstyle/checkstyle.xml
  config/checkstyle/checkstyle_reviewdog.xml
  src/main/java/org/jabref/gui/LibraryTab.java
  src/main/java/org/jabref/gui/frame/JabRefFrameViewModel.java
  src/main/java/org/jabref/gui/openoffice/StyleSelectDialogViewModel.java
  src/main/java/org/jabref/gui/slr/ManageStudyDefinitionView.java
  src/main/java/org/jabref/logic/openoffice/action/Update.java
  src/main/java/org/jabref/logic/os/OS.java
Labels: status: ready-for-review

#12197 Update Gradle Wrapper from 8.10.2 to 8.11
  gradle/wrapper/gradle-wrapper.properties
Labels: dependencies, gradle-wrapper

#12200 REduce log level noise
  src/main/java/org/jabref/gui/entryeditor/FieldsEditorTab.java
Labels: automerge

#12218 Update Gradle Wrapper from 8.11 to 8.11.1
  gradle/wrapper/gradle-wrapper.properties
Labels: dependencies, gradle-wrapper

#12219 move check for invalid characters to linked files editor
  src/main/java/org/jabref/gui/fieldeditors/LinkedFilesEditor.java
  src/main/java/org/jabref/gui/fieldeditors/LinkedFilesEditorViewModel.java
  src/main/java/org/jabref/gui/linkedfile/LinkedFileEditDialogViewModel.java
  src/main/java/org/jabref/logic/util/io/FileUtil.java
  src/test/java/org/jabref/gui/linkedfile/LinkedFileEditDialogViewModelTest.java
Labels: status: ready-for-review

#12221 [OO] Major performance improvements & fixes
  src/main/java/org/jabref/logic/openoffice/oocsltext/CSLCitationOOAdapter.java
  src/main/java/org/jabref/logic/openoffice/oocsltext/CSLFormatUtils.java
  src/main/java/org/jabref/logic/openoffice/oocsltext/CSLUpdateBibliography.java
  src/test/java/org/jabref/logic/openoffice/oocsltext/CSLFormatUtilsTest.java
Labels: bug, status: ready-for-review, openoffice/libreoffice, type: performance

#12223 Open specified folder in library properties
  CHANGELOG.md
  src/main/java/org/jabref/gui/libraryproperties/general/GeneralPropertiesViewModel.java
  src/main/java/org/jabref/model/database/BibDatabaseContext.java
  src/main/resources/l10n/JabRef_en.properties
Labels: status: ready-for-review

#12220 Markdown Export Formatter
  CHANGELOG.md
  src/main/java/org/jabref/logic/exporter/ExporterFactory.java
  src/main/resources/l10n/JabRef_en.properties
  src/main/resources/resource/layout/title-markdown/title-md.article.layout
  src/main/resources/resource/layout/title-markdown/title-md.book.layout
  src/main/resources/resource/layout/title-markdown/title-md.incollection.layout
  src/main/resources/resource/layout/title-markdown/title-md.inproceedings.layout
  src/main/resources/resource/layout/title-markdown/title-md.layout
  src/test/java/org/jabref/logic/exporter/MarkdownTitleExporterTest.java
Labels: type: feature, status: ready-for-review, export / save

#12237 Fix file adding
  src/main/java/org/jabref/gui/linkedfile/LinkedFileEditDialogViewModel.java
Labels: automerge

#12067 Implementation of new modifiers for issue #11367
  src/main/java/org/jabref/logic/formatter/Formatters.java
  src/main/java/org/jabref/logic/formatter/casechanger/CamelFormatter.java
  src/main/java/org/jabref/logic/formatter/casechanger/CamelNFormatter.java
  src/main/java/org/jabref/logic/formatter/casechanger/ShortTitleFormatter.java
  src/main/java/org/jabref/logic/formatter/casechanger/VeryShortTitleFormatter.java
  src/main/resources/l10n/JabRef_en.properties
  src/test/java/org/jabref/logic/citationkeypattern/BracketedPatternTest.java
Labels: status: changes required

#12238 Add config for moderne
  .moderne/moderne.yml
  build.gradle
Labels: status: ready-for-review, automerge

#12022 Click on entry at "Check integrity" focus bug fixed
  CHANGELOG.md
  src/main/java/org/jabref/gui/entryeditor/EntryEditor.java
Labels: status: ready-for-review
