Repository JabRef/jabref, pull requests merged in 2024-12, with the labels that each got.

#12248 always set maximized to false on exit for mac
  src/main/java/org/jabref/gui/JabRefGUI.java
Labels: os: macOS, status: ready-for-review

#12253 Add hints on research (and BibTeX) to README.md
  README.md
Labels: automerge

#12042 11219 adapt UI font size
  CHANGELOG.md
  src/main/java/org/jabref/gui/Base.css
  src/main/java/org/jabref/gui/ai/components/aichat/AiChatComponent.fxml
  src/main/java/org/jabref/gui/ai/components/aichat/chathistory/ChatHistoryComponent.fxml
  src/main/java/org/jabref/gui/ai/components/aichat/chatmessage/ChatMessageComponent.fxml
  src/main/java/org/jabref/gui/ai/components/privacynotice/PrivacyNoticeComponent.fxml
  src/main/java/org/jabref/gui/ai/components/privacynotice/PrivacyNoticeComponent.java
  src/main/java/org/jabref/gui/documentviewer/DocumentViewer.css
  src/main/java/org/jabref/gui/documentviewer/DocumentViewer.fxml
  src/main/java/org/jabref/gui/entryeditor/EntryEditor.css
  src/main/java/org/jabref/gui/entryeditor/EntryEditor.fxml
  src/main/java/org/jabref/gui/entryeditor/RelatedArticlesTab.java
  src/main/java/org/jabref/gui/entryeditor/citationrelationtab/CitationRelationsTab.css
  src/main/java/org/jabref/gui/entryeditor/citationrelationtab/CitationRelationsTab.java
  src/main/java/org/jabref/gui/errorconsole/ErrorConsole.css
  src/main/java/org/jabref/gui/errorconsole/ErrorConsole.fxml
  src/main/java/org/jabref/gui/fieldeditors/journalinfo/JournalInfo.css
  src/main/java/org/jabref/gui/fieldeditors/journalinfo/JournalInfo.fxml
  src/main/java/org/jabref/gui/fieldeditors/journalinfo/JournalInfoView.java
  src/main/java/org/jabref/gui/groups/GroupDialog.fxml
  src/main/java/org/jabref/gui/groups/GroupTree.css
  src/main/java/org/jabref/gui/groups/GroupTreeView.java
  src/main/java/org/jabref/gui/help/AboutDialog.css
  src/main/java/org/jabref/gui/help/AboutDialog.fxml
  src/main/java/org/jabref/gui/importer/ImportEntriesDialog.css
  src/main/java/org/jabref/gui/importer/ImportEntriesDialog.fxml
  src/main/java/org/jabref/gui/mergeentries/MultiMergeEntries.css
  src/main/java/org/jabref/gui/mergeentries/MultiMergeEntries.fxml
  src/main/java/org/jabref/gui/mergeentries/newmergedialog/ThreeWayMergeView.css
  src/main/java/org/jabref/gui/mergeentries/newmergedialog/ThreeWayMergeView.java
  src/main/java/org/jabref/gui/openoffice/StyleSelectDialog.fxml
  src/main/java/org/jabref/gui/preferences/PreferencesDialog.css
  src/main/java/org/jabref/gui/preferences/PreferencesDialog.fxml
  src/main/java/org/jabref/gui/preferences/keybindings/KeyBindingsTab.css
  src/main/java/org/jabref/gui/slr/ManageStudyDefinition.css
  src/main/java/org/jabref/gui/texparser/ParseLatexResult.css
  src/main/java/org/jabref/gui/texparser/ParseLatexResult.fxml
  src/main/resources/l10n/JabRef_en.properties
Labels: ui, status: ready-for-review

#12217 try fixing rpm uninstall error
  buildres/linux/jabref.spec
Labels: status: ready-for-review

#12291 Switch to pr-261 of assign-issue-action
  .github/workflows/assign-issue.yml
Labels: automerge

#12294 Entry color now changes when dragging
  src/main/java/org/jabref/gui/Base.css
  src/main/java/org/jabref/gui/Dark.css
Labels: status: ready-for-review

#12216 [OO] Javadoc & readibility improvements
  build.gradle
  src/main/java/org/jabref/logic/openoffice/oocsltext/CSLCitationOOAdapter.java
  src/main/java/org/jabref/logic/openoffice/oocsltext/CSLFormatUtils.java
  src/test/java/org/jabref/logic/openoffice/oocsltext/CSLFormatUtilsTest.java
Labels: type: documentation, openoffice/libreoffice

#12308 Fix OO default jstyle loading from resources
  src/main/java/org/jabref/logic/openoffice/style/JStyle.java
Labels: status: ready-for-review

#12321 Fix application not saved in external file type
  CHANGELOG.md
  src/main/java/org/jabref/gui/preferences/externalfiletypes/ExternalFileTypesTabViewModel.java
Labels: status: ready-for-review

#12327 add toString methods to MainTableColumnModel
  src/main/java/org/jabref/gui/maintable/MainTableColumnModel.java
Labels: automerge

#12328 Update Gradle Wrapper from 8.11.1 to 8.12
  gradle/wrapper/gradle-wrapper.properties
  gradlew
Labels: dependencies, gradle-wrapper

#12325 Change mac icon
  CHANGELOG.md
  buildres/mac/Jabref-volume.icns
  buildres/mac/launcher.icns
  src/main/resources/icons/jabref.icns
Labels: status: ready-for-review

#12324 Just Delete link from entry if the file is no longer accesible on disk
  CHANGELOG.md
  src/main/java/org/jabref/gui/linkedfile/DeleteFileAction.java
Labels: status: ready-for-review
