Repository JabRef/jabref, pull requests merged in 2024-09, with the labels that each got.

#11690 Fix: Auto-sync bibliography for JStyle
  CHANGELOG.md
  src/main/java/org/jabref/gui/openoffice/OOBibBase.java
  src/main/java/org/jabref/gui/openoffice/OpenOfficePanel.java
Labels: openoffice/libreoffice

#11699 Change ADR title
  docs/decisions/0031-use-current-tab-for-deciding-style-type-for-oo.md
Labels: type: documentation

#11700 Minor refactor (Bibliography body paragraph format)
  src/main/java/org/jabref/logic/openoffice/oocsltext/CSLCitationOOAdapter.java
  src/main/java/org/jabref/logic/openoffice/oocsltext/CSLFormatUtils.java
Labels: type: code-quality

#11714 Enable Slf4jBestPractices
  rewrite.yml
  src/main/java/org/jabref/gui/ClipBoardManager.java
  src/main/java/org/jabref/gui/FallbackExceptionHandler.java
  src/main/java/org/jabref/gui/copyfiles/CopyFilesTask.java
  src/main/java/org/jabref/gui/desktop/os/NativeDesktop.java
  src/main/java/org/jabref/gui/entryeditor/RelatedArticlesTab.java
  src/main/java/org/jabref/gui/entryeditor/fileannotationtab/FileAnnotationTabViewModel.java
  src/main/java/org/jabref/gui/exporter/WriteMetadataToLinkedPdfsAction.java
  src/main/java/org/jabref/gui/icon/IconTheme.java
  src/main/java/org/jabref/gui/importer/fetcher/LookupIdentifierAction.java
  src/main/java/org/jabref/gui/journals/AbbreviateAction.java
  src/main/java/org/jabref/gui/linkedfile/DownloadLinkedFileAction.java
  src/main/java/org/jabref/gui/linkedfile/RedownloadMissingFilesAction.java
  src/main/java/org/jabref/gui/maintable/NewLibraryFromPdfAction.java
  src/main/java/org/jabref/gui/preferences/externalfiletypes/ExternalFileTypesTabViewModel.java
  src/main/java/org/jabref/gui/preview/CopyCitationAction.java
  src/main/java/org/jabref/gui/texparser/ParseLatexDialogViewModel.java
  src/main/java/org/jabref/gui/theme/StyleSheet.java
  src/main/java/org/jabref/logic/ai/ingestion/GenerateEmbeddingsForSeveralTask.java
  src/main/java/org/jabref/logic/bst/BstVMVisitor.java
  src/main/java/org/jabref/logic/bst/util/BstCaseChanger.java
  src/main/java/org/jabref/logic/bst/util/BstWidthCalculator.java
  src/main/java/org/jabref/logic/citationstyle/CitationStyle.java
  src/main/java/org/jabref/logic/formatter/bibtexfields/HtmlToLatexFormatter.java
  src/main/java/org/jabref/logic/formatter/bibtexfields/UnicodeToLatexFormatter.java
  src/main/java/org/jabref/logic/importer/fetcher/ArXivFetcher.java
  src/main/java/org/jabref/logic/importer/fetcher/GoogleScholar.java
  src/main/java/org/jabref/logic/importer/fetcher/MedlineFetcher.java
  src/main/java/org/jabref/logic/importer/fetcher/OpenAccessDoi.java
  src/main/java/org/jabref/logic/importer/fileformat/MarcXmlParser.java
  src/main/java/org/jabref/logic/importer/fileformat/MrDLibImporter.java
  src/main/java/org/jabref/logic/importer/fileformat/PicaXmlParser.java
  src/main/java/org/jabref/logic/integrity/LatexIntegrityChecker.java
  src/main/java/org/jabref/logic/l10n/Localization.java
  src/main/java/org/jabref/logic/layout/LayoutEntry.java
  src/main/java/org/jabref/logic/layout/format/RTFChars.java
  src/main/java/org/jabref/logic/openoffice/backend/Backend52.java
  src/main/java/org/jabref/logic/pdf/FileAnnotationCache.java
  src/main/java/org/jabref/logic/pdf/PdfAnnotationImporter.java
  src/main/java/org/jabref/logic/shared/DBMSConnection.java
  src/main/java/org/jabref/logic/util/io/FileUtil.java
  src/main/java/org/jabref/logic/xmp/XmpUtilWriter.java
  src/main/java/org/jabref/migrations/PreferencesMigrations.java
  src/main/java/org/jabref/model/entry/identifier/DOI.java
  src/main/java/org/jabref/model/entry/identifier/IacrEprint.java
  src/main/java/org/jabref/model/groups/SearchGroup.java
Labels: type: code-quality

#11712 [IMP] Add re-distribution of numeric CSL citations
  src/main/java/org/jabref/gui/openoffice/OOBibBase.java
  src/main/java/org/jabref/gui/preview/CopyCitationAction.java
  src/main/java/org/jabref/logic/citationstyle/CSLAdapter.java
  src/main/java/org/jabref/logic/citationstyle/CitationStyleGenerator.java
  src/main/java/org/jabref/logic/citationstyle/CitationStylePreviewLayout.java
  src/main/java/org/jabref/logic/openoffice/ReferenceMark.java
  src/main/java/org/jabref/logic/openoffice/oocsltext/CSLCitationOOAdapter.java
  src/main/java/org/jabref/logic/openoffice/oocsltext/CSLFormatUtils.java
  src/main/java/org/jabref/logic/openoffice/oocsltext/CSLReferenceMark.java
  src/main/java/org/jabref/logic/openoffice/oocsltext/CSLReferenceMarkManager.java
  src/main/java/org/jabref/logic/openoffice/oocsltext/CSLUpdateBibliography.java
  src/test/java/org/jabref/logic/citationstyle/CitationStyleGeneratorTest.java
  src/test/java/org/jabref/logic/citationstyle/CitationStyleTest.java
  src/test/java/org/jabref/logic/openoffice/ReferenceMarkTest.java
  src/test/java/org/jabref/logic/openoffice/oocsltext/CSLFormatUtilsTest.java
Labels: type: enhancement, openoffice/libreoffice

#11717 Custom export format: Browse opens selected template folder
  CHANGELOG.md
  src/main/java/org/jabref/gui/exporter/CreateModifyExporterDialog.fxml
  src/main/java/org/jabref/gui/exporter/CreateModifyExporterDialogViewModel.java
Labels: ui, status: ready-for-review

#11716 use braces corrector for abstract in arxiv
  CHANGELOG.md
  src/main/java/org/jabref/logic/importer/fetcher/ArXivFetcher.java
  src/test/java/org/jabref/logic/importer/fetcher/ArXivFetcherTest.java
  src/test/java/org/jabref/logic/integrity/BracesCorrectorTest.java
Labels: status: ready-for-review

#11715 improve-fetchers
  src/main/java/org/jabref/logic/importer/FulltextFetcher.java
  src/main/java/org/jabref/logic/importer/FulltextFetchers.java
  src/main/java/org/jabref/logic/importer/fetcher/CiteSeer.java
  src/main/java/org/jabref/logic/importer/fetcher/JstorFetcher.java
  src/main/java/org/jabref/logic/importer/fetcher/TrustLevel.java
  src/test/java/org/jabref/logic/importer/FulltextFetchersTest.java
  src/test/java/org/jabref/logic/importer/WebFetchersTest.java
Labels: status: ready-for-review, fetcher

#11720 Refine parsing format of CSL reference marks
  src/main/java/org/jabref/logic/openoffice/ReferenceMark.java
Labels: type: enhancement, type: documentation

#11723 CSL - Fix bug when inserting reference coalescing before first entry
  src/main/java/org/jabref/logic/openoffice/oocsltext/CSLReferenceMarkManager.java
Labels: openoffice/libreoffice

#11721 Reduce log noise, even in debug mode
  src/main/java/org/jabref/gui/maintable/MainTable.java
  src/main/java/org/jabref/gui/theme/StyleSheetFile.java
  src/main/java/org/jabref/logic/xmp/XmpUtilReader.java
  src/main/java/org/jabref/model/search/Analyzer/LatexToUnicodeFoldingFilter.java
  src/main/resources/tinylog.properties
Labels: status: ready-for-review

#11710 Adds OpenFastTrace for requirements tracking
  .github/workflows/tests.yml
  build.gradle
  docs/contributing.md
  docs/requirements/ai.md
  docs/requirements/index.md
  src/main/java/org/jabref/gui/ai/components/aichat/chatprompt/ChatPromptComponent.java
Labels: status: ready-for-review, type: code-quality

#11724 Show only one notification when cutting an entry
  CHANGELOG.md
  src/main/java/org/jabref/gui/LibraryTab.java
  src/main/java/org/jabref/gui/edit/EditAction.java
  src/main/java/org/jabref/gui/entryeditor/EntryEditor.java
  src/main/java/org/jabref/gui/frame/JabRefFrame.java
  src/main/java/org/jabref/gui/importer/NewEntryAction.java
  src/main/java/org/jabref/gui/importer/actions/OpenDatabaseAction.java
  src/main/java/org/jabref/gui/maintable/MainTable.java
  src/main/java/org/jabref/gui/openoffice/OpenOfficePanel.java
  src/main/java/org/jabref/gui/shared/SharedDatabaseUIManager.java
  src/main/resources/l10n/JabRef_en.properties
Labels: jabcon

#11728 Fix ArgumentProcessor
  src/main/java/org/jabref/cli/ArgumentProcessor.java
  src/main/java/org/jabref/gui/externalfiles/AutoLinkFilesAction.java
  src/main/java/org/jabref/gui/externalfiles/AutoSetFileLinksUtil.java
  src/main/java/org/jabref/gui/frame/JabRefFrameViewModel.java
  src/main/java/org/jabref/gui/maintable/BibEntryTableViewModel.java
  src/main/java/org/jabref/logic/UiCommand.java
  src/main/java/org/jabref/logic/search/DatabaseSearcher.java
Labels: jabcon

#11731 Fixed an exception when searching for unlinked files.
  CHANGELOG.md
  src/main/java/org/jabref/gui/util/FileNodeViewModel.java
Labels: status: ready-for-review, jabcon

#11735 Add pref switch to not store url
  CHANGELOG.md
  src/main/java/org/jabref/gui/linkedfile/DownloadLinkedFileAction.java
  src/main/java/org/jabref/gui/preferences/websearch/WebSearchTab.fxml
  src/main/java/org/jabref/gui/preferences/websearch/WebSearchTab.java
  src/main/java/org/jabref/gui/preferences/websearch/WebSearchTabViewModel.java
  src/main/java/org/jabref/preferences/FilePreferences.java
  src/main/java/org/jabref/preferences/JabRefPreferences.java
  src/main/resources/l10n/JabRef_en.properties
  src/test/java/org/jabref/gui/linkedfile/DownloadLinkedFileActionTest.java
Labels: status: ready-for-review, preferences

#11737 Fix fetcher tests
  src/test/java/org/jabref/logic/importer/fetcher/OpenAccessDoiTest.java
  src/test/java/org/jabref/logic/importer/fetcher/TitleFetcherTest.java
Labels: fetcher, tests

#11733 Remove AI service from OpenOfficePanel
  src/main/java/org/jabref/gui/openoffice/OpenOfficePanel.java
  src/main/java/org/jabref/gui/sidepane/SidePaneContentFactory.java
Labels: type: code-quality

#11751 Update Gradle Wrapper from 8.10 to 8.10.1
  gradle/wrapper/gradle-wrapper.properties
Labels: dependencies, gradle-wrapper

#11749 Fix search test NPE
  src/main/java/org/jabref/logic/search/DatabaseSearcher.java
  src/main/java/org/jabref/logic/search/LuceneManager.java
  src/main/java/org/jabref/logic/search/indexing/BibFieldsIndexer.java
  src/main/java/org/jabref/logic/search/indexing/DefaultLinkedFilesIndexer.java
  src/main/java/org/jabref/logic/search/indexing/ReadOnlyLinkedFilesIndexer.java
  src/main/java/org/jabref/model/search/LuceneIndexer.java
  src/test/java/org/jabref/logic/search/DatabaseSearcherTest.java
  src/test/java/org/jabref/logic/search/DatabaseSearcherWithBibFilesTest.java
Labels: tests

#11736 Add Gemini LLM
  PRIVACY.md
  build.gradle
  src/main/java/module-info.java
  src/main/java/org/jabref/gui/ai/components/privacynotice/PrivacyNoticeComponent.fxml
  src/main/java/org/jabref/gui/ai/components/privacynotice/PrivacyNoticeComponent.java
  src/main/java/org/jabref/gui/preferences/ai/AiTabViewModel.java
  src/main/java/org/jabref/logic/ai/AiDefaultPreferences.java
  src/main/java/org/jabref/logic/ai/chatting/model/JabRefChatLanguageModel.java
  src/main/java/org/jabref/preferences/JabRefPreferences.java
  src/main/java/org/jabref/preferences/ai/AiPreferences.java
  src/main/java/org/jabref/preferences/ai/AiProvider.java
  src/main/resources/l10n/JabRef_en.properties
Labels: AI

#11732 Add setting: always add "Cited on pages" text to JStyles.
  CHANGELOG.md
  src/main/java/org/jabref/gui/openoffice/OOBibBase.java
  src/main/java/org/jabref/gui/openoffice/OpenOfficePanel.java
  src/main/java/org/jabref/logic/openoffice/OpenOfficePreferences.java
  src/main/java/org/jabref/preferences/JabRefPreferences.java
  src/main/resources/l10n/JabRef_en.properties
Labels: ui, openoffice/libreoffice, preferences

#11759 finish todo in HtmlToLatexFormatter
  src/main/java/org/jabref/logic/formatter/bibtexfields/HtmlToLatexFormatter.java
Labels: type: code-quality

#11765 FAQ updates
  docs/code-howtos/faq.md
  docs/images/gradle-tests.png
  docs/images/submodule-commit.png
  docs/images/submodules.png
  src/main/java/org/jabref/gui/undo/RedoAction.java
Labels: type: documentation

#11781 Add more OS-dependent context to panel freeze dev documentation.
  docs/getting-into-the-code/guidelines-for-setting-up-a-local-workspace/trouble-shooting.md
Labels: type: documentation

#11767 minor refactor to JabRefDialogService
  src/main/java/org/jabref/gui/JabRefDialogService.java
Labels: type: code-quality

#11782 Improve pdf content parser for DOIs
  CHANGELOG.md
  src/main/java/org/jabref/logic/importer/fileformat/PdfContentImporter.java
  src/test/java/org/jabref/logic/importer/fileformat/PdfContentImporterTest.java
Labels: status: ready-for-review

#11788 [AI] Add more uses statements
  build.gradle
  src/main/java/module-info.java
Labels: dependencies, AI

#11792 Fix tags field focus
  CHANGELOG.md
  src/main/java/org/jabref/gui/Base.css
  src/main/java/org/jabref/gui/fieldeditors/KeywordsEditor.java
  src/main/java/org/jabref/gui/fieldeditors/LinkedEntriesEditor.java
  src/main/java/org/jabref/gui/preferences/autocompletion/AutoCompletionTab.java
Labels: ui, status: ready-for-review, keywords

#11797 fix arxiv html download redirect
  CHANGELOG.md
  build.gradle
  src/main/java/org/jabref/gui/linkedfile/DownloadLinkedFileAction.java
  src/main/java/org/jabref/logic/net/URLDownload.java
  src/test/java/org/jabref/gui/linkedfile/DownloadLinkedFileActionTest.java
  src/test/java/org/jabref/logic/net/URLDownloadTest.java
Labels: status: ready-for-review

#11804 Fix exception on opening same file twice
  src/main/java/org/jabref/gui/importer/actions/OpenDatabaseAction.java
Labels: status: ready-for-review

#11807 Update Dockerfile
  docs/Dockerfile
Labels: type: documentation, dependencies

#11806 Add favicon to devdocs
  docs/_config.yml
  docs/images/favicon.ico
Labels: type: documentation

#11779 OO Maintenance: Better checks, clean up dead code, refactoring
  src/main/java/org/jabref/gui/openoffice/OpenOfficePanel.java
  src/main/java/org/jabref/gui/sidepane/SidePaneContentFactory.java
Labels: openoffice/libreoffice, type: code-quality

#11808 Fix thesis search fetcher test
  src/test/java/org/jabref/logic/importer/fetcher/ISIDOREFetcherTest.java
Labels: fetcher, tests

#11824 Migrate to new URI API
  rewrite.yml
  src/main/java/org/jabref/gui/fieldeditors/LinkedFilesEditorViewModel.java
  src/main/java/org/jabref/gui/fieldeditors/URLUtil.java
  src/main/java/org/jabref/gui/linkedfile/AttachFileFromURLAction.java
  src/main/java/org/jabref/gui/linkedfile/LinkedFileEditDialogViewModel.java
  src/main/java/org/jabref/logic/importer/fetcher/ACS.java
  src/main/java/org/jabref/logic/importer/fetcher/ApsFetcher.java
  src/main/java/org/jabref/logic/importer/fetcher/ArXivFetcher.java
  src/main/java/org/jabref/logic/importer/fetcher/BibsonomyScraper.java
  src/main/java/org/jabref/logic/importer/fetcher/CiteSeer.java
  src/main/java/org/jabref/logic/importer/fetcher/DoiFetcher.java
  src/main/java/org/jabref/logic/importer/fetcher/DoiResolution.java
  src/main/java/org/jabref/logic/importer/fetcher/GoogleScholar.java
  src/main/java/org/jabref/logic/importer/fetcher/IEEE.java
  src/main/java/org/jabref/logic/importer/fetcher/IacrEprintFetcher.java
  src/main/java/org/jabref/logic/importer/fetcher/JstorFetcher.java
  src/main/java/org/jabref/logic/importer/fetcher/Medra.java
  src/main/java/org/jabref/logic/importer/fetcher/OpenAccessDoi.java
  src/main/java/org/jabref/logic/importer/fetcher/ResearchGate.java
  src/main/java/org/jabref/logic/importer/fetcher/ScienceDirect.java
  src/main/java/org/jabref/logic/importer/fetcher/SemanticScholar.java
  src/main/java/org/jabref/logic/importer/fetcher/SpringerFetcher.java
  src/main/java/org/jabref/logic/importer/fetcher/SpringerLink.java
  src/main/java/org/jabref/logic/importer/fileformat/MarcXmlParser.java
  src/main/java/org/jabref/logic/importer/util/FileFieldParser.java
  src/main/java/org/jabref/logic/net/URLDownload.java
  src/main/java/org/jabref/logic/util/Version.java
  src/test/java/org/jabref/gui/fieldeditors/LinkedFileViewModelTest.java
  src/test/java/org/jabref/gui/linkedfile/DownloadLinkedFileActionTest.java
  src/test/java/org/jabref/logic/help/HelpFileTest.java
  src/test/java/org/jabref/logic/importer/FulltextFetchersTest.java
  src/test/java/org/jabref/logic/importer/fetcher/ACSTest.java
  src/test/java/org/jabref/logic/importer/fetcher/ApsFetcherTest.java
  src/test/java/org/jabref/logic/importer/fetcher/ArXivFetcherTest.java
  src/test/java/org/jabref/logic/importer/fetcher/CiteSeerTest.java
  src/test/java/org/jabref/logic/importer/fetcher/DoiResolutionTest.java
  src/test/java/org/jabref/logic/importer/fetcher/GoogleScholarTest.java
  src/test/java/org/jabref/logic/importer/fetcher/IEEETest.java
  src/test/java/org/jabref/logic/importer/fetcher/JstorFetcherTest.java
  src/test/java/org/jabref/logic/importer/fetcher/OpenAccessDoiTest.java
  src/test/java/org/jabref/logic/importer/fetcher/ResearchGateTest.java
  src/test/java/org/jabref/logic/importer/fetcher/ScienceDirectTest.java
  src/test/java/org/jabref/logic/importer/fetcher/SpringerLinkTest.java
  src/test/java/org/jabref/logic/importer/util/FileFieldParserTest.java
  src/test/java/org/jabref/logic/net/URLDownloadTest.java
  src/test/java/org/jabref/logic/util/ExternalLinkCreatorTest.java
  src/test/java/org/jabref/model/entry/BibEntryTest.java
Labels: type: code-quality

#11828 Update Gradle Wrapper from 8.10.1 to 8.10.2
  gradle/wrapper/gradle-wrapper.properties
Labels: dependencies, gradle-wrapper

#11838 convert Inner classes to record classes
  src/main/java/org/jabref/gui/entryeditor/SourceTab.java
  src/main/java/org/jabref/logic/importer/fileformat/MrDLibImporter.java
  src/main/java/org/jabref/logic/openoffice/action/EditMerge.java
  src/main/java/org/jabref/model/openoffice/rangesort/RangeSortVisual.java
Labels: openoffice/libreoffice, type: code-quality

#11843 Improve performance with duplicate check on paste
  CHANGELOG.md
  src/main/java/org/jabref/gui/externalfiles/ImportHandler.java
  src/main/java/org/jabref/logic/database/DuplicateCheck.java
Labels: status: ready-for-review

#11844 Handle AI service exceptions when starting second instance
  src/main/java/org/jabref/logic/ai/chatting/chathistory/storages/MVStoreChatHistoryStorage.java
  src/main/java/org/jabref/logic/ai/util/MVStoreBase.java
Labels: status: ready-for-review

#11851 Code refinements
  rewrite.yml
  src/main/java/org/jabref/gui/entryeditor/DeprecatedFieldsTab.java
  src/main/java/org/jabref/gui/entryeditor/citationrelationtab/semanticscholar/SemanticScholarFetcher.java
  src/main/java/org/jabref/logic/auxparser/DefaultAuxParser.java
  src/main/java/org/jabref/logic/bibtex/comparator/BibDatabaseDiff.java
  src/main/java/org/jabref/logic/cleanup/ConvertToBiblatexCleanup.java
  src/main/java/org/jabref/logic/cleanup/ConvertToBibtexCleanup.java
  src/main/java/org/jabref/logic/cleanup/FileLinksCleanup.java
  src/main/java/org/jabref/logic/cleanup/ISSNCleanup.java
  src/main/java/org/jabref/logic/importer/fetcher/ACS.java
  src/main/java/org/jabref/logic/importer/fetcher/ApsFetcher.java
  src/main/java/org/jabref/logic/importer/fetcher/MrDLibFetcher.java
  src/main/java/org/jabref/logic/importer/fetcher/OpenAccessDoi.java
  src/main/java/org/jabref/logic/integrity/DateChecker.java
  src/main/java/org/jabref/logic/integrity/FileChecker.java
  src/main/java/org/jabref/logic/msbib/MSBibConverter.java
  src/main/java/org/jabref/logic/shared/DBMSSynchronizer.java
  src/main/java/org/jabref/migrations/ConvertLegacyExplicitGroups.java
  src/main/java/org/jabref/migrations/ConvertMarkingToGroups.java
  src/main/java/org/jabref/model/util/OptionalUtil.java
Labels: type: code-quality

#11852 Update user agent and log URL
  CHANGELOG.md
  src/main/java/org/jabref/gui/linkedfile/DownloadLinkedFileAction.java
  src/main/java/org/jabref/gui/preferences/websearch/WebSearchTabViewModel.java
  src/main/java/org/jabref/logic/importer/FetcherException.java
  src/main/java/org/jabref/logic/importer/fetcher/BvbFetcher.java
  src/main/java/org/jabref/logic/importer/fetcher/IEEE.java
  src/main/java/org/jabref/logic/importer/fetcher/ResearchGate.java
  src/main/java/org/jabref/logic/importer/fileformat/MarcXmlParser.java
  src/main/java/org/jabref/logic/net/URLDownload.java
  src/main/java/org/jabref/logic/net/ssl/TrustStoreManager.java
  src/test/java/org/jabref/logic/importer/fetcher/BvbFetcherTest.java
Labels: status: ready-for-review

#11854 Ask for enable indexing when clicking fulltext search
  CHANGELOG.md
  src/main/java/org/jabref/gui/search/GlobalSearchBar.java
  src/main/resources/l10n/JabRef_en.properties
Labels: status: ready-for-review

#11865 Fix not on FX thread exception for DOI(arxiv lookup
  CHANGELOG.md
  src/main/java/org/jabref/gui/importer/fetcher/LookupIdentifierAction.java
Labels: status: ready-for-review
