Repository JabRef/jabref, pull requests merged in 2024-05, with the labels that each got.

#11271 Fix import selected groups
  CHANGELOG.md
  src/main/java/org/jabref/gui/LibraryTab.java
  src/main/java/org/jabref/gui/StateManager.java
  src/main/java/org/jabref/gui/externalfiles/ImportHandler.java
  src/main/java/org/jabref/gui/groups/GroupNodeViewModel.java
  src/main/java/org/jabref/gui/groups/GroupTreeViewModel.java
  src/main/java/org/jabref/model/database/BibDatabaseContext.java
  src/test/java/org/jabref/gui/groups/GroupTreeViewModelTest.java
Labels: status: ready-for-review

#11272 Remove obsolete methods
  src/main/java/org/jabref/cli/JabRefCLI.java
  src/main/resources/l10n/JabRef_en.properties
  src/test/java/org/jabref/cli/JabRefCLITest.java
Labels: type: code-quality

#11273 Fix missing add opens for javafx on mac
  .github/workflows/deployment-arm64.yml
  .github/workflows/deployment.yml
Labels: build-system

#11283 Fix jacoco plugin
  build.gradle
  docs/code-howtos/testing.md
Labels: type: code-quality

#11285 Store preview divider pos in entry editor
  CHANGELOG.md
  src/main/java/org/jabref/gui/entryeditor/EntryEditorPreferences.java
  src/main/java/org/jabref/gui/entryeditor/FieldsEditorTab.java
  src/main/java/org/jabref/preferences/JabRefPreferences.java
Labels: status: ready-for-review

#9797 Try parallel tests
  build.gradle
Labels: build-system, status: ready-for-review

#11299 Fix comment
  src/main/java/org/jabref/model/entry/BibEntry.java
Labels: type: code-quality

#11329 New method FileUtil#relativize
  docs/code-howtos/index.md
  src/main/java/org/jabref/gui/externalfiles/ExternalFilesEntryLinker.java
  src/main/java/org/jabref/gui/externalfiletype/CustomExternalFileType.java
  src/main/java/org/jabref/gui/linkedfile/LinkedFilesEditDialogViewModel.java
  src/main/java/org/jabref/logic/cleanup/RelativePathsCleanup.java
  src/main/java/org/jabref/logic/externalfiles/LinkedFileHandler.java
  src/main/java/org/jabref/logic/util/io/FileUtil.java
Labels: type: code-quality

#11339 Fix parsing of single Uppercase author last name
  CHANGELOG.md
  src/main/java/org/jabref/logic/importer/AuthorListParser.java
  src/test/java/org/jabref/logic/importer/AuthorListParserTest.java
Labels: status: ready-for-review

#11345 Apply font size override after setting theme
  CHANGELOG.md
  src/main/java/org/jabref/gui/theme/ThemeManager.java
Labels: status: ready-for-review
