Repository JabRef/jabref, pull requests merged in 2025-04, with the labels that each got.

#12879 Jacoco 0.8.13 is now released
  build.gradle
Labels: automerge

#12885 Fix improper positioning of warning sign
  CHANGELOG.md
  src/main/java/org/jabref/gui/util/IconValidationDecorator.java
Labels: status: ready-for-review

#12867 Add validations to file directories in library properties
  CHANGELOG.md
  src/main/java/org/jabref/gui/libraryproperties/LibraryPropertiesView.java
  src/main/java/org/jabref/gui/libraryproperties/LibraryPropertiesViewModel.java
  src/main/java/org/jabref/gui/libraryproperties/general/GeneralPropertiesView.java
  src/main/java/org/jabref/gui/libraryproperties/general/GeneralPropertiesViewModel.java
  src/main/resources/l10n/JabRef_en.properties
Labels: status: ready-for-review

#12876 Use a Tag Field for Resolve strings and Do not wrap
  CHANGELOG.md
  src/main/java/org/jabref/gui/preferences/entry/EntryTab.fxml
  src/main/java/org/jabref/gui/preferences/entry/EntryTab.java
  src/main/java/org/jabref/gui/preferences/entry/EntryTabViewModel.java
Labels: status: ready-for-review

#12890 Remove key handling mac paste workaround and focus on maintable
  src/main/java/org/jabref/gui/LibraryTab.java
  src/main/java/org/jabref/gui/frame/JabRefFrame.java
Labels: status: ready-for-review, automerge

#12797 Add support for remembering last-used directory in file attachment dialog
  CHANGELOG.md
  src/main/java/org/jabref/gui/linkedfile/AttachFileAction.java
  src/main/java/org/jabref/gui/preferences/linkedfiles/LinkedFilesTab.fxml
  src/main/java/org/jabref/gui/preferences/linkedfiles/LinkedFilesTab.java
  src/main/java/org/jabref/gui/preferences/linkedfiles/LinkedFilesTabViewModel.java
  src/main/java/org/jabref/logic/FilePreferences.java
  src/main/java/org/jabref/logic/preferences/JabRefCliPreferences.java
  src/main/resources/l10n/JabRef_en.properties
Labels: status: ready-for-review

#12925 fix donations url
  src/main/java/org/jabref/gui/frame/MainMenu.java
  src/main/java/org/jabref/gui/help/HelpAction.java
  src/main/java/org/jabref/gui/util/URLs.java
Labels: automerge

#12911 Fix: Allow pasting PDF URLs into main table to create entries
  CHANGELOG.md
  src/main/java/org/jabref/gui/externalfiles/ImportHandler.java
  src/main/java/org/jabref/logic/util/URLUtil.java
Labels: status: ready-for-review

#12943 Rework tooling hints - and add mise
  docs/code-howtos/tools.md
  docs/getting-into-the-code/guidelines-for-setting-up-a-local-workspace/pre-02-software.md
  mise.toml
Labels: status: ready-for-review

#12210 Refactor IoC - A: Extract Entry Editor
  src/main/java/org/jabref/gui/CoreGuiPreferences.java
  src/main/java/org/jabref/gui/JabRefGUI.java
  src/main/java/org/jabref/gui/LibraryTab.java
  src/main/java/org/jabref/gui/LibraryTabContainer.java
  src/main/java/org/jabref/gui/StateManager.java
  src/main/java/org/jabref/gui/WelcomeTab.java
  src/main/java/org/jabref/gui/consistency/ConsistencyCheckDialog.java
  src/main/java/org/jabref/gui/entryeditor/AiChatTab.java
  src/main/java/org/jabref/gui/entryeditor/AiSummaryTab.java
  src/main/java/org/jabref/gui/entryeditor/CommentsTab.java
  src/main/java/org/jabref/gui/entryeditor/DeprecatedFieldsTab.java
  src/main/java/org/jabref/gui/entryeditor/DetailOptionalFieldsTab.java
  src/main/java/org/jabref/gui/entryeditor/EntryEditor.java
  src/main/java/org/jabref/gui/entryeditor/EntryEditorPreferences.java
  src/main/java/org/jabref/gui/entryeditor/FieldsEditorTab.java
  src/main/java/org/jabref/gui/entryeditor/ImportantOptionalFieldsTab.java
  src/main/java/org/jabref/gui/entryeditor/LatexCitationsTab.java
  src/main/java/org/jabref/gui/entryeditor/LatexCitationsTabViewModel.java
  src/main/java/org/jabref/gui/entryeditor/OpenEntryEditorAction.java
  src/main/java/org/jabref/gui/entryeditor/OptionalFieldsTabBase.java
  src/main/java/org/jabref/gui/entryeditor/OtherFieldsTab.java
  src/main/java/org/jabref/gui/entryeditor/PreviewSwitchAction.java
  src/main/java/org/jabref/gui/entryeditor/PreviewTab.java
  src/main/java/org/jabref/gui/entryeditor/RelatedArticlesTab.java
  src/main/java/org/jabref/gui/entryeditor/RequiredFieldsTab.java
  src/main/java/org/jabref/gui/entryeditor/SourceTab.java
  src/main/java/org/jabref/gui/entryeditor/TabWithPreviewPanel.java
  src/main/java/org/jabref/gui/entryeditor/UserDefinedFieldsTab.java
  src/main/java/org/jabref/gui/entryeditor/citationrelationtab/CitationRelationsTab.java
  src/main/java/org/jabref/gui/entryeditor/citationrelationtab/CitationsRelationsTabViewModel.java
  src/main/java/org/jabref/gui/entryeditor/fileannotationtab/FileAnnotationTab.java
  src/main/java/org/jabref/gui/entryeditor/fileannotationtab/FulltextSearchResultsTab.java
  src/main/java/org/jabref/gui/frame/JabRefFrame.java
  src/main/java/org/jabref/gui/frame/MainMenu.java
  src/main/java/org/jabref/gui/integrity/IntegrityCheckDialog.java
  src/main/java/org/jabref/gui/preferences/JabRefGuiPreferences.java
  src/main/java/org/jabref/gui/preview/PreviewControls.java
  src/main/java/org/jabref/gui/preview/PreviewPanel.java
  src/main/java/org/jabref/gui/preview/PreviewViewer.java
  src/main/java/org/jabref/gui/search/GlobalSearchBar.java
  src/main/java/org/jabref/gui/search/GlobalSearchResultDialog.java
  src/main/java/org/jabref/gui/shared/SharedDatabaseUIManager.java
  src/main/java/org/jabref/gui/util/DirectoryMonitor.java
  src/main/java/org/jabref/model/util/DirectoryMonitor.java
  src/main/java/org/jabref/model/util/DirectoryMonitorManager.java
  src/main/resources/l10n/JabRef_en.properties
  src/test/java/org/jabref/gui/entryeditor/CommentsTabTest.java
  src/test/java/org/jabref/gui/entryeditor/SourceTabTest.java
  src/test/java/org/jabref/gui/entryeditor/citationrelationtab/CitationsRelationsTabViewModelTest.java
  src/test/java/org/jabref/gui/importer/NewEntryActionTest.java
  src/test/java/org/jabref/gui/importer/actions/OpenDatabaseActionTest.java
Labels: component: ui, status: ready-for-review, dev: code-quality, component: entry-editor

#12954 Upgrade Gradle syntax
  build.gradle
  settings.gradle
Labels: dev: ci-cd

#12805 Fix PDFs rename format pattern to given filename
  CHANGELOG.md
  src/main/java/org/jabref/gui/externalfiles/ImportHandler.java
Labels: status: changes required

#12955 EntryEditor now also shows on empty entries
  docs/requirements/entry-editor.md
  src/main/java/org/jabref/gui/entryeditor/EntryEditor.java
Labels: component: entry-editor

#12962 Reenable commenting on missing issue number
  .github/ghprcomment.yml
  .github/workflows/on-pr-opened-updated.yml
Labels: automerge

#12747 Added example questions to AI chat
  CHANGELOG.md
  src/main/java/org/jabref/gui/Base.css
  src/main/java/org/jabref/gui/ai/components/aichat/AiChatComponent.fxml
  src/main/java/org/jabref/gui/ai/components/aichat/AiChatComponent.java
  src/main/java/org/jabref/gui/preferences/ai/AiTab.fxml
  src/main/resources/l10n/JabRef_en.properties
Labels: status: changes required, component: ai

#12964 Try to fix numbering
  docs/getting-into-the-code/guidelines-for-setting-up-a-local-workspace/intellij-89-run-with-intellij.md
Labels: automerge

#12951 CSL4LibreOffice - G [Custom CSL Styles, build-time loading]
  CHANGELOG.md
  build.gradle
  docs/code-howtos/faq.md
  src/main/java/org/jabref/Launcher.java
  src/main/java/org/jabref/gui/openoffice/CSLStyleSelectViewModel.java
  src/main/java/org/jabref/gui/openoffice/JStyleSelectViewModel.java
  src/main/java/org/jabref/gui/openoffice/OpenOfficePanel.java
  src/main/java/org/jabref/gui/openoffice/StyleSelectDialog.fxml
  src/main/java/org/jabref/gui/openoffice/StyleSelectDialogView.java
  src/main/java/org/jabref/gui/openoffice/StyleSelectDialogViewModel.java
  src/main/java/org/jabref/gui/preferences/JabRefGuiPreferences.java
  src/main/java/org/jabref/gui/preferences/preview/PreviewTabViewModel.java
  src/main/java/org/jabref/logic/citationstyle/CSLStyleLoader.java
  src/main/java/org/jabref/logic/citationstyle/CSLStyleUtils.java
  src/main/java/org/jabref/logic/citationstyle/CitationStyle.java
  src/main/java/org/jabref/logic/citationstyle/CitationStyleCatalogGenerator.java
  src/main/java/org/jabref/logic/openoffice/OpenOfficePreferences.java
  src/main/java/org/jabref/logic/openoffice/style/JStyleLoader.java
  src/main/java/org/jabref/logic/preferences/JabRefCliPreferences.java
  src/main/java/org/jabref/logic/util/StandardFileType.java
  src/main/resources/l10n/JabRef_en.properties
  src/test/java/org/jabref/logic/citationstyle/CSLStyleUtilsTest.java
  src/test/java/org/jabref/logic/citationstyle/CitationStyleGeneratorTest.java
  src/test/java/org/jabref/logic/citationstyle/CitationStyleTest.java
  src/test/java/org/jabref/logic/openoffice/oocsltext/CSLFormatUtilsTest.java
  src/test/java/org/jabref/logic/openoffice/style/JStyleLoaderTest.java
  src/test/java/org/jabref/logic/openoffice/style/JStyleTest.java
  src/test/resources/org/jabref/logic/citationstyle/ieee-bold-author.csl
  src/test/resources/org/jabref/logic/citationstyle/literatura.csl
  src/test/resources/org/jabref/logic/citationstyle/modified-apa.csl
Labels: component: ui, dev: build-system, status: ready-for-review, component: libre-office, dev: code-quality, dev: performance, component: entry-preview

#12970 Clean build process
  build.gradle
  src/main/java/org/jabref/logic/citationstyle/CitationStyleCatalogGenerator.java
Labels: dev: build-system

#12961 [OO] Allow slashes in citation keys for reference marks
  CHANGELOG.md
  src/main/java/org/jabref/logic/openoffice/ReferenceMark.java
  src/test/java/org/jabref/logic/openoffice/ReferenceMarkTest.java
Labels: status: ready-for-review, component: libre-office

#12968 Rearrange some CSL methods, add more tests
  src/main/java/org/jabref/gui/preferences/JabRefGuiPreferences.java
  src/main/java/org/jabref/logic/citationstyle/CSLStyleUtils.java
  src/main/java/org/jabref/logic/citationstyle/CitationStyle.java
  src/main/java/org/jabref/logic/preferences/JabRefCliPreferences.java
  src/test/java/org/jabref/logic/citationstyle/CSLStyleUtilsTest.java
Labels: dev: code-quality, dev: testing

#12972 Refine documentation
  README.md
  docs/code-howtos/cli.md
  docs/code-howtos/faq.md
  docs/code-howtos/groups.md
  docs/code-howtos/index.md
  docs/getting-into-the-code/development-strategy.md
  docs/getting-into-the-code/high-level-documentation.md
  docs/index.md
Labels: automerge

#12977 Enhance LTWA code
  src/main/java/org/jabref/logic/journals/ltwa/LtwaRepository.java
  src/main/java/org/jabref/logic/journals/ltwa/LtwaTsvParser.java
  src/main/java/org/jabref/logic/journals/ltwa/NormalizeUtils.java
  src/main/java/org/jabref/logic/journals/ltwa/PrefixTree.java
Labels: dev: code-quality

#12976 Add test to PdfMergeMetadataImporterTest
  src/test/java/org/jabref/logic/importer/fileformat/pdf/PdfMergeMetadataImporterTest.java
  src/test/resources/pdfs/test-arxivMetadata.pdf
Labels: status: ready-for-review

#12983 Remove usage of Injector in `StyleSelectDialogViewModel`
  src/main/java/org/jabref/gui/openoffice/StyleSelectDialogViewModel.java
Labels: dev: code-quality

#12991 Fix NPE when no citekey available
  src/main/java/org/jabref/model/database/BibDatabase.java
  src/main/java/org/jabref/model/database/KeyChangeListener.java
Labels: status: ready-for-review

#12996 CSL4LibreOffice - H [Non-bibliographic styles]
  CHANGELOG.md
  src/main/java/org/jabref/gui/openoffice/ModifyCSLBibliographyTitleDialogView.java
  src/main/java/org/jabref/gui/openoffice/ModifyCSLBibliographyTitleDialogViewModel.java
  src/main/java/org/jabref/gui/openoffice/OOBibBase.java
  src/main/java/org/jabref/gui/openoffice/OpenOfficePanel.java
  src/main/java/org/jabref/gui/preview/ClipboardContentGenerator.java
  src/main/java/org/jabref/logic/citationstyle/CSLStyleLoader.java
  src/main/java/org/jabref/logic/citationstyle/CSLStyleUtils.java
  src/main/java/org/jabref/logic/citationstyle/CitationStyle.java
  src/main/java/org/jabref/logic/citationstyle/CitationStyleCatalogGenerator.java
  src/main/java/org/jabref/logic/citationstyle/CitationStyleGenerator.java
  src/main/java/org/jabref/logic/citationstyle/CitationStylePreviewLayout.java
  src/main/java/org/jabref/logic/openoffice/oocsltext/CSLCitationOOAdapter.java
  src/main/java/org/jabref/logic/openoffice/oocsltext/CSLFormatUtils.java
  src/main/resources/l10n/JabRef_en.properties
  src/test/java/org/jabref/logic/citationstyle/CSLStyleLoaderTest.java
  src/test/java/org/jabref/logic/citationstyle/CSLStyleUtilsTest.java
  src/test/java/org/jabref/logic/citationstyle/CitationStyleCatalogGeneratorTest.java
  src/test/java/org/jabref/logic/citationstyle/CitationStyleGeneratorTest.java
  src/test/java/org/jabref/logic/citationstyle/CitationStyleTest.java
  src/test/java/org/jabref/logic/openoffice/oocsltext/CSLFormatUtilsTest.java
Labels: component: libre-office, status: awaiting second review

#13011 JabKit build
  .github/workflows/deployment.yml
  jabgui/build.gradle.kts
  jabkit/build.gradle.kts
  jabkit/src/main/java/org/jabref/cli/JabKitCliOptions.java
Labels: component: JabKit [cli]

#13010 Refine text for update available
  jabgui/src/main/java/org/jabref/gui/help/NewVersionDialog.java
  jablib/src/main/resources/l10n/JabRef_en.properties
Labels: component: ui

#13038 Fix path - and fix typo
  docs/getting-into-the-code/guidelines-for-setting-up-a-local-workspace/intellij-11-code-into-ide.md
  docs/getting-into-the-code/guidelines-for-setting-up-a-local-workspace/pre-02-software.md
Labels: automerge
