Repository JabRef/jabref, pull requests merged in 2025-08, with the labels that each got.

#13387 Add Copy markdown to copy citation
  CHANGELOG.md
  jabgui/src/main/java/org/jabref/gui/actions/StandardActions.java
  jabgui/src/main/java/org/jabref/gui/maintable/RightClickMenu.java
  jabgui/src/main/java/org/jabref/gui/preview/ClipboardContentGenerator.java
  jabgui/src/test/java/org/jabref/gui/preview/ClipboardContentGeneratorTest.java
  jablib/src/main/java/org/jabref/logic/citationstyle/CitationStyleOutputFormat.java
  jablib/src/main/resources/l10n/JabRef_en.properties
Labels: component: entry-preview

#13620 Issue 13619 Make Citation relations text more clear.
  CHANGELOG.md
  jabgui/src/main/java/org/jabref/gui/entryeditor/citationrelationtab/CitationRelationsTab.java
  jablib/src/main/resources/l10n/JabRef_en.properties
Labels: component: citation-relations

#13574 Improve requirements example
  build.gradle.kts
  docs/requirements/index.md
Labels: automerge

#13638 Add small TODO
  jabgui/src/main/java/org/jabref/gui/fieldeditors/ISSNEditor.java
Labels: dev: code-quality, component: entry-editor

#13643 Update Gradle Wrapper from 8.14.3 to 9.0.0
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
Labels: gradle-wrapper, dependencies

#13662 One more Git close
  .github/workflows/tests-code.yml
  jablib/src/main/java/org/jabref/logic/git/GitHandler.java
  jablib/src/test/java/org/jabref/logic/git/SlrGitHandlerTest.java
  jablib/src/test/java/org/jabref/logic/git/status/GitStatusCheckerTest.java
Labels: automerge

#13665 Adapt bot messages
  .github/ghprcomment.yml
Labels: dev: ci-cd

#13666 Fix: Decouple GitHandler creation via registry and extend semantic conflict detection
  docs/code-howtos/git.md
  jabgui/src/main/java/org/jabref/gui/git/GitPullAction.java
  jabgui/src/main/java/org/jabref/gui/git/GitStatusViewModel.java
  jablib/src/main/java/module-info.java
  jablib/src/main/java/org/jabref/logic/git/GitHandler.java
  jablib/src/main/java/org/jabref/logic/git/GitSyncService.java
  jablib/src/main/java/org/jabref/logic/git/conflicts/SemanticConflictDetector.java
  jablib/src/main/java/org/jabref/logic/git/status/GitStatusChecker.java
  jablib/src/main/java/org/jabref/logic/git/util/GitHandlerRegistry.java
  jablib/src/test/java/org/jabref/logic/git/GitSyncServiceTest.java
  jablib/src/test/java/org/jabref/logic/git/status/GitStatusCheckerTest.java
  jablib/src/test/java/org/jabref/logic/git/util/GitHandlerRegistryTest.java
  jablib/src/test/java/org/jabref/logic/git/util/SemanticConflictDetectorTest.java
Labels: project: gsoc, component: git

#13592 fix:Libre office reference extension after adding spaces.
  CHANGELOG.md
  jabgui/src/main/java/org/jabref/gui/openoffice/OpenOfficePanel.java
  jablib/src/main/java/org/jabref/logic/openoffice/OpenOfficePreferences.java
  jablib/src/main/java/org/jabref/logic/openoffice/oocsltext/CSLCitationOOAdapter.java
  jablib/src/main/java/org/jabref/logic/preferences/JabRefCliPreferences.java
  jablib/src/main/resources/l10n/JabRef_en.properties
Labels: component: libre-office, component: preferences, status: awaiting-second-review

#13628 fix: display help when JabKit is started without arguments
  jabkit/src/main/java/org/jabref/JabKit.java
Labels: component: JabKit [cli]

#13270 fix: resolve static analysis issues in code
  jabgui/src/main/java/org/jabref/Launcher.java
  jabgui/src/main/java/org/jabref/gui/ClipBoardManager.java
  jabgui/src/main/java/org/jabref/gui/autocompleter/PersonNameStringConverter.java
  jabgui/src/main/java/org/jabref/gui/commonfxcontrols/CitationKeyPatternSuggestionCell.java
  jabgui/src/main/java/org/jabref/gui/consistency/ConsistencyCheckDialog.java
  jabgui/src/main/java/org/jabref/gui/consistency/ConsistencyCheckDialogViewModel.java
  jabgui/src/main/java/org/jabref/gui/edit/EditAction.java
  jabgui/src/main/java/org/jabref/gui/exporter/SaveDatabaseAction.java
  jabgui/src/main/java/org/jabref/gui/externalfiles/ChainedFilters.java
  jabgui/src/main/java/org/jabref/gui/externalfiles/UnlinkedFilesCrawler.java
  jabgui/src/main/java/org/jabref/gui/fieldeditors/KeywordsEditor.java
  jabgui/src/main/java/org/jabref/gui/fieldeditors/optioneditors/mapbased/MapBasedEditorViewModel.java
  jabgui/src/main/java/org/jabref/gui/groups/GroupDialogViewModel.java
  jabgui/src/main/java/org/jabref/gui/libraryproperties/general/GeneralPropertiesViewModel.java
  jabgui/src/main/java/org/jabref/gui/maintable/columns/FileColumn.java
  jabgui/src/main/java/org/jabref/gui/newentry/NewEntryViewModel.java
  jabgui/src/main/java/org/jabref/gui/openoffice/Bootstrap.java
  jabgui/src/main/java/org/jabref/gui/preferences/ai/AiTab.java
  jabgui/src/main/java/org/jabref/gui/preview/PreviewPreferences.java
  jabgui/src/main/java/org/jabref/gui/search/Highlighter.java
  jabgui/src/main/java/org/jabref/gui/shared/SharedDatabaseLoginDialogViewModel.java
  jabgui/src/main/java/org/jabref/gui/texparser/ParseLatexDialogViewModel.java
  jabgui/src/main/java/org/jabref/gui/util/component/TemporalAccessorPicker.java
  jabgui/src/main/java/org/jabref/gui/util/uithreadaware/UiThreadObservableList.java
  jabkit/src/main/java/org/jabref/JabKit.java
  jabkit/src/main/java/org/jabref/cli/CheckConsistency.java
  jablib/src/main/java/org/jabref/logic/bst/BstFunctions.java
  jablib/src/main/java/org/jabref/logic/bst/util/BstNameFormatter.java
  jablib/src/main/java/org/jabref/logic/citationkeypattern/AbstractCitationKeyPatterns.java
  jablib/src/main/java/org/jabref/logic/cleanup/EprintCleanup.java
  jablib/src/main/java/org/jabref/logic/crawler/StudyFetcher.java
  jablib/src/main/java/org/jabref/logic/importer/fetcher/CollectionOfComputerScienceBibliographiesParser.java
  jablib/src/main/java/org/jabref/logic/importer/fetcher/CompositeSearchBasedFetcher.java
  jablib/src/main/java/org/jabref/logic/importer/fetcher/DoiFetcher.java
  jablib/src/main/java/org/jabref/logic/importer/fetcher/DoiResolution.java
  jablib/src/main/java/org/jabref/logic/importer/fetcher/transformers/MedlineQueryTransformer.java
  jablib/src/main/java/org/jabref/logic/importer/fileformat/IsiImporter.java
  jablib/src/main/java/org/jabref/logic/importer/fileformat/RepecNepImporter.java
  jablib/src/main/java/org/jabref/logic/importer/util/FileFieldParser.java
  jablib/src/main/java/org/jabref/logic/importer/util/MetaDataParser.java
  jablib/src/main/java/org/jabref/logic/integrity/FileChecker.java
  jablib/src/main/java/org/jabref/logic/integrity/PagesChecker.java
  jablib/src/main/java/org/jabref/logic/l10n/Encodings.java
  jablib/src/main/java/org/jabref/logic/layout/format/RTFChars.java
  jablib/src/main/java/org/jabref/logic/os/OS.java
  jablib/src/main/java/org/jabref/logic/pdf/FileAnnotationCache.java
  jablib/src/main/java/org/jabref/logic/pdf/PdfAnnotationImporter.java
  jablib/src/main/java/org/jabref/logic/preferences/JabRefCliPreferences.java
  jablib/src/main/java/org/jabref/logic/util/MscCodeUtils.java
  jablib/src/main/java/org/jabref/logic/util/io/FileUtil.java
  jablib/src/main/java/org/jabref/logic/util/io/RegExpBasedFileFinder.java
  jablib/src/main/java/org/jabref/model/entry/BibEntry.java
  jablib/src/main/java/org/jabref/model/entry/identifier/DOI.java
  jablib/src/main/java/org/jabref/model/openoffice/ootext/OOTextIntoOO.java
  jablib/src/main/java/org/jabref/model/openoffice/uno/UnoUserDefinedProperty.java
  jablib/src/main/java/org/jabref/model/pdf/FileAnnotation.java
  jablib/src/main/java/org/jabref/model/pdf/FileAnnotationType.java
  jablib/src/main/java/org/jabref/model/strings/StringUtil.java
  jablib/src/test/java/org/jabref/logic/l10n/EncodingsTest.java
Labels: status: ready-for-review, dev: code-quality, status: changes-required, dev: no-bot-comments

#13727 Refine PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
  CONTRIBUTING.md
Labels: status: ready-for-review

#13741 Fix copy to
  CHANGELOG.md
  jabgui/src/main/java/org/jabref/gui/actions/ActionHelper.java
  jabgui/src/main/java/org/jabref/gui/frame/JabRefFrame.java
  jabgui/src/main/java/org/jabref/gui/maintable/MainTable.java
  jabgui/src/main/java/org/jabref/gui/maintable/RightClickMenu.java
Labels: status: awaiting-second-review

#13749 Switch from zulu to corretto
  .github/workflows/binaries.yml
  .github/workflows/publish.yml
  .github/workflows/run-openrewrite.yml
  .github/workflows/tests-code-fetchers.yml
  .github/workflows/tests-code.yml
Labels: automerge

#13745 Walkthrough additions
  jabgui/src/main/java/org/jabref/gui/walkthrough/WalkthroughAction.java
  jabgui/src/main/java/org/jabref/gui/walkthrough/WalkthroughOverlay.java
  jabgui/src/main/java/org/jabref/gui/walkthrough/WalkthroughRenderer.java
  jabgui/src/main/java/org/jabref/gui/walkthrough/WindowOverlay.java
  jabgui/src/main/java/org/jabref/gui/walkthrough/declarative/NodeResolver.java
  jabgui/src/main/java/org/jabref/gui/walkthrough/effects/Spotlight.java
  jabgui/src/main/java/org/jabref/gui/walkthrough/utils/WalkthroughResolver.java
  jabgui/src/main/java/org/jabref/gui/walkthrough/utils/WalkthroughReverter.java
  jabgui/src/main/java/org/jabref/gui/welcome/WelcomeTab.java
  jabgui/src/main/java/org/jabref/gui/welcome/components/QuickSettings.java
  jabgui/src/main/java/org/jabref/gui/welcome/components/Walkthroughs.java
  jabgui/src/main/resources/org/jabref/gui/Base.css
  jabgui/src/main/resources/org/jabref/gui/Dark.css
  jablib/src/main/resources/l10n/JabRef_en.properties
Labels: status: ready-for-review

#13765 Refine JBang check
  .github/workflows/tests-code.yml
  .jbang/JabLsLauncher.java
  docs/decisions/0048-jbang-script-modification-for-testing-in-ci.md
Labels: project: gsoc

#13775 Restore local-only Git behavior for SLR to fix repository initialization error
  jabgui/src/main/java/org/jabref/gui/slr/StartNewStudyAction.java
  jablib/src/main/java/org/jabref/logic/git/GitHandler.java
Labels: component: slr, component: git
