Repository JabRef/jabref, pull requests merged in 2025-05, with the labels that each got.

#13044 refine-jabsrv
  build.gradle.kts
  jablib/src/main/resources/Chocolate.bib
  jabsrv/build.gradle.kts
  jabsrv/src/main/java/module-info.java
  jabsrv/src/main/java/org/jabref/http/dto/GlobalExceptionMapper.java
  jabsrv/src/main/java/org/jabref/http/server/Application.java
  jabsrv/src/main/java/org/jabref/http/server/LibrariesResource.java
  jabsrv/src/main/java/org/jabref/http/server/LibraryResource.java
  jabsrv/src/main/java/org/jabref/http/server/Server.java
  jabsrv/src/main/java/org/jabref/http/server/services/FilesToServe.java
  jabsrv/src/main/resources/tinylog.properties
  jabsrv/src/test/java/org/jabref/http/server/LibrariesResourceTest.java
  jabsrv/src/test/java/org/jabref/http/server/LibraryResourceTest.java
  jabsrv/src/test/java/org/jabref/http/server/ServerTest.java
  jabsrv/src/test/java/org/jabref/http/server/TestBibFile.java
  jabsrv/src/test/rest-api.http
Labels: automerge, component: jabsrv

#13052 Add rendered DOI tests for CSL APA 7th ed.
  jablib/src/test/java/org/jabref/logic/citationstyle/CitationStyleGeneratorTest.java
Labels: component: libre-office

#13040 Fix: fallback conversion from BibTeX year field to biblatex date field
  CHANGELOG.md
  jablib/src/main/java/org/jabref/logic/cleanup/ConvertToBiblatexCleanup.java
  jablib/src/main/java/org/jabref/model/entry/Date.java
  jablib/src/test/java/org/jabref/logic/cleanup/ConvertToBiblatexCleanupTest.java
  jablib/src/test/java/org/jabref/model/entry/DateTest.java
Labels: component: cleanup-ops, component: bib(la)tex, status: changes required

#12997 Add suggested jabref groups
  CHANGELOG.md
  jabgui/src/main/java/org/jabref/gui/actions/StandardActions.java
  jabgui/src/main/java/org/jabref/gui/groups/GroupNodeViewModel.java
  jabgui/src/main/java/org/jabref/gui/groups/GroupTreeView.java
  jabgui/src/main/java/org/jabref/gui/groups/GroupTreeViewModel.java
  jabgui/src/main/java/org/jabref/gui/groups/JabRefSuggestedGroups.java
  jabgui/src/test/java/org/jabref/gui/groups/GroupTreeViewModelTest.java
  jablib/src/main/resources/l10n/JabRef_en.properties
Labels: status: ready-for-review

#13054 Fix environment variable JAVA_HOME
  .github/workflows/deployment.yml
Labels: dev: ci-cd

#13055 Fix OO sync button not enabeld for jstyle
  CHANGELOG.md
  jabgui/src/main/java/org/jabref/gui/openoffice/OpenOfficePanel.java
Labels: status: ready-for-review

#13057 Fix path for artifacts
  .github/workflows/deployment.yml
Labels: dev: ci-cd

#13032 fix jpackage resource building for mac
  .github/workflows/deployment.yml
  jabgui/buildres/mac/Resources/jabrefHost.py
  jabgui/buildres/mac/Resources/native-messaging-host/chromium/bifehkofibaamoeaopjglfkddgkijdlh.json
  jabgui/buildres/mac/Resources/native-messaging-host/chromium/org.jabref.jabref.json
  jabgui/buildres/mac/Resources/native-messaging-host/firefox/org.jabref.jabref.json
  jabgui/buildres/mac/postinstall
Labels: platform: macos, dev: ci-cd

#13066 readd dmg position script
  jabgui/buildres/mac/JabRef-dmg-setup.scpt
Labels: automerge

#13067 Port changes of normal build to ea build
  .github/workflows/deployment-ea.yml
  .github/workflows/deployment.yml
Labels: automerge, dev: ci-cd

#13072 Fix: Increase preview area in style selection dialog to show full citation preview (#13051)
  CHANGELOG.md
  jabgui/src/main/resources/org/jabref/gui/openoffice/StyleSelectDialog.fxml
Labels: status: ready-for-review

#13074 CSL4LibreOffice - I [Bibliography formatting]
  CHANGELOG.md
  jabgui/src/main/java/org/jabref/gui/openoffice/ModifyCSLBibliographyPropertiesDialogView.java
  jabgui/src/main/java/org/jabref/gui/openoffice/ModifyCSLBibliographyPropertiesDialogViewModel.java
  jabgui/src/main/java/org/jabref/gui/openoffice/ModifyCSLBibliographyTitleDialogView.java
  jabgui/src/main/java/org/jabref/gui/openoffice/ModifyCSLBibliographyTitleDialogViewModel.java
  jabgui/src/main/java/org/jabref/gui/openoffice/OOBibBase.java
  jabgui/src/main/java/org/jabref/gui/openoffice/OpenOfficePanel.java
  jabgui/src/main/java/org/jabref/gui/openoffice/StyleSelectDialogView.java
  jabgui/src/main/java/org/jabref/gui/openoffice/StyleSelectDialogViewModel.java
  jabgui/src/main/resources/org/jabref/gui/openoffice/ModifyCSLBibliographyPropertiesDialog.fxml
  jabgui/src/main/resources/org/jabref/gui/openoffice/StyleSelectDialog.fxml
  jablib/src/main/java/org/jabref/generators/CitationStyleCatalogGenerator.java
  jablib/src/main/java/org/jabref/logic/citationstyle/CSLStyleLoader.java
  jablib/src/main/java/org/jabref/logic/citationstyle/CSLStyleUtils.java
  jablib/src/main/java/org/jabref/logic/citationstyle/CitationStyle.java
  jablib/src/main/java/org/jabref/logic/openoffice/OpenOfficePreferences.java
  jablib/src/main/java/org/jabref/logic/openoffice/oocsltext/CSLCitationOOAdapter.java
  jablib/src/main/java/org/jabref/logic/openoffice/oocsltext/CSLFormatUtils.java
  jablib/src/main/java/org/jabref/logic/openoffice/oocsltext/CSLUpdateBibliography.java
  jablib/src/main/java/org/jabref/logic/openoffice/style/JStyleLoader.java
  jablib/src/main/java/org/jabref/logic/preferences/JabRefCliPreferences.java
  jablib/src/main/resources/l10n/JabRef_en.properties
  jablib/src/test/java/org/jabref/logic/citationstyle/CSLStyleUtilsTest.java
  jablib/src/test/java/org/jabref/logic/citationstyle/CitationStyleCatalogGeneratorTest.java
  jablib/src/test/java/org/jabref/logic/openoffice/oocsltext/CSLFormatUtilsTest.java
  jablib/src/test/java/org/jabref/logic/openoffice/style/JStyleLoaderTest.java
Labels: status: ready-for-review

#13075 Try to fix `FileNotFoundException` on selecting default JStyles
  jablib/src/main/java/org/jabref/logic/openoffice/style/JStyle.java
Labels: status: ready-for-review

#13080 Use `getResourceAsStream` for JStyle reload
  jablib/src/main/java/org/jabref/logic/openoffice/style/JStyle.java
Labels: component: libre-office

#13083 Change e. g. to e.g.
  jabgui/src/main/java/org/jabref/gui/fieldeditors/FieldNameLabel.java
  jabgui/src/main/java/org/jabref/gui/preferences/PreferenceTabViewModel.java
  jabgui/src/main/java/org/jabref/gui/preferences/PreferencesTab.java
  jablib/src/main/resources/l10n/JabRef_en.properties
  jablib/src/main/resources/resource/layout/din1505/README.txt
Labels: automerge

#12816 Added api keys from default build file
  jablib/src/test/java/org/jabref/logic/importer/fetcher/AstrophysicsDataSystemTest.java
  jablib/src/test/java/org/jabref/logic/importer/fetcher/BiodiversityLibraryTest.java
  jablib/src/test/java/org/jabref/logic/importer/fetcher/CompositeSearchBasedFetcherTest.java
  jablib/src/test/java/org/jabref/logic/importer/fetcher/IEEETest.java
  jablib/src/test/java/org/jabref/logic/importer/fetcher/ScienceDirectTest.java
  jablib/src/test/java/org/jabref/logic/importer/fetcher/SemanticScholarTest.java
  jablib/src/test/java/org/jabref/logic/importer/fetcher/SpringerLinkTest.java
Labels: component: fetcher, dev: ci-cd

#13012 Migrate CLI handling from Apache Commons CLI to PicoCLI
  .github/workflows/deployment-ea.yml
  .gitignore
  CHANGELOG.md
  docs/code-howtos/cli.md
  docs/images/gradle-run-config-with-args.png
  jabgui/build.gradle.kts
  jabgui/src/main/java/module-info.java
  jabgui/src/main/java/org/jabref/Launcher.java
  jabgui/src/main/java/org/jabref/cli/ArgumentProcessor.java
  jabgui/src/main/java/org/jabref/cli/AuxCommandLine.java
  jabgui/src/main/java/org/jabref/cli/CliOptions.java
  jabgui/src/main/java/org/jabref/cli/GuiCommandLine.java
  jabgui/src/main/java/org/jabref/cli/package-info.java
  jabgui/src/main/java/org/jabref/gui/JabRefGUI.java
  jabgui/src/main/java/org/jabref/gui/frame/JabRefFrame.java
  jabgui/src/main/java/org/jabref/gui/frame/JabRefFrameViewModel.java
  jabgui/src/main/java/org/jabref/gui/preferences/general/GeneralTabViewModel.java
  jabgui/src/main/java/org/jabref/gui/remote/CLIMessageHandler.java
  jabgui/src/main/resources/org/jabref/gui/preferences/PreferencesDialog.fxml
  jabkit/build.gradle.kts
  jabkit/src/main/java/module-info.java
  jabkit/src/main/java/org/jabref/JabKit.java
  jabkit/src/main/java/org/jabref/cli/ArgumentProcessor.java
  jabkit/src/main/java/org/jabref/cli/AuxCommandLine.java
  jabkit/src/main/java/org/jabref/cli/CheckConsistency.java
  jabkit/src/main/java/org/jabref/cli/CheckIntegrity.java
  jabkit/src/main/java/org/jabref/cli/Convert.java
  jabkit/src/main/java/org/jabref/cli/Fetch.java
  jabkit/src/main/java/org/jabref/cli/GenerateBibFromAux.java
  jabkit/src/main/java/org/jabref/cli/GenerateCitationKeys.java
  jabkit/src/main/java/org/jabref/cli/JabKit.java
  jabkit/src/main/java/org/jabref/cli/JabKitCliOptions.java
  jabkit/src/main/java/org/jabref/cli/Pdf.java
  jabkit/src/main/java/org/jabref/cli/PdfUpdate.java
  jabkit/src/main/java/org/jabref/cli/Preferences.java
  jabkit/src/main/java/org/jabref/cli/Search.java
  jabkit/src/test/java/org/jabref/cli/ArgumentProcessorTest.java
  jabkit/src/test/java/org/jabref/cli/AuxCommandLineTest.java
  jabkit/src/test/java/org/jabref/cli/JabKitCliOptionsTest.java
  jablib/src/main/java/org/jabref/logic/UiCommand.java
  jablib/src/main/java/org/jabref/logic/auxparser/DefaultAuxParser.java
  jablib/src/main/java/org/jabref/logic/exporter/Exporter.java
  jablib/src/main/java/org/jabref/logic/importer/OpenDatabase.java
  jablib/src/main/java/org/jabref/logic/importer/ParserResult.java
  jablib/src/main/java/org/jabref/logic/preferences/JabRefCliPreferences.java
  jablib/src/main/java/org/jabref/logic/search/DatabaseSearcher.java
  jablib/src/main/java/org/jabref/logic/search/IndexManager.java
  jablib/src/main/java/org/jabref/logic/util/BuildInfo.java
  jablib/src/main/java/org/jabref/model/strings/StringUtil.java
  jablib/src/main/resources/l10n/JabRef_en.properties
  jablib/src/test/java/org/jabref/model/strings/StringUtilTest.java
  javafx/scene/control/annotations.xml
Labels: component: ui, component: search, component: citationkey-generator, component: fetcher, component: JabKit [cli], component: preferences, dev: architecture, status: awaiting second review

#13053 Add 'Make absolute/relative' toggle-switch in library properties
  CHANGELOG.md
  jabgui/src/main/java/org/jabref/gui/icon/IconTheme.java
  jabgui/src/main/java/org/jabref/gui/libraryproperties/general/GeneralPropertiesView.java
  jabgui/src/main/java/org/jabref/gui/libraryproperties/general/GeneralPropertiesViewModel.java
  jabgui/src/main/resources/org/jabref/gui/libraryproperties/general/GeneralProperties.fxml
  jablib/src/main/resources/l10n/JabRef_en.properties
Labels: status: ready-for-review

#12958 Hide tabs without restart
  jabgui/src/main/java/org/jabref/gui/ai/components/aichat/AiChatGuardedComponent.java
  jabgui/src/main/java/org/jabref/gui/ai/components/aichat/AiChatWindow.java
  jabgui/src/main/java/org/jabref/gui/ai/components/privacynotice/AiPrivacyNoticeGuardedComponent.java
  jabgui/src/main/java/org/jabref/gui/ai/components/privacynotice/PrivacyNoticeComponent.java
  jabgui/src/main/java/org/jabref/gui/ai/components/summary/SummaryComponent.java
  jabgui/src/main/java/org/jabref/gui/ai/components/util/EmbeddingModelGuardedComponent.java
  jabgui/src/main/java/org/jabref/gui/entryeditor/AdaptVisibleTabs.java
  jabgui/src/main/java/org/jabref/gui/entryeditor/AiChatTab.java
  jabgui/src/main/java/org/jabref/gui/entryeditor/AiSummaryTab.java
  jabgui/src/main/java/org/jabref/gui/entryeditor/EntryEditor.java
  jabgui/src/main/java/org/jabref/gui/frame/JabRefFrame.java
  jabgui/src/main/java/org/jabref/gui/groups/GroupTreeView.java
  jabgui/src/main/java/org/jabref/gui/groups/GroupTreeViewModel.java
  jabgui/src/main/java/org/jabref/gui/sidepane/SidePane.java
  jabgui/src/main/java/org/jabref/gui/sidepane/SidePaneContentFactory.java
  jabgui/src/main/java/org/jabref/gui/sidepane/SidePaneViewModel.java
  jabgui/src/test/java/org/jabref/gui/groups/GroupTreeViewModelTest.java
  jabgui/src/test/java/org/jabref/gui/sidepane/SidePaneViewModelTest.java
Labels: status: ready-for-review, component: entry-editor

#13089 Fix startup in case of files
  jabgui/build.gradle.kts
  jabgui/src/main/java/org/jabref/gui/JabRefGUI.java
  jabgui/src/main/java/org/jabref/gui/LibraryTab.java
  jabgui/src/main/java/org/jabref/gui/importer/actions/OpenDatabaseAction.java
Labels: automerge

#13071 Improve UX for "Copy to" option with success dialog
  CHANGELOG.md
  jabgui/src/main/java/org/jabref/gui/edit/CopyTo.java
  jabgui/src/main/java/org/jabref/gui/externalfiles/EntryImportHandlerTracker.java
  jabgui/src/main/java/org/jabref/gui/externalfiles/ImportHandler.java
  jabgui/src/test/java/org/jabref/gui/edit/CopyToTest.java
  jablib/src/main/resources/l10n/JabRef_en.properties
Labels: status: ready-for-review

#13096 Add ADR for migration from Apache Commons to Picocli
  docs/decisions/0044-use-picocli-for-jabkit.md
Labels: dev: adr

#13095 Fix notarization flag
  .github/workflows/binaries-ea.yml
  .github/workflows/binaries.yml
Labels: dev: binary

#12869 Disable JabLib tests not working on Windows
  .github/workflows/tests.yml
  jabgui/src/test/java/org/jabref/gui/linkedfile/LinkedFileEditDialogViewModelTest.java
  jablib/src/test/java/org/jabref/logic/exporter/MetaDataSerializerTest.java
  jablib/src/test/java/org/jabref/logic/l10n/LocalizationConsistencyTest.java
  jablib/src/test/java/org/jabref/logic/search/indexing/LinkedFilesIndexerTest.java
  jablib/src/test/java/org/jabref/logic/util/io/FileUtilTest.java
  test-support/src/main/java/org/jabref/support/DisabledOnCIServerWindows.java
  test-support/src/main/java/org/jabref/support/DisabledOnCIServerWindowsCondition.java
Labels: platform: windows, status: ready-for-review, dev: testing

#13113 Use "library" for .bib file
  jabkit/src/main/java/org/jabref/cli/CheckConsistency.java
Labels: component: JabKit [cli]

#13094 Add --enable-native-access
  .github/workflows/binaries.yml
Labels: platform: macos, dev: binary

#13110 Fix browser extension import commands
  jabgui/src/main/java/org/jabref/cli/ArgumentProcessor.java
  jabgui/src/main/java/org/jabref/cli/CliImportHelper.java
  jabgui/src/main/java/org/jabref/cli/GuiCommandLine.java
  jabgui/src/main/java/org/jabref/gui/JabRefGUI.java
  jabgui/src/main/java/org/jabref/gui/frame/JabRefFrameViewModel.java
  jabkit/src/main/java/org/jabref/cli/ArgumentProcessor.java
  jablib/src/main/java/org/jabref/logic/UiCommand.java
  jablib/src/main/resources/l10n/JabRef_en.properties
Labels: status: ready-for-review

#13123 jablib on MavenCentral
  .github/workflows/tests.yml
  .jbang/JabKitLauncher.java
  .vscode/ltex.dictionary.en-US.txt
  build-logic/src/main/kotlin/buildlogic.java-common-conventions.gradle.kts
  jablib/README.md
  jablib/build.gradle.kts
  jablib/src/main/java/org/jabref/logic/ai/chatting/ChatHistoryService.java
  jablib/src/main/java/org/jabref/logic/ai/ingestion/MVStoreEmbeddingStore.java
  jablib/src/main/java/org/jabref/logic/citationkeypattern/AbstractCitationKeyPatterns.java
  jablib/src/main/java/org/jabref/logic/citationkeypattern/CitationKeyGenerator.java
  jablib/src/main/java/org/jabref/logic/formatter/casechanger/ProtectTermsFormatter.java
  jablib/src/main/java/org/jabref/logic/importer/ImportFormatReader.java
  jablib/src/main/java/org/jabref/logic/importer/fetcher/BvbFetcher.java
  jablib/src/main/java/org/jabref/logic/importer/fetcher/transformers/AbstractQueryTransformer.java
  jablib/src/main/java/org/jabref/logic/importer/fileformat/IsiImporter.java
  jablib/src/main/java/org/jabref/logic/importer/fileformat/MarcXmlParser.java
  jablib/src/main/java/org/jabref/logic/importer/fileformat/RepecNepImporter.java
  jablib/src/main/java/org/jabref/logic/importer/fileformat/pdf/PdfImporter.java
  jablib/src/main/java/org/jabref/logic/integrity/UTF8Checker.java
  jablib/src/main/java/org/jabref/logic/l10n/Localization.java
  jablib/src/main/java/org/jabref/logic/layout/format/AuthorAndsCommaReplacer.java
  jablib/src/main/java/org/jabref/logic/layout/format/AuthorAndsReplacer.java
  jablib/src/main/java/org/jabref/logic/layout/format/RemoveBrackets.java
  jablib/src/main/java/org/jabref/logic/layout/format/Replace.java
  jablib/src/main/java/org/jabref/logic/layout/format/WrapFileLinks.java
  jablib/src/main/java/org/jabref/logic/os/OS.java
  jablib/src/main/java/org/jabref/logic/remote/server/RemoteListenerServerManager.java
  jablib/src/main/java/org/jabref/logic/search/query/SearchFlagsToExpressionVisitor.java
  jablib/src/main/java/org/jabref/logic/search/query/SearchQueryExtractorVisitor.java
  jablib/src/main/java/org/jabref/logic/search/query/SearchToLuceneVisitor.java
  jablib/src/main/java/org/jabref/logic/search/query/SearchToSqlVisitor.java
  jablib/src/main/java/org/jabref/logic/util/BackgroundTask.java
  jablib/src/main/java/org/jabref/logic/util/Directories.java
  jablib/src/main/java/org/jabref/logic/util/FileType.java
  jablib/src/main/java/org/jabref/logic/util/HeadlessExecutorService.java
  jablib/src/main/java/org/jabref/logic/util/StandardFileType.java
  jablib/src/main/java/org/jabref/logic/util/URLUtil.java
  jablib/src/main/java/org/jabref/logic/util/io/BackupFileUtil.java
  jablib/src/main/java/org/jabref/logic/util/io/FileUtil.java
  jablib/src/main/java/org/jabref/logic/xmp/DublinCoreExtractor.java
  jablib/src/main/java/org/jabref/model/TreeNode.java
  jablib/src/main/java/org/jabref/model/database/event/AutosaveEvent.java
  jablib/src/main/java/org/jabref/model/entry/BibEntry.java
  jablib/src/main/java/org/jabref/model/entry/BibEntryType.java
  jablib/src/main/java/org/jabref/model/entry/CanonicalBibEntry.java
  jablib/src/main/java/org/jabref/model/entry/IdGenerator.java
  jablib/src/main/java/org/jabref/model/entry/field/FieldPriority.java
  jablib/src/main/java/org/jabref/model/entry/field/FieldProperty.java
  jablib/src/main/java/org/jabref/model/entry/field/StandardField.java
  jablib/src/main/java/org/jabref/model/study/StudyDatabase.java
  jablib/src/main/java/org/jabref/model/util/DummyFileUpdateMonitor.java
  jablib/src/main/java/org/jabref/model/util/TreeCollector.java
  rewrite.yml
  test-support/src/main/java/org/jabref/support/TreeNodeTestData.java
Labels: status: ready-for-review, component: jablib

#13124 Add JabKit to README.md
  README.md
Labels: component: JabKit [cli]

#13126 Add publishing of JabLib snapshot to maven central
  .github/workflows/binaries.yml
  .jbang/JabKitLauncher.java
  config/checkstyle/suppressions.xml
  gradle.properties
  jablib/build.gradle.kts
Labels: status: ready-for-review

#13154 Update gradle.properties
  gradle.properties
Labels: automerge

#13152 Add gg to .gitignore
  .gitignore
Labels: automerge

#13155 Fix label removal on unassigment
  .github/workflows/on-issue-unassigned.yml
  .github/workflows/on-pr-closed.yml
Labels: automerge

#13151 Fix citation key table
  jablib/src/main/java/org/jabref/logic/bibtex/comparator/BibEntryByCitationKeyComparator.java
  jablib/src/main/java/org/jabref/logic/bibtex/comparator/BibEntryByFieldsComparator.java
  jablib/src/main/java/org/jabref/logic/quality/consistency/BibliographyConsistencyCheck.java
  jablib/src/main/java/org/jabref/logic/quality/consistency/BibliographyConsistencyCheckResultTxtWriter.java
  jablib/src/main/resources/l10n/JabRef_en.properties
  jablib/src/test/java/org/jabref/logic/quality/consistency/BibliographyConsistencyCheckResultTxtWriterTest.java
Labels: status: ready-for-review

#13119 test: ensure search history is shared and ordered correctly across database contexts
  jabgui/src/test/java/org/jabref/gui/search/GetLastSearchHistoryTest.java
Labels: dev: testing

#13156 Refine HTTP Server
  .jbang/JabSrvLauncher.java
  docs/code-howtos/http-server.md
  jabsrv-cli/src/main/java/org/jabref/http/server/cli/ServerCli.java
  jabsrv/src/main/java/org/jabref/http/server/LibrariesResource.java
  jabsrv/src/main/java/org/jabref/http/server/LibraryResource.java
  jabsrv/src/test/java/org/jabref/http/server/LibrariesResourceTest.java
  jabsrv/src/test/rest-api.http
Labels: status: ready-for-review, automerge, component: jabsrv

#13157 Add JabRef cloning command
  .jbang/CloneJabRef.java
Labels: automerge

#13159 fix location of properties files for crowdin
  crowdin.yml
Labels: automerge

#13163 Update Gradle Wrapper from 8.14 to 8.14.1
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
Labels: gradle-wrapper, dependencies

#13172 Refine conditions of workflows
  .github/workflows/on-pr-opened-updated.yml
  .github/workflows/unassign-issues.yml
Labels: automerge

#13178 Miscellaneous refactoring
  jabgui/src/main/java/org/jabref/gui/collab/DatabaseChangeMonitor.java
  jabgui/src/main/java/org/jabref/gui/dialogs/BackupUIManager.java
  jabgui/src/main/java/org/jabref/gui/externalfiles/ImportHandler.java
  jabgui/src/main/java/org/jabref/gui/groups/GroupNodeViewModel.java
  jabgui/src/main/java/org/jabref/gui/libraryproperties/constants/ConstantsPropertiesView.java
  jabgui/src/main/java/org/jabref/gui/maintable/BibEntryTableViewModel.java
  jabgui/src/main/java/org/jabref/gui/mergeentries/newmergedialog/PersonsNameFieldRowView.java
  jabgui/src/main/java/org/jabref/gui/openoffice/OpenOfficePanel.java
  jabgui/src/main/java/org/jabref/gui/preferences/customentrytypes/CustomEntryTypesTab.java
  jabgui/src/main/java/org/jabref/gui/preferences/customentrytypes/CustomEntryTypesTabViewModel.java
  jabgui/src/main/java/org/jabref/gui/preview/PreviewViewer.java
  jabgui/src/main/java/org/jabref/gui/util/FileFilterConverter.java
  jabgui/src/test/java/org/jabref/gui/autosaveandbackup/BackupManagerTest.java
  jabgui/src/test/java/org/jabref/gui/entryeditor/SciteTabTest.java
  jabgui/src/test/java/org/jabref/gui/entryeditor/SciteTabViewModelTest.java
  jabgui/src/test/java/org/jabref/gui/entryeditor/citationrelationtab/CitationsRelationsTabViewModelTest.java
  jabgui/src/test/java/org/jabref/gui/groups/GroupDialogViewModelTest.java
  jabgui/src/test/java/org/jabref/gui/libraryproperties/constants/ConstantsPropertiesViewModelTest.java
  jabgui/src/test/java/org/jabref/gui/mergeentries/FieldRowViewModelTest.java
  jabgui/src/test/java/org/jabref/gui/search/GlobalSearchBarTest.java
  jablib/src/main/java/org/jabref/generators/LtwaListMvGenerator.java
  jablib/src/main/java/org/jabref/logic/formatter/bibtexfields/CleanupUrlFormatter.java
  jablib/src/main/java/org/jabref/logic/importer/fetcher/ISIDOREFetcher.java
  jablib/src/main/java/org/jabref/logic/importer/fetcher/MathSciNet.java
  jablib/src/main/java/org/jabref/logic/importer/fetcher/SemanticScholar.java
  jablib/src/main/java/org/jabref/logic/importer/fetcher/isbntobibtex/DoiToBibtexConverterComIsbnFetcher.java
  jablib/src/main/java/org/jabref/logic/importer/fileformat/BibtexImporter.java
  jablib/src/main/java/org/jabref/logic/importer/fileformat/BibtexParser.java
  jablib/src/main/java/org/jabref/logic/l10n/Localization.java
  jablib/src/main/java/org/jabref/logic/layout/format/DOICheck.java
  jablib/src/main/java/org/jabref/logic/msbib/MSBibDatabase.java
  jablib/src/main/java/org/jabref/logic/quality/consistency/BibliographyConsistencyCheckResultTxtWriter.java
  jablib/src/main/java/org/jabref/logic/search/indexing/DefaultLinkedFilesIndexer.java
  jablib/src/main/java/org/jabref/logic/util/StandardFileType.java
  jablib/src/main/java/org/jabref/logic/util/io/RegExpBasedFileFinder.java
  jablib/src/main/java/org/jabref/model/entry/AuthorList.java
  jablib/src/main/java/org/jabref/model/strings/LatexToUnicodeAdapter.java
  jablib/src/test/java/org/jabref/logic/util/io/RegExpBasedFileFinderTest.java
  jablib/src/test/java/org/jabref/model/groups/AutomaticPersonsGroupTest.java
Labels: status: ready-for-review, dev: code-quality

#13175 Enable JEP-450 and ZGC
  .github/workflows/binaries-ea.yml
  .github/workflows/binaries.yml
  jabgui/build.gradle.kts
  jabkit/build.gradle.kts
  jabsrv-cli/build.gradle.kts
Labels: status: ready-for-review, dev: binary

#13201 Disable non-working rule
  rewrite.yml
Labels: automerge
