Repository JabRef/jabref, pull requests merged in 2025-01, with the labels that each got.

#12338 Fix content not correctly parsed at pdf content importer
  CHANGELOG.md
  src/main/java/org/jabref/logic/importer/fileformat/PdfContentImporter.java
  src/test/java/org/jabref/logic/importer/fileformat/PdfContentImporterTest.java
  src/test/resources/pdfs/PdfContentImporter/opium.pdf
Labels: status: ready-for-review

#12406 Add initial doc for journal lists
  docs/code-howtos/journal-abbreviations.md
Labels: [outdated] type: documentation

#12414 Fix number column hits by adding css selectors
  CHANGELOG.md
  src/main/java/org/jabref/gui/Base.css
  src/main/java/org/jabref/gui/Dark.css
Labels: status: ready-for-review

#12416 Update Gradle Wrapper from 8.12 to 8.12.1
  gradle/wrapper/gradle-wrapper.properties
Labels: gradle-wrapper, dependencies

#12374 Copy to option
  CHANGELOG.md
  src/main/java/org/jabref/gui/actions/ActionFactory.java
  src/main/java/org/jabref/gui/actions/StandardActions.java
  src/main/java/org/jabref/gui/edit/CopyTo.java
  src/main/java/org/jabref/gui/edit/CopyToPreferences.java
  src/main/java/org/jabref/gui/externalfiles/ImportHandler.java
  src/main/java/org/jabref/gui/maintable/MainTable.java
  src/main/java/org/jabref/gui/maintable/RightClickMenu.java
  src/main/java/org/jabref/gui/preferences/GuiPreferences.java
  src/main/java/org/jabref/gui/preferences/JabRefGuiPreferences.java
  src/main/resources/l10n/JabRef_en.properties
  src/test/java/org/jabref/gui/edit/CopyToTest.java
Labels: status: ready-for-review

#12395 Hide tab bar
  CHANGELOG.md
  src/main/java/org/jabref/gui/Base.css
  src/main/java/org/jabref/gui/LibraryTab.java
  src/main/java/org/jabref/gui/WorkspacePreferences.java
  src/main/java/org/jabref/gui/frame/JabRefFrame.java
  src/main/java/org/jabref/gui/frame/MainMenu.java
  src/main/java/org/jabref/gui/preferences/JabRefGuiPreferences.java
  src/main/java/org/jabref/gui/preferences/general/GeneralTab.fxml
  src/main/java/org/jabref/gui/preferences/general/GeneralTab.java
  src/main/java/org/jabref/gui/preferences/general/GeneralTabViewModel.java
  src/main/resources/l10n/JabRef_en.properties
Labels: status: ready-for-review

#12429 Fix tests for BackupManager
  .gitattributes
Labels: status: ready-for-review
