Repository JabRef/jabref, pull requests merged in 2025-02, with the labels that each got.

#12452 Refactor switch statements
  src/main/java/org/jabref/gui/errorconsole/LogEventViewModel.java
  src/main/java/org/jabref/gui/fieldeditors/FieldNameLabel.java
  src/main/java/org/jabref/gui/groups/GroupNodeViewModel.java
  src/main/java/org/jabref/gui/groups/UndoableAddOrRemoveGroup.java
  src/main/java/org/jabref/gui/mergeentries/newmergedialog/fieldsmerger/FieldMergerFactory.java
  src/main/java/org/jabref/gui/util/ControlHelper.java
  src/main/java/org/jabref/gui/util/FieldsUtil.java
  src/main/java/org/jabref/logic/exporter/GroupSerializer.java
  src/main/java/org/jabref/logic/importer/fileformat/RisImporter.java
  src/main/java/org/jabref/model/entry/BibEntry.java
  src/main/java/org/jabref/model/entry/Month.java
Labels: dev: code-quality

#12464 Fix BibTexStrings not included in backup file
  CHANGELOG.md
  src/main/java/org/jabref/gui/autosaveandbackup/BackupManager.java
Labels: status: ready-for-review

#12469 Improve condition
  src/main/java/org/jabref/logic/importer/fileformat/BibtexParser.java
Labels: dev: code-quality, automerge

#12440 Make it easier to re-enable user comments.
  CHANGELOG.md
  src/main/java/org/jabref/gui/entryeditor/CommentsTab.java
  src/main/resources/l10n/JabRef_en.properties
Labels: status: ready-for-review

#12433 GUI for consistency check
  CHANGELOG.md
  src/main/java/org/jabref/gui/actions/StandardActions.java
  src/main/java/org/jabref/gui/consistency/ConsistencyCheckAction.java
  src/main/java/org/jabref/gui/consistency/ConsistencyCheckDialog.fxml
  src/main/java/org/jabref/gui/consistency/ConsistencyCheckDialog.java
  src/main/java/org/jabref/gui/consistency/ConsistencyCheckDialogViewModel.java
  src/main/java/org/jabref/gui/consistency/ConsistencySymbol.java
  src/main/java/org/jabref/gui/consistency/ConsistencySymbolsDialog.fxml
  src/main/java/org/jabref/gui/consistency/ConsistencySymbolsDialog.java
  src/main/java/org/jabref/gui/frame/MainMenu.java
  src/main/java/org/jabref/gui/icon/IconTheme.java
  src/main/java/org/jabref/gui/keyboard/KeyBinding.java
  src/main/java/org/jabref/logic/quality/consistency/ConsistencyMessage.java
  src/main/resources/l10n/JabRef_en.properties
Labels: status: ready-for-review

#12472 CSL4LibreOffice - F [Real-time switching of CSL Styles]
  CHANGELOG.md
  src/main/java/org/jabref/gui/openoffice/OOBibBase.java
  src/main/java/org/jabref/logic/citationstyle/CitationStyle.java
  src/main/java/org/jabref/logic/openoffice/oocsltext/CSLCitationOOAdapter.java
  src/main/java/org/jabref/logic/openoffice/oocsltext/CSLFormatUtils.java
  src/main/java/org/jabref/logic/openoffice/oocsltext/CSLReferenceMark.java
  src/main/java/org/jabref/logic/openoffice/oocsltext/CSLReferenceMarkManager.java
  src/main/java/org/jabref/logic/preferences/JabRefCliPreferences.java
  src/test/java/org/jabref/logic/openoffice/oocsltext/CSLFormatUtilsTest.java
Labels: status: ready-for-review, component: libre-office, dev: code-quality

#12309 Fix generation of multiple bibliography sections
  CHANGELOG.md
  src/main/java/org/jabref/logic/openoffice/oocsltext/CSLUpdateBibliography.java
Labels: status: ready-for-review, component: libre-office

#12488 Fix no such element exception in copy to
  src/main/java/org/jabref/gui/maintable/RightClickMenu.java
Labels: status: ready-for-review

#12490 Add .github/workflows/product-map.yml
  .github/workflows/product-map.yml
Labels: automerge

#12496 Simplify hide tabbar
  src/main/java/org/jabref/gui/Base.css
  src/main/java/org/jabref/gui/WorkspacePreferences.java
  src/main/java/org/jabref/gui/frame/JabRefFrame.java
  src/main/java/org/jabref/gui/preferences/JabRefGuiPreferences.java
Labels: status: ready-for-review, dev: code-quality

#12499 Bring back `authorsAlpha` citation key pattern
  CHANGELOG.md
  src/main/java/org/jabref/logic/citationkeypattern/BracketedPattern.java
  src/main/java/org/jabref/logic/openoffice/oocsltext/CSLFormatUtils.java
  src/test/java/org/jabref/logic/citationkeypattern/BracketedPatternTest.java
  src/test/java/org/jabref/logic/citationkeypattern/CitationKeyGeneratorTest.java
Labels: component: citationkey-generator

#12507 Add test data for 12274
  src/test/resources/testbib/issue-12274/A.pdf
  src/test/resources/testbib/issue-12274/B.pdf
  src/test/resources/testbib/issue-12274/README.md
  src/test/resources/testbib/issue-12274/issue-12274.bib
Labels: automerge

#12509 Update PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: dev: ci-cd

#12510 Add test bib files for entry editor behavior
  src/test/resources/testbib/README.md
  src/test/resources/testbib/entry-editor-tabs-biblatex.bib
  src/test/resources/testbib/entry-editor-tabs-bibtex.bib
Labels: dev: testing

#12515 Disable product-map.yml
  .github/workflows/product-map.yml
Labels: automerge

#11988 Add ADR for "Localized Preferences"revisited
  docs/decisions/0023-localized-preferences.md
Labels: component: internationalization, component: preferences

#12506 Fix: #12274 Import at "Find Unlinked Files" should not re-add an identical entry
  CHANGELOG.md
  src/main/java/org/jabref/gui/externalfiles/UnlinkedFilesDialogView.java
Labels: status: ready-for-review

#12529 Fix remove redundant columns from consistency check table
  src/main/java/org/jabref/gui/consistency/ConsistencyCheckDialog.java
Labels: status: ready-for-review

#12568 Enable move back to column "Free to take"
  .github/workflows/assign-issue.yml
Labels: automerge

#12569 Use development version of move-action
  .github/workflows/assign-issue.yml
Labels: automerge, dev: ci-cd

#12570 Unassign after 45 days of inactivity
  .github/workflows/assign-issue.yml
Labels: status: ready-for-review

#12578 Add on-issue-unlabled (and rename other workflows and fix them)
  .github/workflows/on-issue-labeled.yml
  .github/workflows/on-issue-unlabeled.yml
  .github/workflows/on-pr-labeled.yml
Labels: automerge

#12553 Fix the F4 shortcut key
  CHANGELOG.md
  src/main/java/org/jabref/gui/maintable/MainTable.java
Labels: status: ready-for-review

#12573 Do not migrate invalid search expressions - ask user for new one
  CHANGELOG.md
  src/main/java/org/jabref/gui/importer/actions/SearchGroupsMigrationAction.java
  src/main/java/org/jabref/logic/importer/fileformat/BibtexParser.java
  src/main/java/org/jabref/model/search/query/SearchQuery.java
  src/test/java/org/jabref/logic/importer/fileformat/BibtexParserTest.java
Labels: status: ready-for-review

#12526 Preferences: Add manual prompt control for cross-references in Copy To
  src/main/java/org/jabref/gui/preferences/general/GeneralTab.fxml
  src/main/java/org/jabref/gui/preferences/general/GeneralTab.java
  src/main/java/org/jabref/gui/preferences/general/GeneralTabViewModel.java
  src/main/resources/l10n/JabRef_en.properties
Labels: component: preferences
