Repository JabRef/jabref, pull requests merged in 2025-03, with the labels that each got.

#12593 Update Gradle Wrapper from 8.12.1 to 8.13
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
Labels: gradle-wrapper, dependencies

#12537 Fix the representation of season in Biblatex date field.
  CHANGELOG.md
  src/main/java/org/jabref/logic/cleanup/ConvertToBibtexCleanup.java
  src/main/java/org/jabref/model/entry/BibEntry.java
  src/main/java/org/jabref/model/entry/Date.java
  src/main/java/org/jabref/model/entry/Season.java
  src/main/java/org/jabref/model/entry/field/FieldProperty.java
  src/main/java/org/jabref/model/entry/field/StandardField.java
  src/test/java/org/jabref/logic/importer/fileformat/BibtexParserTest.java
  src/test/java/org/jabref/model/entry/SeasonTest.java
  src/test/resources/org/jabref/logic/exporter/OldOpenOfficeCalcExportFormatContentSingleEntry.xml
Labels: status: ready-for-review

#12539 Fix Citationkey pattern dropdown UI issue
  src/main/java/org/jabref/gui/commonfxcontrols/CitationKeyPatternSuggestionCell.java
Labels: component: ui, status: ready-for-review, component: preferences

#12615 Add link to Blog
  docs/decisions/0041-use-one-form-for-singular-and-plural.md
Labels: automerge

#12617 Cache clparse
  .github/workflows/tests.yml
Labels: automerge

#12627 Refine CONTRIBUTING.md
  CONTRIBUTING.md
Labels: status: ready-for-review

#12633 Improve TagsField of keywords
  CHANGELOG.md
  src/main/java/org/jabref/gui/fieldeditors/KeywordsEditor.java
Labels: status: ready-for-review

#12587 change rename strings
  CHANGELOG.md
  src/main/java/org/jabref/gui/actions/StandardActions.java
  src/main/java/org/jabref/gui/cleanup/CleanupPresetPanel.fxml
  src/main/java/org/jabref/gui/cleanup/CleanupPresetPanel.java
  src/main/resources/l10n/JabRef_en.properties
Labels: status: changes required

#12644 Readd product map action
  .github/workflows/product-map.yml
Labels: automerge

#12661 Enable product-map for contributions
  .github/workflows/product-map.yml
Labels: automerge, dev: ci-cd

#12669 Refine PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: status: ready-for-review

#12668 Fix that search and groups in sidebar get disabled when no library is opened #12657
  CHANGELOG.md
  src/main/java/org/jabref/gui/groups/GroupTreeView.java
  src/main/java/org/jabref/gui/importer/fetcher/WebSearchPaneView.java
Labels: status: ready-for-review

#12684 ignore CHANGELOG.md when checking on pushes
  .github/workflows/check-links.yml
Labels: automerge

#12690 Move issues on PR activity
  .github/ghprcomment.yml
  .github/workflows/on-pr-closed.yml
  .github/workflows/on-pr-opened.yml
  .github/workflows/pr-comment.yml
Labels: dev: ci-cd

#12691 Switch from lychee to linkspector
  .github/workflows/check-links.yml
  .linkspector.yml
  PRIVACY.md
  docs/README.md
  docs/code-howtos/code-quality.md
  docs/code-howtos/faq.md
  docs/code-howtos/openoffice/overview.md
  docs/code-howtos/tools.md
  docs/decisions/0002-use-slf4j-for-logging.md
  docs/decisions/0003-use-gradle-as-build-tool.md
  docs/decisions/0033-store-chats-in-mvstore.md
  docs/getting-into-the-code/guidelines-for-setting-up-a-local-workspace/eclipse.md
  docs/teaching.md
  lychee.toml
Labels: status: ready-for-review

#12705 Refine workflow triggers
  .github/workflows/check-links.yml
  .github/workflows/gource.yml
  .github/workflows/on-issue-comment.yml
  .github/workflows/unassign-issues.yml
  .github/workflows/update-gradle-wrapper.yml
Labels: automerge, dev: ci-cd

#12716 Remove deprecated parameter
  .github/workflows/deployment-arm64.yml
  .github/workflows/deployment-jdk-ea.yml
  .github/workflows/deployment.yml
  .github/workflows/tests-fetchers.yml
  .github/workflows/tests.yml
Labels: automerge, dev: ci-cd

#12740 Refine force push PR comment
  .github/ghprcomment.yml
Labels: status: ready-for-review

#12739 changed preferences and keybind search (issue #12647)
  CHANGELOG.md
  src/main/java/org/jabref/gui/preferences/PreferencesSearchHandler.java
  src/main/java/org/jabref/gui/preferences/keybindings/KeyBindingsTab.fxml
  src/main/java/org/jabref/gui/preferences/keybindings/KeyBindingsTab.java
  src/main/java/org/jabref/gui/preferences/keybindings/KeyBindingsTabViewModel.java
Labels: status: awaiting second review

#12734 merge=union for JabRef_en.properties
  .gitattributes
Labels: status: ready-for-review

#12733 Keyboard shortcuts for fetching bibliographic data using identifier
  CHANGELOG.md
  src/main/java/org/jabref/gui/actions/StandardActions.java
  src/main/java/org/jabref/gui/keyboard/KeyBinding.java
  src/main/java/org/jabref/gui/maintable/MainTable.java
  src/main/java/org/jabref/gui/maintable/RightClickMenu.java
Labels: status: ready-for-review

#12744 Fix threading issue in abbreviate action
  CHANGELOG.md
  src/main/java/org/jabref/gui/journals/AbbreviateAction.java
Labels: status: ready-for-review

#12774 Disable ACM, because not working on CI
  src/test/java/org/jabref/logic/importer/fetcher/ACMPortalFetcherTest.java
  src/test/java/org/jabref/logic/importer/fetcher/CrossRefTest.java
Labels: component: fetcher

#12779 Update to javafx 24
  .github/workflows/deployment-jdk-ea.yml
  build.gradle
Labels: status: ready-for-review

#12780 Catch invalid Path exception in journal loading
  CHANGELOG.md
  src/main/java/org/jabref/logic/journals/JournalAbbreviationLoader.java
Labels: status: ready-for-review

#12461 Show a welcome screen if no database is open
  CHANGELOG.md
  src/main/java/org/jabref/cli/ArgumentProcessor.java
  src/main/java/org/jabref/gui/Base.css
  src/main/java/org/jabref/gui/JabRefGUI.java
  src/main/java/org/jabref/gui/LibraryTab.java
  src/main/java/org/jabref/gui/WelcomeTab.java
  src/main/java/org/jabref/gui/actions/StandardActions.java
  src/main/java/org/jabref/gui/frame/JabRefFrame.java
  src/main/java/org/jabref/gui/frame/MainMenu.java
  src/main/java/org/jabref/gui/help/AboutDialogViewModel.java
  src/main/java/org/jabref/gui/importer/actions/OpenDatabaseAction.java
  src/main/java/org/jabref/gui/util/URLs.java
  src/main/resources/l10n/JabRef_en.properties
Labels: component: welcome tab

#12781 Prepare bump of org.openrewrite.recipe:rewrite-recipe-bom
  rewrite.yml
  src/main/java/org/jabref/gui/shared/SharedDatabaseLoginDialogViewModel.java
Labels: automerge

#12738 Fix option to "Search for unlinked local files" for new library
  CHANGELOG.md
  src/main/java/org/jabref/gui/externalfiles/FindUnlinkedFilesAction.java
  src/test/java/org/jabref/gui/externalfiles/FindUnlinkedFilesActionTest.java
Labels: component: ui, status: changes required

#12785 Fix link
  docs/code-howtos/javafx.md
Labels: automerge

#12792 Update APIdia badge
  README.md
Labels: automerge

#12793 Update checkstyle
  build.gradle
Labels: automerge

#12811 Optimize mandatory checks test
  .github/workflows/tests.yml
Labels: dev: ci-cd

#12812 Fix removal of all assignees
  .github/workflows/on-issue-unlabeled.yml
Labels: automerge

#12807 workflow added for detecting changelog modification (#12783)
  .github/ghprcomment.yml
  .github/workflows/tests.yml
Labels: status: ready-for-review

#12808 Remove --strip-debug
  build.gradle
Labels: status: ready-for-review

#12831 Fix import of DOI with < and > characters
  CHANGELOG.md
  src/main/java/org/jabref/logic/importer/fetcher/DoiFetcher.java
  src/test/java/org/jabref/logic/importer/fetcher/DoiFetcherTest.java
Labels: status: ready-for-review

#12791 Javadoc improvements
  src/main/java/org/jabref/gui/desktop/os/DefaultDesktop.java
  src/main/java/org/jabref/gui/desktop/os/Linux.java
  src/main/java/org/jabref/gui/desktop/os/NativeDesktop.java
  src/main/java/org/jabref/gui/desktop/os/OSX.java
  src/main/java/org/jabref/gui/desktop/os/Windows.java
  src/main/java/org/jabref/gui/fieldeditors/contextmenu/EditorMenus.java
  src/main/java/org/jabref/gui/preferences/JabRefGuiPreferences.java
  src/main/java/org/jabref/logic/bibtex/InvalidFieldValueException.java
  src/main/java/org/jabref/logic/formatter/bibtexfields/LatexCleanupFormatter.java
  src/main/java/org/jabref/logic/formatter/bibtexfields/OrdinalsToSuperscriptFormatter.java
  src/main/java/org/jabref/logic/formatter/minifier/MinifyNameListFormatter.java
  src/main/java/org/jabref/logic/importer/fetcher/DoiResolution.java
  src/main/java/org/jabref/logic/layout/format/RemoveBrackets.java
  src/main/java/org/jabref/logic/openoffice/style/JStyleGetCitationMarker.java
  src/main/java/org/jabref/logic/preferences/JabRefCliPreferences.java
  src/main/java/org/jabref/logic/util/URLUtil.java
  src/main/java/org/jabref/logic/util/io/FileUtil.java
  src/main/java/org/jabref/logic/util/io/XMLUtil.java
  src/main/java/org/jabref/logic/xmp/XmpUtilShared.java
  src/main/java/org/jabref/logic/xmp/XmpUtilWriter.java
  src/main/java/org/jabref/model/entry/BibEntry.java
  src/main/java/org/jabref/model/entry/identifier/DOI.java
  src/main/java/org/jabref/model/strings/StringUtil.java
Labels: status: awaiting second review

#12801 Fix tooltip display for multiple linked files
  CHANGELOG.md
  src/main/java/org/jabref/gui/maintable/columns/FileColumn.java
Labels: status: ready-for-review

#12841 Remove java9 property from BuildInfo
  src/main/java/org/jabref/logic/util/BuildInfo.java
Labels: status: ready-for-review

#12784 Functionality to modify CSL bibliography title and format
  CHANGELOG.md
  src/main/java/org/jabref/gui/openoffice/ModifyCSLBibliographyTitleDialog.fxml
  src/main/java/org/jabref/gui/openoffice/ModifyCSLBibliographyTitleDialogView.java
  src/main/java/org/jabref/gui/openoffice/ModifyCSLBibliographyTitleDialogViewModel.java
  src/main/java/org/jabref/gui/openoffice/OOBibBase.java
  src/main/java/org/jabref/gui/openoffice/StyleSelectDialog.fxml
  src/main/java/org/jabref/gui/openoffice/StyleSelectDialogView.java
  src/main/java/org/jabref/logic/openoffice/OpenOfficePreferences.java
  src/main/java/org/jabref/logic/openoffice/oocsltext/CSLCitationOOAdapter.java
  src/main/java/org/jabref/logic/openoffice/oocsltext/CSLFormatUtils.java
  src/main/java/org/jabref/logic/preferences/JabRefCliPreferences.java
  src/main/resources/l10n/JabRef_en.properties
Labels: component: libre-office

#12851 [OO/CSL] Instantaneous citation insertion and refresh
  CHANGELOG.md
  src/main/java/org/jabref/gui/openoffice/OOBibBase.java
Labels: status: ready-for-review, component: libre-office

#12741 Added "Add example entry" and "Import existing PDFs" when a library is empty
  CHANGELOG.md
  src/main/java/org/jabref/gui/Base.css
  src/main/java/org/jabref/gui/fieldeditors/LinkedFileViewModel.java
  src/main/java/org/jabref/gui/libraryproperties/general/GeneralPropertiesView.java
  src/main/java/org/jabref/gui/maintable/MainTable.java
  src/main/resources/l10n/JabRef_en.properties
Labels: status: ready-for-review, component: maintable
